{
    "swagger": "2.0",
    "info": {
        "title": "AI Builder Credits",
        "description": "Monitor AI Builder credit consumption across your Power Platform environment. Query the Dataverse AI Event table to track usage by model, source, and date. Provides MCP tools for Copilot Studio agents.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "placeholder.crm.dynamics.com",
    "basePath": "/mcp",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "post": {
                "operationId": "InvokeMCP",
                "summary": "Invoke AI Builder Credits MCP",
                "description": "Model Context Protocol endpoint for AI Builder credit monitoring tools.",
                "x-ms-agentic-protocol": "mcp-streamable-1.0",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "MCP response",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token",
            "scopes": {}
        }
    },
    "security": [
        {
            "oauth2_auth": []
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://learn.microsoft.com/ai-builder/activity-monitoring"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://privacy.microsoft.com/privacystatement"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "AI;Data"
        }
    ]
}
