{
    "swagger": "2.0",
    "info": {
        "title": "Freshdesk",
        "description": "Freshdesk is a cloud-based customer support platform. This connector provides access to tickets, contacts, companies, conversations, agents, and groups via typed operations for Power Automate and an MCP endpoint for Copilot Studio.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "placeholder.freshdesk.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/mcp": {
            "post": {
                "summary": "Invoke Freshdesk MCP",
                "description": "Bridges MCP requests to the Freshdesk API and returns responses.",
                "operationId": "InvokeMCP",
                "x-ms-agentic-protocol": "mcp-streamable-1.0",
                "responses": {
                    "200": {
                        "description": "MCP response"
                    }
                }
            }
        },
        "/api/v2/tickets": {
            "get": {
                "summary": "List Tickets",
                "description": "List all tickets. Use filters to view only specific tickets.",
                "operationId": "ListTickets",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "type": "string",
                        "description": "Predefined filter name.",
                        "x-ms-summary": "Filter",
                        "enum": [
                            "new_and_my_open",
                            "watching",
                            "spam",
                            "deleted"
                        ]
                    },
                    {
                        "name": "requester_id",
                        "in": "query",
                        "type": "integer",
                        "description": "Filter by requester ID.",
                        "x-ms-summary": "Requester ID"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by requester email.",
                        "x-ms-summary": "Email"
                    },
                    {
                        "name": "company_id",
                        "in": "query",
                        "type": "integer",
                        "description": "Filter by company ID.",
                        "x-ms-summary": "Company ID"
                    },
                    {
                        "name": "updated_since",
                        "in": "query",
                        "type": "string",
                        "format": "date-time",
                        "description": "Return tickets updated since this timestamp.",
                        "x-ms-summary": "Updated Since"
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "type": "string",
                        "description": "Sort by field.",
                        "x-ms-summary": "Order By",
                        "enum": [
                            "created_at",
                            "due_by",
                            "updated_at",
                            "status"
                        ]
                    },
                    {
                        "name": "order_type",
                        "in": "query",
                        "type": "string",
                        "description": "Sort direction.",
                        "x-ms-summary": "Order Type",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "type": "string",
                        "description": "Embed additional details (stats, requester, description).",
                        "x-ms-summary": "Include"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number (starts at 1).",
                        "x-ms-summary": "Page"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "type": "integer",
                        "description": "Results per page (max 100).",
                        "x-ms-summary": "Per Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of tickets.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Ticket"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Ticket",
                "description": "Create a new support ticket.",
                "operationId": "CreateTicket",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "status",
                                "priority"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Name of the requester.",
                                    "x-ms-summary": "Name"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "Email address of the requester.",
                                    "x-ms-summary": "Email"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "Phone number of the requester.",
                                    "x-ms-summary": "Phone"
                                },
                                "subject": {
                                    "type": "string",
                                    "description": "Subject of the ticket.",
                                    "x-ms-summary": "Subject"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "HTML content of the ticket.",
                                    "x-ms-summary": "Description"
                                },
                                "status": {
                                    "type": "integer",
                                    "description": "Status (2=Open, 3=Pending, 4=Resolved, 5=Closed).",
                                    "x-ms-summary": "Status",
                                    "enum": [2, 3, 4, 5]
                                },
                                "priority": {
                                    "type": "integer",
                                    "description": "Priority (1=Low, 2=Medium, 3=High, 4=Urgent).",
                                    "x-ms-summary": "Priority",
                                    "enum": [1, 2, 3, 4]
                                },
                                "source": {
                                    "type": "integer",
                                    "description": "Source (1=Email, 2=Portal, 3=Phone, 7=Chat, 9=Widget, 10=Outbound).",
                                    "x-ms-summary": "Source",
                                    "enum": [1, 2, 3, 7, 9, 10]
                                },
                                "type": {
                                    "type": "string",
                                    "description": "Ticket type category.",
                                    "x-ms-summary": "Type"
                                },
                                "requester_id": {
                                    "type": "integer",
                                    "description": "User ID of an existing requester.",
                                    "x-ms-summary": "Requester ID"
                                },
                                "responder_id": {
                                    "type": "integer",
                                    "description": "ID of the agent to assign.",
                                    "x-ms-summary": "Responder ID"
                                },
                                "group_id": {
                                    "type": "integer",
                                    "description": "ID of the group to assign.",
                                    "x-ms-summary": "Group ID"
                                },
                                "company_id": {
                                    "type": "integer",
                                    "description": "Company ID of the requester.",
                                    "x-ms-summary": "Company ID"
                                },
                                "product_id": {
                                    "type": "integer",
                                    "description": "Product ID to associate.",
                                    "x-ms-summary": "Product ID"
                                },
                                "email_config_id": {
                                    "type": "integer",
                                    "description": "Email config ID to use.",
                                    "x-ms-summary": "Email Config ID"
                                },
                                "parent_id": {
                                    "type": "integer",
                                    "description": "Parent ticket ID for child tickets.",
                                    "x-ms-summary": "Parent ID"
                                },
                                "cc_emails": {
                                    "type": "array",
                                    "description": "CC email addresses.",
                                    "x-ms-summary": "CC Emails",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "tags": {
                                    "type": "array",
                                    "description": "Tags for the ticket.",
                                    "x-ms-summary": "Tags",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "custom_fields": {
                                    "type": "object",
                                    "description": "Key-value pairs of custom field names and values.",
                                    "x-ms-summary": "Custom Fields"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created ticket.",
                        "schema": {
                            "$ref": "#/definitions/Ticket"
                        }
                    }
                }
            }
        },
        "/api/v2/tickets/{id}": {
            "get": {
                "summary": "View Ticket",
                "description": "Retrieve a specific ticket by ID.",
                "operationId": "ViewTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "type": "string",
                        "description": "Embed additional details (conversations, requester, company, stats).",
                        "x-ms-summary": "Include"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ticket details.",
                        "schema": {
                            "$ref": "#/definitions/Ticket"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update Ticket",
                "description": "Update properties of a ticket.",
                "operationId": "UpdateTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "subject": {
                                    "type": "string",
                                    "description": "Subject of the ticket.",
                                    "x-ms-summary": "Subject"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "HTML content of the ticket.",
                                    "x-ms-summary": "Description"
                                },
                                "status": {
                                    "type": "integer",
                                    "description": "Status (2=Open, 3=Pending, 4=Resolved, 5=Closed).",
                                    "x-ms-summary": "Status",
                                    "enum": [2, 3, 4, 5]
                                },
                                "priority": {
                                    "type": "integer",
                                    "description": "Priority (1=Low, 2=Medium, 3=High, 4=Urgent).",
                                    "x-ms-summary": "Priority",
                                    "enum": [1, 2, 3, 4]
                                },
                                "source": {
                                    "type": "integer",
                                    "description": "Source channel.",
                                    "x-ms-summary": "Source",
                                    "enum": [1, 2, 3, 7, 9, 10]
                                },
                                "type": {
                                    "type": "string",
                                    "description": "Ticket type category.",
                                    "x-ms-summary": "Type"
                                },
                                "responder_id": {
                                    "type": "integer",
                                    "description": "Agent ID to assign.",
                                    "x-ms-summary": "Responder ID"
                                },
                                "group_id": {
                                    "type": "integer",
                                    "description": "Group ID to assign.",
                                    "x-ms-summary": "Group ID"
                                },
                                "company_id": {
                                    "type": "integer",
                                    "description": "Company ID of the requester.",
                                    "x-ms-summary": "Company ID"
                                },
                                "product_id": {
                                    "type": "integer",
                                    "description": "Product ID.",
                                    "x-ms-summary": "Product ID"
                                },
                                "tags": {
                                    "type": "array",
                                    "description": "Tags for the ticket.",
                                    "x-ms-summary": "Tags",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "custom_fields": {
                                    "type": "object",
                                    "description": "Key-value pairs of custom field names and values.",
                                    "x-ms-summary": "Custom Fields"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated ticket.",
                        "schema": {
                            "$ref": "#/definitions/Ticket"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete Ticket",
                "description": "Soft-delete a ticket. Can be restored later.",
                "operationId": "DeleteTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ticket deleted."
                    }
                }
            }
        },
        "/api/v2/tickets/{id}/restore": {
            "put": {
                "summary": "Restore Ticket",
                "description": "Restore a previously deleted ticket.",
                "operationId": "RestoreTicket",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ticket restored."
                    }
                }
            }
        },
        "/api/v2/search/tickets": {
            "get": {
                "summary": "Filter Tickets",
                "description": "Search tickets using a query string. Format: \"(field:value) AND/OR (field:value)\".",
                "operationId": "FilterTickets",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Query string enclosed in double quotes. Example: \"priority:3 AND status:2\".",
                        "x-ms-summary": "Query"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number (1-10).",
                        "x-ms-summary": "Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filtered tickets.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total": {
                                    "type": "integer",
                                    "description": "Total matching tickets."
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Ticket"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/ticket_fields": {
            "get": {
                "summary": "List Ticket Fields",
                "description": "List all ticket fields including custom fields.",
                "operationId": "ListTicketFields",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by field type.",
                        "x-ms-summary": "Type"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of ticket fields.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "description": "Field ID."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Field name."
                                    },
                                    "label": {
                                        "type": "string",
                                        "description": "Display label."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Field description."
                                    },
                                    "position": {
                                        "type": "integer",
                                        "description": "Display position."
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "Field type."
                                    },
                                    "default": {
                                        "type": "boolean",
                                        "description": "True if not a custom field."
                                    },
                                    "required_for_agents": {
                                        "type": "boolean",
                                        "description": "Mandatory for agents."
                                    },
                                    "required_for_customers": {
                                        "type": "boolean",
                                        "description": "Mandatory for customers."
                                    },
                                    "required_for_closure": {
                                        "type": "boolean",
                                        "description": "Mandatory for closing."
                                    },
                                    "choices": {
                                        "type": "array",
                                        "description": "Dropdown choices.",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/tickets/{id}/conversations": {
            "get": {
                "summary": "List Ticket Conversations",
                "description": "List all conversations (replies and notes) of a ticket.",
                "operationId": "ListTicketConversations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number.",
                        "x-ms-summary": "Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of conversations.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Conversation"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/tickets/{id}/time_entries": {
            "get": {
                "summary": "List Ticket Time Entries",
                "description": "List all time entries for a ticket.",
                "operationId": "ListTicketTimeEntries",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number.",
                        "x-ms-summary": "Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of time entries.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "description": "Time entry ID."
                                    },
                                    "billable": {
                                        "type": "boolean",
                                        "description": "Whether billable."
                                    },
                                    "note": {
                                        "type": "string",
                                        "description": "Description."
                                    },
                                    "timer_running": {
                                        "type": "boolean",
                                        "description": "Timer active."
                                    },
                                    "agent_id": {
                                        "type": "integer",
                                        "description": "Agent ID."
                                    },
                                    "ticket_id": {
                                        "type": "integer",
                                        "description": "Ticket ID."
                                    },
                                    "time_spent": {
                                        "type": "string",
                                        "description": "Duration in hh:mm."
                                    },
                                    "executed_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Execution timestamp."
                                    },
                                    "start_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Start time."
                                    },
                                    "created_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Creation timestamp."
                                    },
                                    "updated_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Update timestamp."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/tickets/{id}/reply": {
            "post": {
                "summary": "Create Reply",
                "description": "Reply to a ticket.",
                "operationId": "CreateReply",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "body"
                            ],
                            "properties": {
                                "body": {
                                    "type": "string",
                                    "description": "Reply content in HTML.",
                                    "x-ms-summary": "Body"
                                },
                                "from_email": {
                                    "type": "string",
                                    "description": "Email address to send from.",
                                    "x-ms-summary": "From Email"
                                },
                                "user_id": {
                                    "type": "integer",
                                    "description": "Agent user ID.",
                                    "x-ms-summary": "User ID"
                                },
                                "cc_emails": {
                                    "type": "array",
                                    "description": "CC email addresses.",
                                    "x-ms-summary": "CC Emails",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "bcc_emails": {
                                    "type": "array",
                                    "description": "BCC email addresses.",
                                    "x-ms-summary": "BCC Emails",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created reply.",
                        "schema": {
                            "$ref": "#/definitions/Conversation"
                        }
                    }
                }
            }
        },
        "/api/v2/tickets/{ticketId}/notes": {
            "post": {
                "summary": "Create Note",
                "description": "Add a note to a ticket.",
                "operationId": "CreateNote",
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Ticket ID.",
                        "x-ms-summary": "Ticket ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "body"
                            ],
                            "properties": {
                                "body": {
                                    "type": "string",
                                    "description": "Note content in HTML.",
                                    "x-ms-summary": "Body"
                                },
                                "private": {
                                    "type": "boolean",
                                    "description": "True for private note (default true).",
                                    "x-ms-summary": "Private"
                                },
                                "incoming": {
                                    "type": "boolean",
                                    "description": "True to appear as external.",
                                    "x-ms-summary": "Incoming"
                                },
                                "user_id": {
                                    "type": "integer",
                                    "description": "Agent/user ID adding the note.",
                                    "x-ms-summary": "User ID"
                                },
                                "notify_emails": {
                                    "type": "array",
                                    "description": "Emails to notify about this note.",
                                    "x-ms-summary": "Notify Emails",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created note.",
                        "schema": {
                            "$ref": "#/definitions/Conversation"
                        }
                    }
                }
            }
        },
        "/api/v2/conversations/{id}": {
            "put": {
                "summary": "Update Conversation",
                "description": "Update a conversation (note).",
                "operationId": "UpdateConversation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Conversation ID.",
                        "x-ms-summary": "Conversation ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "body": {
                                    "type": "string",
                                    "description": "Updated HTML content.",
                                    "x-ms-summary": "Body"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated conversation.",
                        "schema": {
                            "$ref": "#/definitions/Conversation"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete Conversation",
                "description": "Delete a conversation.",
                "operationId": "DeleteConversation",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Conversation ID.",
                        "x-ms-summary": "Conversation ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Conversation deleted."
                    }
                }
            }
        },
        "/api/v2/contacts": {
            "get": {
                "summary": "List Contacts",
                "description": "List all contacts with optional filters.",
                "operationId": "ListContacts",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by email.",
                        "x-ms-summary": "Email"
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by mobile.",
                        "x-ms-summary": "Mobile"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by phone.",
                        "x-ms-summary": "Phone"
                    },
                    {
                        "name": "company_id",
                        "in": "query",
                        "type": "integer",
                        "description": "Filter by company.",
                        "x-ms-summary": "Company ID"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by state.",
                        "x-ms-summary": "State",
                        "enum": [
                            "blocked",
                            "deleted",
                            "unverified",
                            "verified"
                        ]
                    },
                    {
                        "name": "updated_since",
                        "in": "query",
                        "type": "string",
                        "format": "date-time",
                        "description": "Updated since timestamp.",
                        "x-ms-summary": "Updated Since"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number.",
                        "x-ms-summary": "Page"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "type": "integer",
                        "description": "Results per page (max 100).",
                        "x-ms-summary": "Per Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of contacts.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Contact",
                "description": "Create a new contact.",
                "operationId": "CreateContact",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Contact name.",
                                    "x-ms-summary": "Name"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "Primary email.",
                                    "x-ms-summary": "Email"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "Phone number.",
                                    "x-ms-summary": "Phone"
                                },
                                "mobile": {
                                    "type": "string",
                                    "description": "Mobile number.",
                                    "x-ms-summary": "Mobile"
                                },
                                "address": {
                                    "type": "string",
                                    "description": "Address.",
                                    "x-ms-summary": "Address"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Short description.",
                                    "x-ms-summary": "Description"
                                },
                                "job_title": {
                                    "type": "string",
                                    "description": "Job title.",
                                    "x-ms-summary": "Job Title"
                                },
                                "language": {
                                    "type": "string",
                                    "description": "Language code (default en).",
                                    "x-ms-summary": "Language"
                                },
                                "time_zone": {
                                    "type": "string",
                                    "description": "Time zone.",
                                    "x-ms-summary": "Time Zone"
                                },
                                "company_id": {
                                    "type": "integer",
                                    "description": "Primary company ID.",
                                    "x-ms-summary": "Company ID"
                                },
                                "twitter_id": {
                                    "type": "string",
                                    "description": "Twitter handle.",
                                    "x-ms-summary": "Twitter ID"
                                },
                                "unique_external_id": {
                                    "type": "string",
                                    "description": "External ID.",
                                    "x-ms-summary": "External ID"
                                },
                                "other_emails": {
                                    "type": "array",
                                    "description": "Additional email addresses.",
                                    "x-ms-summary": "Other Emails",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "tags": {
                                    "type": "array",
                                    "description": "Tags.",
                                    "x-ms-summary": "Tags",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "custom_fields": {
                                    "type": "object",
                                    "description": "Custom field key-value pairs.",
                                    "x-ms-summary": "Custom Fields"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created contact.",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                }
            }
        },
        "/api/v2/contacts/{id}": {
            "get": {
                "summary": "View Contact",
                "description": "Retrieve a contact by ID.",
                "operationId": "ViewContact",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Contact ID.",
                        "x-ms-summary": "Contact ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact details.",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update Contact",
                "description": "Update a contact.",
                "operationId": "UpdateContact",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Contact ID.",
                        "x-ms-summary": "Contact ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Contact name.",
                                    "x-ms-summary": "Name"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "Primary email.",
                                    "x-ms-summary": "Email"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "Phone number.",
                                    "x-ms-summary": "Phone"
                                },
                                "mobile": {
                                    "type": "string",
                                    "description": "Mobile number.",
                                    "x-ms-summary": "Mobile"
                                },
                                "address": {
                                    "type": "string",
                                    "description": "Address.",
                                    "x-ms-summary": "Address"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Short description.",
                                    "x-ms-summary": "Description"
                                },
                                "job_title": {
                                    "type": "string",
                                    "description": "Job title.",
                                    "x-ms-summary": "Job Title"
                                },
                                "company_id": {
                                    "type": "integer",
                                    "description": "Primary company ID.",
                                    "x-ms-summary": "Company ID"
                                },
                                "tags": {
                                    "type": "array",
                                    "description": "Tags.",
                                    "x-ms-summary": "Tags",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "custom_fields": {
                                    "type": "object",
                                    "description": "Custom field key-value pairs.",
                                    "x-ms-summary": "Custom Fields"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated contact.",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete Contact",
                "description": "Soft-delete a contact.",
                "operationId": "DeleteContact",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Contact ID.",
                        "x-ms-summary": "Contact ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Contact deleted."
                    }
                }
            }
        },
        "/api/v2/search/contacts": {
            "get": {
                "summary": "Filter Contacts",
                "description": "Search contacts using a query string.",
                "operationId": "FilterContacts",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Query string. Example: \"active:true AND company_id:2331\".",
                        "x-ms-summary": "Query"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number (1-10).",
                        "x-ms-summary": "Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Filtered contacts.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total": {
                                    "type": "integer",
                                    "description": "Total matching contacts."
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Contact"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/companies": {
            "get": {
                "summary": "List Companies",
                "description": "List all companies.",
                "operationId": "ListCompanies",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number.",
                        "x-ms-summary": "Page"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "type": "integer",
                        "description": "Results per page (max 100).",
                        "x-ms-summary": "Per Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of companies.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Company"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Company",
                "description": "Create a new company.",
                "operationId": "CreateCompany",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Company name.",
                                    "x-ms-summary": "Name"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description.",
                                    "x-ms-summary": "Description"
                                },
                                "note": {
                                    "type": "string",
                                    "description": "Note about the company.",
                                    "x-ms-summary": "Note"
                                },
                                "health_score": {
                                    "type": "string",
                                    "description": "Relationship strength.",
                                    "x-ms-summary": "Health Score"
                                },
                                "account_tier": {
                                    "type": "string",
                                    "description": "Value classification.",
                                    "x-ms-summary": "Account Tier"
                                },
                                "industry": {
                                    "type": "string",
                                    "description": "Industry.",
                                    "x-ms-summary": "Industry"
                                },
                                "renewal_date": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Renewal date (YYYY-MM-DD).",
                                    "x-ms-summary": "Renewal Date"
                                },
                                "domains": {
                                    "type": "array",
                                    "description": "Company domains for auto-association.",
                                    "x-ms-summary": "Domains",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "custom_fields": {
                                    "type": "object",
                                    "description": "Custom field key-value pairs.",
                                    "x-ms-summary": "Custom Fields"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created company.",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                }
            }
        },
        "/api/v2/companies/{id}": {
            "get": {
                "summary": "View Company",
                "description": "Retrieve a company by ID.",
                "operationId": "ViewCompany",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Company ID.",
                        "x-ms-summary": "Company ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Company details.",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update Company",
                "description": "Update a company.",
                "operationId": "UpdateCompany",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Company ID.",
                        "x-ms-summary": "Company ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Company name.",
                                    "x-ms-summary": "Name"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description.",
                                    "x-ms-summary": "Description"
                                },
                                "note": {
                                    "type": "string",
                                    "description": "Note.",
                                    "x-ms-summary": "Note"
                                },
                                "health_score": {
                                    "type": "string",
                                    "description": "Relationship strength.",
                                    "x-ms-summary": "Health Score"
                                },
                                "account_tier": {
                                    "type": "string",
                                    "description": "Value classification.",
                                    "x-ms-summary": "Account Tier"
                                },
                                "industry": {
                                    "type": "string",
                                    "description": "Industry.",
                                    "x-ms-summary": "Industry"
                                },
                                "domains": {
                                    "type": "array",
                                    "description": "Company domains.",
                                    "x-ms-summary": "Domains",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "custom_fields": {
                                    "type": "object",
                                    "description": "Custom fields.",
                                    "x-ms-summary": "Custom Fields"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated company.",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete Company",
                "description": "Delete a company.",
                "operationId": "DeleteCompany",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Company ID.",
                        "x-ms-summary": "Company ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Company deleted."
                    }
                }
            }
        },
        "/api/v2/agents": {
            "get": {
                "summary": "List Agents",
                "description": "List all agents with optional filters.",
                "operationId": "ListAgents",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by email.",
                        "x-ms-summary": "Email"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "type": "string",
                        "description": "Filter by state.",
                        "x-ms-summary": "State",
                        "enum": [
                            "fulltime",
                            "occasional"
                        ]
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number.",
                        "x-ms-summary": "Page"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "type": "integer",
                        "description": "Results per page.",
                        "x-ms-summary": "Per Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of agents.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Agent"
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/agents/{id}": {
            "get": {
                "summary": "View Agent",
                "description": "Retrieve an agent by ID.",
                "operationId": "ViewAgent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Agent ID.",
                        "x-ms-summary": "Agent ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent details.",
                        "schema": {
                            "$ref": "#/definitions/Agent"
                        }
                    }
                }
            }
        },
        "/api/v2/agents/me": {
            "get": {
                "summary": "Get Current Agent",
                "description": "Retrieve the currently authenticated agent.",
                "operationId": "GetCurrentAgent",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Current agent details.",
                        "schema": {
                            "$ref": "#/definitions/Agent"
                        }
                    }
                }
            }
        },
        "/api/v2/groups": {
            "get": {
                "summary": "List Groups",
                "description": "List all groups.",
                "operationId": "ListGroups",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "description": "Page number.",
                        "x-ms-summary": "Page"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "type": "integer",
                        "description": "Results per page.",
                        "x-ms-summary": "Per Page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of groups.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Group"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Group",
                "description": "Create a new agent group.",
                "operationId": "CreateGroup",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Group name.",
                                    "x-ms-summary": "Name"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Description.",
                                    "x-ms-summary": "Description"
                                },
                                "agent_ids": {
                                    "type": "array",
                                    "description": "Agent user IDs.",
                                    "x-ms-summary": "Agent IDs",
                                    "items": {
                                        "type": "integer"
                                    }
                                },
                                "unassigned_for": {
                                    "type": "string",
                                    "description": "Escalation time (30m, 1h, 2h, 4h, 8h, 12h, 1d, 2d, 3d).",
                                    "x-ms-summary": "Unassigned For"
                                },
                                "escalate_to": {
                                    "type": "integer",
                                    "description": "User ID for escalation.",
                                    "x-ms-summary": "Escalate To"
                                },
                                "auto_ticket_assign": {
                                    "type": "integer",
                                    "description": "Assignment type (0=Disabled, 1=Round Robin).",
                                    "x-ms-summary": "Auto Assign",
                                    "enum": [0, 1]
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created group.",
                        "schema": {
                            "$ref": "#/definitions/Group"
                        }
                    }
                }
            }
        },
        "/api/v2/groups/{id}": {
            "get": {
                "summary": "View Group",
                "description": "Retrieve a group by ID.",
                "operationId": "ViewGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Group ID.",
                        "x-ms-summary": "Group ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Group details.",
                        "schema": {
                            "$ref": "#/definitions/Group"
                        }
                    }
                }
            }
        },
        "/api/v2/solutions/categories": {
            "get": {
                "summary": "List Solution Categories",
                "description": "List all solution categories.",
                "operationId": "ListSolutionCategories",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of solution categories.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SolutionCategory"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Solution Category",
                "description": "Create a new solution category.",
                "operationId": "CreateSolutionCategory",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": ["name"],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "Category name.",
                                    "x-ms-summary": "Name"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "Category description.",
                                    "x-ms-summary": "Description"
                                },
                                "visible_in_portals": {
                                    "type": "array",
                                    "description": "Portal IDs where visible.",
                                    "x-ms-summary": "Visible In Portals",
                                    "items": { "type": "integer" }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created category.",
                        "schema": { "$ref": "#/definitions/SolutionCategory" }
                    }
                }
            }
        },
        "/api/v2/solutions/categories/{id}": {
            "get": {
                "summary": "View Solution Category",
                "description": "Retrieve a solution category by ID.",
                "operationId": "ViewSolutionCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Category ID.",
                        "x-ms-summary": "Category ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category details.",
                        "schema": { "$ref": "#/definitions/SolutionCategory" }
                    }
                }
            },
            "put": {
                "summary": "Update Solution Category",
                "description": "Update a solution category.",
                "operationId": "UpdateSolutionCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Category ID.",
                        "x-ms-summary": "Category ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": { "type": "string", "description": "Name.", "x-ms-summary": "Name" },
                                "description": { "type": "string", "description": "Description.", "x-ms-summary": "Description" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated category.",
                        "schema": { "$ref": "#/definitions/SolutionCategory" }
                    }
                }
            },
            "delete": {
                "summary": "Delete Solution Category",
                "description": "Delete a solution category and all translations.",
                "operationId": "DeleteSolutionCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Category ID.",
                        "x-ms-summary": "Category ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": { "description": "Category deleted." }
                }
            }
        },
        "/api/v2/solutions/categories/{categoryId}/folders": {
            "get": {
                "summary": "List Solution Folders",
                "description": "List all solution folders in a category.",
                "operationId": "ListSolutionFolders",
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Category ID.",
                        "x-ms-summary": "Category ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of folders.",
                        "schema": {
                            "type": "array",
                            "items": { "$ref": "#/definitions/SolutionFolder" }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Solution Folder",
                "description": "Create a new solution folder in a category.",
                "operationId": "CreateSolutionFolder",
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Category ID.",
                        "x-ms-summary": "Category ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": ["name", "visibility"],
                            "properties": {
                                "name": { "type": "string", "description": "Folder name.", "x-ms-summary": "Name" },
                                "description": { "type": "string", "description": "Folder description.", "x-ms-summary": "Description" },
                                "visibility": { "type": "integer", "description": "Visibility (1=All, 2=Logged in, 3=Agents, 4=Companies, 5=Bots).", "x-ms-summary": "Visibility", "enum": [1,2,3,4,5] },
                                "company_ids": { "type": "array", "description": "Company IDs (for visibility=4).", "x-ms-summary": "Company IDs", "items": { "type": "integer" } }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created folder.",
                        "schema": { "$ref": "#/definitions/SolutionFolder" }
                    }
                }
            }
        },
        "/api/v2/solutions/folders/{id}": {
            "get": {
                "summary": "View Solution Folder",
                "description": "Retrieve a solution folder by ID.",
                "operationId": "ViewSolutionFolder",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Folder ID.",
                        "x-ms-summary": "Folder ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Folder details.",
                        "schema": { "$ref": "#/definitions/SolutionFolder" }
                    }
                }
            },
            "put": {
                "summary": "Update Solution Folder",
                "description": "Update a solution folder.",
                "operationId": "UpdateSolutionFolder",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Folder ID.",
                        "x-ms-summary": "Folder ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": { "type": "string", "description": "Folder name.", "x-ms-summary": "Name" },
                                "description": { "type": "string", "description": "Description.", "x-ms-summary": "Description" },
                                "visibility": { "type": "integer", "description": "Visibility level.", "x-ms-summary": "Visibility" },
                                "company_ids": { "type": "array", "description": "Company IDs.", "x-ms-summary": "Company IDs", "items": { "type": "integer" } }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated folder.",
                        "schema": { "$ref": "#/definitions/SolutionFolder" }
                    }
                }
            },
            "delete": {
                "summary": "Delete Solution Folder",
                "description": "Delete a solution folder and all translations.",
                "operationId": "DeleteSolutionFolder",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Folder ID.",
                        "x-ms-summary": "Folder ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": { "description": "Folder deleted." }
                }
            }
        },
        "/api/v2/solutions/folders/{folderId}/articles": {
            "get": {
                "summary": "List Solution Articles",
                "description": "List all articles in a solution folder.",
                "operationId": "ListSolutionArticles",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Folder ID.",
                        "x-ms-summary": "Folder ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of articles.",
                        "schema": {
                            "type": "array",
                            "items": { "$ref": "#/definitions/SolutionArticle" }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Solution Article",
                "description": "Create a new knowledge base article in a folder.",
                "operationId": "CreateSolutionArticle",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Folder ID.",
                        "x-ms-summary": "Folder ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": ["title", "description", "status"],
                            "properties": {
                                "title": { "type": "string", "description": "Article title.", "x-ms-summary": "Title" },
                                "description": { "type": "string", "description": "Article HTML content.", "x-ms-summary": "Description" },
                                "status": { "type": "integer", "description": "Status (1=Draft, 2=Published).", "x-ms-summary": "Status", "enum": [1, 2] },
                                "tags": { "type": "array", "description": "Tags.", "x-ms-summary": "Tags", "items": { "type": "string" } },
                                "seo_data": {
                                    "type": "object",
                                    "description": "SEO metadata.",
                                    "x-ms-summary": "SEO Data",
                                    "properties": {
                                        "meta_title": { "type": "string", "description": "Meta title." },
                                        "meta_description": { "type": "string", "description": "Meta description." },
                                        "meta_keywords": { "type": "array", "description": "Keywords.", "items": { "type": "string" } }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created article.",
                        "schema": { "$ref": "#/definitions/SolutionArticle" }
                    }
                }
            }
        },
        "/api/v2/solutions/articles/{id}": {
            "get": {
                "summary": "View Solution Article",
                "description": "Retrieve a solution article by ID.",
                "operationId": "ViewSolutionArticle",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Article ID.",
                        "x-ms-summary": "Article ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article details.",
                        "schema": { "$ref": "#/definitions/SolutionArticle" }
                    }
                }
            },
            "put": {
                "summary": "Update Solution Article",
                "description": "Update a solution article.",
                "operationId": "UpdateSolutionArticle",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Article ID.",
                        "x-ms-summary": "Article ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "title": { "type": "string", "description": "Title.", "x-ms-summary": "Title" },
                                "description": { "type": "string", "description": "HTML content.", "x-ms-summary": "Description" },
                                "status": { "type": "integer", "description": "Status (1=Draft, 2=Published).", "x-ms-summary": "Status", "enum": [1, 2] },
                                "tags": { "type": "array", "description": "Tags.", "x-ms-summary": "Tags", "items": { "type": "string" } },
                                "seo_data": { "type": "object", "description": "SEO metadata.", "x-ms-summary": "SEO Data" }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated article.",
                        "schema": { "$ref": "#/definitions/SolutionArticle" }
                    }
                }
            },
            "delete": {
                "summary": "Delete Solution Article",
                "description": "Delete a solution article and all translations.",
                "operationId": "DeleteSolutionArticle",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Article ID.",
                        "x-ms-summary": "Article ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": { "description": "Article deleted." }
                }
            }
        },
        "/api/v2/search/solutions": {
            "get": {
                "summary": "Search Solution Articles",
                "description": "Search knowledge base articles by keyword.",
                "operationId": "SearchSolutionArticles",
                "parameters": [
                    {
                        "name": "term",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Search keyword.",
                        "x-ms-summary": "Search Term"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Matching articles.",
                        "schema": {
                            "type": "array",
                            "items": { "$ref": "#/definitions/SolutionArticle" }
                        }
                    }
                }
            }
        },
        "/api/v2/time_entries": {
            "get": {
                "summary": "List All Time Entries",
                "description": "List all time entries with optional filters.",
                "operationId": "ListTimeEntries",
                "parameters": [
                    { "name": "company_id", "in": "query", "type": "integer", "description": "Filter by company.", "x-ms-summary": "Company ID" },
                    { "name": "agent_id", "in": "query", "type": "integer", "description": "Filter by agent.", "x-ms-summary": "Agent ID" },
                    { "name": "executed_after", "in": "query", "type": "string", "format": "date-time", "description": "After timestamp.", "x-ms-summary": "Executed After" },
                    { "name": "executed_before", "in": "query", "type": "string", "format": "date-time", "description": "Before timestamp.", "x-ms-summary": "Executed Before" },
                    { "name": "billable", "in": "query", "type": "boolean", "description": "Filter billable entries.", "x-ms-summary": "Billable" },
                    { "name": "page", "in": "query", "type": "integer", "description": "Page number.", "x-ms-summary": "Page" }
                ],
                "responses": {
                    "200": {
                        "description": "List of time entries.",
                        "schema": { "type": "array", "items": { "$ref": "#/definitions/TimeEntry" } }
                    }
                }
            }
        },
        "/api/v2/tickets/{ticketId}/time_entries": {
            "post": {
                "summary": "Create Time Entry",
                "description": "Create a time entry for a ticket.",
                "operationId": "CreateTimeEntry",
                "parameters": [
                    { "name": "ticketId", "in": "path", "required": true, "type": "integer", "description": "Ticket ID.", "x-ms-summary": "Ticket ID", "x-ms-url-encoding": "single" },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "agent_id": { "type": "integer", "description": "Agent ID.", "x-ms-summary": "Agent ID" },
                                "billable": { "type": "boolean", "description": "Billable (default true).", "x-ms-summary": "Billable" },
                                "time_spent": { "type": "string", "description": "Duration in hh:mm.", "x-ms-summary": "Time Spent" },
                                "note": { "type": "string", "description": "Description.", "x-ms-summary": "Note" },
                                "timer_running": { "type": "boolean", "description": "Start timer.", "x-ms-summary": "Timer Running" },
                                "executed_at": { "type": "string", "format": "date-time", "description": "Execution time.", "x-ms-summary": "Executed At" }
                            }
                        }
                    }
                ],
                "responses": {
                    "201": { "description": "Created time entry.", "schema": { "$ref": "#/definitions/TimeEntry" } }
                }
            }
        },
        "/api/v2/time_entries/{id}": {
            "put": {
                "summary": "Update Time Entry",
[...]
