{
  "swagger": "2.0",
  "info": {
    "title": "Workato",
    "description": "The Workato Developer API connector for managing recipes, connections, folders, jobs, lookup tables, data tables, MCP servers, agent studio, deployments, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com",
      "url": "https://github.com/troystaylor"
    }
  },
  "host": "www.workato.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.workato.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.workato.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Workspace",
      "description": "Workspace details"
    },
    {
      "name": "Recipes",
      "description": "Manage automation recipes"
    },
    {
      "name": "Connections",
      "description": "Manage connections"
    },
    {
      "name": "Folders",
      "description": "Manage folders and projects"
    },
    {
      "name": "Jobs",
      "description": "Manage recipe jobs"
    },
    {
      "name": "Lookup Tables",
      "description": "Manage lookup tables and rows"
    },
    {
      "name": "Agent Studio",
      "description": "Manage genies, knowledge bases, and skills"
    },
    {
      "name": "MCP Servers",
      "description": "Manage MCP servers and tools"
    },
    {
      "name": "Data Tables",
      "description": "Manage data tables"
    },
    {
      "name": "API Collections",
      "description": "Manage API collections"
    },
    {
      "name": "API Endpoints",
      "description": "Manage API endpoints"
    },
    {
      "name": "API Clients v2",
      "description": "Manage API clients"
    },
    {
      "name": "API Keys",
      "description": "Manage API keys"
    },
    {
      "name": "API Portals",
      "description": "List API portals"
    },
    {
      "name": "Certificate Bundles",
      "description": "Manage certificate bundles"
    },
    {
      "name": "Developer API Clients",
      "description": "Manage developer API clients"
    },
    {
      "name": "Collaborator Groups",
      "description": "Manage collaborator groups"
    },
    {
      "name": "Connectors",
      "description": "List built-in connectors"
    },
    {
      "name": "Custom Connectors",
      "description": "Manage custom connectors and schemas"
    },
    {
      "name": "Custom OAuth Profiles",
      "description": "Manage custom OAuth profiles"
    },
    {
      "name": "Environment Management",
      "description": "Environment settings, activity logs, and tags"
    },
    {
      "name": "Environment Properties",
      "description": "Manage environment properties"
    },
    {
      "name": "Environment Roles",
      "description": "Manage environment roles"
    },
    {
      "name": "Event Streams",
      "description": "Manage event stream topics"
    },
    {
      "name": "Recipe Lifecycle Management",
      "description": "Export and import packages"
    },
    {
      "name": "Projects",
      "description": "Build and deploy projects"
    },
    {
      "name": "Project Grants",
      "description": "Manage project grants"
    },
    {
      "name": "Project Roles",
      "description": "Manage project roles"
    },
    {
      "name": "Legacy Roles",
      "description": "Manage legacy roles"
    },
    {
      "name": "Role Migration",
      "description": "Migrate roles"
    },
    {
      "name": "Tag Assignments",
      "description": "Manage tag assignments"
    },
    {
      "name": "Test Automation",
      "description": "Run and manage test cases"
    },
    {
      "name": "Workspace Collaborators",
      "description": "Manage workspace members"
    },
    {
      "name": "Identity IAM",
      "description": "Manage IAM users, groups, and app links"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "InvokeMCP",
        "summary": "Invoke Workato MCP",
        "description": "Model Context Protocol endpoint for Copilot Studio.",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "parameters": [],
        "responses": {
          "200": {
            "description": "MCP JSON-RPC 2.0 response",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "operationId": "GetWorkspaceDetails",
        "summary": "Get Workspace Details",
        "tags": [
          "Workspace"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-ms-summary": "ID"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "email": {
                  "type": "string",
                  "x-ms-summary": "Email"
                },
                "plan": {
                  "type": "string",
                  "x-ms-summary": "Plan"
                },
                "time_zone": {
                  "type": "string",
                  "x-ms-summary": "Time Zone"
                }
              }
            }
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "operationId": "ListRecipes",
        "summary": "List Recipes",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "adapter_names_all",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Adapter Names All"
          },
          {
            "name": "adapter_names_any",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Adapter Names Any"
          },
          {
            "name": "folder_id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Folder ID"
          },
          {
            "name": "with_subfolders",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "With Subfolders"
          },
          {
            "name": "order",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Order"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Per Page"
          },
          {
            "name": "running",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Running"
          },
          {
            "name": "since_id",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Since ID"
          },
          {
            "name": "stopped_after",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Stopped After"
          },
          {
            "name": "stop_cause",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Stop Cause"
          },
          {
            "name": "updated_after",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Updated After"
          },
          {
            "name": "includes[]",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "x-ms-summary": "Includes"
          },
          {
            "name": "exclude_code",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Exclude Code"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "Total count"
                },
                "page": {
                  "type": "integer",
                  "description": "Current page"
                },
                "per_page": {
                  "type": "integer",
                  "description": "Items per page"
                },
                "result": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "job_succeeded_count": {
                        "type": "integer",
                        "description": "Successful job count"
                      },
                      "stop_cause": {
                        "type": "string",
                        "description": "Reason recipe stopped"
                      },
                      "running": {
                        "x-ms-summary": "Running",
                        "type": "boolean",
                        "description": "Whether recipe is running"
                      },
                      "version_no": {
                        "type": "integer",
                        "description": "Version number"
                      },
                      "folder_id": {
                        "type": "integer",
                        "description": "Folder ID"
                      },
                      "id": {
                        "x-ms-summary": "Recipe ID",
                        "type": "integer",
                        "description": "Recipe ID"
                      },
                      "last_run_at": {
                        "type": "string",
                        "description": "Last run timestamp"
                      },
                      "author_name": {
                        "type": "string",
                        "description": "Author name"
                      },
                      "code": {
                        "type": "string",
                        "description": "Recipe code JSON"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Creation timestamp"
                      },
                      "name": {
                        "x-ms-summary": "Name",
                        "type": "string",
                        "description": "Recipe name"
                      },
                      "applications": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "lifetime_task_count": {
                        "type": "integer",
                        "description": "Lifetime task count"
                      },
                      "trigger_application": {
                        "type": "string",
                        "description": "Trigger app name"
                      },
                      "job_failed_count": {
                        "type": "integer",
                        "description": "Failed job count"
                      },
                      "description": {
                        "type": "string",
                        "description": "Recipe description"
                      },
                      "user_id": {
                        "type": "integer",
                        "description": "User ID"
                      },
                      "stopped_at": {
                        "type": "string",
                        "description": "Stopped timestamp"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last updated timestamp"
                      },
                      "action_applications": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "type": "array",
                  "description": "List of results"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateRecipe",
        "summary": "Create Recipe",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "recipe": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-summary": "Name"
                    },
                    "code": {
                      "type": "string",
                      "x-ms-summary": "Code"
                    },
                    "config": {
                      "type": "string",
                      "x-ms-summary": "Config"
                    },
                    "folder_id": {
                      "type": "integer",
                      "x-ms-summary": "Folder ID"
                    },
                    "description": {
                      "type": "string",
                      "x-ms-summary": "Description"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "x-ms-summary": "ID",
                  "type": "integer",
                  "description": "Created resource ID"
                },
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}": {
      "get": {
        "operationId": "GetRecipe",
        "summary": "Get Recipe",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "includes[]",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "x-ms-summary": "Includes"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "job_succeeded_count": {
                  "type": "integer",
                  "description": "Successful job count"
                },
                "stop_cause": {
                  "type": "string",
                  "description": "Reason recipe stopped"
                },
                "running": {
                  "x-ms-summary": "Running",
                  "type": "boolean",
                  "description": "Whether recipe is running"
                },
                "version_no": {
                  "type": "integer",
                  "description": "Version number"
                },
                "folder_id": {
                  "type": "integer",
                  "description": "Folder ID"
                },
                "id": {
                  "x-ms-summary": "Recipe ID",
                  "type": "integer",
                  "description": "Recipe ID"
                },
                "last_run_at": {
                  "type": "string",
                  "description": "Last run timestamp"
                },
                "author_name": {
                  "type": "string",
                  "description": "Author name"
                },
                "code": {
                  "type": "string",
                  "description": "Recipe code JSON"
                },
                "created_at": {
                  "type": "string",
                  "description": "Creation timestamp"
                },
                "name": {
                  "x-ms-summary": "Name",
                  "type": "string",
                  "description": "Recipe name"
                },
                "applications": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "lifetime_task_count": {
                  "type": "integer",
                  "description": "Lifetime task count"
                },
                "trigger_application": {
                  "type": "string",
                  "description": "Trigger app name"
                },
                "job_failed_count": {
                  "type": "integer",
                  "description": "Failed job count"
                },
                "description": {
                  "type": "string",
                  "description": "Recipe description"
                },
                "user_id": {
                  "type": "integer",
                  "description": "User ID"
                },
                "stopped_at": {
                  "type": "string",
                  "description": "Stopped timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Last updated timestamp"
                },
                "action_applications": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateRecipe",
        "summary": "Update Recipe",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "recipe": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-summary": "Name"
                    },
                    "code": {
                      "type": "string",
                      "x-ms-summary": "Code"
                    },
                    "config": {
                      "type": "string",
                      "x-ms-summary": "Config"
                    },
                    "folder_id": {
                      "type": "integer",
                      "x-ms-summary": "Folder ID"
                    },
                    "description": {
                      "type": "string",
                      "x-ms-summary": "Description"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteRecipe",
        "summary": "Delete Recipe",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/copy": {
      "post": {
        "operationId": "CopyRecipe",
        "summary": "Copy Recipe",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "folder_id": {
                  "type": "integer",
                  "x-ms-summary": "Folder ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "new_flow_id": {
                  "x-ms-summary": "New Recipe ID",
                  "type": "integer",
                  "description": "New recipe ID"
                },
                "success": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/start": {
      "put": {
        "operationId": "StartRecipe",
        "summary": "Start Recipe",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/stop": {
      "put": {
        "operationId": "StopRecipe",
        "summary": "Stop Recipe",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/reset_trigger": {
      "post": {
        "operationId": "ResetRecipeTrigger",
        "summary": "Reset Recipe Trigger",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/connect": {
      "put": {
        "operationId": "UpdateRecipeConnection",
        "summary": "Update Recipe Connection",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "adapter_name": {
                  "type": "string",
                  "x-ms-summary": "Adapter Name"
                },
                "connection_id": {
                  "type": "integer",
                  "x-ms-summary": "Connection ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/poll_now": {
      "post": {
        "operationId": "ActivatePollingTrigger",
        "summary": "Activate Polling Trigger",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/versions": {
      "get": {
        "operationId": "GetRecipeVersions",
        "summary": "Get Recipe Versions",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Per Page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "author_email": {
                        "type": "string",
                        "description": "Author email"
                      },
                      "id": {
                        "x-ms-summary": "Version ID",
                        "type": "integer",
                        "description": "Version ID"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Creation timestamp"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last updated timestamp"
                      },
                      "comment": {
                        "type": "string",
                        "description": "Version comment"
                      },
                      "author_name": {
                        "type": "string",
                        "description": "Author name"
                      },
                      "version_no": {
                        "x-ms-summary": "Version",
                        "type": "integer",
                        "description": "Version number"
                      }
                    }
                  },
                  "type": "array",
                  "description": "List of results"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/versions/{id}": {
      "get": {
        "operationId": "GetRecipeVersion",
        "summary": "Get Recipe Version",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Version ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "author_email": {
                  "type": "string",
                  "description": "Author email"
                },
                "id": {
                  "x-ms-summary": "Version ID",
                  "type": "integer",
                  "description": "Version ID"
                },
                "created_at": {
                  "type": "string",
                  "description": "Creation timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Last updated timestamp"
                },
                "comment": {
                  "type": "string",
                  "description": "Version comment"
                },
                "author_name": {
                  "type": "string",
                  "description": "Author name"
                },
                "version_no": {
                  "x-ms-summary": "Version",
                  "type": "integer",
                  "description": "Version number"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateRecipeVersionComment",
        "summary": "Update Recipe Version Comment",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Version ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "type": "string",
                  "x-ms-summary": "Comment"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/health": {
      "get": {
        "operationId": "GetRecipeHealth",
        "summary": "Get Recipe Health",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "details": {
                  "type": "object"
                },
                "status": {
                  "type": "string",
                  "x-ms-summary": "Health Status"
                },
                "error_count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "StartRecipeHealthAnalysis",
        "summary": "Start Recipe Health Analysis",
        "tags": [
          "Recipes"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/jobs": {
      "get": {
        "operationId": "ListJobs",
        "summary": "List Jobs",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "offset_job_id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Offset Job ID"
          },
          {
            "name": "prev",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Previous Page"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Status"
          },
          {
            "name": "rerun_only",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Rerun Only"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "Total count"
                },
                "page": {
                  "type": "integer",
                  "description": "Current page"
                },
                "per_page": {
                  "type": "integer",
                  "description": "Items per page"
                },
                "result": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "error": {
                        "type": "string",
                        "description": "Error message if failed"
                      },
                      "id": {
                        "x-ms-summary": "Job ID",
                        "type": "integer",
                        "description": "Job ID"
                      },
                      "flow_id": {
                        "type": "integer",
                        "description": "Recipe (flow) ID"
                      },
                      "completed_at": {
                        "type": "string",
                        "description": "Job completion timestamp"
                      },
                      "title": {
                        "type": "string",
                        "description": "Job title"
                      },
                      "status": {
                        "x-ms-summary": "Status",
                        "type": "string",
                        "description": "Job status"
                      },
                      "is_repeat": {
                        "type": "boolean",
                        "description": "Whether this is a repeated job"
                      },
                      "started_at": {
                        "type": "string",
                        "description": "Job start timestamp"
                      }
                    }
                  },
                  "type": "array",
                  "description": "List of results"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/jobs/{job_id}": {
      "get": {
        "operationId": "GetJob",
        "summary": "Get Job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Job ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message if failed"
                },
                "id": {
                  "x-ms-summary": "Job ID",
                  "type": "integer",
                  "description": "Job ID"
                },
                "flow_id": {
                  "type": "integer",
                  "description": "Recipe (flow) ID"
                },
                "completed_at": {
                  "type": "string",
                  "description": "Job completion timestamp"
                },
                "title": {
                  "type": "string",
                  "description": "Job title"
                },
                "status": {
                  "x-ms-summary": "Status",
                  "type": "string",
                  "description": "Job status"
                },
                "is_repeat": {
                  "type": "boolean",
                  "description": "Whether this is a repeated job"
                },
                "started_at": {
                  "type": "string",
                  "description": "Job start timestamp"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/repeat_jobs": {
      "post": {
        "operationId": "RepeatJobs",
        "summary": "Repeat Jobs",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "job_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Job IDs"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/recipes/{recipe_id}/test_cases": {
      "get": {
        "operationId": "GetTestCases",
        "summary": "Get Test Cases",
        "tags": [
          "Test Automation"
        ],
        "parameters": [
          {
            "name": "recipe_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipe ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListRecipes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/job/resume": {
      "post": {
        "operationId": "ResumeJob",
        "summary": "Resume Job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "token"
              ],
              "properties": {
                "token": {
                  "type": "string",
                  "x-ms-summary": "Token"
                },
                "data": {
                  "type": "object",
                  "x-ms-summary": "Data"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/connections": {
      "get": {
        "operationId": "ListConnections",
        "summary": "List Connections",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Folder ID"
          },
          {
            "name": "parent_id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Parent ID"
          },
          {
            "name": "project_id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Project ID"
          },
          {
            "name": "external_id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "External ID"
          },
          {
            "name": "include_runtime_connections",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Include Runtime Connections"
          },
          {
            "name": "includes[]",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "x-ms-summary": "Includes"
          },
          {
            "name": "updated_after",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Updated After"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "x-ms-summary": "Connection ID",
                        "type": "integer",
                        "description": "Connection ID"
                      },
                      "authorization_error": {
                        "type": "string",
                        "description": "Authorization error"
                      },
                      "external_id": {
                        "type": "string",
                        "description": "External ID"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last updated timestamp"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Creation timestamp"
                      },
                      "name": {
                        "x-ms-summary": "Name",
                        "type": "string",
                        "description": "Connection name"
                      },
                      "authorized_at": {
                        "type": "string",
                        "description": "Authorization timestamp"
                      },
                      "folder_id": {
                        "type": "integer",
                        "description": "Folder ID"
                      },
                      "authorization_status": {
                        "x-ms-summary": "Status",
                        "type": "string",
                        "description": "Authorization status"
                      },
                      "provider": {
                        "x-ms-summary": "Provider",
                        "type": "string",
                        "description": "Provider/application type"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateConnection",
        "summary": "Create Connection",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "provider": {
                  "type": "string",
                  "x-ms-summary": "Provider"
                },
                "parent_id": {
                  "type": "integer",
                  "x-ms-summary": "Parent ID"
                },
                "folder_id": {
                  "type": "integer",
                  "x-ms-summary": "Folder ID"
                },
                "external_id": {
                  "type": "string",
                  "x-ms-summary": "External ID"
                },
                "shell_connection": {
                  "type": "boolean",
                  "x-ms-summary": "Shell Connection"
                },
                "input": {
                  "type": "object",
                  "x-ms-summary": "Input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "x-ms-summary": "Connection ID",
                  "type": "integer",
                  "description": "Connection ID"
                },
                "authorization_error": {
                  "type": "string",
                  "description": "Authorization error"
                },
                "external_id": {
                  "type": "string",
                  "description": "External ID"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Last updated timestamp"
                },
                "created_at": {
                  "type": "string",
                  "description": "Creation timestamp"
                },
                "name": {
                  "x-ms-summary": "Name",
                  "type": "string",
                  "description": "Connection name"
                },
                "authorized_at": {
                  "type": "string",
                  "description": "Authorization timestamp"
                },
                "folder_id": {
                  "type": "integer",
                  "description": "Folder ID"
                },
                "authorization_status": {
                  "x-ms-summary": "Status",
                  "type": "string",
                  "description": "Authorization status"
                },
                "provider": {
                  "x-ms-summary": "Provider",
                  "type": "string",
                  "description": "Provider/application type"
                }
              }
            }
          }
        }
      }
    },
    "/connections/{connection_id}": {
      "put": {
        "operationId": "UpdateConnection",
        "summary": "Update Connection",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListConnections"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "parent_id": {
                  "type": "integer",
                  "x-ms-summary": "Parent ID"
                },
                "folder_id": {
                  "type": "integer",
                  "x-ms-summary": "Folder ID"
                },
                "external_id": {
                  "type": "string",
                  "x-ms-summary": "External ID"
                },
                "shell_connection": {
                  "type": "boolean",
                  "x-ms-summary": "Shell Connection"
                },
                "input": {
                  "type": "object",
                  "x-ms-summary": "Input"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "x-ms-summary": "Connection ID",
                  "type": "integer",
                  "description": "Connection ID"
                },
                "authorization_error": {
                  "type": "string",
                  "description": "Authorization error"
                },
                "external_id": {
                  "type": "string",
                  "description": "External ID"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Last updated timestamp"
                },
                "created_at": {
                  "type": "string",
                  "description": "Creation timestamp"
                },
                "name": {
                  "x-ms-summary": "Name",
                  "type": "string",
                  "description": "Connection name"
                },
                "authorized_at": {
                  "type": "string",
                  "description": "Authorization timestamp"
                },
                "folder_id": {
                  "type": "integer",
                  "description": "Folder ID"
                },
                "authorization_status": {
                  "x-ms-summary": "Status",
                  "type": "string",
                  "description": "Authorization status"
                },
                "provider": {
                  "x-ms-summary": "Provider",
                  "type": "string",
                  "description": "Provider/application type"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteConnection",
        "summary": "Delete Connection",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListConnections"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connections/{connection_id}/disconnect": {
      "post": {
        "operationId": "DisconnectConnection",
        "summary": "Disconnect Connection",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListConnections"
            }
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "force": {
                  "type": "boolean",
                  "x-ms-summary": "Force"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "get": {
        "operationId": "ListFolders",
        "summary": "List Folders",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "parent_id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Parent ID"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Per Page"
          },
          {
            "name": "with_nested_folders",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "With Nested Folders"
          },
          {
            "name": "updated_after",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Updated After"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "Total count"
                },
                "page": {
                  "type": "integer",
                  "description": "Current page"
                },
                "per_page": {
                  "type": "integer",
                  "description": "Items per page"
                },
                "result": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "type": "string",
                        "description": "Creation timestamp"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last updated timestamp"
                      },
                      "name": {
                        "x-ms-summary": "Name",
                        "type": "string",
                        "description": "Folder name"
                      },
                      "id": {
                        "x-ms-summary": "Folder ID",
                        "type": "integer",
                        "description": "Folder ID"
                      },
                      "parent_id": {
                        "type": "integer",
                        "description": "Parent folder ID"
                      }
                    }
                  },
                  "type": "array",
                  "description": "List of results"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateFolder",
        "summary": "Create Folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "parent_id": {
                  "type": "integer",
                  "x-ms-summary": "Parent ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "x-ms-summary": "ID",
                  "type": "integer",
                  "description": "Resource ID"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}": {
      "put": {
        "operationId": "UpdateFolder",
        "summary": "Update Folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Folder ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListFolders"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "parent_id": {
                  "type": "integer",
                  "x-ms-summary": "Parent ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteFolder",
        "summary": "Delete Folder",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Folder ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListFolders"
            }
          },
          {
            "name": "force",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Force"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "ListProjects",
        "summary": "List Projects",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Per Page"
          },
          {
            "name": "updated_after",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Updated After"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "Total count"
                },
                "page": {
                  "type": "integer",
                  "description": "Current page"
                },
                "per_page": {
                  "type": "integer",
                  "description": "Items per page"
                },
                "result": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "folder_id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "Name"
                      },
                      "id": {
                        "type": "integer"
                      }
                    }
                  },
                  "type": "array",
                  "description": "List of results"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "put": {
        "operationId": "UpdateProject",
        "summary": "Update Project",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "description": {
                  "type": "string",
                  "x-ms-summary": "Description"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteProject",
        "summary": "Delete Project",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/lookup_tables": {
      "get": {
        "operationId": "ListLookupTables",
        "summary": "List Lookup Tables",
        "tags": [
          "Lookup Tables"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "items": {
                    "type": "object"
                  },
                  "type": "array",
                  "description": "List of results"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateLookupTable",
        "summary": "Create Lookup Table",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "columns": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Columns"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "x-ms-summary": "ID",
                  "type": "integer",
                  "description": "Created resource ID"
                },
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/lookup_tables/batch_delete": {
      "post": {
        "operationId": "BatchDeleteLookupTables",
        "summary": "Batch Delete Lookup Tables",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "IDs"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "x-ms-summary": "Success"
                }
              }
            }
          }
        }
      }
    },
    "/lookup_tables/{lookup_table_id}/lookup": {
      "get": {
        "operationId": "LookupTableEntry",
        "summary": "Lookup Table Entry",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "lookup_table_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Lookup Table ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListLookupTables"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "description": "Lookup entry key-value data"
                }
              }
            }
          }
        }
      }
    },
    "/lookup_tables/{lookup_table_id}/rows": {
      "get": {
        "operationId": "ListLookupTableRows",
        "summary": "List Lookup Table Rows",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "lookup_table_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Lookup Table ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListLookupTables"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "items": {
                    "type": "object"
                  },
                  "type": "array",
                  "description": "List of results"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "AddLookupTableRow",
        "summary": "Add Lookup Table Row",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "lookup_table_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Lookup Table ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListLookupTables"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/lookup_tables/{lookup_table_id}/rows/{row_id}": {
      "get": {
        "operationId": "GetLookupTableRow",
        "summary": "Get Lookup Table Row",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "lookup_table_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Lookup Table ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListLookupTables"
            }
          },
          {
            "name": "row_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-ms-summary": "ID"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateLookupTableRow",
        "summary": "Update Lookup Table Row",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "lookup_table_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Lookup Table ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListLookupTables"
            }
          },
          {
            "name": "row_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteLookupTableRow",
        "summary": "Delete Lookup Table Row",
        "tags": [
          "Lookup Tables"
        ],
        "parameters": [
          {
            "name": "lookup_table_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Lookup Table ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "value-path": "id",
              "value-title": "name",
              "value-collection": "result",
              "operationId": "ListLookupTables"
            }
          },
          {
            "name": "row_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Row ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies": {
      "get": {
        "operationId": "ListGenies",
        "summary": "List Genies",
        "tags": [
          "Agent Studio"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "Genie description"
                      },
                      "id": {
                        "x-ms-summary": "Genie ID",
                        "type": "integer",
                        "description": "Genie ID"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Creation timestamp"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last updated timestamp"
                      },
                      "name": {
                        "x-ms-summary": "Name",
                        "type": "string",
                        "description": "Genie name"
                      },
                      "status": {
                        "x-ms-summary": "Status",
                        "type": "string",
                        "description": "Genie status"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateGenie",
        "summary": "Create Genie",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Genie description"
                },
                "id": {
                  "x-ms-summary": "Genie ID",
                  "type": "integer",
                  "description": "Genie ID"
                },
                "created_at": {
                  "type": "string",
                  "description": "Creation timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Last updated timestamp"
                },
                "name": {
                  "x-ms-summary": "Name",
                  "type": "string",
                  "description": "Genie name"
                },
                "status": {
                  "x-ms-summary": "Status",
                  "type": "string",
                  "description": "Genie status"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}": {
      "get": {
        "operationId": "GetGenie",
        "summary": "Get Genie",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Genie description"
                },
                "id": {
                  "x-ms-summary": "Genie ID",
                  "type": "integer",
                  "description": "Genie ID"
                },
                "created_at": {
                  "type": "string",
                  "description": "Creation timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Last updated timestamp"
                },
                "name": {
                  "x-ms-summary": "Name",
                  "type": "string",
                  "description": "Genie name"
                },
                "status": {
                  "x-ms-summary": "Status",
                  "type": "string",
                  "description": "Genie status"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateGenie",
        "summary": "Update Genie",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Genie description"
                },
                "id": {
                  "x-ms-summary": "Genie ID",
                  "type": "integer",
                  "description": "Genie ID"
                },
                "created_at": {
                  "type": "string",
                  "description": "Creation timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Last updated timestamp"
                },
                "name": {
                  "x-ms-summary": "Name",
                  "type": "string",
                  "description": "Genie name"
                },
                "status": {
                  "x-ms-summary": "Status",
                  "type": "string",
                  "description": "Genie status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteGenie",
        "summary": "Delete Genie",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}/start": {
      "post": {
        "operationId": "StartGenie",
        "summary": "Start Genie",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}/stop": {
      "post": {
        "operationId": "StopGenie",
        "summary": "Stop Genie",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}/assign_skills": {
      "post": {
        "operationId": "AssignGenieSkills",
        "summary": "Assign Genie Skills",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}/remove_skills": {
      "post": {
        "operationId": "RemoveGenieSkills",
        "summary": "Remove Genie Skills",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}/assign_knowledge_bases": {
      "post": {
        "operationId": "AssignGenieKnowledgeBases",
        "summary": "Assign Genie Knowledge Bases",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}/remove_knowledge_bases": {
      "post": {
        "operationId": "RemoveGenieKnowledgeBases",
        "summary": "Remove Genie Knowledge Bases",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                }
              }
            }
          }
        }
      }
    },
    "/agentic/genies/{id}/assign_user_groups": {
      "post": {
        "operationId": "AssignGenieUserGroups",
        "summary": "Assign Genie User Groups",
        "tags": [
          "Agent Studio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Genie ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "x-ms-summary": "Success",
                  "type": "boolean",
[...]
