{
  "swagger": "2.0",
  "info": {
    "title": "UKG Pro",
    "description": "UKG Pro (formerly UltiPro) is a comprehensive human capital management (HCM) solution providing HR, payroll, time and attendance, and benefits administration. This connector accesses the UKG Pro REST API for managing employee data, configuration, payroll, and time tracking.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com",
      "url": "https://github.com/troystaylor"
    }
  },
  "host": "service5.ultipro.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/configuration/v1/company-details": {
      "get": {
        "summary": "Get Company Details",
        "description": "Returns company configuration details.",
        "operationId": "GetCompanyDetails",
        "tags": ["Configuration"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "The Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "The company name.",
                    "x-ms-summary": "Company Name"
                  },
                  "companyCode": {
                    "type": "string",
                    "description": "The company code.",
                    "x-ms-summary": "Company Code"
                  },
                  "federalId": {
                    "type": "string",
                    "description": "The federal tax ID.",
                    "x-ms-summary": "Federal ID"
                  },
                  "addressLine1": {
                    "type": "string",
                    "description": "Address line 1.",
                    "x-ms-summary": "Address Line 1"
                  },
                  "addressLine2": {
                    "type": "string",
                    "description": "Address line 2.",
                    "x-ms-summary": "Address Line 2"
                  },
                  "city": {
                    "type": "string",
                    "description": "City.",
                    "x-ms-summary": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "State.",
                    "x-ms-summary": "State"
                  },
                  "zipCode": {
                    "type": "string",
                    "description": "Zip code.",
                    "x-ms-summary": "Zip Code"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country.",
                    "x-ms-summary": "Country"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/v1/jobs": {
      "get": {
        "summary": "Get All Jobs",
        "description": "Retrieve all job records.",
        "operationId": "GetAllJobs",
        "tags": ["Configuration"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "jobCode": {
                    "type": "string",
                    "description": "Job code.",
                    "x-ms-summary": "Job Code"
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Job title.",
                    "x-ms-summary": "Job Title"
                  },
                  "jobDescription": {
                    "type": "string",
                    "description": "Job description.",
                    "x-ms-summary": "Job Description"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/v1/locations": {
      "get": {
        "summary": "Get All Locations",
        "description": "Retrieve all location records.",
        "operationId": "GetAllLocations",
        "tags": ["Configuration"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "locationCode": {
                    "type": "string",
                    "description": "Location code.",
                    "x-ms-summary": "Location Code"
                  },
                  "locationDescription": {
                    "type": "string",
                    "description": "Location description.",
                    "x-ms-summary": "Location Description"
                  },
                  "addressLine1": {
                    "type": "string",
                    "description": "Address line 1.",
                    "x-ms-summary": "Address Line 1"
                  },
                  "city": {
                    "type": "string",
                    "description": "City.",
                    "x-ms-summary": "City"
                  },
                  "state": {
                    "type": "string",
                    "description": "State.",
                    "x-ms-summary": "State"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/v1/org-levels": {
      "get": {
        "summary": "Get All Org Levels",
        "description": "Retrieve all organization level records.",
        "operationId": "GetAllOrgLevels",
        "tags": ["Configuration"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "orgLevelCode": {
                    "type": "string",
                    "description": "Org level code.",
                    "x-ms-summary": "Org Level Code"
                  },
                  "orgLevelDescription": {
                    "type": "string",
                    "description": "Org level description.",
                    "x-ms-summary": "Org Level Description"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/v1/earnings": {
      "get": {
        "summary": "Get All Earnings",
        "description": "Retrieve all earnings codes.",
        "operationId": "GetAllEarnings",
        "tags": ["Configuration"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "earningsCode": {
                    "type": "string",
                    "description": "Earnings code.",
                    "x-ms-summary": "Earnings Code"
                  },
                  "earningsDescription": {
                    "type": "string",
                    "description": "Earnings description.",
                    "x-ms-summary": "Earnings Description"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/v1/positions": {
      "get": {
        "summary": "Get Positions",
        "description": "Retrieve all position records.",
        "operationId": "GetPositions",
        "tags": ["Configuration"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "positionCode": {
                    "type": "string",
                    "description": "Position code.",
                    "x-ms-summary": "Position Code"
                  },
                  "positionTitle": {
                    "type": "string",
                    "description": "Position title.",
                    "x-ms-summary": "Position Title"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration/v1/roles": {
      "get": {
        "summary": "Get Roles",
        "description": "Retrieve security roles.",
        "operationId": "GetRoles",
        "tags": ["Security"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "roleId": {
                    "type": "string",
                    "description": "Role ID.",
                    "x-ms-summary": "Role ID"
                  },
                  "roleName": {
                    "type": "string",
                    "description": "Role name.",
                    "x-ms-summary": "Role Name"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/person-details": {
      "get": {
        "summary": "Get All Person Details",
        "description": "Retrieve all person detail records.",
        "operationId": "GetAllPersonDetails",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonDetail"
              }
            }
          }
        }
      }
    },
    "/personnel/v1/person-details/{employeeId}": {
      "get": {
        "summary": "Get Person Details By Employee",
        "description": "Retrieve person details for a specific employee.",
        "operationId": "GetPersonDetailsByEmployee",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Employee ID.",
            "x-ms-summary": "Employee ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonDetail"
            }
          }
        }
      }
    },
    "/personnel/v1/employment-details": {
      "get": {
        "summary": "Get All Employment Details",
        "description": "Retrieve all employment detail records.",
        "operationId": "GetAllEmploymentDetails",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EmploymentDetail"
              }
            }
          }
        }
      }
    },
    "/personnel/v1/compensation-details": {
      "get": {
        "summary": "Get All Compensation Details",
        "description": "Retrieve all compensation detail records.",
        "operationId": "GetAllCompensationDetails",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompensationDetail"
              }
            }
          }
        }
      }
    },
    "/personnel/v1/companies/{companyId}/employees/{employeeId}/compensation-details": {
      "get": {
        "summary": "Get Compensation Details By Employee",
        "description": "Retrieve compensation details for a specific employee.",
        "operationId": "GetCompensationDetailsByEmployee",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Company ID.",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Employee ID.",
            "x-ms-summary": "Employee ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompensationDetail"
              }
            }
          }
        }
      }
    },
    "/personnel/v1/employee-demographic-details": {
      "get": {
        "summary": "Get Employee Demographic Details",
        "description": "Retrieve demographic details for employees.",
        "operationId": "GetEmployeeDemographicDetails",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "ethnicity": {
                    "type": "string",
                    "description": "Ethnicity.",
                    "x-ms-summary": "Ethnicity"
                  },
                  "veteranStatus": {
                    "type": "string",
                    "description": "Veteran status.",
                    "x-ms-summary": "Veteran Status"
                  },
                  "disabilityStatus": {
                    "type": "string",
                    "description": "Disability status.",
                    "x-ms-summary": "Disability Status"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/employee-ids": {
      "post": {
        "summary": "Employee ID Lookup",
        "description": "Look up employee IDs using various identifiers.",
        "operationId": "EmployeeIdLookup",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "companyId": {
                  "type": "string",
                  "description": "Company ID.",
                  "x-ms-summary": "Company ID"
                },
                "employeeNumber": {
                  "type": "string",
                  "description": "Employee number.",
                  "x-ms-summary": "Employee Number"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "Email address.",
                  "x-ms-summary": "Email Address"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last name.",
                  "x-ms-summary": "Last Name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "employeeNumber": {
                    "type": "string",
                    "description": "Employee number.",
                    "x-ms-summary": "Employee Number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/employee-changes": {
      "get": {
        "summary": "Get Employee Changes By Date",
        "description": "Retrieve employee changes within a date range.",
        "operationId": "GetEmployeeChangesByDate",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Start date.",
            "x-ms-summary": "Start Date",
            "required": true
          },
          {
            "name": "endDate",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "End date.",
            "x-ms-summary": "End Date",
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "changeType": {
                    "type": "string",
                    "description": "Type of change.",
                    "x-ms-summary": "Change Type"
                  },
                  "changeDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date of change.",
                    "x-ms-summary": "Change Date"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/pto-plans": {
      "get": {
        "summary": "Get All PTO Plans",
        "description": "Retrieve all PTO plan records.",
        "operationId": "GetAllPtoPlans",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "planName": {
                    "type": "string",
                    "description": "PTO plan name.",
                    "x-ms-summary": "Plan Name"
                  },
                  "balance": {
                    "type": "number",
                    "description": "Current balance.",
                    "x-ms-summary": "Balance"
                  },
                  "accrued": {
                    "type": "number",
                    "description": "Total accrued.",
                    "x-ms-summary": "Accrued"
                  },
                  "used": {
                    "type": "number",
                    "description": "Total used.",
                    "x-ms-summary": "Used"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/supervisor-details": {
      "get": {
        "summary": "Get Supervisor Details",
        "description": "Retrieve supervisor details for employees.",
        "operationId": "GetSupervisorDetails",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "supervisorId": {
                    "type": "string",
                    "description": "Supervisor employee ID.",
                    "x-ms-summary": "Supervisor ID"
                  },
                  "supervisorName": {
                    "type": "string",
                    "description": "Supervisor name.",
                    "x-ms-summary": "Supervisor Name"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/contacts": {
      "get": {
        "summary": "Get Employee Contacts",
        "description": "Retrieve emergency contacts for employees.",
        "operationId": "GetEmployeeContacts",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "contactName": {
                    "type": "string",
                    "description": "Contact name.",
                    "x-ms-summary": "Contact Name"
                  },
                  "relationship": {
                    "type": "string",
                    "description": "Relationship.",
                    "x-ms-summary": "Relationship"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number.",
                    "x-ms-summary": "Phone Number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/emp-deductions": {
      "get": {
        "summary": "Get Employee Deductions",
        "description": "Retrieve deduction information for employees.",
        "operationId": "GetEmployeeDeductions",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "deductionCode": {
                    "type": "string",
                    "description": "Deduction code.",
                    "x-ms-summary": "Deduction Code"
                  },
                  "deductionDescription": {
                    "type": "string",
                    "description": "Deduction description.",
                    "x-ms-summary": "Deduction Description"
                  },
                  "employeeAmount": {
                    "type": "number",
                    "description": "Employee contribution amount.",
                    "x-ms-summary": "Employee Amount"
                  },
                  "companyAmount": {
                    "type": "number",
                    "description": "Company contribution amount.",
                    "x-ms-summary": "Company Amount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/employee-job-history-details": {
      "get": {
        "summary": "Get Employee Job History",
        "description": "Retrieve job history details for employees.",
        "operationId": "GetEmployeeJobHistory",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "effectiveDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Effective date.",
                    "x-ms-summary": "Effective Date"
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Job title.",
                    "x-ms-summary": "Job Title"
                  },
                  "changeReason": {
                    "type": "string",
                    "description": "Change reason.",
                    "x-ms-summary": "Change Reason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/employee-education": {
      "get": {
        "summary": "Get Employee Education",
        "description": "Retrieve education records for employees.",
        "operationId": "GetEmployeeEducation",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "school": {
                    "type": "string",
                    "description": "School name.",
                    "x-ms-summary": "School"
                  },
                  "degree": {
                    "type": "string",
                    "description": "Degree obtained.",
                    "x-ms-summary": "Degree"
                  },
                  "major": {
                    "type": "string",
                    "description": "Major.",
                    "x-ms-summary": "Major"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/user-profile-details": {
      "get": {
        "summary": "Get User Profile Details",
        "description": "Retrieve user profile information.",
        "operationId": "GetUserProfileDetails",
        "tags": ["Security"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "User ID.",
                    "x-ms-summary": "User ID"
                  },
                  "userName": {
                    "type": "string",
                    "description": "User name.",
                    "x-ms-summary": "User Name"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "emailAddress": {
                    "type": "string",
                    "description": "Email address.",
                    "x-ms-summary": "Email Address"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personnel/v1/audit-details": {
      "get": {
        "summary": "Get Audit Details",
        "description": "Retrieve audit trail details.",
        "operationId": "GetAuditDetails",
        "tags": ["Personnel"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "fieldName": {
                    "type": "string",
                    "description": "Field name changed.",
                    "x-ms-summary": "Field Name"
                  },
                  "oldValue": {
                    "type": "string",
                    "description": "Previous value.",
                    "x-ms-summary": "Old Value"
                  },
                  "newValue": {
                    "type": "string",
                    "description": "New value.",
                    "x-ms-summary": "New Value"
                  },
                  "changedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date changed.",
                    "x-ms-summary": "Changed Date"
                  },
                  "changedBy": {
                    "type": "string",
                    "description": "Changed by user.",
                    "x-ms-summary": "Changed By"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payroll/v1/direct-deposit": {
      "get": {
        "summary": "Get Direct Deposit",
        "description": "Retrieve direct deposit information for employees.",
        "operationId": "GetDirectDeposit",
        "tags": ["Payroll"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "accountType": {
                    "type": "string",
                    "description": "Account type (Checking/Savings).",
                    "x-ms-summary": "Account Type"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "Bank name.",
                    "x-ms-summary": "Bank Name"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Deposit amount.",
                    "x-ms-summary": "Amount"
                  },
                  "isRemainder": {
                    "type": "boolean",
                    "description": "Is remainder account.",
                    "x-ms-summary": "Is Remainder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payroll/v1/companies/pay-statements-summary": {
      "post": {
        "summary": "Get Company Pay Statements",
        "description": "Get employee pay statements summary for a company or pay group for a given date range.",
        "operationId": "GetCompanyPayStatements",
        "tags": ["Payroll"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "companyId": {
                  "type": "string",
                  "description": "Company ID.",
                  "x-ms-summary": "Company ID"
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Start date.",
                  "x-ms-summary": "Start Date"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "End date.",
                  "x-ms-summary": "End Date"
                },
                "payGroup": {
                  "type": "string",
                  "description": "Pay group.",
                  "x-ms-summary": "Pay Group"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "checkDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Check date.",
                    "x-ms-summary": "Check Date"
                  },
                  "grossPay": {
                    "type": "number",
                    "description": "Gross pay.",
                    "x-ms-summary": "Gross Pay"
                  },
                  "netPay": {
                    "type": "number",
                    "description": "Net pay.",
                    "x-ms-summary": "Net Pay"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payroll/v1/employees/pay-statements": {
      "post": {
        "summary": "Get Employee Pay Statements",
        "description": "Get employee pay statements for a given date range.",
        "operationId": "GetEmployeePayStatements",
        "tags": ["Payroll"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "employeeId": {
                  "type": "string",
                  "description": "Employee ID.",
                  "x-ms-summary": "Employee ID"
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Start date.",
                  "x-ms-summary": "Start Date"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "End date.",
                  "x-ms-summary": "End Date"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "payIdentifier": {
                    "type": "string",
                    "description": "Pay identifier.",
                    "x-ms-summary": "Pay Identifier"
                  },
                  "checkDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Check date.",
                    "x-ms-summary": "Check Date"
                  },
                  "grossPay": {
                    "type": "number",
                    "description": "Gross pay.",
                    "x-ms-summary": "Gross Pay"
                  },
                  "netPay": {
                    "type": "number",
                    "description": "Net pay.",
                    "x-ms-summary": "Net Pay"
                  },
                  "totalDeductions": {
                    "type": "number",
                    "description": "Total deductions.",
                    "x-ms-summary": "Total Deductions"
                  },
                  "totalTaxes": {
                    "type": "number",
                    "description": "Total taxes.",
                    "x-ms-summary": "Total Taxes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payroll/v1/earnings-history": {
      "get": {
        "summary": "Get Earnings History",
        "description": "Retrieve earnings history base elements.",
        "operationId": "GetEarningsHistory",
        "tags": ["Payroll"],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "type": "string",
            "description": "Filter by Company ID.",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "earningsCode": {
                    "type": "string",
                    "description": "Earnings code.",
                    "x-ms-summary": "Earnings Code"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Earnings amount.",
                    "x-ms-summary": "Amount"
                  },
                  "hours": {
                    "type": "number",
                    "description": "Hours.",
                    "x-ms-summary": "Hours"
                  },
                  "checkDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Check date.",
                    "x-ms-summary": "Check Date"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ta/api/v1/time/clock-transactions": {
      "get": {
        "summary": "Get Clock Transactions",
        "description": "Get processed clock transactions.",
        "operationId": "GetClockTransactions",
        "tags": ["Time and Attendance"],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "type": "string",
            "description": "Company ID.",
            "x-ms-summary": "Company ID",
            "required": true
          },
          {
            "name": "startDate",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Start date.",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "End date.",
            "x-ms-summary": "End Date"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "transactionDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Transaction date.",
                    "x-ms-summary": "Transaction Date"
                  },
                  "punchType": {
                    "type": "string",
                    "description": "Punch type (In/Out).",
                    "x-ms-summary": "Punch Type"
                  },
                  "timeCode": {
                    "type": "string",
                    "description": "Time code.",
                    "x-ms-summary": "Time Code"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ta/api/v1/time/work-summaries": {
      "get": {
        "summary": "Get Work Summaries",
        "description": "Obtain work summaries for employees.",
        "operationId": "GetWorkSummaries",
        "tags": ["Time and Attendance"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "weekEndingDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Week ending date.",
                    "x-ms-summary": "Week Ending Date"
                  },
                  "totalHours": {
                    "type": "number",
                    "description": "Total hours.",
                    "x-ms-summary": "Total Hours"
                  },
                  "regularHours": {
                    "type": "number",
                    "description": "Regular hours.",
                    "x-ms-summary": "Regular Hours"
                  },
                  "overtimeHours": {
                    "type": "number",
                    "description": "Overtime hours.",
                    "x-ms-summary": "Overtime Hours"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ta/api/v1/time-off-requests": {
      "get": {
        "summary": "Get Time Off Requests",
        "description": "Retrieve all time off requests.",
        "operationId": "GetTimeOffRequests",
        "tags": ["Time and Attendance"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "requestDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Request date.",
                    "x-ms-summary": "Request Date"
                  },
                  "hours": {
                    "type": "number",
                    "description": "Hours requested.",
                    "x-ms-summary": "Hours"
                  },
                  "status": {
                    "type": "string",
                    "description": "Request status.",
                    "x-ms-summary": "Status"
                  },
                  "timeOffType": {
                    "type": "string",
                    "description": "Time off type.",
                    "x-ms-summary": "Time Off Type"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ta/api/v1/employees": {
      "get": {
        "summary": "Get Time Employees",
        "description": "Retrieve all employees for time and attendance.",
        "operationId": "GetUTAEmployees",
        "tags": ["Time and Attendance"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "description": "Page number for pagination.",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "description": "Number of records per page.",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "employeeId": {
                    "type": "string",
                    "description": "Employee ID.",
                    "x-ms-summary": "Employee ID"
                  },
                  "employeeName": {
                    "type": "string",
                    "description": "Employee name.",
                    "x-ms-summary": "Employee Name"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Company ID.",
                    "x-ms-summary": "Company ID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "InvokeMCP",
        "summary": "Invoke UKG Pro MCP",
        "description": "Model Context Protocol endpoint for Copilot Studio integration. Provides AI agents access to UKG Pro HR operations as tools.",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response"
          }
        }
      }
    }
  },
  "definitions": {
    "PersonDetail": {
      "type": "object",
      "properties": {
        "companyId": {
          "type": "string",
          "description": "Company ID.",
          "x-ms-summary": "Company ID"
        },
        "employeeId": {
          "type": "string",
          "description": "Employee ID.",
          "x-ms-summary": "Employee ID"
        },
        "employeeNumber": {
          "type": "string",
          "description": "Employee number.",
          "x-ms-summary": "Employee Number"
        },
        "firstName": {
          "type": "string",
          "description": "First name.",
          "x-ms-summary": "First Name"
        },
        "lastName": {
          "type": "string",
          "description": "Last name.",
          "x-ms-summary": "Last Name"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name.",
          "x-ms-summary": "Middle Name"
        },
        "preferredName": {
          "type": "string",
          "description": "Preferred name.",
          "x-ms-summary": "Preferred Name"
        },
        "namePrefix": {
          "type": "string",
          "description": "Name prefix.",
          "x-ms-summary": "Prefix"
        },
        "nameSuffix": {
          "type": "string",
          "description": "Name suffix.",
          "x-ms-summary": "Suffix"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address.",
          "x-ms-summary": "Email Address"
        },
        "alternativeEmailAddress": {
          "type": "string",
          "description": "Alternative email.",
          "x-ms-summary": "Alternative Email"
        },
        "homePhone": {
          "type": "string",
          "description": "Home phone.",
          "x-ms-summary": "Home Phone"
        },
        "personalMobilePhone": {
          "type": "string",
          "description": "Personal mobile.",
          "x-ms-summary": "Personal Mobile"
        },
        "addressLine1": {
          "type": "string",
          "description": "Address line 1.",
          "x-ms-summary": "Address Line 1"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address line 2.",
          "x-ms-summary": "Address Line 2"
        },
        "addressCity": {
          "type": "string",
          "description": "City.",
          "x-ms-summary": "City"
        },
        "addressState": {
          "type": "string",
          "description": "State.",
          "x-ms-summary": "State"
        },
        "addressZipCode": {
          "type": "string",
          "description": "Zip code.",
          "x-ms-summary": "Zip Code"
        },
        "addressCountry": {
          "type": "string",
          "description": "Country.",
          "x-ms-summary": "Country"
        },
        "dateOfBirth": {
          "type": "string",
          "format": "date-time",
          "description": "Date of birth.",
          "x-ms-summary": "Date of Birth"
        },
        "gender": {
          "type": "string",
          "description": "Gender.",
          "x-ms-summary": "Gender"
        },
        "maritalStatus": {
          "type": "string",
          "description": "Marital status.",
          "x-ms-summary": "Marital Status"
        },
        "datetimeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "Record created.",
          "x-ms-summary": "Date Created"
        },
        "datetimeChanged": {
          "type": "string",
          "format": "date-time",
          "description": "Record last changed.",
          "x-ms-summary": "Date Changed"
        }
      }
    },
    "EmploymentDetail": {
      "type": "object",
      "properties": {
        "companyId": {
          "type": "string",
          "description": "Company ID.",
          "x-ms-summary": "Company ID"
        },
        "employeeId": {
          "type": "string",
          "description": "Employee ID.",
          "x-ms-summary": "Employee ID"
        },
        "employeeNumber": {
          "type": "string",
          "description": "Employee number.",
          "x-ms-summary": "Employee Number"
        },
        "employeeStatus": {
          "type": "string",
          "description": "Employment status (A=Active, T=Terminated, L=Leave).",
          "x-ms-summary": "Employee Status"
        },
        "employeeType": {
          "type": "string",
          "description": "Employee type.",
          "x-ms-summary": "Employee Type"
        },
        "originalHireDate": {
          "type": "string",
          "format": "date-time",
          "description": "Original hire date.",
          "x-ms-summary": "Original Hire Date"
        },
        "lastHireDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last hire date.",
          "x-ms-summary": "Last Hire Date"
        },
        "terminationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Termination date.",
          "x-ms-summary": "Termination Date"
        },
        "jobTitle": {
          "type": "string",
          "description": "Job title.",
          "x-ms-summary": "Job Title"
        },
        "jobCode": {
          "type": "string",
          "description": "Job code.",
          "x-ms-summary": "Job Code"
        },
        "locationCode": {
          "type": "string",
          "description": "Location code.",
          "x-ms-summary": "Location Code"
        },
        "departmentCode": {
          "type": "string",
          "description": "Department code.",
          "x-ms-summary": "Department Code"
        },
        "workPhone": {
          "type": "string",
          "description": "Work phone.",
          "x-ms-summary": "Work Phone"
        },
        "fullOrPartTime": {
          "type": "string",
          "description": "Full or part time.",
          "x-ms-summary": "Full/Part Time"
        },
        "scheduledWorkHours": {
          "type": "number",
          "description": "Scheduled work hours.",
          "x-ms-summary": "Scheduled Hours"
        }
      }
    },
    "CompensationDetail": {
      "type": "object",
      "properties": {
        "companyId": {
          "type": "string",
          "description": "Company ID.",
          "x-ms-summary": "Company ID"
        },
        "employeeId": {
          "type": "string",
          "description": "Employee ID.",
          "x-ms-summary": "Employee ID"
        },
        "annualSalary": {
          "type": "number",
          "description": "Annual salary.",
          "x-ms-summary": "Annual Salary"
        },
        "hourlyRate": {
          "type": "number",
          "description": "Hourly rate.",
          "x-ms-summary": "Hourly Rate"
        },
        "payRate": {
          "type": "number",
          "description": "Pay rate.",
          "x-ms-summary": "Pay Rate"
        },
        "ratePer": {
          "type": "string",
          "description": "Rate per (Hour, Year).",
          "x-ms-summary": "Rate Per"
        },
        "changeReason": {
          "type": "string",
          "description": "Change reason.",
          "x-ms-summary": "Change Reason"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Effective date.",
          "x-ms-summary": "Effective Date"
        },
        "autoPayType": {
          "type": "string",
          "description": "Auto pay type.",
          "x-ms-summary": "Auto Pay Type"
        },
        "isAutoPay": {
          "type": "boolean",
          "description": "Is auto pay.",
          "x-ms-summary": "Is Auto Pay"
        }
      }
    }
  },
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Configuration",
      "description": "Company and system configuration operations"
    },
    {
      "name": "Personnel",
      "description": "Employee and person data operations"
    },
    {
      "name": "Payroll",
      "description": "Payroll and compensation operations"
    },
    {
      "name": "Time and Attendance",
      "description": "Time tracking and scheduling operations"
    },
    {
      "name": "Security",
      "description": "Security and user management operations"
    }
  ]
}
