{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Foundry",
    "description": "Connect to Microsoft Foundry for model inference, AI Agents, Speech (transcription/translation/TTS/batch), Translator, Language (sentiment/NER/entity linking), Document Intelligence, Content Safety, Vision (analysis/OCR), AI Evaluation, Speaker Recognition, Custom Vision, Personalizer, AI Search, and MCP protocol support.",
    "version": "1.0.0"
  },
  "host": "placeholder.services.ai.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/models/chat/completions": {
      "post": {
        "operationId": "ChatCompletion",
        "summary": "Chat Completion",
        "description": "Generate a chat completion response from the AI model. Supports multi-turn conversations with system, user, and assistant messages.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-05-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version",
            "description": "The API version to use for this operation."
          },
          {
            "name": "extra-parameters",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Controls handling of extra parameters not defined by the API (error, drop, pass-through).",
            "x-ms-summary": "Extra Parameters",
            "x-ms-visibility": "advanced",
            "enum": [
              "error",
              "drop",
              "pass-through"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "description": "The collection of context messages for the chat completions request.",
                  "x-ms-summary": "Messages",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string",
                        "description": "The role of the message author.",
                        "x-ms-summary": "Role",
                        "enum": [
                          "system",
                          "user",
                          "assistant",
                          "tool"
                        ]
                      },
                      "content": {
                        "type": "string",
                        "description": "The content of the message.",
                        "x-ms-summary": "Content"
                      }
                    },
                    "required": [
                      "role",
                      "content"
                    ]
                  }
                },
                "model": {
                  "type": "string",
                  "description": "ID of the specific AI model to use, if more than one model is available on the endpoint.",
                  "x-ms-summary": "Model"
                },
                "temperature": {
                  "type": "number",
                  "format": "float",
                  "description": "Sampling temperature (0-1). Higher values increase randomness. Default: 0.7.",
                  "x-ms-summary": "Temperature",
                  "x-ms-visibility": "advanced",
                  "minimum": 0,
                  "maximum": 1
                },
                "top_p": {
                  "type": "number",
                  "format": "float",
                  "description": "Nucleus sampling probability mass (0-1). Default: 1.",
                  "x-ms-summary": "Top P",
                  "x-ms-visibility": "advanced",
                  "minimum": 0,
                  "maximum": 1
                },
                "max_tokens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of tokens to generate.",
                  "x-ms-summary": "Max Tokens",
                  "x-ms-visibility": "advanced",
                  "minimum": 0
                },
                "frequency_penalty": {
                  "type": "number",
                  "format": "float",
                  "description": "Penalizes tokens based on cumulative frequency (-2 to 2). Default: 0.",
                  "x-ms-summary": "Frequency Penalty",
                  "x-ms-visibility": "advanced",
                  "minimum": -2,
                  "maximum": 2
                },
                "presence_penalty": {
                  "type": "number",
                  "format": "float",
                  "description": "Penalizes tokens already present in text (-2 to 2). Default: 0.",
                  "x-ms-summary": "Presence Penalty",
                  "x-ms-visibility": "advanced",
                  "minimum": -2,
                  "maximum": 2
                },
                "stop": {
                  "type": "array",
                  "description": "Sequences that will stop completions generation.",
                  "x-ms-summary": "Stop Sequences",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "string"
                  }
                },
                "stream": {
                  "type": "boolean",
                  "description": "Whether to stream the response.",
                  "x-ms-summary": "Stream",
                  "x-ms-visibility": "advanced"
                },
                "seed": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Seed for deterministic sampling. Same seed with same parameters should return same result.",
                  "x-ms-summary": "Seed",
                  "x-ms-visibility": "advanced"
                },
                "response_format": {
                  "type": "object",
                  "description": "Specifies the output format the model must use (text, json_object, or json_schema).",
                  "x-ms-summary": "Response Format",
                  "x-ms-visibility": "advanced",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The response format type.",
                      "x-ms-summary": "Format Type",
                      "enum": [
                        "text",
                        "json_object",
                        "json_schema"
                      ]
                    }
                  }
                },
                "tools": {
                  "type": "array",
                  "description": "A list of tools (functions) the model may call.",
                  "x-ms-summary": "Tools",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of tool.",
                        "x-ms-summary": "Tool Type",
                        "enum": [
                          "function"
                        ]
                      },
                      "function": {
                        "type": "object",
                        "description": "The function definition.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the function to call.",
                            "x-ms-summary": "Function Name"
                          },
                          "description": {
                            "type": "string",
                            "description": "A description of what the function does.",
                            "x-ms-summary": "Function Description"
                          },
                          "parameters": {
                            "type": "object",
                            "description": "The function parameters as JSON Schema."
                          }
                        },
                        "required": [
                          "name"
                        ]
                      }
                    }
                  }
                },
                "tool_choice": {
                  "type": "string",
                  "description": "Controls which tool the model uses (none, auto, or a function name).",
                  "x-ms-summary": "Tool Choice",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "messages"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful chat completion response.",
            "schema": {
              "$ref": "#/definitions/ChatCompletionResponse"
            }
          }
        }
      }
    },
    "/openai/deployments/{deployment}/chat/completions": {
      "post": {
        "operationId": "ChatCompletionOpenAI",
        "summary": "Chat Completion (Azure OpenAI)",
        "description": "Generate a chat completion using an Azure OpenAI deployment. Use this for deployments created in Azure OpenAI Service.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "deployment",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Deployment Name",
            "description": "The name of your Azure OpenAI deployment (e.g., 'gpt-4o').",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-01-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version",
            "description": "The API version to use for this operation."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "description": "The collection of context messages for the chat completions request.",
                  "x-ms-summary": "Messages",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string",
                        "description": "The role of the message author.",
                        "x-ms-summary": "Role",
                        "enum": [
                          "system",
                          "user",
                          "assistant",
                          "tool"
                        ]
                      },
                      "content": {
                        "type": "string",
                        "description": "The content of the message.",
                        "x-ms-summary": "Content"
                      }
                    },
                    "required": [
                      "role",
                      "content"
                    ]
                  }
                },
                "temperature": {
                  "type": "number",
                  "format": "float",
                  "description": "Sampling temperature (0-1). Higher values increase randomness.",
                  "x-ms-summary": "Temperature",
                  "x-ms-visibility": "advanced",
                  "minimum": 0,
                  "maximum": 1
                },
                "max_tokens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of tokens to generate.",
                  "x-ms-summary": "Max Tokens",
                  "x-ms-visibility": "advanced"
                },
                "top_p": {
                  "type": "number",
                  "format": "float",
                  "description": "Nucleus sampling probability mass (0-1).",
                  "x-ms-summary": "Top P",
                  "x-ms-visibility": "advanced",
                  "minimum": 0,
                  "maximum": 1
                }
              },
              "required": [
                "messages"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful chat completion response.",
            "schema": {
              "$ref": "#/definitions/ChatCompletionResponse"
            }
          }
        }
      }
    },
    "/models/embeddings": {
      "post": {
        "operationId": "GetEmbeddings",
        "summary": "Get Text Embeddings",
        "description": "Return embedding vectors for given text prompts. Embeddings measure the relatedness of text strings.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-05-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version",
            "description": "The API version to use for this operation."
          },
          {
            "name": "extra-parameters",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Controls handling of extra parameters not defined by the API (error, drop, pass-through).",
            "x-ms-summary": "Extra Parameters",
            "x-ms-visibility": "advanced",
            "enum": [
              "error",
              "drop",
              "pass-through"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "array",
                  "description": "Input text to embed. Pass an array of strings to embed multiple inputs.",
                  "x-ms-summary": "Input Text",
                  "items": {
                    "type": "string"
                  }
                },
                "model": {
                  "type": "string",
                  "description": "ID of the specific AI model to use, if more than one model is available on the endpoint.",
                  "x-ms-summary": "Model"
                },
                "dimensions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of dimensions for the output embeddings. Null uses model default.",
                  "x-ms-summary": "Dimensions",
                  "x-ms-visibility": "advanced"
                },
                "encoding_format": {
                  "type": "string",
                  "description": "The desired format for the returned embeddings.",
                  "x-ms-summary": "Encoding Format",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "float",
                    "base64",
                    "binary",
                    "int8",
                    "ubinary",
                    "uint8"
                  ]
                },
                "input_type": {
                  "type": "string",
                  "description": "The type of the input (text, query, or document).",
                  "x-ms-summary": "Input Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "text",
                    "query",
                    "document"
                  ]
                }
              },
              "required": [
                "input"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful embeddings response.",
            "schema": {
              "$ref": "#/definitions/EmbeddingsResponse"
            }
          }
        }
      }
    },
    "/models/images/embeddings": {
      "post": {
        "operationId": "GetImageEmbeddings",
        "summary": "Get Image Embeddings",
        "description": "Return embedding vectors for given images. Supports base64-encoded image input with optional text.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-05-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version",
            "description": "The API version to use for this operation."
          },
          {
            "name": "extra-parameters",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Controls handling of extra parameters not defined by the API (error, drop, pass-through).",
            "x-ms-summary": "Extra Parameters",
            "x-ms-visibility": "advanced",
            "enum": [
              "error",
              "drop",
              "pass-through"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "array",
                  "description": "Input images to embed. Each item contains an image and optional text.",
                  "x-ms-summary": "Input Images",
                  "items": {
                    "type": "object",
                    "properties": {
                      "image": {
                        "type": "string",
                        "description": "The input image encoded as a base64 data URL. Example: data:image/png;base64,{data}.",
                        "x-ms-summary": "Image (Base64)"
                      },
                      "text": {
                        "type": "string",
                        "description": "Optional text input to feed into the model (for CLIP, DINO, etc.).",
                        "x-ms-summary": "Text",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "required": [
                      "image"
                    ]
                  }
                },
                "model": {
                  "type": "string",
                  "description": "ID of the specific AI model to use, if more than one model is available on the endpoint.",
                  "x-ms-summary": "Model"
                },
                "dimensions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of dimensions for the output embeddings. Null uses model default.",
                  "x-ms-summary": "Dimensions",
                  "x-ms-visibility": "advanced"
                },
                "encoding_format": {
                  "type": "string",
                  "description": "The desired format for the returned embeddings.",
                  "x-ms-summary": "Encoding Format",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "float",
                    "base64",
                    "binary",
                    "int8",
                    "ubinary",
                    "uint8"
                  ]
                },
                "input_type": {
                  "type": "string",
                  "description": "The type of the input (text, query, or document).",
                  "x-ms-summary": "Input Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "text",
                    "query",
                    "document"
                  ]
                }
              },
              "required": [
                "input"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful image embeddings response.",
            "schema": {
              "$ref": "#/definitions/EmbeddingsResponse"
            }
          }
        }
      }
    },
    "/models/info": {
      "get": {
        "operationId": "GetModelInfo",
        "summary": "Get Model Info",
        "description": "Returns information about the AI model deployed at the endpoint, including name, type, and provider.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-05-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version",
            "description": "The API version to use for this operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful model info response.",
            "schema": {
              "$ref": "#/definitions/ModelInfoResponse"
            }
          }
        }
      }
    },
    "/openai/assistants": {
      "get": {
        "operationId": "ListAssistants",
        "summary": "List Assistants",
        "description": "Returns a list of AI assistants.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of assistants to return (1-100). Default: 20.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort order by created_at timestamp.",
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assistants.",
            "schema": {
              "$ref": "#/definitions/AssistantListResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateAssistant",
        "summary": "Create Assistant",
        "description": "Create an AI assistant with a model and instructions.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "The model deployment name to use.",
                  "x-ms-summary": "Model"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the assistant (max 256 chars).",
                  "x-ms-summary": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the assistant (max 512 chars).",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "advanced"
                },
                "instructions": {
                  "type": "string",
                  "description": "System instructions for the assistant (max 256,000 chars).",
                  "x-ms-summary": "Instructions"
                },
                "tools": {
                  "type": "array",
                  "description": "Tools enabled on the assistant (code_interpreter, file_search, function).",
                  "x-ms-summary": "Tools",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "code_interpreter",
                          "file_search",
                          "function"
                        ],
                        "x-ms-summary": "Tool Type"
                      }
                    }
                  }
                },
                "temperature": {
                  "type": "number",
                  "description": "Sampling temperature (0-2). Default: 1.",
                  "x-ms-summary": "Temperature",
                  "x-ms-visibility": "advanced"
                },
                "top_p": {
                  "type": "number",
                  "description": "Nucleus sampling parameter. Default: 1.",
                  "x-ms-summary": "Top P",
                  "x-ms-visibility": "advanced"
                },
                "metadata": {
                  "type": "object",
                  "description": "Key-value pairs for storing additional information.",
                  "x-ms-summary": "Metadata",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "model"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created assistant.",
            "schema": {
              "$ref": "#/definitions/AssistantObject"
            }
          }
        }
      }
    },
    "/openai/assistants/{assistant_id}": {
      "get": {
        "operationId": "GetAssistant",
        "summary": "Get Assistant",
        "description": "Retrieves an assistant by ID.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the assistant to retrieve.",
            "x-ms-summary": "Assistant ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "The assistant object.",
            "schema": {
              "$ref": "#/definitions/AssistantObject"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteAssistant",
        "summary": "Delete Assistant",
        "description": "Deletes an assistant.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the assistant to delete.",
            "x-ms-summary": "Assistant ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion status.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "ID"
                },
                "deleted": {
                  "type": "boolean",
                  "x-ms-summary": "Deleted"
                }
              }
            }
          }
        }
      }
    },
    "/openai/threads": {
      "post": {
        "operationId": "CreateThread",
        "summary": "Create Thread",
        "description": "Create a conversation thread.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "description": "Initial messages to start the thread with.",
                  "x-ms-summary": "Messages",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string",
                        "enum": [
                          "user",
                          "assistant"
                        ],
                        "x-ms-summary": "Role"
                      },
                      "content": {
                        "type": "string",
                        "x-ms-summary": "Content"
                      }
                    }
                  }
                },
                "metadata": {
                  "type": "object",
                  "description": "Key-value pairs for storing additional information.",
                  "x-ms-summary": "Metadata",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created thread.",
            "schema": {
              "$ref": "#/definitions/ThreadObject"
            }
          }
        }
      }
    },
    "/openai/threads/{thread_id}": {
      "get": {
        "operationId": "GetThread",
        "summary": "Get Thread",
        "description": "Retrieves a thread by ID.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the thread to retrieve.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "The thread object.",
            "schema": {
              "$ref": "#/definitions/ThreadObject"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteThread",
        "summary": "Delete Thread",
        "description": "Deletes a thread.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the thread to delete.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion status.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "ID"
                },
                "deleted": {
                  "type": "boolean",
                  "x-ms-summary": "Deleted"
                }
              }
            }
          }
        }
      }
    },
    "/openai/threads/{thread_id}/messages": {
      "get": {
        "operationId": "ListMessages",
        "summary": "List Messages",
        "description": "Returns messages from a thread.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the thread.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of messages to return (1-100). Default: 20.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort order by created_at timestamp.",
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages.",
            "schema": {
              "$ref": "#/definitions/MessageListResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateMessage",
        "summary": "Create Message",
        "description": "Create a message in a thread.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the thread.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ],
                  "description": "The role of the message author.",
                  "x-ms-summary": "Role"
                },
                "content": {
                  "type": "string",
                  "description": "The content of the message.",
                  "x-ms-summary": "Content"
                },
                "metadata": {
                  "type": "object",
                  "description": "Key-value pairs for storing additional information.",
                  "x-ms-summary": "Metadata",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "role",
                "content"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created message.",
            "schema": {
              "$ref": "#/definitions/MessageObject"
            }
          }
        }
      }
    },
    "/openai/threads/{thread_id}/runs": {
      "get": {
        "operationId": "ListRuns",
        "summary": "List Runs",
        "description": "Returns runs from a thread.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the thread.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of runs to return (1-100). Default: 20.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs.",
            "schema": {
              "$ref": "#/definitions/RunListResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "CreateRun",
        "summary": "Create Run",
        "description": "Create a run to execute an assistant on a thread.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the thread to run.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "assistant_id": {
                  "type": "string",
                  "description": "The ID of the assistant to use.",
                  "x-ms-summary": "Assistant ID"
                },
                "model": {
                  "type": "string",
                  "description": "Override the model for this run.",
                  "x-ms-summary": "Model",
                  "x-ms-visibility": "advanced"
                },
                "instructions": {
                  "type": "string",
                  "description": "Override the assistant's instructions for this run.",
                  "x-ms-summary": "Instructions",
                  "x-ms-visibility": "advanced"
                },
                "additional_instructions": {
                  "type": "string",
                  "description": "Additional instructions to append.",
                  "x-ms-summary": "Additional Instructions",
                  "x-ms-visibility": "advanced"
                },
                "temperature": {
                  "type": "number",
                  "description": "Sampling temperature (0-2).",
                  "x-ms-summary": "Temperature",
                  "x-ms-visibility": "advanced"
                },
                "max_prompt_tokens": {
                  "type": "integer",
                  "description": "Maximum prompt tokens allowed.",
                  "x-ms-summary": "Max Prompt Tokens",
                  "x-ms-visibility": "advanced"
                },
                "max_completion_tokens": {
                  "type": "integer",
                  "description": "Maximum completion tokens allowed.",
                  "x-ms-summary": "Max Completion Tokens",
                  "x-ms-visibility": "advanced"
                },
                "metadata": {
                  "type": "object",
                  "description": "Key-value pairs for storing additional information.",
                  "x-ms-summary": "Metadata",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "assistant_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created run.",
            "schema": {
              "$ref": "#/definitions/RunObject"
            }
          }
        }
      }
    },
    "/openai/threads/{thread_id}/runs/{run_id}": {
      "get": {
        "operationId": "GetRun",
        "summary": "Get Run",
        "description": "Retrieves a run by ID.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "thread_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the thread.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the run to retrieve.",
            "x-ms-summary": "Run ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "The run object.",
            "schema": {
              "$ref": "#/definitions/RunObject"
            }
          }
        }
      }
    },
    "/openai/threads/runs": {
      "post": {
        "operationId": "CreateThreadAndRun",
        "summary": "Create Thread and Run",
        "description": "Create a thread and run it in one request.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-04-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "assistant_id": {
                  "type": "string",
                  "description": "The ID of the assistant to use.",
                  "x-ms-summary": "Assistant ID"
                },
                "thread": {
                  "type": "object",
                  "description": "Thread configuration.",
                  "x-ms-summary": "Thread",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "description": "Messages to start the thread with.",
                      "x-ms-summary": "Messages",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "user"
                            ],
                            "x-ms-summary": "Role"
                          },
                          "content": {
                            "type": "string",
                            "x-ms-summary": "Content"
                          }
                        }
                      }
                    }
                  }
                },
                "model": {
                  "type": "string",
                  "description": "Override the model for this run.",
                  "x-ms-summary": "Model",
                  "x-ms-visibility": "advanced"
                },
                "instructions": {
                  "type": "string",
                  "description": "Override the assistant's instructions.",
                  "x-ms-summary": "Instructions",
                  "x-ms-visibility": "advanced"
                },
                "temperature": {
                  "type": "number",
                  "description": "Sampling temperature (0-2).",
                  "x-ms-summary": "Temperature",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "assistant_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created run.",
            "schema": {
              "$ref": "#/definitions/RunObject"
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "McpRequest",
        "summary": "Invoke Microsoft Foundry MCP",
        "description": "Model Context Protocol endpoint for Copilot Studio integration. Handles JSON-RPC 2.0 requests.",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": {
            "description": "MCP response."
          }
        }
      }
    },
    "/contentsafety/text:analyze": {
      "post": {
        "operationId": "AnalyzeText",
        "summary": "Analyze Text for Safety",
        "description": "Analyze text content for harmful material including Hate, SelfHarm, Sexual, and Violence categories.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-09-01",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text to be analyzed (max 10,000 Unicode characters).",
                  "x-ms-summary": "Text",
                  "maxLength": 10000
                },
                "categories": {
                  "type": "array",
                  "description": "Categories to analyze. If not specified, all categories are analyzed.",
                  "x-ms-summary": "Categories",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Hate",
                      "SelfHarm",
                      "Sexual",
                      "Violence"
                    ]
                  }
                },
                "blocklistNames": {
                  "type": "array",
                  "description": "Names of custom blocklists to check against.",
                  "x-ms-summary": "Blocklist Names",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "string"
                  }
                },
                "haltOnBlocklistHit": {
                  "type": "boolean",
                  "description": "When true, stop further analysis if blocklist is hit.",
                  "x-ms-summary": "Halt on Blocklist Hit",
                  "x-ms-visibility": "advanced"
                },
                "outputType": {
                  "type": "string",
                  "description": "Output severity levels format.",
                  "x-ms-summary": "Output Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "FourSeverityLevels",
                    "EightSeverityLevels"
                  ],
                  "default": "FourSeverityLevels"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Text analysis results.",
            "schema": {
              "$ref": "#/definitions/ContentSafetyTextResult"
            }
          }
        }
      }
    },
    "/contentsafety/image:analyze": {
      "post": {
        "operationId": "AnalyzeImage",
        "summary": "Analyze Image for Safety",
        "description": "Analyze image content for harmful material including Hate, SelfHarm, Sexual, and Violence categories.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-09-01",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "object",
                  "description": "The image to analyze.",
                  "x-ms-summary": "Image",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "Base64-encoded image content.",
                      "x-ms-summary": "Content (Base64)"
                    },
                    "blobUrl": {
                      "type": "string",
                      "description": "URL to the image blob.",
                      "x-ms-summary": "Blob URL"
                    }
                  }
                },
                "categories": {
                  "type": "array",
                  "description": "Categories to analyze. If not specified, all categories are analyzed.",
                  "x-ms-summary": "Categories",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Hate",
                      "SelfHarm",
                      "Sexual",
                      "Violence"
                    ]
                  }
                },
                "outputType": {
                  "type": "string",
                  "description": "Output severity levels format.",
                  "x-ms-summary": "Output Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "FourSeverityLevels"
                  ],
                  "default": "FourSeverityLevels"
                }
              },
              "required": [
                "image"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image analysis results.",
            "schema": {
              "$ref": "#/definitions/ContentSafetyImageResult"
            }
          }
        }
      }
    },
    "/imageanalysis:analyze": {
      "post": {
        "operationId": "AnalyzeImageVision",
        "summary": "Analyze Image (Vision)",
        "description": "Analyze images for tags, objects, captions, text (OCR), smart crops, and people detection.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2023-02-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "features",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Visual features to analyze (comma-separated): tags, objects, caption, denseCaptions, read, smartCrops, people.",
            "x-ms-summary": "Features",
            "default": "caption,tags"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Language for output generation (e.g., 'en', 'es', 'fr').",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced",
            "default": "en"
          },
          {
            "name": "gender-neutral-caption",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Enable gender-neutral captioning.",
            "x-ms-summary": "Gender Neutral Caption",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "smartcrops-aspect-ratios",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Aspect ratios for smart crops (0.75-1.8, comma-separated).",
            "x-ms-summary": "Smart Crops Aspect Ratios",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "model-name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Custom trained model name (if using custom model instead of features).",
            "x-ms-summary": "Model Name",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Publicly reachable URL of the image to analyze.",
                  "x-ms-summary": "Image URL"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image analysis results.",
            "schema": {
              "$ref": "#/definitions/ImageAnalysisResult"
            }
          }
        }
      }
    },
    "/evaluation/annotations:submit": {
      "post": {
        "operationId": "SubmitEvaluation",
        "summary": "Submit AI Evaluation",
        "description": "Submit content for AI-assisted evaluation including groundedness, relevance, coherence, fluency, and safety metrics.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2022-11-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "evaluationType": {
                  "type": "string",
                  "description": "Type of evaluation to perform.",
                  "x-ms-summary": "Evaluation Type",
                  "enum": [
                    "groundedness",
                    "relevance",
                    "coherence",
                    "fluency",
                    "similarity",
                    "hate",
                    "violence",
                    "selfharm",
                    "sexual",
                    "f1",
                    "bleu",
                    "rouge",
                    "gleu",
                    "meteor"
                  ]
                },
                "query": {
                  "type": "string",
                  "description": "The original query or question.",
                  "x-ms-summary": "Query"
                },
                "response": {
                  "type": "string",
                  "description": "The AI response to evaluate.",
                  "x-ms-summary": "Response"
                },
                "context": {
                  "type": "string",
                  "description": "Ground truth or context for evaluating groundedness.",
                  "x-ms-summary": "Context",
                  "x-ms-visibility": "advanced"
                },
                "groundTruth": {
                  "type": "string",
                  "description": "Expected answer for similarity evaluation.",
                  "x-ms-summary": "Ground Truth",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "evaluationType",
                "response"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Evaluation submitted. Use operation ID to get results.",
            "schema": {
              "$ref": "#/definitions/EvaluationSubmitResponse"
            }
          }
        }
      }
    },
    "/evaluation/operations/{operationId}": {
      "get": {
        "operationId": "GetEvaluationResult",
        "summary": "Get Evaluation Result",
        "description": "Get the result of an AI evaluation operation.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The operation ID from the submit response.",
            "x-ms-summary": "Operation ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2022-11-01-preview",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation result.",
            "schema": {
              "$ref": "#/definitions/EvaluationResult"
            }
          }
        }
      }
    },
    "/openai/deployments/{deployment_id}/audio/transcriptions": {
      "post": {
        "operationId": "TranscribeAudio",
        "summary": "Transcribe Audio (Speech-to-Text)",
        "description": "Transcribes audio into the input language. Requires a Whisper model deployment.",
        "x-ms-visibility": "important",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The deployment name of the Whisper model.",
            "x-ms-summary": "Deployment ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-10-21",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The audio file to transcribe (mp3, mp4, mpeg, mpga, m4a, wav, webm).",
            "x-ms-summary": "Audio File"
          },
          {
            "name": "language",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Language of the input audio in ISO-639-1 format (e.g., 'en', 'es', 'fr').",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "prompt",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Optional text to guide the model's style or continue a previous segment.",
            "x-ms-summary": "Prompt",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "response_format",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "text",
              "srt",
              "verbose_json",
              "vtt"
            ],
            "description": "Output format for the transcription.",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "temperature",
            "in": "formData",
            "required": false,
            "type": "number",
            "description": "Sampling temperature (0-1). Default: 0.",
            "x-ms-summary": "Temperature",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcription result.",
            "schema": {
              "$ref": "#/definitions/AudioTranscriptionResponse"
            }
          }
        }
      }
    },
    "/openai/deployments/{deployment_id}/audio/translations": {
      "post": {
        "operationId": "TranslateAudio",
        "summary": "Translate Audio to English",
        "description": "Translates audio into English text. Requires a Whisper model deployment.",
        "x-ms-visibility": "important",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The deployment name of the Whisper model.",
            "x-ms-summary": "Deployment ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-10-21",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The audio file to translate (mp3, mp4, mpeg, mpga, m4a, wav, webm).",
            "x-ms-summary": "Audio File"
          },
          {
            "name": "prompt",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Optional text to guide the model's style. Should be in English.",
            "x-ms-summary": "Prompt",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "response_format",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "text",
              "srt",
              "verbose_json",
              "vtt"
            ],
            "description": "Output format for the translation.",
            "x-ms-summary": "Response Format",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "temperature",
            "in": "formData",
            "required": false,
            "type": "number",
            "description": "Sampling temperature (0-1). Default: 0.",
            "x-ms-summary": "Temperature",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Translation result.",
            "schema": {
              "$ref": "#/definitions/AudioTranscriptionResponse"
            }
          }
        }
      }
    },
    "/translate": {
      "post": {
        "operationId": "TranslateText",
        "summary": "Translate Text",
        "description": "Translates text into one or more languages using Azure Translator.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "3.0",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Target language code(s). Use comma-separated codes for multiple: 'fr,de,es'.",
            "x-ms-summary": "Target Language(s)"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Source language code. If omitted, language is auto-detected.",
            "x-ms-summary": "Source Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "textType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "plain",
              "html"
            ],
            "description": "Type of text being translated.",
            "x-ms-summary": "Text Type",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Text": {
                    "type": "string",
                    "description": "Text to translate (max 10,000 characters per element).",
                    "x-ms-summary": "Text"
                  }
                },
                "required": [
                  "Text"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Translation results.",
            "schema": {
              "$ref": "#/definitions/TranslatorResponse"
            }
          }
        }
      }
    },
    "/transliterate": {
      "post": {
        "operationId": "TransliterateText",
        "summary": "Transliterate Text",
        "description": "Converts text from one script to another (e.g., Japanese Kanji to Latin characters).",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "3.0",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Language of the text (e.g., 'ja' for Japanese, 'ar' for Arabic).",
            "x-ms-summary": "Language"
          },
          {
            "name": "fromScript",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Source script (e.g., 'Jpan' for Japanese, 'Arab' for Arabic).",
            "x-ms-summary": "From Script"
          },
          {
            "name": "toScript",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Target script (e.g., 'Latn' for Latin).",
            "x-ms-summary": "To Script"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Text": {
                    "type": "string",
                    "description": "Text to transliterate.",
                    "x-ms-summary": "Text"
                  }
                },
                "required": [
                  "Text"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transliteration results.",
            "schema": {
              "$ref": "#/definitions/TransliterateResponse"
            }
          }
        }
      }
    },
    "/detect": {
      "post": {
        "operationId": "DetectLanguageTranslator",
        "summary": "Detect Language (Translator)",
        "description": "Detects the language of the input text using Azure Translator.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "3.0",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Text": {
                    "type": "string",
                    "description": "Text to detect language for.",
                    "x-ms-summary": "Text"
                  }
                },
                "required": [
                  "Text"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Language detection results.",
            "schema": {
              "$ref": "#/definitions/DetectLanguageResponse"
            }
          }
        }
      }
    },
    "/language/:analyze-text": {
      "post": {
        "operationId": "AnalyzeTextLanguage",
        "summary": "Analyze Text (Language)",
        "description": "Analyze text for sentiment, entities, key phrases, PII, and more using Azure Language service.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-11-01",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Type of analysis to perform.",
                  "x-ms-summary": "Analysis Kind",
                  "enum": [
                    "SentimentAnalysis",
                    "EntityRecognition",
                    "KeyPhraseExtraction",
                    "LanguageDetection",
                    "PiiEntityRecognition",
                    "EntityLinking"
                  ]
                },
                "analysisInput": {
                  "type": "object",
                  "description": "Input documents to analyze.",
                  "x-ms-summary": "Analysis Input",
                  "properties": {
                    "documents": {
                      "type": "array",
                      "description": "Documents to analyze.",
                      "x-ms-summary": "Documents",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique document identifier.",
                            "x-ms-summary": "ID"
                          },
                          "text": {
                            "type": "string",
                            "description": "Document text to analyze.",
                            "x-ms-summary": "Text"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language code (e.g., 'en'). Optional if using language detection.",
                            "x-ms-summary": "Language"
                          }
                        },
                        "required": [
                          "id",
                          "text"
                        ]
                      }
                    }
                  }
                },
                "parameters": {
                  "type": "object",
                  "description": "Optional analysis parameters.",
                  "x-ms-summary": "Parameters",
                  "x-ms-visibility": "advanced",
                  "properties": {
                    "modelVersion": {
                      "type": "string",
                      "description": "Model version to use (e.g., 'latest').",
                      "x-ms-summary": "Model Version"
                    },
                    "opinionMining": {
                      "type": "boolean",
                      "description": "Enable opinion mining (for sentiment analysis).",
                      "x-ms-summary": "Opinion Mining"
                    }
                  }
                }
              },
              "required": [
                "kind",
                "analysisInput"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Text analysis results.",
            "schema": {
              "$ref": "#/definitions/LanguageAnalysisResponse"
            }
          }
        }
      }
    },
    "/documentintelligence/documentModels/{modelId}:analyze": {
      "post": {
        "operationId": "AnalyzeDocument",
        "summary": "Analyze Document",
        "description": "Analyze documents using Document Intelligence prebuilt or custom models. Returns operation ID for async results.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Model ID to use (e.g., 'prebuilt-layout', 'prebuilt-invoice', 'prebuilt-receipt', 'prebuilt-read').",
            "x-ms-summary": "Model ID",
            "enum": [
              "prebuilt-read",
              "prebuilt-layout",
              "prebuilt-invoice",
              "prebuilt-receipt",
              "prebuilt-idDocument",
              "prebuilt-businessCard",
              "prebuilt-tax.us.w2"
            ]
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-11-30",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "features",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Additional features: 'ocr.highResolution', 'ocr.formula', 'ocr.font', 'queryFields.premium' (comma-separated).",
            "x-ms-summary": "Features",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "urlSource": {
                  "type": "string",
                  "description": "URL of the document to analyze.",
                  "x-ms-summary": "Document URL"
                },
                "base64Source": {
                  "type": "string",
                  "description": "Base64-encoded document content.",
                  "x-ms-summary": "Base64 Document",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Analysis operation started.",
            "headers": {
              "Operation-Location": {
                "type": "string",
                "description": "URL to poll for results."
              }
            },
            "schema": {
              "$ref": "#/definitions/DocumentAnalysisStartResponse"
            }
          }
        }
      }
    },
    "/documentintelligence/documentModels/{modelId}/analyzeResults/{resultId}": {
      "get": {
        "operationId": "GetDocumentAnalysisResult",
        "summary": "Get Document Analysis Result",
        "description": "Get the result of a document analysis operation.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Model ID used for analysis.",
            "x-ms-summary": "Model ID"
          },
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Result ID from the analyze operation.",
            "x-ms-summary": "Result ID"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024-11-30",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Document analysis result.",
            "schema": {
              "$ref": "#/definitions/DocumentAnalysisResult"
            }
          }
        }
      }
    },
    "/language/:query-knowledgebases": {
      "post": {
        "operationId": "QueryKnowledgeBase",
        "summary": "Query Knowledge Base",
        "description": "Answer questions using a custom question answering knowledge base. Provide a question and get the best matching answers from your project.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectName",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Name",
            "description": "The name of your custom question answering project."
          },
          {
            "name": "deploymentName",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Deployment Name",
            "description": "The deployment name (e.g., 'production' or 'test').",
            "enum": [
              "production",
              "test"
            ]
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2021-10-01",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string",
                  "description": "The question to ask the knowledge base.",
                  "x-ms-summary": "Question"
                },
                "top": {
                  "type": "integer",
                  "description": "Maximum number of answers to return.",
                  "x-ms-summary": "Top Answers",
                  "x-ms-visibility": "advanced",
                  "default": 3
                },
                "confidenceScoreThreshold": {
                  "type": "number",
                  "description": "Minimum confidence score (0-1) for answers.",
                  "x-ms-summary": "Confidence Threshold",
                  "x-ms-visibility": "advanced"
                },
                "includeUnstructuredSources": {
                  "type": "boolean",
                  "description": "Include answers from unstructured content.",
                  "x-ms-summary": "Include Unstructured",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "question"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question answering response with matching answers.",
            "schema": {
              "$ref": "#/definitions/QuestionAnsweringResponse"
            }
          }
        }
      }
    },
    "/language/:analyze-conversations": {
      "post": {
        "operationId": "AnalyzeConversation",
        "summary": "Analyze Conversation (CLU)",
        "description": "Analyze user utterances using Conversational Language Understanding to detect intents and extract entities.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2023-04-01",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Type of conversation analysis.",
                  "x-ms-summary": "Kind",
                  "enum": [
                    "Conversation"
                  ],
                  "default": "Conversation"
                },
                "analysisInput": {
                  "type": "object",
                  "description": "The conversation input to analyze.",
                  "x-ms-summary": "Analysis Input",
                  "properties": {
                    "conversationItem": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique ID for this conversation item.",
                          "x-ms-summary": "Item ID"
                        },
                        "text": {
                          "type": "string",
                          "description": "The user utterance to analyze.",
                          "x-ms-summary": "User Text"
                        },
                        "participantId": {
                          "type": "string",
                          "description": "ID of the participant.",
                          "x-ms-summary": "Participant ID"
                        },
                        "language": {
                          "type": "string",
                          "description": "Language code (e.g., 'en').",
                          "x-ms-summary": "Language",
                          "default": "en"
                        }
                      },
                      "required": [
                        "id",
                        "text",
                        "participantId"
                      ]
                    }
                  }
                },
                "parameters": {
                  "type": "object",
                  "description": "CLU parameters.",
                  "x-ms-summary": "Parameters",
                  "properties": {
                    "projectName": {
                      "type": "string",
                      "description": "Name of your CLU project.",
                      "x-ms-summary": "Project Name"
                    },
                    "deploymentName": {
                      "type": "string",
                      "description": "Deployment name (e.g., 'production').",
                      "x-ms-summary": "Deployment Name"
                    },
                    "verbose": {
                      "type": "boolean",
                      "description": "Return detailed predictions.",
                      "x-ms-summary": "Verbose",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "required": [
                    "projectName",
                    "deploymentName"
                  ]
                }
              },
              "required": [
                "kind",
                "analysisInput",
                "parameters"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation analysis result with intents and entities.",
            "schema": {
              "$ref": "#/definitions/ConversationAnalysisResponse"
            }
          }
        }
      }
    },
    "/anomalydetector/timeseries/last/detect": {
      "post": {
        "operationId": "DetectLastAnomaly",
        "summary": "Detect Last Point Anomaly",
        "description": "Detect if the latest point in a time series is an anomaly. Ideal for real-time monitoring scenarios.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "v1.1",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "series": {
                  "type": "array",
                  "description": "Time series data points with timestamps and values.",
                  "x-ms-summary": "Series Data",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "string",
                        "description": "ISO 8601 timestamp.",
                        "x-ms-summary": "Timestamp"
                      },
                      "value": {
                        "type": "number",
                        "description": "Data point value.",
                        "x-ms-summary": "Value"
                      }
                    },
                    "required": [
                      "timestamp",
                      "value"
                    ]
                  }
                },
                "granularity": {
                  "type": "string",
                  "description": "Time granularity of the data.",
                  "x-ms-summary": "Granularity",
                  "enum": [
                    "yearly",
                    "monthly",
                    "weekly",
                    "daily",
                    "hourly",
                    "minutely",
                    "secondly",
                    "microsecond",
                    "none"
                  ]
                },
                "customInterval": {
                  "type": "integer",
                  "description": "Custom interval if granularity is 'none'.",
                  "x-ms-summary": "Custom Interval",
                  "x-ms-visibility": "advanced"
                },
                "sensitivity": {
                  "type": "integer",
                  "description": "Anomaly detection sensitivity (0-99). Lower = more sensitive.",
                  "x-ms-summary": "Sensitivity",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "series",
                "granularity"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anomaly detection result for the last point.",
            "schema": {
              "$ref": "#/definitions/AnomalyLastPointResponse"
            }
          }
        }
      }
    },
    "/anomalydetector/timeseries/entire/detect": {
      "post": {
        "operationId": "DetectEntireSeriesAnomalies",
        "summary": "Detect Anomalies in Entire Series",
        "description": "Detect anomalies across an entire time series. Best for batch analysis of historical data.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "v1.1",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "series": {
                  "type": "array",
                  "description": "Time series data points with timestamps and values.",
                  "x-ms-summary": "Series Data",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "string",
                        "description": "ISO 8601 timestamp.",
                        "x-ms-summary": "Timestamp"
                      },
                      "value": {
                        "type": "number",
                        "description": "Data point value.",
                        "x-ms-summary": "Value"
                      }
                    },
                    "required": [
                      "timestamp",
                      "value"
                    ]
                  }
                },
                "granularity": {
                  "type": "string",
                  "description": "Time granularity of the data.",
                  "x-ms-summary": "Granularity",
                  "enum": [
                    "yearly",
                    "monthly",
                    "weekly",
                    "daily",
                    "hourly",
                    "minutely",
                    "secondly",
                    "microsecond",
                    "none"
                  ]
                },
                "sensitivity": {
                  "type": "integer",
                  "description": "Anomaly detection sensitivity (0-99). Lower = more sensitive.",
                  "x-ms-summary": "Sensitivity",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "series",
                "granularity"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anomaly detection results for entire series.",
            "schema": {
              "$ref": "#/definitions/AnomalyEntireSeriesResponse"
            }
          }
        }
      }
    },
    "/face/detect": {
      "post": {
        "operationId": "DetectFaces",
        "summary": "Detect Faces",
        "description": "Detect human faces in an image and return face locations. Optionally analyze face attributes like age, emotion, glasses, etc.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "v1.0",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "returnFaceAttributes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated face attributes to return.",
            "x-ms-summary": "Face Attributes",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "returnFaceLandmarks",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return face landmarks (eyes, nose, mouth positions).",
            "x-ms-summary": "Return Landmarks",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "detectionModel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Detection model to use.",
            "x-ms-summary": "Detection Model",
            "x-ms-visibility": "advanced",
            "enum": [
              "detection_01",
              "detection_02",
              "detection_03"
            ]
          },
          {
            "name": "recognitionModel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Recognition model for face identification.",
            "x-ms-summary": "Recognition Model",
            "x-ms-visibility": "advanced",
            "enum": [
              "recognition_01",
              "recognition_02",
              "recognition_03",
              "recognition_04"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "URL of the image to analyze.",
                  "x-ms-summary": "Image URL"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detected faces with locations and optional attributes.",
            "schema": {
              "$ref": "#/definitions/FaceDetectionResponse"
            }
          }
        }
      }
    },
    "/language/analyze-text/jobs": {
      "post": {
        "operationId": "AnalyzeTextHealthcare",
        "summary": "Analyze Health Text",
        "description": "Extract healthcare entities from clinical text including conditions, medications, dosages, and relationships between them.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2023-04-01",
            "x-ms-visibility": "internal",
            "x-ms-summary": "API Version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "Name for this analysis job.",
                  "x-ms-summary": "Job Name",
                  "x-ms-visibility": "advanced"
                },
                "analysisInput": {
                  "type": "object",
                  "description": "Documents to analyze.",
                  "x-ms-summary": "Analysis Input",
                  "properties": {
                    "documents": {
                      "type": "array",
                      "description": "Array of documents to analyze.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique document ID.",
                            "x-ms-summary": "Document ID"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language code.",
                            "x-ms-summary": "Language",
                            "default": "en"
                          },
                          "text": {
                            "type": "string",
                            "description": "Clinical text to analyze.",
                            "x-ms-summary": "Text"
                          }
                        },
                        "required": [
                          "id",
                          "text"
                        ]
                      }
                    }
                  }
                },
                "tasks": {
                  "type": "array",
                  "description": "Analysis tasks to perform.",
[...]
