{
    "swagger": "2.0",
    "info": {
        "title": "Gong",
        "description": "Connector for the Gong Revenue Intelligence platform. Manage calls, users, stats, meetings, CRM data, permissions, engagement, and more.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "api.gong.io",
    "basePath": "/v2",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/calls": {
            "get": {
                "operationId": "ListCalls",
                "summary": "List Calls",
                "description": "Retrieve call data by date range.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "fromDateTime",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Start date and time (ISO 8601).",
                        "x-ms-summary": "From Date"
                    },
                    {
                        "name": "toDateTime",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "End date and time (ISO 8601).",
                        "x-ms-summary": "To Date"
                    },
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "type": "string",
                        "description": "Optional workspace ID to filter calls.",
                        "x-ms-summary": "Workspace ID",
                        "x-ms-visibility": "advanced"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "type": "string",
                        "description": "Cursor for pagination.",
                        "x-ms-summary": "Cursor",
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of calls",
                        "schema": {
                            "$ref": "#/definitions/CallsResponse"
                        }
                    }
                }
            },
            "post": {
                "operationId": "AddCall",
                "summary": "Add Call",
                "description": "Add a new call to Gong. After adding, upload the media using Add Call Recording.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "actualStart",
                                "primaryUser",
                                "parties"
                            ],
                            "properties": {
                                "clientUniqueId": {
                                    "type": "string",
                                    "description": "A unique identifier for the call in your system.",
                                    "x-ms-summary": "Client Unique ID"
                                },
                                "actualStart": {
                                    "type": "string",
                                    "description": "Actual start time of the call (ISO 8601).",
                                    "x-ms-summary": "Actual Start"
                                },
                                "direction": {
                                    "type": "string",
                                    "description": "Call direction.",
                                    "x-ms-summary": "Direction",
                                    "enum": [
                                        "Inbound",
                                        "Outbound",
                                        "Conference",
                                        "Unknown"
                                    ]
                                },
                                "duration": {
                                    "type": "number",
                                    "description": "Call duration in seconds.",
                                    "x-ms-summary": "Duration"
                                },
                                "title": {
                                    "type": "string",
                                    "description": "Call title.",
                                    "x-ms-summary": "Title"
                                },
                                "primaryUser": {
                                    "type": "string",
                                    "description": "Email address of the primary user (host).",
                                    "x-ms-summary": "Primary User Email"
                                },
                                "parties": {
                                    "type": "array",
                                    "description": "List of call participants.",
                                    "x-ms-summary": "Parties",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "emailAddress": {
                                                "type": "string",
                                                "description": "Participant email.",
                                                "x-ms-summary": "Email"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Participant name.",
                                                "x-ms-summary": "Name"
                                            },
                                            "phoneNumber": {
                                                "type": "string",
                                                "description": "Participant phone number.",
                                                "x-ms-summary": "Phone Number"
                                            }
                                        }
                                    }
                                },
                                "meetingUrl": {
                                    "type": "string",
                                    "description": "Meeting URL.",
                                    "x-ms-summary": "Meeting URL",
                                    "x-ms-visibility": "advanced"
                                },
                                "scheduledStart": {
                                    "type": "string",
                                    "description": "Scheduled start time (ISO 8601).",
                                    "x-ms-summary": "Scheduled Start",
                                    "x-ms-visibility": "advanced"
                                },
                                "scheduledEnd": {
                                    "type": "string",
                                    "description": "Scheduled end time (ISO 8601).",
                                    "x-ms-summary": "Scheduled End",
                                    "x-ms-visibility": "advanced"
                                },
                                "language": {
                                    "type": "string",
                                    "description": "Language of the call.",
                                    "x-ms-summary": "Language",
                                    "x-ms-visibility": "advanced"
                                },
                                "workspaceId": {
                                    "type": "string",
                                    "description": "Workspace ID for the call.",
                                    "x-ms-summary": "Workspace ID",
                                    "x-ms-visibility": "advanced"
                                },
                                "downloadMediaUrl": {
                                    "type": "string",
                                    "description": "URL to download the media file.",
                                    "x-ms-summary": "Download Media URL",
                                    "x-ms-visibility": "advanced"
                                },
                                "disposition": {
                                    "type": "string",
                                    "description": "Call disposition.",
                                    "x-ms-summary": "Disposition",
                                    "x-ms-visibility": "advanced"
                                },
                                "customData": {
                                    "type": "string",
                                    "description": "Custom metadata as a string.",
                                    "x-ms-summary": "Custom Data",
                                    "x-ms-visibility": "advanced"
                                },
                                "callProviderCode": {
                                    "type": "string",
                                    "description": "Telephony provider identifier.",
                                    "x-ms-summary": "Provider Code",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Call created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "callId": {
                                    "type": "string",
                                    "description": "The ID of the newly created call."
                                },
                                "url": {
                                    "type": "string",
                                    "description": "URL to the call in Gong."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{id}": {
            "get": {
                "operationId": "GetCall",
                "summary": "Get Call",
                "description": "Retrieve data for a specific call.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "The call ID.",
                        "x-ms-summary": "Call ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Call data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "call": {
                                    "$ref": "#/definitions/CallBasic"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{id}/media": {
            "put": {
                "operationId": "AddCallRecording",
                "summary": "Add Call Recording",
                "description": "Upload a media file for a call. The call must have been created first using Add Call.",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "Call ID returned from Add Call.",
                        "x-ms-summary": "Call ID"
                    },
                    {
                        "name": "mediaFile",
                        "in": "formData",
                        "type": "file",
                        "required": true,
                        "description": "The media file to upload (audio or video).",
                        "x-ms-summary": "Media File"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recording uploaded",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "callId": {
                                    "type": "string"
                                },
                                "url": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/extensive": {
            "post": {
                "operationId": "GetCallsExtensive",
                "summary": "Get Calls Extensive",
                "description": "Retrieve detailed call data with content, interaction stats, and collaboration for specific calls.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "filter"
                            ],
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "callIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "List of call IDs to retrieve.",
                                            "x-ms-summary": "Call IDs"
                                        },
                                        "fromDateTime": {
                                            "type": "string",
                                            "description": "Start date and time (ISO 8601).",
                                            "x-ms-summary": "From Date"
                                        },
                                        "toDateTime": {
                                            "type": "string",
                                            "description": "End date and time (ISO 8601).",
                                            "x-ms-summary": "To Date"
                                        },
                                        "workspaceId": {
                                            "type": "string",
                                            "description": "Workspace ID to filter.",
                                            "x-ms-summary": "Workspace ID",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "contentSelector": {
                                    "type": "object",
                                    "description": "Controls which content fields to include.",
                                    "x-ms-summary": "Content Selector",
                                    "x-ms-visibility": "advanced",
                                    "properties": {
                                        "exposedFields": {
                                            "type": "object",
                                            "properties": {
                                                "content": {
                                                    "type": "object",
                                                    "properties": {
                                                        "topics": {
                                                            "type": "boolean"
                                                        },
                                                        "trackers": {
                                                            "type": "boolean"
                                                        },
                                                        "brief": {
                                                            "type": "boolean"
                                                        },
                                                        "outline": {
                                                            "type": "boolean"
                                                        },
                                                        "highlights": {
                                                            "type": "boolean"
                                                        },
                                                        "callOutcome": {
                                                            "type": "boolean"
                                                        },
                                                        "keyPoints": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "interaction": {
                                                    "type": "object",
                                                    "properties": {
                                                        "interactivity": {
                                                            "type": "boolean"
                                                        },
                                                        "talkRatio": {
                                                            "type": "boolean"
                                                        },
                                                        "longestMonologue": {
                                                            "type": "boolean"
                                                        },
                                                        "patience": {
                                                            "type": "boolean"
                                                        },
                                                        "questionRate": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "collaboration": {
                                                    "type": "object",
                                                    "properties": {
                                                        "publicComments": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "media": {
                                                    "type": "object",
                                                    "properties": {
                                                        "audioUrl": {
                                                            "type": "boolean"
                                                        },
                                                        "videoUrl": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "parties": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Extensive call data",
                        "schema": {
                            "$ref": "#/definitions/CallsExtensiveResponse"
                        }
                    }
                }
            }
        },
        "/calls/transcript": {
            "post": {
                "operationId": "GetCallTranscripts",
                "summary": "Get Call Transcripts",
                "description": "Retrieve transcripts for specified calls.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "filter"
                            ],
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "callIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "List of call IDs.",
                                            "x-ms-summary": "Call IDs"
                                        },
                                        "fromDateTime": {
                                            "type": "string",
                                            "description": "Start date and time (ISO 8601).",
                                            "x-ms-summary": "From Date"
                                        },
                                        "toDateTime": {
                                            "type": "string",
                                            "description": "End date and time (ISO 8601).",
                                            "x-ms-summary": "To Date"
                                        },
                                        "workspaceId": {
                                            "type": "string",
                                            "description": "Workspace ID.",
                                            "x-ms-summary": "Workspace ID",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Call transcripts",
                        "schema": {
                            "$ref": "#/definitions/TranscriptsResponse"
                        }
                    }
                }
            }
        },
        "/calls/users-access": {
            "put": {
                "operationId": "GiveUsersAccessToCalls",
                "summary": "Give Users Access to Calls",
                "description": "Give specific users access to calls.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "callAccessList"
                            ],
                            "properties": {
                                "callAccessList": {
                                    "type": "array",
                                    "description": "List of call access grants.",
                                    "x-ms-summary": "Call Access List",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "callId": {
                                                "type": "string",
                                                "description": "Call ID.",
                                                "x-ms-summary": "Call ID"
                                            },
                                            "userIds": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "User IDs to grant access.",
                                                "x-ms-summary": "User IDs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access granted",
                        "schema": {
                            "$ref": "#/definitions/BaseResponse"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "RemoveUsersAccessFromCalls",
                "summary": "Remove Users Access from Calls",
                "description": "Remove specific users' access from calls.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "callAccessList"
                            ],
                            "properties": {
                                "callAccessList": {
                                    "type": "array",
                                    "description": "List of call access removals.",
                                    "x-ms-summary": "Call Access List",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "callId": {
                                                "type": "string",
                                                "description": "Call ID.",
                                                "x-ms-summary": "Call ID"
                                            },
                                            "userIds": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "description": "User IDs to remove access.",
                                                "x-ms-summary": "User IDs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Access removed",
                        "schema": {
                            "$ref": "#/definitions/BaseResponse"
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "operationId": "ListUsers",
                "summary": "List Users",
                "description": "Retrieve a list of all users in the Gong account.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "type": "string",
                        "description": "Cursor for pagination.",
                        "x-ms-summary": "Cursor",
                        "x-ms-visibility": "advanced"
                    },
                    {
                        "name": "includeAvatars",
                        "in": "query",
                        "type": "boolean",
                        "description": "Whether to include avatar URLs.",
                        "x-ms-summary": "Include Avatars",
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of users",
                        "schema": {
                            "$ref": "#/definitions/UsersResponse"
                        }
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "operationId": "GetUser",
                "summary": "Get User",
                "description": "Retrieve data for a specific user by ID.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "The user ID.",
                        "x-ms-summary": "User ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User data",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "user": {
                                    "$ref": "#/definitions/UserBasic"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{id}/settings-history": {
            "get": {
                "operationId": "GetUserSettingsHistory",
                "summary": "Get User Settings History",
                "description": "Retrieve the settings change history for a specific user.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "The user ID.",
                        "x-ms-summary": "User ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User settings history",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "userHistoryRecords": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "changedWhen": {
                                                "type": "string",
                                                "description": "When the change occurred."
                                            },
                                            "changedByUserId": {
                                                "type": "string",
                                                "description": "Who made the change."
                                            },
                                            "setting": {
                                                "type": "string",
                                                "description": "The setting that changed."
                                            },
                                            "previousValue": {
                                                "type": "string",
                                                "description": "Previous value."
                                            },
                                            "newValue": {
                                                "type": "string",
                                                "description": "New value."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/extensive": {
            "post": {
                "operationId": "GetUsersExtensive",
                "summary": "Get Users Extensive",
                "description": "Retrieve extensive user data for specific users or the entire account.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "properties": {
                                        "userIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Optional list of user IDs to filter.",
                                            "x-ms-summary": "User IDs"
                                        },
                                        "createdFromDateTime": {
                                            "type": "string",
                                            "description": "Filter users created from this date (ISO 8601).",
                                            "x-ms-summary": "Created From Date",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "createdToDateTime": {
                                            "type": "string",
                                            "description": "Filter users created to this date (ISO 8601).",
                                            "x-ms-summary": "Created To Date",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Extensive user data",
                        "schema": {
                            "$ref": "#/definitions/UsersExtensiveResponse"
                        }
                    }
                }
            }
        },
        "/stats/activity/scorecards": {
            "post": {
                "operationId": "GetScorecardStats",
                "summary": "Get Scorecard Stats",
                "description": "Retrieve scorecard statistics for calls within a date range.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "filter"
                            ],
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "required": [
                                        "fromDateTime",
                                        "toDateTime"
                                    ],
                                    "properties": {
                                        "fromDateTime": {
                                            "type": "string",
                                            "description": "Start date and time (ISO 8601).",
                                            "x-ms-summary": "From Date"
                                        },
                                        "toDateTime": {
                                            "type": "string",
                                            "description": "End date and time (ISO 8601).",
                                            "x-ms-summary": "To Date"
                                        },
                                        "callIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Optional call IDs.",
                                            "x-ms-summary": "Call IDs",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "scorecardIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Optional scorecard IDs.",
                                            "x-ms-summary": "Scorecard IDs",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Scorecard stats",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "records": {
                                    "$ref": "#/definitions/Records"
                                },
                                "scorecardStats": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "callId": {
                                                "type": "string"
                                            },
                                            "callStartTime": {
                                                "type": "string"
                                            },
                                            "reviewedUserId": {
                                                "type": "string"
                                            },
                                            "reviewerUserId": {
                                                "type": "string"
                                            },
                                            "scorecardId": {
                                                "type": "string"
                                            },
                                            "scorecardName": {
                                                "type": "string"
                                            },
                                            "overallScore": {
                                                "type": "number"
                                            },
                                            "answers": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "questionId": {
                                                            "type": "string"
                                                        },
                                                        "questionText": {
                                                            "type": "string"
                                                        },
                                                        "isOverall": {
                                                            "type": "boolean"
                                                        },
                                                        "answerText": {
                                                            "type": "string"
                                                        },
                                                        "score": {
                                                            "type": "number"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/stats/activity/day-by-day": {
            "post": {
                "operationId": "GetActivityDayByDay",
                "summary": "Get Activity Day by Day",
                "description": "Retrieve day-by-day activity statistics for users.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "filter"
                            ],
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "required": [
                                        "fromDateTime",
                                        "toDateTime"
                                    ],
                                    "properties": {
                                        "fromDateTime": {
                                            "type": "string",
                                            "description": "Start date and time (ISO 8601).",
                                            "x-ms-summary": "From Date"
                                        },
                                        "toDateTime": {
                                            "type": "string",
                                            "description": "End date and time (ISO 8601).",
                                            "x-ms-summary": "To Date"
                                        },
                                        "userIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Optional user IDs.",
                                            "x-ms-summary": "User IDs",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Day-by-day activity stats",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "records": {
                                    "$ref": "#/definitions/Records"
                                },
                                "daysActivity": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "day": {
                                                "type": "string"
                                            },
                                            "callsAsHost": {
                                                "type": "integer"
                                            },
                                            "callsAttended": {
                                                "type": "integer"
                                            },
                                            "callsGaveFeedback": {
                                                "type": "integer"
                                            },
                                            "callsReceivedFeedback": {
                                                "type": "integer"
                                            },
                                            "callsRequestedFeedback": {
                                                "type": "integer"
                                            },
                                            "callsMarkedAsFeedbackGiven": {
                                                "type": "integer"
                                            },
                                            "callsListenedTo": {
                                                "type": "integer"
                                            },
                                            "callsSharedInternally": {
                                                "type": "integer"
                                            },
                                            "callsSharedExternally": {
                                                "type": "integer"
                                            },
                                            "callsScoredByUser": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/stats/activity/aggregate": {
            "post": {
                "operationId": "GetAggregateActivity",
                "summary": "Get Aggregate Activity",
                "description": "Retrieve aggregated activity statistics for multiple users across a date range.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "filter"
                            ],
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "required": [
                                        "fromDateTime",
                                        "toDateTime"
                                    ],
                                    "properties": {
                                        "fromDateTime": {
                                            "type": "string",
                                            "description": "Start date and time (ISO 8601).",
                                            "x-ms-summary": "From Date"
                                        },
                                        "toDateTime": {
                                            "type": "string",
                                            "description": "End date and time (ISO 8601).",
                                            "x-ms-summary": "To Date"
                                        },
                                        "userIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Optional user IDs.",
                                            "x-ms-summary": "User IDs",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aggregate activity stats",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "records": {
                                    "$ref": "#/definitions/Records"
                                },
                                "usersAggregateActivity": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "callsAsHost": {
                                                "type": "integer"
                                            },
                                            "callsAttended": {
                                                "type": "integer"
                                            },
                                            "callsGaveFeedback": {
                                                "type": "integer"
                                            },
                                            "callsReceivedFeedback": {
                                                "type": "integer"
                                            },
                                            "callsRequestedFeedback": {
                                                "type": "integer"
                                            },
                                            "callsListenedTo": {
                                                "type": "integer"
                                            },
                                            "callsSharedInternally": {
                                                "type": "integer"
                                            },
                                            "callsSharedExternally": {
                                                "type": "integer"
                                            },
                                            "callsScoredByUser": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/stats/activity/aggregate-by-period": {
            "post": {
                "operationId": "GetAggregateActivityByPeriod",
                "summary": "Get Aggregate Activity by Period",
                "description": "Retrieve aggregated activity statistics for multiple users broken down by time period.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "filter"
                            ],
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "required": [
                                        "fromDateTime",
                                        "toDateTime"
                                    ],
                                    "properties": {
                                        "fromDateTime": {
                                            "type": "string",
                                            "description": "Start date and time (ISO 8601).",
                                            "x-ms-summary": "From Date"
                                        },
                                        "toDateTime": {
                                            "type": "string",
                                            "description": "End date and time (ISO 8601).",
                                            "x-ms-summary": "To Date"
                                        },
                                        "userIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Optional user IDs.",
                                            "x-ms-summary": "User IDs",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "aggregateBy": {
                                    "type": "string",
                                    "description": "Time period to aggregate by.",
                                    "x-ms-summary": "Aggregate By",
                                    "enum": [
                                        "Week",
                                        "Month",
                                        "Quarter"
                                    ]
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Aggregate activity by period",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "records": {
                                    "$ref": "#/definitions/Records"
                                },
                                "usersAggregateActivityByPeriod": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "periodStartDate": {
                                                "type": "string"
                                            },
                                            "periodEndDate": {
                                                "type": "string"
                                            },
                                            "callsAsHost": {
                                                "type": "integer"
                                            },
                                            "callsAttended": {
                                                "type": "integer"
                                            },
                                            "callsGaveFeedback": {
                                                "type": "integer"
                                            },
                                            "callsReceivedFeedback": {
                                                "type": "integer"
                                            },
                                            "callsListenedTo": {
                                                "type": "integer"
                                            },
                                            "callsSharedInternally": {
                                                "type": "integer"
                                            },
                                            "callsSharedExternally": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/stats/interaction": {
            "post": {
                "operationId": "GetInteractionStats",
                "summary": "Get Interaction Stats",
                "description": "Retrieve interaction statistics (talk ratio, interactivity, etc.) for calls.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "filter"
                            ],
                            "properties": {
                                "filter": {
                                    "type": "object",
                                    "required": [
                                        "fromDateTime",
                                        "toDateTime"
                                    ],
                                    "properties": {
                                        "fromDateTime": {
                                            "type": "string",
                                            "description": "Start date and time (ISO 8601).",
                                            "x-ms-summary": "From Date"
                                        },
                                        "toDateTime": {
                                            "type": "string",
                                            "description": "End date and time (ISO 8601).",
                                            "x-ms-summary": "To Date"
                                        },
                                        "callIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "description": "Optional call IDs.",
                                            "x-ms-summary": "Call IDs",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                },
                                "cursor": {
                                    "type": "string",
                                    "description": "Cursor for pagination.",
                                    "x-ms-summary": "Cursor",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Interaction statistics",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "records": {
                                    "$ref": "#/definitions/Records"
                                },
                                "interactionStats": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "callId": {
                                                "type": "string"
                                            },
                                            "talkRatio": {
                                                "type": "number"
                                            },
                                            "longestMonologue": {
                                                "type": "number"
                                            },
                                            "interactivity": {
                                                "type": "number"
                                            },
                                            "patience": {
                                                "type": "number"
                                            },
                                            "questionRate": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings/scorecards": {
            "get": {
                "operationId": "ListScorecards",
                "summary": "List Scorecards",
                "description": "Retrieve a list of all configured scorecards.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of scorecards",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "scorecards": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "scorecardId": {
                                                "type": "string"
                                            },
                                            "scorecardName": {
                                                "type": "string"
                                            },
                                            "enabled": {
                                                "type": "boolean"
                                            },
                                            "updatedAt": {
                                                "type": "string"
                                            },
                                            "questions": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "questionId": {
                                                            "type": "string"
                                                        },
                                                        "questionText": {
                                                            "type": "string"
                                                        },
                                                        "questionRevision": {
                                                            "type": "integer"
                                                        },
                                                        "isOverall": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces": {
            "get": {
                "operationId": "ListWorkspaces",
                "summary": "List Workspaces",
                "description": "Retrieve a list of all workspaces in the Gong account.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of workspaces",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "workspaces": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/library/folders": {
            "get": {
                "operationId": "ListLibraryFolders",
                "summary": "List Library Folders",
                "description": "Retrieve a list of all library folders.",
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "type": "string",
                        "description": "Optional workspace ID to filter folders.",
                        "x-ms-summary": "Workspace ID",
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of library folders",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "folders": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "folderId": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "creatorUserId": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/library/folder-content": {
            "get": {
                "operationId": "GetLibraryFolderContent",
                "summary": "Get Library Folder Content",
                "description": "Retrieve the content of a specific library folder.",
                "parameters": [
                    {
                        "name": "folderId",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The ID of the library folder.",
                        "x-ms-summary": "Folder ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Library folder content",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "calls": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "callId": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "started": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings": {
            "post": {
                "operationId": "CreateMeeting",
                "summary": "Create Meeting",
                "description": "Create a new meeting in Gong (Beta).",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "organizerEmail",
                                "scheduledStart",
                                "scheduledEnd"
                            ],
                            "properties": {
                                "title": {
                                    "type": "string",
                                    "description": "Meeting title.",
                                    "x-ms-summary": "Title"
                                },
                                "organizerEmail": {
                                    "type": "string",
                                    "description": "Email of the meeting organizer.",
                                    "x-ms-summary": "Organizer Email"
                                },
                                "scheduledStart": {
                                    "type": "string",
                                    "description": "Scheduled start time (ISO 8601).",
                                    "x-ms-summary": "Start Time"
                                },
                                "scheduledEnd": {
                                    "type": "string",
                                    "description": "Scheduled end time (ISO 8601).",
                                    "x-ms-summary": "End Time"
                                },
                                "externalMeetingId": {
                                    "type": "string",
                                    "description": "External meeting identifier.",
                                    "x-ms-summary": "External Meeting ID",
                                    "x-ms-visibility": "advanced"
                                },
                                "meetingUrl": {
                                    "type": "string",
                                    "description": "URL of the meeting.",
                                    "x-ms-summary": "Meeting URL",
                                    "x-ms-visibility": "advanced"
                                },
                                "invitees": {
                                    "type": "array",
                                    "description": "List of invitees.",
                                    "x-ms-summary": "Invitees",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "description": "Invitee email.",
                                                "x-ms-summary": "Email"
                                            },
                                            "displayName": {
                                                "type": "string",
                                                "description": "Invitee display name.",
                                                "x-ms-summary": "Display Name"
                                            }
                                        }
                                    }
                                },
                                "workspaceId": {
                                    "type": "string",
                                    "description": "Workspace ID.",
                                    "x-ms-summary": "Workspace ID",
                                    "x-ms-visibility": "advanced"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Meeting created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "meetingId": {
                                    "type": "string",
                                    "description": "The ID of the newly created meeting."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meetings/{meetingId}": {
            "put": {
                "operationId": "UpdateMeeting",
                "summary": "Update Meeting",
                "description": "Update an existing meeting in Gong (Beta).",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "The meeting ID.",
                        "x-ms-summary": "Meeting ID"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string",
                                    "description": "Meeting title.",
                                    "x-ms-summary": "Title"
                                },
                                "scheduledStart": {
                                    "type": "string",
                                    "description": "Scheduled start time (ISO 8601).",
                                    "x-ms-summary": "Start Time"
                                },
                                "scheduledEnd": {
                                    "type": "string",
                                    "description": "Scheduled end time (ISO 8601).",
                                    "x-ms-summary": "End Time"
                                },
                                "meetingUrl": {
                                    "type": "string",
                                    "description": "URL of the meeting.",
                                    "x-ms-summary": "Meeting URL",
                                    "x-ms-visibility": "advanced"
                                },
                                "invitees": {
                                    "type": "array",
                                    "description": "Updated list of invitees.",
                                    "x-ms-summary": "Invitees",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "description": "Invitee email.",
                                                "x-ms-summary": "Email"
                                            },
                                            "displayName": {
                                                "type": "string",
                                                "description": "Invitee display name.",
                                                "x-ms-summary": "Display Name"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Meeting updated",
                        "schema": {
                            "$ref": "#/definitions/BaseResponse"
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DeleteMeeting",
                "summary": "Delete Meeting",
                "description": "Delete an existing meeting in Gong (Beta).",
                "parameters": [
                    {
                        "name": "meetingId",
                        "in": "path",
                        "type": "string",
                        "required": true,
                        "description": "The meeting ID.",
                        "x-ms-summary": "Meeting ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Meeting deleted",
                        "schema": {
                            "$ref": "#/definitions/BaseResponse"
                        }
                    }
                }
            }
        },
        "/meetings/integration/status": {
            "post": {
                "operationId": "ValidateMeetingIntegration",
                "summary": "Validate Meeting Integration",
                "description": "Validate the status of a meeting integration (Beta).",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "integrationId"
                            ],
                            "properties": {
                                "integrationId": {
                                    "type": "string",
                                    "description": "The meeting integration ID.",
                                    "x-ms-summary": "Integration ID"
                                },
                                "status": {
                                    "type": "string",
                                    "description": "Integration status.",
                                    "x-ms-summary": "Status"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Integration status validated",
                        "schema": {
                            "$ref": "#/definitions/BaseResponse"
                        }
                    }
                }
            }
        },
        "/data-privacy/data-for-email-address": {
            "get": {
                "operationId": "GetDataForEmailAddress",
                "summary": "Get Data for Email Address",
                "description": "Retrieve all data associated with a specific email address for data privacy purposes.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "emailAddress",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The email address to look up.",
                        "x-ms-summary": "Email Address"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data associated with the email address",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "emailAddress": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "callId": {
                                                "type": "string"
                                            },
                                            "callUrl": {
                                                "type": "string"
                                            },
                                            "callTitle": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data-privacy/data-for-phone-number": {
            "get": {
                "operationId": "GetDataForPhoneNumber",
                "summary": "Get Data for Phone Number",
                "description": "Retrieve all data associated with a specific phone number for data privacy purposes.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "phoneNumber",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The phone number to look up.",
                        "x-ms-summary": "Phone Number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data associated with the phone number",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
                                },
                                "phoneNumber": {
                                    "type": "string"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "callId": {
                                                "type": "string"
                                            },
                                            "callUrl": {
                                                "type": "string"
                                            },
                                            "callTitle": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data-privacy/erase-data-for-email-address": {
            "post": {
                "operationId": "EraseDataForEmailAddress",
                "summary": "Erase Data for Email Address",
                "description": "Purge all data associated with a specific email address. This action cannot be undone.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "emailAddress",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The email address to purge data for.",
                        "x-ms-summary": "Email Address"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data purge initiated",
                        "schema": {
                            "$ref": "#/definitions/BaseResponse"
                        }
                    }
                }
            }
        },
        "/data-privacy/erase-data-for-phone-number": {
            "post": {
                "operationId": "EraseDataForPhoneNumber",
                "summary": "Erase Data for Phone Number",
                "description": "Purge all data associated with a specific phone number. This action cannot be undone.",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "phoneNumber",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The phone number to purge data for.",
                        "x-ms-summary": "Phone Number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data purge initiated",
                        "schema": {
                            "$ref": "#/definitions/BaseResponse"
                        }
                    }
                }
            }
        },
        "/crm/entities": {
            "post": {
                "operationId": "UploadCRMEntities",
                "summary": "Upload CRM Entities",
                "description": "Upload CRM entities (accounts, contacts, deals, leads, etc.) into Gong.",
                "x-ms-visibility": "advanced",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "integrationId",
                        "in": "query",
                        "type": "integer",
                        "format": "int64",
                        "required": true,
                        "description": "The CRM integration identifier.",
                        "x-ms-summary": "Integration ID"
                    },
                    {
                        "name": "objectType",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "The type of CRM object being uploaded.",
                        "x-ms-summary": "Object Type",
                        "enum": [
                            "ACCOUNT",
                            "CONTACT",
                            "DEAL",
                            "LEAD",
                            "USER",
                            "BUSINESS_USER",
                            "STAGE"
                        ]
                    },
                    {
                        "name": "clientRequestId",
                        "in": "query",
                        "type": "string",
                        "description": "Client request ID for tracking.",
                        "x-ms-summary": "Client Request ID",
                        "x-ms-visibility": "advanced"
                    },
                    {
                        "name": "dataFile",
                        "in": "formData",
                        "type": "file",
                        "required": true,
                        "description": "The data file containing CRM entities (JSON lines format).",
                        "x-ms-summary": "Data File"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Upload accepted",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "requestId": {
                                    "type": "string"
[...]
