{
  "swagger": "2.0",
  "info": {
    "title": "SmartRecruiters",
    "description": "Dual-mode SmartRecruiters connector with an MCP endpoint for Copilot Studio and typed REST operations for Power Automate. Covers the Customer API (Jobs, Candidates, Job Applications, Users, Configuration, Approvals, Reviews, Messages, Interviews, Self-Scheduling, Interview Templates, Reporting, Webhooks, Audit), the public Posting API, and the Application API.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "api.smartrecruiters.com",
  "basePath": "/",
  "schemes": [ "https" ],
  "consumes": [ "application/json" ],
  "produces": [ "application/json" ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Invoke SmartRecruiters MCP",
        "description": "Model Context Protocol streamable endpoint for Copilot Studio integration with SmartRecruiters.",
        "operationId": "InvokeMCP",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": { "description": "MCP response" }
        }
      }
    },
    "/postings/{uuid}/candidates": {
      "post": {
        "summary": "Post Application",
        "description": "Create a new candidate application for a public job posting. Operates on behalf of the candidate.",
        "operationId": "PostApplication",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "uuid", "in": "path", "required": true, "type": "string", "description": "Posting UUID.", "x-ms-summary": "Posting UUID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Candidate application payload.", "schema": { "$ref": "#/definitions/ApplyApiRequest" } }
        ],
        "responses": {
          "200": { "description": "Application created", "schema": { "$ref": "#/definitions/ApplyApiResponse" } }
        }
      }
    },
    "/postings/{uuid}/configuration": {
      "get": {
        "summary": "Get Application Configuration",
        "description": "Returns application configuration (screening questions, privacy policies, settings) for a posting.",
        "operationId": "GetApplicationConfiguration",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "uuid", "in": "path", "required": true, "type": "string", "description": "Posting UUID.", "x-ms-summary": "Posting UUID", "x-ms-url-encoding": "single" },
          { "name": "conditionalsIncluded", "in": "query", "required": false, "type": "boolean", "description": "Include conditional questions.", "x-ms-summary": "Include Conditional Questions" },
          { "name": "Accept-Language", "in": "header", "required": false, "type": "string", "description": "Language code (default 'en').", "x-ms-summary": "Language" }
        ],
        "responses": {
          "200": { "description": "Configuration", "schema": { "$ref": "#/definitions/ApplyConfiguration" } }
        }
      }
    },
    "/postings/{uuid}/candidates/{candidateId}/status": {
      "get": {
        "summary": "Get Candidate Application Status",
        "description": "Get the current status of a previously submitted application.",
        "operationId": "GetCandidateApplicationStatus",
        "parameters": [
          { "name": "uuid", "in": "path", "required": true, "type": "string", "description": "Posting UUID.", "x-ms-summary": "Posting UUID", "x-ms-url-encoding": "single" },
          { "name": "candidateId", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": {
          "200": { "description": "Status", "schema": { "$ref": "#/definitions/ApplicationStatusInfo" } }
        }
      }
    },
    "/v1/companies/{companyIdentifier}/postings": {
      "get": {
        "summary": "List Postings (public)",
        "description": "Public Posting API \u2014 list active postings published by a company. No authentication required.",
        "operationId": "ListPostings",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "companyIdentifier", "in": "path", "required": true, "type": "string", "description": "Company identifier (from career site URL).", "x-ms-summary": "Company Identifier", "x-ms-url-encoding": "single" },
          { "name": "q",          "in": "query", "required": false, "type": "string",  "description": "Free-text query.",            "x-ms-summary": "Query" },
          { "name": "limit",      "in": "query", "required": false, "type": "integer", "description": "Page size (default 10, max 100).", "x-ms-summary": "Limit" },
          { "name": "offset",     "in": "query", "required": false, "type": "integer", "description": "Page offset.",                "x-ms-summary": "Offset" },
          { "name": "country",    "in": "query", "required": false, "type": "string",  "description": "Country filter (e.g. 'us').", "x-ms-summary": "Country" },
          { "name": "region",     "in": "query", "required": false, "type": "string",  "description": "Region filter.",              "x-ms-summary": "Region" },
          { "name": "city",       "in": "query", "required": false, "type": "string",  "description": "City filter.",                "x-ms-summary": "City" },
          { "name": "department", "in": "query", "required": false, "type": "string",  "description": "Department id.",              "x-ms-summary": "Department" },
          { "name": "language",   "in": "query", "required": false, "type": "string",  "description": "Language code.",              "x-ms-summary": "Language" }
        ],
        "responses": {
          "200": { "description": "Postings list", "schema": { "$ref": "#/definitions/ListResult" } }
        }
      }
    },
    "/v1/companies/{companyIdentifier}/postings/{postingId}": {
      "get": {
        "summary": "Get Posting (public)",
        "description": "Public Posting API \u2014 get a single posting by id or uuid.",
        "operationId": "GetPosting",
        "parameters": [
          { "name": "companyIdentifier", "in": "path", "required": true, "type": "string", "description": "Company identifier.", "x-ms-summary": "Company Identifier", "x-ms-url-encoding": "single" },
          { "name": "postingId",         "in": "path", "required": true, "type": "string", "description": "Posting id or uuid.", "x-ms-summary": "Posting ID",         "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Posting", "schema": { "$ref": "#/definitions/Posting" } } }
      }
    },
    "/v1/companies/{companyIdentifier}/departments": {
      "get": {
        "summary": "List Public Departments",
        "description": "Public Posting API \u2014 list departments for a company.",
        "operationId": "ListPublicDepartments",
        "parameters": [
          { "name": "companyIdentifier", "in": "path", "required": true, "type": "string", "description": "Company identifier.", "x-ms-summary": "Company Identifier", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Departments", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/jobs": {
      "get": {
        "summary": "Search Jobs",
        "description": "Search jobs by parameters. Supports pagination via limit/offset.",
        "operationId": "SearchJobs",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "q",             "in": "query", "required": false, "type": "string",  "description": "Free-text search.", "x-ms-summary": "Query" },
          { "name": "status",        "in": "query", "required": false, "type": "string",  "description": "Job status filter (DRAFT, SOURCING, INTERVIEW, OFFER, HIRED, ON_HOLD, CANCELLED, FILLED).", "x-ms-summary": "Status" },
          { "name": "postingStatus", "in": "query", "required": false, "type": "string",  "description": "Posting status (PUBLIC, INTERNAL, PRIVATE, NOT_PUBLISHED).",       "x-ms-summary": "Posting Status" },
          { "name": "department",    "in": "query", "required": false, "type": "string",  "description": "Department id.",   "x-ms-summary": "Department" },
          { "name": "location",      "in": "query", "required": false, "type": "string",  "description": "Location filter.", "x-ms-summary": "Location" },
          { "name": "limit",         "in": "query", "required": false, "type": "integer", "description": "Page size (max 100).", "x-ms-summary": "Limit" },
          { "name": "offset",        "in": "query", "required": false, "type": "integer", "description": "Page offset.",      "x-ms-summary": "Offset" }
        ],
        "responses": { "200": { "description": "Jobs", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Job",
        "description": "Create a new job. Ignores nonexistent job properties / values.",
        "operationId": "CreateJob",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "New job payload.", "schema": { "$ref": "#/definitions/JobCreateRequest" } }
        ],
        "responses": { "201": { "description": "Created job", "schema": { "$ref": "#/definitions/Job" } } }
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Get Job",
        "description": "Get content of a job with the given id.",
        "operationId": "GetJob",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Job", "schema": { "$ref": "#/definitions/Job" } } }
      },
      "put": {
        "summary": "Update Job",
        "description": "Full update of a job and its jobAd. Replaces all job ad properties.",
        "operationId": "UpdateJob",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Replacement job payload.", "schema": { "$ref": "#/definitions/JobUpdateRequest" } }
        ],
        "responses": { "200": { "description": "Updated job", "schema": { "$ref": "#/definitions/Job" } } }
      },
      "patch": {
        "summary": "Patch Job",
        "description": "Partial update of a job using JSON Merge Patch (RFC 7396). Use operations like add/remove on /properties/-, /compensation, etc.",
        "operationId": "PatchJob",
        "consumes": [ "application/json-patch+json" ],
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Array of JSON Merge Patch operations.", "schema": { "type": "array", "items": { "$ref": "#/definitions/JobPatchOperation" } } }
        ],
        "responses": { "200": { "description": "Patched job", "schema": { "$ref": "#/definitions/Job" } } }
      }
    },
    "/jobs/{id}/status": {
      "put": {
        "summary": "Update Job Status",
        "description": "Update job status (e.g. SOURCING, ON_HOLD, FILLED, CANCELLED).",
        "operationId": "UpdateJobStatus",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Status payload.", "schema": { "$ref": "#/definitions/JobStatusUpdate" } }
        ],
        "responses": { "204": { "description": "Updated" } }
      }
    },
    "/jobs/{id}/status/history": {
      "get": {
        "summary": "Get Job Status History",
        "description": "Return all status changes for the job.",
        "operationId": "GetJobStatusHistory",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Status history", "schema": { "type": "array", "items": { "$ref": "#/definitions/JobStatusHistoryEntry" } } } }
      }
    },
    "/jobs/{id}/headcount": {
      "put": {
        "summary": "Update Job Headcount",
        "description": "Set the target hiring count for a job.",
        "operationId": "UpdateJobHeadcount",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Headcount payload.", "schema": { "$ref": "#/definitions/JobHeadcountUpdate" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/Job" } } }
      }
    },
    "/jobs/{id}/note": {
      "get": {
        "summary": "Get Job Note",
        "description": "Get the hiring team note for a job.",
        "operationId": "GetJobNote",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Note", "schema": { "$ref": "#/definitions/JobNote" } } }
      },
      "put": {
        "summary": "Update Job Note",
        "description": "Update the hiring team note for a job.",
        "operationId": "UpdateJobNote",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Note payload.", "schema": { "$ref": "#/definitions/JobNoteUpdate" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/JobNote" } } }
      }
    },
    "/jobs/{id}/hiring-team": {
      "get": {
        "summary": "Get Hiring Team",
        "description": "Get the hiring team members for a job.",
        "operationId": "GetHiringTeam",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Hiring team", "schema": { "type": "array", "items": { "$ref": "#/definitions/HiringTeamMember" } } } }
      },
      "post": {
        "summary": "Add Hiring Team Member",
        "description": "Add a user to a job's hiring team in the specified role.",
        "operationId": "AddHiringTeamMember",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Hiring team member to add.", "schema": { "$ref": "#/definitions/HiringTeamAddRequest" } }
        ],
        "responses": { "201": { "description": "Added", "schema": { "$ref": "#/definitions/HiringTeamMember" } } }
      }
    },
    "/jobs/{id}/hiring-team/{userId}": {
      "delete": {
        "summary": "Remove Hiring Team Member",
        "description": "Remove a user from a job's hiring team.",
        "operationId": "RemoveHiringTeamMember",
        "parameters": [
          { "name": "id",     "in": "path", "required": true, "type": "string", "description": "Job ID.",  "x-ms-summary": "Job ID",  "x-ms-url-encoding": "single" },
          { "name": "userId", "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Removed" } }
      }
    },
    "/jobs/{id}/approvals/latest": {
      "get": {
        "summary": "Get Latest Job Approval",
        "description": "Get the latest approval request for a job.",
        "operationId": "GetLatestJobApproval",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Approval", "schema": { "$ref": "#/definitions/JobApproval" } } }
      }
    },
    "/jobs/{id}/jobads": {
      "get": {
        "summary": "List Job Ads",
        "description": "List job ad variants for a job.",
        "operationId": "ListJobAds",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Job ads", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Job Ad",
        "description": "Create a new job ad variant.",
        "operationId": "CreateJobAd",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Job ad payload.", "schema": { "$ref": "#/definitions/JobAdRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/JobAd" } } }
      }
    },
    "/jobs/{id}/jobads/{jobAdId}": {
      "get": {
        "summary": "Get Job Ad",
        "description": "Get a specific job ad.",
        "operationId": "GetJobAd",
        "parameters": [
          { "name": "id",      "in": "path", "required": true, "type": "string", "description": "Job ID.",     "x-ms-summary": "Job ID",    "x-ms-url-encoding": "single" },
          { "name": "jobAdId", "in": "path", "required": true, "type": "string", "description": "Job Ad ID.",  "x-ms-summary": "Job Ad ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Job ad", "schema": { "$ref": "#/definitions/JobAd" } } }
      },
      "put": {
        "summary": "Update Job Ad",
        "description": "Update an existing job ad. Publish the ad afterwards to push changes to internal sources and aggregators.",
        "operationId": "UpdateJobAd",
        "parameters": [
          { "name": "id",      "in": "path", "required": true, "type": "string", "description": "Job ID.",    "x-ms-summary": "Job ID",    "x-ms-url-encoding": "single" },
          { "name": "jobAdId", "in": "path", "required": true, "type": "string", "description": "Job Ad ID.", "x-ms-summary": "Job Ad ID", "x-ms-url-encoding": "single" },
          { "name": "body",    "in": "body", "required": true, "description": "Replacement job ad payload.", "schema": { "$ref": "#/definitions/JobAdRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/JobAd" } } }
      }
    },
    "/jobs/{id}/jobads/{jobAdId}/postings": {
      "get": {
        "summary": "List Job Ad Postings",
        "description": "List publications for a specific job ad.",
        "operationId": "ListJobAdPostings",
        "parameters": [
          { "name": "id",      "in": "path", "required": true, "type": "string", "description": "Job ID.",    "x-ms-summary": "Job ID",    "x-ms-url-encoding": "single" },
          { "name": "jobAdId", "in": "path", "required": true, "type": "string", "description": "Job Ad ID.", "x-ms-summary": "Job Ad ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Postings", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Publish Job Ad",
        "description": "Publish a job ad to internal sources and free job aggregators.",
        "operationId": "PublishJobAd",
        "parameters": [
          { "name": "id",      "in": "path", "required": true, "type": "string", "description": "Job ID.",    "x-ms-summary": "Job ID",    "x-ms-url-encoding": "single" },
          { "name": "jobAdId", "in": "path", "required": true, "type": "string", "description": "Job Ad ID.", "x-ms-summary": "Job Ad ID", "x-ms-url-encoding": "single" },
          { "name": "body",    "in": "body", "required": false, "description": "Optional publish targets. Omit to use defaults.", "schema": { "$ref": "#/definitions/JobAdPostingPublishRequest" } }
        ],
        "responses": { "200": { "description": "Published", "schema": { "$ref": "#/definitions/JobPublication" } } }
      },
      "delete": {
        "summary": "Unpublish Job Ad",
        "description": "Unpublish a job ad from all sources.",
        "operationId": "UnpublishJobAd",
        "parameters": [
          { "name": "id",      "in": "path", "required": true, "type": "string", "description": "Job ID.",    "x-ms-summary": "Job ID",    "x-ms-url-encoding": "single" },
          { "name": "jobAdId", "in": "path", "required": true, "type": "string", "description": "Job Ad ID.", "x-ms-summary": "Job Ad ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Unpublished" } }
      }
    },
    "/jobs/{id}/positions": {
      "get": {
        "summary": "List Job Positions",
        "description": "List position slots under a job.",
        "operationId": "ListJobPositions",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Positions", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Job Position",
        "description": "Create a position slot under a job.",
        "operationId": "CreateJobPosition",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Position payload.", "schema": { "$ref": "#/definitions/JobPositionRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/JobPosition" } } }
      }
    },
    "/jobs/{id}/positions/{positionId}": {
      "get": {
        "summary": "Get Job Position",
        "description": "Get a single position by id.",
        "operationId": "GetJobPosition",
        "parameters": [
          { "name": "id",         "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" },
          { "name": "positionId", "in": "path", "required": true, "type": "string", "description": "Position ID.", "x-ms-summary": "Position ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Position", "schema": { "$ref": "#/definitions/JobPosition" } } }
      },
      "put": {
        "summary": "Update Job Position",
        "description": "Update an existing position.",
        "operationId": "UpdateJobPosition",
        "parameters": [
          { "name": "id",         "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" },
          { "name": "positionId", "in": "path", "required": true, "type": "string", "description": "Position ID.", "x-ms-summary": "Position ID", "x-ms-url-encoding": "single" },
          { "name": "body",       "in": "body", "required": true, "description": "Replacement position payload.", "schema": { "$ref": "#/definitions/JobPositionRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/JobPosition" } } }
      },
      "delete": {
        "summary": "Delete Job Position",
        "description": "Delete a position from a job.",
        "operationId": "DeleteJobPosition",
        "parameters": [
          { "name": "id",         "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" },
          { "name": "positionId", "in": "path", "required": true, "type": "string", "description": "Position ID.", "x-ms-summary": "Position ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/jobs/{id}/publication": {
      "get": {
        "summary": "List Job Publications",
        "description": "List active publications for the default job ad.",
        "operationId": "GetJobPublications",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Publications", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Publish Job",
        "description": "Publish the default job ad to internal sources and free aggregators. Throttled at 2 requests/sec.",
        "operationId": "PublishJob",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": false, "description": "Optional publish targets. Omit to use defaults.", "schema": { "$ref": "#/definitions/JobAdPostingPublishRequest" } }
        ],
        "responses": { "200": { "description": "Published", "schema": { "$ref": "#/definitions/JobPublication" } } }
      },
      "delete": {
        "summary": "Unpublish Job",
        "description": "Unpublish from all sources. Throttled at 2 requests/sec.",
        "operationId": "UnpublishJob",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Unpublished" } }
      }
    },
    "/candidates": {
      "get": {
        "summary": "Search Candidates",
        "description": "Search candidates by criteria. Only candidates with at least one job application are returned.",
        "operationId": "SearchCandidates",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "q",      "in": "query", "required": false, "type": "string",  "description": "Free-text search.", "x-ms-summary": "Query" },
          { "name": "limit",  "in": "query", "required": false, "type": "integer", "description": "Page size (max 100).", "x-ms-summary": "Limit" },
          { "name": "offset", "in": "query", "required": false, "type": "integer", "description": "Page offset.",      "x-ms-summary": "Offset" },
          { "name": "jobId",  "in": "query", "required": false, "type": "string",  "description": "Filter by job id.", "x-ms-summary": "Job ID" },
          { "name": "tag",    "in": "query", "required": false, "type": "string",  "description": "Filter by tag.",     "x-ms-summary": "Tag" },
          { "name": "status", "in": "query", "required": false, "type": "string",  "description": "Filter by status (NEW, IN_REVIEW, INTERVIEW, OFFERED, HIRED, ARCHIVED).", "x-ms-summary": "Status" }
        ],
        "responses": { "200": { "description": "Candidates", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Candidate",
        "description": "Create a new candidate. Pass `jobId` query parameter to assign to a job; otherwise added to talent pool.",
        "operationId": "CreateCandidate",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "jobId", "in": "query", "required": false, "type": "string", "description": "Optional job id to assign the candidate to.", "x-ms-summary": "Job ID" },
          { "name": "body",  "in": "body",  "required": true,  "description": "New candidate payload.", "schema": { "$ref": "#/definitions/CandidateCreateRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Candidate" } } }
      }
    },
    "/candidates/{id}": {
      "get": {
        "summary": "Get Candidate",
        "description": "Get a candidate by id.",
        "operationId": "GetCandidate",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Candidate", "schema": { "$ref": "#/definitions/Candidate" } } }
      },
      "patch": {
        "summary": "Update Candidate",
        "description": "Update candidate personal information.",
        "operationId": "UpdateCandidate",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Fields to update.", "schema": { "$ref": "#/definitions/CandidateUpdateRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/Candidate" } } }
      },
      "delete": {
        "summary": "Delete Candidate",
        "description": "Delete a candidate.",
        "operationId": "DeleteCandidate",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/candidates/{id}/jobs/{jobId}": {
      "get": {
        "summary": "Get Candidate Application",
        "description": "Get the candidate's application to a specific job.",
        "operationId": "GetCandidateApplication",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Application", "schema": { "$ref": "#/definitions/CandidateApplication" } } }
      },
      "delete": {
        "summary": "Delete Candidate Application",
        "description": "Delete a candidate's application to a job.",
        "operationId": "DeleteCandidateApplication",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/status": {
      "put": {
        "summary": "Update Application Status",
        "description": "Update the status of a candidate's job application.",
        "operationId": "UpdateApplicationStatus",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" },
          { "name": "body",  "in": "body", "required": true, "description": "Status payload.", "schema": { "$ref": "#/definitions/ApplicationStatusUpdate" } }
        ],
        "responses": { "204": { "description": "Updated" } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/status/history": {
      "get": {
        "summary": "Get Application Status History",
        "description": "Return all status changes for the candidate's application.",
        "operationId": "GetApplicationStatusHistory",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "History", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/source": {
      "put": {
        "summary": "Update Application Source",
        "description": "Update a candidate's source on a specific application.",
        "operationId": "UpdateApplicationSource",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" },
          { "name": "body",  "in": "body", "required": true, "description": "Source details payload.", "schema": { "$ref": "#/definitions/SourceDetails" } }
        ],
        "responses": { "204": { "description": "Updated" } }
      }
    },
    "/candidates/{id}/tags": {
      "get": {
        "summary": "Get Candidate Tags",
        "description": "Get all tags assigned to a candidate.",
        "operationId": "GetCandidateTags",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Tags", "schema": { "$ref": "#/definitions/CandidateTags" } } }
      },
      "post": {
        "summary": "Add Candidate Tags",
        "description": "Add tags to a candidate without replacing existing ones.",
        "operationId": "AddCandidateTags",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Tags to add.", "schema": { "$ref": "#/definitions/TagsRequest" } }
        ],
        "responses": { "200": { "description": "Added", "schema": { "$ref": "#/definitions/CandidateTags" } } }
      },
      "put": {
        "summary": "Replace Candidate Tags",
        "description": "Replace all tags on a candidate.",
        "operationId": "ReplaceCandidateTags",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Tags to set.", "schema": { "$ref": "#/definitions/TagsRequest" } }
        ],
        "responses": { "200": { "description": "Replaced", "schema": { "$ref": "#/definitions/CandidateTags" } } }
      },
      "delete": {
        "summary": "Delete Candidate Tags",
        "description": "Remove all tags from a candidate.",
        "operationId": "DeleteCandidateTags",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/candidates/{id}/attachments": {
      "get": {
        "summary": "List Candidate Attachments",
        "description": "List candidate-level attachments.",
        "operationId": "ListCandidateAttachments",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Attachments", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/candidates/{id}/attachments/{attachmentId}": {
      "get": {
        "summary": "Get Candidate Attachment",
        "description": "Get a candidate-level attachment.",
        "operationId": "GetCandidateAttachment",
        "parameters": [
          { "name": "id",           "in": "path", "required": true, "type": "string", "description": "Candidate ID.",   "x-ms-summary": "Candidate ID",   "x-ms-url-encoding": "single" },
          { "name": "attachmentId", "in": "path", "required": true, "type": "string", "description": "Attachment ID.", "x-ms-summary": "Attachment ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Attachment", "schema": { "$ref": "#/definitions/Attachment" } } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/attachments": {
      "get": {
        "summary": "List Application Attachments",
        "description": "List attachments scoped to a candidate's job application.",
        "operationId": "ListApplicationAttachments",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Attachments", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/attachments/{attachmentId}": {
      "delete": {
        "summary": "Delete Application Attachment",
        "description": "Delete an attachment from a candidate's application.",
        "operationId": "DeleteApplicationAttachment",
        "parameters": [
          { "name": "id",           "in": "path", "required": true, "type": "string", "description": "Candidate ID.",   "x-ms-summary": "Candidate ID",   "x-ms-url-encoding": "single" },
          { "name": "jobId",        "in": "path", "required": true, "type": "string", "description": "Job ID.",        "x-ms-summary": "Job ID",        "x-ms-url-encoding": "single" },
          { "name": "attachmentId", "in": "path", "required": true, "type": "string", "description": "Attachment ID.", "x-ms-summary": "Attachment ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/properties": {
      "get": {
        "summary": "Get Application Properties",
        "description": "Get candidate property values for the candidate's job application.",
        "operationId": "GetApplicationProperties",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Properties", "schema": { "type": "array", "items": { "$ref": "#/definitions/CandidatePropertyValue" } } } }
      },
      "put": {
        "summary": "Update Application Properties",
        "description": "Bulk set candidate property values for the candidate's job application.",
        "operationId": "UpdateApplicationProperties",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" },
          { "name": "body",  "in": "body", "required": true, "description": "Array of property values to set.", "schema": { "type": "array", "items": { "$ref": "#/definitions/CandidatePropertyValue" } } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "type": "array", "items": { "$ref": "#/definitions/CandidatePropertyValue" } } } }
      }
    },
    "/candidates/{id}/consent/status": {
      "get": {
        "summary": "Get Candidate Consent Status",
        "description": "Get the candidate's consent status.",
        "operationId": "GetCandidateConsentStatus",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Status", "schema": { "$ref": "#/definitions/ConsentStatus" } } }
      }
    },
    "/candidates/{id}/consent/decisions": {
      "get": {
        "summary": "Get Candidate Consent Decisions",
        "description": "Get the candidate's consent decisions per scope.",
        "operationId": "GetCandidateConsentDecisions",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Decisions", "schema": { "$ref": "#/definitions/ConsentDecisions" } } }
      }
    },
    "/candidates/{id}/consent/request": {
      "post": {
        "summary": "Request Candidate Consent",
        "description": "Send a consent request to the candidate.",
        "operationId": "RequestCandidateConsent",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": false, "description": "Optional request options (scopes to request).", "schema": { "type": "object", "properties": { "scopes": { "type": "array", "description": "Scope identifiers to request.", "items": { "type": "string" } } } } }
        ],
        "responses": { "200": { "description": "Requested", "schema": { "$ref": "#/definitions/ConsentStatus" } } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/onboardingStatus": {
      "get": {
        "summary": "Get Onboarding Status",
        "description": "Get onboarding status for a candidate's job application.",
        "operationId": "GetOnboardingStatus",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Status", "schema": { "$ref": "#/definitions/OnboardingStatusInfo" } } }
      },
      "put": {
        "summary": "Update Onboarding Status",
        "description": "Set onboarding status for a candidate's job application.",
        "operationId": "UpdateOnboardingStatus",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" },
          { "name": "body",  "in": "body", "required": true, "description": "Onboarding status payload.", "schema": { "$ref": "#/definitions/OnboardingStatusUpdate" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/OnboardingStatusInfo" } } }
      }
    },
    "/candidates/{id}/offers": {
      "get": {
        "summary": "Get Candidate Offers",
        "description": "List a candidate's offers.",
        "operationId": "GetCandidateOffers",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Offers", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/candidates/{id}/jobs/{jobId}/screening-answers": {
      "get": {
        "summary": "Get Screening Answers",
        "description": "Get screening question answers for a candidate's job application.",
        "operationId": "GetScreeningAnswers",
        "parameters": [
          { "name": "id",    "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.",      "x-ms-summary": "Job ID",      "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Answers", "schema": { "type": "array", "items": { "$ref": "#/definitions/ScreeningQuestionAnswer" } } } }
      }
    },
    "/candidates/resume": {
      "post": {
        "summary": "Parse Resume and Create Candidate",
        "description": "Parse a resume, create a candidate, and assign to the talent pool.",
        "operationId": "ParseResume",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Resume payload with optional source details.", "schema": { "$ref": "#/definitions/ResumeParseRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Candidate" } } }
      }
    },
    "/candidates/resume/jobs/{jobId}": {
      "post": {
        "summary": "Parse Resume and Add to Job",
        "description": "Parse a resume, create a candidate, and assign to a job.",
        "operationId": "ParseResumeToJob",
        "parameters": [
          { "name": "jobId", "in": "path", "required": true, "type": "string", "description": "Job ID.", "x-ms-summary": "Job ID", "x-ms-url-encoding": "single" },
          { "name": "body",  "in": "body", "required": true, "description": "Resume payload with optional source details.", "schema": { "$ref": "#/definitions/ResumeParseRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Candidate" } } }
      }
    },
    "/job-applications/{id}": {
      "get": {
        "summary": "Get Job Application",
        "description": "Get a job application by application id.",
        "operationId": "GetJobApplication",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job Application ID.", "x-ms-summary": "Job Application ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Application", "schema": { "$ref": "#/definitions/JobApplication" } } }
      },
      "delete": {
        "summary": "Delete Job Application",
        "description": "Delete a job application.",
        "operationId": "DeleteJobApplication",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job Application ID.", "x-ms-summary": "Job Application ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/job-applications/{id}/consent-decisions": {
      "get": {
        "summary": "Get Job Application Consent Decisions",
        "description": "Get consent decisions for a job application.",
        "operationId": "GetJobApplicationConsentDecisions",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Job Application ID.", "x-ms-summary": "Job Application ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Decisions", "schema": { "$ref": "#/definitions/ConsentDecisions" } } }
      }
    },
    "/job-applications/{id}/consent-request": {
      "post": {
        "summary": "Request Job Application Consent",
        "description": "Send a consent request scoped to a job application.",
        "operationId": "RequestJobApplicationConsent",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Job Application ID.", "x-ms-summary": "Job Application ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": false, "description": "Optional request options.", "schema": { "type": "object", "properties": { "scopes": { "type": "array", "description": "Scope identifiers to request.", "items": { "type": "string" } } } } }
        ],
        "responses": { "200": { "description": "Requested", "schema": { "$ref": "#/definitions/ConsentStatus" } } }
      }
    },
    "/users": {
      "get": {
        "summary": "List Users",
        "description": "List users in the company.",
        "operationId": "ListUsers",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "q",      "in": "query", "required": false, "type": "string",  "description": "Free-text search.", "x-ms-summary": "Query" },
          { "name": "active", "in": "query", "required": false, "type": "boolean", "description": "Filter active users.", "x-ms-summary": "Active" },
          { "name": "limit",  "in": "query", "required": false, "type": "integer", "description": "Page size.", "x-ms-summary": "Limit" },
          { "name": "offset", "in": "query", "required": false, "type": "integer", "description": "Page offset.", "x-ms-summary": "Offset" }
        ],
        "responses": { "200": { "description": "Users", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create User",
        "description": "Create a new user. Users are inactive until activated.",
        "operationId": "CreateUser",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "New user payload.", "schema": { "$ref": "#/definitions/UserCreateRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/User" } } }
      }
    },
    "/users/me": {
      "get": {
        "summary": "Get My User",
        "description": "Get details of the authenticated user.",
        "operationId": "GetMyUser",
        "responses": { "200": { "description": "User", "schema": { "$ref": "#/definitions/User" } } }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Get User",
        "description": "Get a user by id.",
        "operationId": "GetUser",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "User", "schema": { "$ref": "#/definitions/User" } } }
      },
      "put": {
        "summary": "Update User",
        "description": "Update a user.",
        "operationId": "UpdateUser",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Fields to update.", "schema": { "$ref": "#/definitions/UserUpdateRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/User" } } }
      }
    },
    "/users/{id}/activation": {
      "put": {
        "summary": "Activate User",
        "description": "Activate a user account.",
        "operationId": "ActivateUser",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Activated" } }
      },
      "delete": {
        "summary": "Deactivate User",
        "description": "Deactivate a user account.",
        "operationId": "DeactivateUser",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deactivated" } }
      }
    },
    "/users/{id}/activation/email": {
      "post": {
        "summary": "Send Activation Email",
        "description": "Send an activation email to a user.",
        "operationId": "SendActivationEmail",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Sent" } }
      }
    },
    "/users/{id}/password/reset": {
      "post": {
        "summary": "Send Password Reset Email",
        "description": "Send a password recovery email to a user.",
        "operationId": "SendPasswordReset",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Sent" } }
      }
    },
    "/users/{id}/avatar": {
      "post": {
        "summary": "Update User Avatar",
        "description": "Upload a new avatar image for a user.",
        "operationId": "UpdateUserAvatar",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "User ID.", "x-ms-summary": "User ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Avatar attachment.", "schema": { "$ref": "#/definitions/Attachment" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/User" } } }
      }
    },
    "/system-roles": {
      "get": {
        "summary": "List System Roles",
        "description": "List system roles available in the company.",
        "operationId": "ListSystemRoles",
        "responses": { "200": { "description": "Roles", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/access-groups": {
      "get": {
        "summary": "List Access Groups",
        "description": "List access groups configured in the company.",
        "operationId": "ListAccessGroups",
        "parameters": [
          { "name": "limit",  "in": "query", "required": false, "type": "integer", "description": "Page size.",  "x-ms-summary": "Limit" },
          { "name": "offset", "in": "query", "required": false, "type": "integer", "description": "Page offset.", "x-ms-summary": "Offset" }
        ],
        "responses": { "200": { "description": "Access groups", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/access-groups/{id}/users": {
      "post": {
        "summary": "Assign Users To Access Group",
        "description": "Assign one or more users to an access group.",
        "operationId": "AssignUsersToAccessGroup",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Access Group ID.", "x-ms-summary": "Access Group ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "User ids to assign.", "schema": { "$ref": "#/definitions/AccessGroupAssignRequest" } }
        ],
        "responses": { "200": { "description": "Assigned", "schema": { "type": "object", "properties": { "assigned": { "type": "array", "description": "Assigned user ids.", "items": { "type": "string" } } } } } }
      }
    },
    "/access-groups/{id}/users/{userId}": {
      "delete": {
        "summary": "Remove User From Access Group",
        "description": "Remove a user from an access group.",
        "operationId": "RemoveUserFromAccessGroup",
        "parameters": [
          { "name": "id",     "in": "path", "required": true, "type": "string", "description": "Access Group ID.", "x-ms-summary": "Access Group ID", "x-ms-url-encoding": "single" },
          { "name": "userId", "in": "path", "required": true, "type": "string", "description": "User ID.",         "x-ms-summary": "User ID",         "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Removed" } }
      }
    },
    "/configuration/company/my": {
      "get": {
        "summary": "Get Company Info",
        "description": "Get information about your SmartRecruiters company.",
        "operationId": "GetCompanyInfo",
        "responses": { "200": { "description": "Company", "schema": { "$ref": "#/definitions/Company" } } }
      }
    },
    "/configuration/departments": {
      "get": {
        "summary": "List Departments",
        "description": "List configured departments.",
        "operationId": "ListDepartments",
        "responses": { "200": { "description": "Departments", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Department",
        "description": "Create a new department.",
        "operationId": "CreateDepartment",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Department payload.", "schema": { "$ref": "#/definitions/DepartmentCreateRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Department" } } }
      }
    },
    "/configuration/departments/{id}": {
      "get": {
        "summary": "Get Department",
        "description": "Get a department by id.",
        "operationId": "GetDepartment",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Department ID.", "x-ms-summary": "Department ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Department", "schema": { "$ref": "#/definitions/Department" } } }
      }
    },
    "/configuration/hiring-processes": {
      "get": {
        "summary": "List Hiring Processes",
        "description": "List hiring processes configured for the company.",
        "operationId": "ListHiringProcesses",
        "responses": { "200": { "description": "Hiring processes", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/hiring-processes/{id}": {
      "get": {
        "summary": "Get Hiring Process",
        "description": "Get a hiring process by id.",
        "operationId": "GetHiringProcess",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Hiring Process ID.", "x-ms-summary": "Hiring Process ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Process", "schema": { "$ref": "#/definitions/IdLabel" } } }
      }
    },
    "/configuration/sources": {
      "get": {
        "summary": "List Source Types",
        "description": "List candidate source types and subtypes.",
        "operationId": "ListSourceTypes",
        "responses": { "200": { "description": "Source types", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/sources/{type}/values": {
      "get": {
        "summary": "List Source Values",
        "description": "List source values for a given source type.",
        "operationId": "ListSourceValues",
        "parameters": [
          { "name": "type", "in": "path", "required": true, "type": "string", "description": "Source type id.", "x-ms-summary": "Source Type", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Values", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/sources/{type}/values/{id}": {
      "get": {
        "summary": "Get Source Value",
        "description": "Get a single source value.",
        "operationId": "GetSourceValue",
        "parameters": [
          { "name": "type", "in": "path", "required": true, "type": "string", "description": "Source type id.",  "x-ms-summary": "Source Type",     "x-ms-url-encoding": "single" },
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Source value id.", "x-ms-summary": "Source Value ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Source", "schema": { "$ref": "#/definitions/IdLabel" } } }
      }
    },
    "/configuration/reasons/rejection": {
      "get": {
        "summary": "List Rejection Reasons",
        "description": "List rejection reasons configured for the company.",
        "operationId": "ListRejectionReasons",
        "responses": { "200": { "description": "Reasons", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/reasons/withdrawal": {
      "get": {
        "summary": "List Withdrawal Reasons",
        "description": "List withdrawal reasons configured for the company.",
        "operationId": "ListWithdrawalReasons",
        "responses": { "200": { "description": "Reasons", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/job-properties": {
      "get": {
        "summary": "List Job Properties",
        "description": "List available job properties (custom fields on jobs).",
        "operationId": "ListJobProperties",
        "responses": { "200": { "description": "Properties", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Job Property",
        "description": "Create a job property definition.",
        "operationId": "CreateJobProperty",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Job property payload.", "schema": { "$ref": "#/definitions/JobPropertyRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/JobProperty" } } }
      }
    },
    "/configuration/job-properties/{id}": {
      "get": {
        "summary": "Get Job Property",
        "description": "Get a job property by id or key.",
        "operationId": "GetJobProperty",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Property id or key.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Property", "schema": { "$ref": "#/definitions/JobProperty" } } }
      },
      "put": {
        "summary": "Update Job Property",
        "description": "Update a job property definition.",
        "operationId": "UpdateJobProperty",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Property id or key.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Fields to update.", "schema": { "$ref": "#/definitions/JobPropertyRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/JobProperty" } } }
      }
    },
    "/configuration/job-properties/{id}/activate": {
      "put": {
        "summary": "Activate Job Property",
        "description": "Activate a job property.",
        "operationId": "ActivateJobProperty",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Property id or key.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Activated" } }
      }
    },
    "/configuration/job-properties/{id}/deactivate": {
      "put": {
        "summary": "Deactivate Job Property",
        "description": "Deactivate a job property.",
        "operationId": "DeactivateJobProperty",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Property id or key.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deactivated" } }
      }
    },
    "/configuration/job-properties/{id}/values": {
      "get": {
        "summary": "List Job Property Values",
        "description": "List values for a SINGLE_SELECT / MULTI_SELECT job property.",
        "operationId": "ListJobPropertyValues",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Property id or key.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Values", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Job Property Value",
        "description": "Create a new value for a job property.",
        "operationId": "CreateJobPropertyValue",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Property id or key.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Value payload.", "schema": { "$ref": "#/definitions/JobPropertyValueRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/IdLabel" } } }
      }
    },
    "/configuration/candidate-properties": {
      "get": {
        "summary": "List Candidate Properties",
        "description": "List available candidate properties (custom fields on candidates).",
        "operationId": "ListCandidateProperties",
        "responses": { "200": { "description": "Properties", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/candidate-properties/{id}": {
      "get": {
        "summary": "Get Candidate Property",
        "description": "Get a candidate property by id.",
        "operationId": "GetCandidateProperty",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Property ID.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Property", "schema": { "$ref": "#/definitions/IdLabel" } } }
      }
    },
    "/configuration/candidate-properties/{id}/values": {
      "get": {
        "summary": "List Candidate Property Values",
        "description": "List values for a SINGLE_SELECT candidate property.",
        "operationId": "ListCandidatePropertyValues",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Property ID.", "x-ms-summary": "Property ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Values", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/predefined-locations": {
      "get": {
        "summary": "List Predefined Locations",
        "description": "List predefined locations.",
        "operationId": "ListPredefinedLocations",
        "parameters": [
          { "name": "limit",  "in": "query", "required": false, "type": "integer", "description": "Page size.",  "x-ms-summary": "Limit" },
          { "name": "offset", "in": "query", "required": false, "type": "integer", "description": "Page offset.", "x-ms-summary": "Offset" }
        ],
        "responses": { "200": { "description": "Locations", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Predefined Location",
        "description": "Create a predefined location.",
        "operationId": "CreatePredefinedLocation",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Predefined location payload.", "schema": { "$ref": "#/definitions/PredefinedLocationRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Location" } } }
      }
    },
    "/configuration/career-sites": {
      "get": {
        "summary": "List Career Sites",
        "description": "List career site configurations.",
        "operationId": "ListCareerSites",
        "responses": { "200": { "description": "Career sites", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/configuration/career-sites/{id}": {
      "get": {
        "summary": "Get Career Site",
        "description": "Get a career site configuration by id.",
        "operationId": "GetCareerSite",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Career Site ID.", "x-ms-summary": "Career Site ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Career site", "schema": { "$ref": "#/definitions/IdLabel" } } }
      }
    },
    "/configuration/offer-properties": {
      "get": {
        "summary": "List Offer Properties",
        "description": "List available offer properties.",
        "operationId": "ListOfferProperties",
        "responses": { "200": { "description": "Properties", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/approvals": {
      "get": {
        "summary": "List Pending Approvals",
        "description": "Get pending approval requests where you are an approver. Max 100 returned.",
        "operationId": "ListPendingApprovals",
        "x-ms-visibility": "important",
        "responses": { "200": { "description": "Approvals", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Approval Request",
        "description": "Create a new approval request based on an existing one. The base request becomes ABANDONED if PENDING.",
        "operationId": "CreateApprovalRequest",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Approval creation payload.", "schema": { "$ref": "#/definitions/ApprovalCreateRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Approval" } } }
      }
    },
    "/approvals/{id}": {
      "get": {
        "summary": "Get Approval",
        "description": "Get an approval request by id.",
        "operationId": "GetApproval",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Approval ID.", "x-ms-summary": "Approval ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Approval", "schema": { "$ref": "#/definitions/Approval" } } }
      }
    },
    "/approvals/{id}/approve": {
      "post": {
        "summary": "Approve Request",
        "description": "Approve an approval request.",
        "operationId": "ApproveRequest",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Approval ID.", "x-ms-summary": "Approval ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": false, "description": "Optional action payload (comment).", "schema": { "$ref": "#/definitions/ApprovalActionRequest" } }
        ],
        "responses": { "200": { "description": "Approved", "schema": { "$ref": "#/definitions/Approval" } } }
      }
    },
    "/approvals/{id}/reject": {
      "post": {
        "summary": "Reject Approval",
        "description": "Reject an approval request.",
        "operationId": "RejectApproval",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Approval ID.", "x-ms-summary": "Approval ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": false, "description": "Optional action payload (comment, reasonId).", "schema": { "$ref": "#/definitions/ApprovalActionRequest" } }
        ],
        "responses": { "200": { "description": "Rejected", "schema": { "$ref": "#/definitions/Approval" } } }
      }
    },
    "/approvals/{id}/comments": {
      "get": {
        "summary": "Get Approval Comments",
        "description": "List comments on an approval request.",
        "operationId": "GetApprovalComments",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Approval ID.", "x-ms-summary": "Approval ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Comments", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Add Approval Comment",
        "description": "Add a comment to an approval request.",
        "operationId": "AddApprovalComment",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Approval ID.", "x-ms-summary": "Approval ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Comment payload.", "schema": { "$ref": "#/definitions/ApprovalCommentRequest" } }
        ],
        "responses": { "201": { "description": "Added", "schema": { "$ref": "#/definitions/ApprovalComment" } } }
      }
    },
    "/messages/shares": {
      "post": {
        "summary": "Create Note",
        "description": "Share a note (Hireloop update) with users, hiring teams, or everyone. Use @[USER:id] to mention users, #[CANDIDATE:id] to tag candidates.",
        "operationId": "CreateNote",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Note payload.", "schema": { "$ref": "#/definitions/NoteCreateRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Note" } } }
      }
    },
    "/messages/shares/{id}": {
      "delete": {
        "summary": "Delete Note",
        "description": "Delete a previously shared note.",
        "operationId": "DeleteNote",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Note ID.", "x-ms-summary": "Note ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/messages/fetch": {
      "get": {
        "summary": "Fetch Messages",
        "description": "Search messages for a candidate. Requires ADMINISTRATOR role.",
        "operationId": "FetchMessages",
        "parameters": [
          { "name": "candidateId", "in": "query", "required": true,  "type": "string",  "description": "Candidate ID.",            "x-ms-summary": "Candidate ID" },
          { "name": "jobId",       "in": "query", "required": false, "type": "string",  "description": "Filter by job id.",        "x-ms-summary": "Job ID" },
          { "name": "limit",       "in": "query", "required": false, "type": "integer", "description": "Page size.",               "x-ms-summary": "Limit" }
        ],
        "responses": { "200": { "description": "Messages", "schema": { "$ref": "#/definitions/ListResult" } } }
      }
    },
    "/message-templates": {
      "get": {
        "summary": "List Message Templates",
        "description": "List reusable message templates.",
        "operationId": "ListMessageTemplates",
        "responses": { "200": { "description": "Templates", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Message Template",
        "description": "Create a new message template.",
        "operationId": "CreateMessageTemplate",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Message template payload.", "schema": { "$ref": "#/definitions/MessageTemplateRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/MessageTemplate" } } }
      }
    },
    "/message-templates/{id}": {
      "get": {
        "summary": "Get Message Template",
        "description": "Get a message template by id.",
        "operationId": "GetMessageTemplate",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Template ID.", "x-ms-summary": "Template ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Template", "schema": { "$ref": "#/definitions/MessageTemplate" } } }
      },
      "put": {
        "summary": "Update Message Template",
        "description": "Update a message template.",
        "operationId": "UpdateMessageTemplate",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Template ID.", "x-ms-summary": "Template ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Replacement template payload.", "schema": { "$ref": "#/definitions/MessageTemplateRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/MessageTemplate" } } }
      },
      "delete": {
        "summary": "Delete Message Template",
        "description": "Delete a message template.",
        "operationId": "DeleteMessageTemplate",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Template ID.", "x-ms-summary": "Template ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/public-api/interviews": {
      "get": {
        "summary": "List Interviews",
        "description": "List interviews. Filter by candidate or application.",
        "operationId": "ListInterviews",
        "parameters": [
          { "name": "candidateId",   "in": "query", "required": false, "type": "string",  "description": "Candidate id filter.",   "x-ms-summary": "Candidate ID" },
          { "name": "applicationId", "in": "query", "required": false, "type": "string",  "description": "Application id filter.", "x-ms-summary": "Application ID" },
          { "name": "limit",         "in": "query", "required": false, "type": "integer", "description": "Page size.",             "x-ms-summary": "Limit" },
          { "name": "offset",        "in": "query", "required": false, "type": "integer", "description": "Page offset.",           "x-ms-summary": "Offset" }
        ],
        "responses": { "200": { "description": "Interviews", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Interview",
        "description": "Create an interview (Public API).",
        "operationId": "CreateInterview",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Interview payload.", "schema": { "$ref": "#/definitions/InterviewRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Interview" } } }
      }
    },
    "/public-api/interviews/{id}": {
      "get": {
        "summary": "Get Interview",
        "description": "Get an interview by id.",
        "operationId": "GetInterview",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Interview ID.", "x-ms-summary": "Interview ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Interview", "schema": { "$ref": "#/definitions/Interview" } } }
      },
      "put": {
        "summary": "Update Interview",
        "description": "Update an interview (only Public API interviews are supported).",
        "operationId": "UpdateInterview",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Interview ID.", "x-ms-summary": "Interview ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Replacement interview payload.", "schema": { "$ref": "#/definitions/InterviewRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/Interview" } } }
      },
      "delete": {
        "summary": "Delete Interview",
        "description": "Delete an interview (only Public API interviews are supported).",
        "operationId": "DeleteInterview",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Interview ID.", "x-ms-summary": "Interview ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/public-api/interviews/{interviewId}/timeslots": {
      "post": {
        "summary": "Create Timeslot",
        "description": "Add a timeslot to an interview.",
        "operationId": "CreateTimeslot",
        "parameters": [
          { "name": "interviewId", "in": "path", "required": true, "type": "string", "description": "Interview ID.", "x-ms-summary": "Interview ID", "x-ms-url-encoding": "single" },
          { "name": "body",        "in": "body", "required": true, "description": "Timeslot payload.", "schema": { "$ref": "#/definitions/TimeslotRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Timeslot" } } }
      }
    },
    "/public-api/interviews/{interviewId}/timeslots/{slotId}": {
      "get": {
        "summary": "Get Timeslot",
        "description": "Get a timeslot by id.",
        "operationId": "GetTimeslot",
        "parameters": [
          { "name": "interviewId", "in": "path", "required": true, "type": "string", "description": "Interview ID.", "x-ms-summary": "Interview ID", "x-ms-url-encoding": "single" },
          { "name": "slotId",      "in": "path", "required": true, "type": "string", "description": "Timeslot ID.",  "x-ms-summary": "Timeslot ID",  "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Timeslot", "schema": { "$ref": "#/definitions/Timeslot" } } }
      },
      "put": {
        "summary": "Update Timeslot",
        "description": "Update a timeslot.",
        "operationId": "UpdateTimeslot",
        "parameters": [
          { "name": "interviewId", "in": "path", "required": true, "type": "string", "description": "Interview ID.", "x-ms-summary": "Interview ID", "x-ms-url-encoding": "single" },
          { "name": "slotId",      "in": "path", "required": true, "type": "string", "description": "Timeslot ID.",  "x-ms-summary": "Timeslot ID",  "x-ms-url-encoding": "single" },
          { "name": "body",        "in": "body", "required": true, "description": "Replacement timeslot payload.", "schema": { "$ref": "#/definitions/TimeslotRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/Timeslot" } } }
      },
      "delete": {
        "summary": "Delete Timeslot",
        "description": "Delete a timeslot.",
        "operationId": "DeleteTimeslot",
        "parameters": [
          { "name": "interviewId", "in": "path", "required": true, "type": "string", "description": "Interview ID.", "x-ms-summary": "Interview ID", "x-ms-url-encoding": "single" },
          { "name": "slotId",      "in": "path", "required": true, "type": "string", "description": "Timeslot ID.",  "x-ms-summary": "Timeslot ID",  "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/public-api/types": {
      "get": {
        "summary": "List Interview Types",
        "description": "List configured interview types.",
        "operationId": "ListInterviewTypes",
        "responses": { "200": { "description": "Types", "schema": { "type": "array", "items": { "$ref": "#/definitions/InterviewType" } } } }
      },
      "post": {
        "summary": "Add Interview Types",
        "description": "Add new interview types alongside existing ones.",
        "operationId": "AddInterviewTypes",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Interview types to add.", "schema": { "$ref": "#/definitions/InterviewTypeRequest" } }
        ],
        "responses": { "200": { "description": "Added", "schema": { "type": "array", "items": { "$ref": "#/definitions/InterviewType" } } } }
      }
    },
    "/public-api/types/{name}": {
      "delete": {
        "summary": "Delete Interview Type",
        "description": "Delete an interview type by name.",
        "operationId": "DeleteInterviewType",
        "parameters": [
          { "name": "name", "in": "path", "required": true, "type": "string", "description": "Interview type name.", "x-ms-summary": "Type Name", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/public-api/automated-self-schedule": {
      "post": {
        "summary": "Create Automated Self Schedule",
        "description": "Create an automated self-schedule for a candidate's application.",
        "operationId": "CreateAutomatedSelfSchedule",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Automated self-schedule payload.", "schema": { "$ref": "#/definitions/AutomatedSelfScheduleRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/SelfSchedule" } } }
      }
    },
    "/public-api/self-schedules/{id}": {
      "get": {
        "summary": "Get Self Schedule",
        "description": "Get a self-schedule by id.",
        "operationId": "GetSelfSchedule",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Self-schedule ID.", "x-ms-summary": "Self Schedule ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Self schedule", "schema": { "$ref": "#/definitions/SelfSchedule" } } }
      },
      "delete": {
        "summary": "Cancel Self Schedule",
        "description": "Cancel an existing self-schedule.",
        "operationId": "CancelSelfSchedule",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Self-schedule ID.", "x-ms-summary": "Self Schedule ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Cancelled" } }
      }
    },
    "/public-api/applications/{applicationId}/self-schedule/slots": {
      "get": {
        "summary": "Get Self Schedule Slots",
        "description": "Get available self-schedule slots for an application.",
        "operationId": "GetSelfScheduleSlots",
        "parameters": [
          { "name": "applicationId", "in": "path", "required": true, "type": "string", "description": "Application UUID.", "x-ms-summary": "Application ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Slots", "schema": { "type": "object", "properties": { "slots": { "type": "array", "description": "Available slots.", "items": { "$ref": "#/definitions/Timeslot" } } } } } }
      }
    },
    "/public-api/templates": {
      "get": {
        "summary": "List Interview Templates",
        "description": "List interview templates with optional search.",
        "operationId": "ListInterviewTemplates",
        "parameters": [
          { "name": "q",      "in": "query", "required": false, "type": "string",  "description": "Search by template name.", "x-ms-summary": "Query" },
          { "name": "limit",  "in": "query", "required": false, "type": "integer", "description": "Page size.",  "x-ms-summary": "Limit" },
          { "name": "offset", "in": "query", "required": false, "type": "integer", "description": "Page offset.", "x-ms-summary": "Offset" }
        ],
        "responses": { "200": { "description": "Templates", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Interview Template",
        "description": "Create a new interview template.",
        "operationId": "CreateInterviewTemplate",
        "parameters": [
          { "name": "body", "in": "body", "required": true, "description": "Interview template payload.", "schema": { "$ref": "#/definitions/InterviewTemplateRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/InterviewTemplate" } } }
      }
    },
    "/public-api/templates/{id}": {
      "get": {
        "summary": "Get Interview Template",
        "description": "Get an interview template by id.",
        "operationId": "GetInterviewTemplate",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Template ID.", "x-ms-summary": "Template ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Template", "schema": { "$ref": "#/definitions/InterviewTemplate" } } }
      },
      "put": {
        "summary": "Update Interview Template",
        "description": "Update an existing interview template.",
        "operationId": "UpdateInterviewTemplate",
        "parameters": [
          { "name": "id",   "in": "path", "required": true, "type": "string", "description": "Template ID.", "x-ms-summary": "Template ID", "x-ms-url-encoding": "single" },
          { "name": "body", "in": "body", "required": true, "description": "Replacement template payload.", "schema": { "$ref": "#/definitions/InterviewTemplateRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/InterviewTemplate" } } }
      },
      "delete": {
        "summary": "Delete Interview Template",
        "description": "Delete an interview template.",
        "operationId": "DeleteInterviewTemplate",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "type": "string", "description": "Template ID.", "x-ms-summary": "Template ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/candidates/{candidateId}/jobs/{jobId}/reviews": {
      "get": {
        "summary": "List Reviews",
        "description": "List reviews for a candidate's job application.",
        "operationId": "ListReviews",
        "parameters": [
          { "name": "candidateId", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId",       "in": "path", "required": true, "type": "string", "description": "Job ID.",       "x-ms-summary": "Job ID",       "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Reviews", "schema": { "$ref": "#/definitions/ListResult" } } }
      },
      "post": {
        "summary": "Create Review",
        "description": "Create a review for a candidate's job application.",
        "operationId": "CreateReview",
        "parameters": [
          { "name": "candidateId", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId",       "in": "path", "required": true, "type": "string", "description": "Job ID.",       "x-ms-summary": "Job ID",       "x-ms-url-encoding": "single" },
          { "name": "body",        "in": "body", "required": true, "description": "Review payload.", "schema": { "$ref": "#/definitions/ReviewRequest" } }
        ],
        "responses": { "201": { "description": "Created", "schema": { "$ref": "#/definitions/Review" } } }
      }
    },
    "/candidates/{candidateId}/jobs/{jobId}/reviews/{reviewId}": {
      "get": {
        "summary": "Get Review",
        "description": "Get a review by id.",
        "operationId": "GetReview",
        "parameters": [
          { "name": "candidateId", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId",       "in": "path", "required": true, "type": "string", "description": "Job ID.",       "x-ms-summary": "Job ID",       "x-ms-url-encoding": "single" },
          { "name": "reviewId",    "in": "path", "required": true, "type": "string", "description": "Review ID.",    "x-ms-summary": "Review ID",    "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Review", "schema": { "$ref": "#/definitions/Review" } } }
      },
      "put": {
        "summary": "Update Review",
        "description": "Update a review.",
        "operationId": "UpdateReview",
        "parameters": [
          { "name": "candidateId", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId",       "in": "path", "required": true, "type": "string", "description": "Job ID.",       "x-ms-summary": "Job ID",       "x-ms-url-encoding": "single" },
          { "name": "reviewId",    "in": "path", "required": true, "type": "string", "description": "Review ID.",    "x-ms-summary": "Review ID",    "x-ms-url-encoding": "single" },
          { "name": "body",        "in": "body", "required": true, "description": "Replacement review payload.", "schema": { "$ref": "#/definitions/ReviewRequest" } }
        ],
        "responses": { "200": { "description": "Updated", "schema": { "$ref": "#/definitions/Review" } } }
      },
      "delete": {
        "summary": "Delete Review",
        "description": "Delete a review.",
        "operationId": "DeleteReview",
        "parameters": [
          { "name": "candidateId", "in": "path", "required": true, "type": "string", "description": "Candidate ID.", "x-ms-summary": "Candidate ID", "x-ms-url-encoding": "single" },
          { "name": "jobId",       "in": "path", "required": true, "type": "string", "description": "Job ID.",       "x-ms-summary": "Job ID",       "x-ms-url-encoding": "single" },
          { "name": "reviewId",    "in": "path", "required": true, "type": "string", "description": "Review ID.",    "x-ms-summary": "Review ID",    "x-ms-url-encoding": "single" }
        ],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/reporting-api/v201804/reports": {
      "get": {
        "summary": "List Reports",
        "description": "List reports configured in Report Builder.",
        "operationId": "ListReports",
        "x-ms-visibility": "important",
        "parameters": [
          { "name": "page", "in": "query", "required": false, "type": "string", "description": "Opaque pagination cursor from a previous response.", "x-ms-summary": "Page Cursor" }
        ],
        "responses": { "200": { "description": "Reports", "schema": { "type": "object", "properties": { "content": { "type": "array", "description": "Reports in this page.", "items": { "$ref": "#/definitions/Report" } }, "nextPage": { "type": "string", "description": "Opaque cursor for the next page; empty if last page." } } } } }
      }
    },
    "/reporting-api/v201804/reports/{reportId}": {
      "get": {
        "summary": "Get Report",
        "description": "Get details of a report.",
        "operationId": "GetReport",
        "parameters": [
          { "name": "reportId", "in": "path", "required": true, "type": "string", "description": "Report ID.", "x-ms-summary": "Report ID", "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "Report", "schema": { "$ref": "#/definitions/Report" } } }
      }
    },
    "/reporting-api/v201804/reports/{reportId}/files": {
      "get": {
        "summary": "List Report Files",
        "description": "List files generated for a report.",
        "operationId": "ListReportFiles",
        "parameters": [
          { "name": "reportId", "in": "path",  "required": true,  "type": "string", "description": "Report ID.", "x-ms-summary": "Report ID", "x-ms-url-encoding": "single" },
          { "name": "page",     "in": "query", "required": false, "type": "string", "description": "Opaque pagination cursor.", "x-ms-summary": "Page Cursor" }
        ],
        "responses": { "200": { "description": "Report files", "schema": { "$ref": "#/definitions/ReportFileList" } } }
      },
      "post": {
        "summary": "Generate Ad Hoc Report",
        "description": "Trigger generation of an ad-hoc report file. Files are generated asynchronously \u2014 poll GET /files/recent until status is COMPLETED.",
        "operationId": "GenerateAdHocReport",
        "parameters": [
          { "name": "reportId", "in": "path", "required": true,  "type": "string", "description": "Report ID.", "x-ms-summary": "Report ID", "x-ms-url-encoding": "single" },
          { "name": "body",     "in": "body", "required": false, "description": "Optional ad-hoc parameters.", "schema": { "$ref": "#/definitions/AdHocReportRequest" } }
        ],
        "responses": { "200": { "description": "Generation started", "schema": { "$ref": "#/definitions/ReportFile" } } }
      }
    },
    "/reporting-api/v201804/reports/{reportId}/files/{fileId}": {
      "get": {
        "summary": "Get Report File",
        "description": "Get metadata for a specific report file.",
        "operationId": "GetReportFile",
        "parameters": [
          { "name": "reportId", "in": "path", "required": true, "type": "string", "description": "Report ID.", "x-ms-summary": "Report ID", "x-ms-url-encoding": "single" },
          { "name": "fileId",   "in": "path", "required": true, "type": "string", "description": "File ID.",   "x-ms-summary": "File ID",   "x-ms-url-encoding": "single" }
        ],
        "responses": { "200": { "description": "File metadata", "schema": { "$ref": "#/definitions/ReportFile" } } }
      }
    },
    "/reporting-api/v201804/reports/{reportId}/files/{fileId}/data": {
      "get": {
        "summary": "Download Report File",
[...]
