{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Entra Agent ID",
    "description": "Dual-purpose Microsoft Entra Agent ID connector. Use the MCP endpoint to give an AI agent tools for the agent identity lifecycle, or call the named actions directly from Power Automate and Logic Apps. Covers blueprints, blueprint principals, agent identities, and agent users on Microsoft Graph v1.0, plus workload identity federation for third-party agents on AWS, n8n, and Kubernetes, inheritable permissions, and the beta surfaces for agent risk detection, inherited permissions, Conditional Access what-if, and the agent registry.",
    "version": "2.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Invoke Entra Agent ID MCP",
        "description": "Model Context Protocol endpoint. Accepts JSON-RPC 2.0 requests and exposes the Microsoft Entra Agent ID tools, resources, and prompts to MCP clients such as Copilot Studio.",
        "operationId": "InvokeMCP",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": {
            "description": "MCP JSON-RPC 2.0 response"
          }
        }
      }
    },
    "/applications/microsoft.graph.agentIdentityBlueprint": {
      "get": {
        "summary": "List agent identity blueprints",
        "description": "List every agentIdentityBlueprint in the tenant. Other application types are not returned.",
        "operationId": "ListBlueprints",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "type": "string",
                  "description": "URL for the next page of results"
                },
                "@odata.count": {
                  "type": "integer",
                  "description": "Total number of matching items when $count is requested"
                },
                "value": {
                  "type": "array",
                  "description": "The matching objects",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "The resource type"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique object identifier"
                      },
                      "appId": {
                        "type": "string",
                        "description": "Application (client) identifier, where applicable"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Human-readable name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Free-text description"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "When the object was created, in ISO 8601 format"
                      },
                      "createdByAppId": {
                        "type": "string",
                        "description": "The appId of the application that created the object"
                      },
                      "accountEnabled": {
                        "type": "boolean",
                        "description": "Whether the object can authenticate"
                      },
                      "servicePrincipalType": {
                        "type": "string",
                        "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                      },
                      "agentIdentityBlueprintId": {
                        "type": "string",
                        "description": "The blueprint appId an agent identity was created from"
                      },
                      "identityParentId": {
                        "type": "string",
                        "description": "Object id of the agent identity that parents an agent user"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "UPN of an agent user"
                      },
                      "mailNickname": {
                        "type": "string",
                        "description": "Mail alias of an agent user"
                      },
                      "mail": {
                        "type": "string",
                        "description": "SMTP address of an agent user"
                      },
                      "publisherDomain": {
                        "type": "string",
                        "description": "Verified publisher domain of a blueprint"
                      },
                      "signInAudience": {
                        "type": "string",
                        "description": "Who can use the blueprint"
                      },
                      "disabledByMicrosoftStatus": {
                        "type": "string",
                        "description": "Whether Microsoft has disabled the object"
                      },
                      "tags": {
                        "type": "array",
                        "description": "Categorization tags",
                        "items": {
                          "type": "string",
                          "description": "A categorization tag"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "OData filter expression",
            "x-ms-summary": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Comma-separated properties to return",
            "x-ms-summary": "Comma-separated properties to return"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Navigation properties to expand",
            "x-ms-summary": "Navigation properties to expand"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Sort expression",
            "x-ms-summary": "Sort expression"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Free-text search (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Free-text search (requires ConsistencyLevel eventual)"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Maximum items to return (page size 100)",
            "x-ms-summary": "Maximum items to return (page size 100)"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Return the total match count (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Return the total match count (requires ConsistencyLevel eventual)"
          },
          {
            "name": "ConsistencyLevel",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Set to 'eventual' when using $search, $count, or advanced $filter",
            "x-ms-summary": "Consistency level"
          }
        ]
      },
      "post": {
        "summary": "Create agent identity blueprint",
        "description": "Register a new agent identity blueprint. The creating principal automatically becomes an owner. At least one sponsor is required.",
        "operationId": "CreateBlueprint",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "201": {
            "description": "Blueprint created",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "The resource type"
                },
                "id": {
                  "type": "string",
                  "description": "Unique object identifier"
                },
                "appId": {
                  "type": "string",
                  "description": "Application (client) identifier, where applicable"
                },
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When the object was created, in ISO 8601 format"
                },
                "createdByAppId": {
                  "type": "string",
                  "description": "The appId of the application that created the object"
                },
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Whether the object can authenticate"
                },
                "servicePrincipalType": {
                  "type": "string",
                  "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                },
                "agentIdentityBlueprintId": {
                  "type": "string",
                  "description": "The blueprint appId an agent identity was created from"
                },
                "identityParentId": {
                  "type": "string",
                  "description": "Object id of the agent identity that parents an agent user"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "UPN of an agent user"
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail alias of an agent user"
                },
                "mail": {
                  "type": "string",
                  "description": "SMTP address of an agent user"
                },
                "publisherDomain": {
                  "type": "string",
                  "description": "Verified publisher domain of a blueprint"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint"
                },
                "disabledByMicrosoftStatus": {
                  "type": "string",
                  "description": "Whether Microsoft has disabled the object"
                },
                "tags": {
                  "type": "array",
                  "description": "Categorization tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "blueprint",
            "in": "body",
            "required": true,
            "description": "The blueprint to create",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name for the blueprint (maximum 256 characters)",
                  "x-ms-summary": "Display name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description of the blueprint (maximum 1024 characters)",
                  "x-ms-summary": "Description"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint",
                  "x-ms-summary": "Sign-in audience",
                  "enum": [
                    "AzureADMyOrg",
                    "AzureADMultipleOrgs",
                    "AzureADandPersonalMicrosoftAccount",
                    "PersonalMicrosoftAccount"
                  ]
                },
                "tags": {
                  "type": "array",
                  "description": "Custom categorization strings",
                  "x-ms-summary": "Tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                },
                "identifierUris": {
                  "type": "array",
                  "description": "Globally unique application ID URIs",
                  "x-ms-summary": "Identifier URIs",
                  "items": {
                    "type": "string",
                    "description": "An application ID URI"
                  }
                },
                "serviceManagementReference": {
                  "type": "string",
                  "description": "Reference to a service or asset management database entry",
                  "x-ms-summary": "Service management reference"
                },
                "groupMembershipClaims": {
                  "type": "string",
                  "description": "Which groups are emitted in the token",
                  "x-ms-summary": "Group membership claims",
                  "enum": [
                    "None",
                    "SecurityGroup",
                    "All"
                  ]
                },
                "managerApplications": {
                  "type": "array",
                  "description": "Up to 10 first-party app IDs designated as manager applications",
                  "x-ms-summary": "Manager applications",
                  "items": {
                    "type": "string",
                    "description": "An application ID"
                  }
                },
                "requiredResourceAccess": {
                  "type": "array",
                  "description": "Permissions the blueprint requests from other APIs. Blocked agent permissions are rejected with HTTP 400.",
                  "x-ms-summary": "Required resource access",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resourceAppId": {
                        "type": "string",
                        "description": "The appId of the target resource, for example 00000003-0000-0000-c000-000000000000 for Microsoft Graph",
                        "x-ms-summary": "Resource app ID"
                      },
                      "resourceAccess": {
                        "type": "array",
                        "description": "The scopes and roles requested from that resource",
                        "x-ms-summary": "Resource access",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The id of the scope or app role"
                            },
                            "type": {
                              "type": "string",
                              "description": "Scope for a delegated permission, Role for an application permission"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "sponsors@odata.bind": {
                  "type": "array",
                  "description": "Sponsor reference URLs, for example https://graph.microsoft.com/v1.0/users/{userId} or .../groups/{groupId}. At least one is required; maximum 100 with at most 5 groups.",
                  "x-ms-summary": "Sponsors",
                  "items": {
                    "type": "string",
                    "description": "A Microsoft Graph resource URL for a user or group"
                  }
                }
              },
              "required": [
                "displayName",
                "sponsors@odata.bind"
              ]
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint": {
      "get": {
        "summary": "Get agent identity blueprint",
        "description": "Read a single agent identity blueprint by its object id.",
        "operationId": "GetBlueprint",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "The resource type"
                },
                "id": {
                  "type": "string",
                  "description": "Unique object identifier"
                },
                "appId": {
                  "type": "string",
                  "description": "Application (client) identifier, where applicable"
                },
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When the object was created, in ISO 8601 format"
                },
                "createdByAppId": {
                  "type": "string",
                  "description": "The appId of the application that created the object"
                },
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Whether the object can authenticate"
                },
                "servicePrincipalType": {
                  "type": "string",
                  "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                },
                "agentIdentityBlueprintId": {
                  "type": "string",
                  "description": "The blueprint appId an agent identity was created from"
                },
                "identityParentId": {
                  "type": "string",
                  "description": "Object id of the agent identity that parents an agent user"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "UPN of an agent user"
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail alias of an agent user"
                },
                "mail": {
                  "type": "string",
                  "description": "SMTP address of an agent user"
                },
                "publisherDomain": {
                  "type": "string",
                  "description": "Verified publisher domain of a blueprint"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint"
                },
                "disabledByMicrosoftStatus": {
                  "type": "string",
                  "description": "Whether Microsoft has disabled the object"
                },
                "tags": {
                  "type": "array",
                  "description": "Categorization tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Comma-separated properties to return",
            "x-ms-summary": "Comma-separated properties to return"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Navigation properties to expand",
            "x-ms-summary": "Navigation properties to expand"
          }
        ]
      },
      "patch": {
        "summary": "Update agent identity blueprint",
        "description": "Partially update a blueprint. Password credentials cannot be set here - use Add blueprint password instead.",
        "operationId": "UpdateBlueprint",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Blueprint updated"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "blueprint",
            "in": "body",
            "required": true,
            "description": "The properties to update",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name for the blueprint (maximum 256 characters)",
                  "x-ms-summary": "Display name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description of the blueprint (maximum 1024 characters)",
                  "x-ms-summary": "Description"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint",
                  "x-ms-summary": "Sign-in audience",
                  "enum": [
                    "AzureADMyOrg",
                    "AzureADMultipleOrgs",
                    "AzureADandPersonalMicrosoftAccount",
                    "PersonalMicrosoftAccount"
                  ]
                },
                "tags": {
                  "type": "array",
                  "description": "Custom categorization strings",
                  "x-ms-summary": "Tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                },
                "identifierUris": {
                  "type": "array",
                  "description": "Globally unique application ID URIs",
                  "x-ms-summary": "Identifier URIs",
                  "items": {
                    "type": "string",
                    "description": "An application ID URI"
                  }
                },
                "serviceManagementReference": {
                  "type": "string",
                  "description": "Reference to a service or asset management database entry",
                  "x-ms-summary": "Service management reference"
                },
                "groupMembershipClaims": {
                  "type": "string",
                  "description": "Which groups are emitted in the token",
                  "x-ms-summary": "Group membership claims",
                  "enum": [
                    "None",
                    "SecurityGroup",
                    "All"
                  ]
                },
                "managerApplications": {
                  "type": "array",
                  "description": "Up to 10 first-party app IDs designated as manager applications",
                  "x-ms-summary": "Manager applications",
                  "items": {
                    "type": "string",
                    "description": "An application ID"
                  }
                },
                "requiredResourceAccess": {
                  "type": "array",
                  "description": "Permissions the blueprint requests from other APIs. Blocked agent permissions are rejected with HTTP 400.",
                  "x-ms-summary": "Required resource access",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resourceAppId": {
                        "type": "string",
                        "description": "The appId of the target resource, for example 00000003-0000-0000-c000-000000000000 for Microsoft Graph",
                        "x-ms-summary": "Resource app ID"
                      },
                      "resourceAccess": {
                        "type": "array",
                        "description": "The scopes and roles requested from that resource",
                        "x-ms-summary": "Resource access",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The id of the scope or app role"
                            },
                            "type": {
                              "type": "string",
                              "description": "Scope for a delegated permission, Role for an application permission"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete agent identity blueprint",
        "description": "Soft-delete a blueprint. It is restorable for 30 days. Blueprint principals and agent identities derived from it are not deleted.",
        "operationId": "DeleteBlueprint",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Blueprint deleted"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/applications(uniqueName='{uniqueName}')/microsoft.graph.agentIdentityBlueprint": {
      "patch": {
        "summary": "Upsert agent identity blueprint",
        "description": "Create or update a blueprint keyed on a client-assigned uniqueName. Send the Prefer header as create-if-missing to allow creation; without it a missing blueprint returns 404.",
        "operationId": "UpsertBlueprint",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "201": {
            "description": "Blueprint created",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "The resource type"
                },
                "id": {
                  "type": "string",
                  "description": "Unique object identifier"
                },
                "appId": {
                  "type": "string",
                  "description": "Application (client) identifier, where applicable"
                },
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When the object was created, in ISO 8601 format"
                },
                "createdByAppId": {
                  "type": "string",
                  "description": "The appId of the application that created the object"
                },
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Whether the object can authenticate"
                },
                "servicePrincipalType": {
                  "type": "string",
                  "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                },
                "agentIdentityBlueprintId": {
                  "type": "string",
                  "description": "The blueprint appId an agent identity was created from"
                },
                "identityParentId": {
                  "type": "string",
                  "description": "Object id of the agent identity that parents an agent user"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "UPN of an agent user"
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail alias of an agent user"
                },
                "mail": {
                  "type": "string",
                  "description": "SMTP address of an agent user"
                },
                "publisherDomain": {
                  "type": "string",
                  "description": "Verified publisher domain of a blueprint"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint"
                },
                "disabledByMicrosoftStatus": {
                  "type": "string",
                  "description": "Whether Microsoft has disabled the object"
                },
                "tags": {
                  "type": "array",
                  "description": "Categorization tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "uniqueName",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Client-assigned unique name for the blueprint",
            "x-ms-summary": "Client-assigned unique name for the blueprint",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Prefer",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Set to create-if-missing to create the blueprint when it does not exist",
            "x-ms-summary": "Prefer"
          },
          {
            "name": "blueprint",
            "in": "body",
            "required": true,
            "description": "The blueprint to create or update",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name for the blueprint (maximum 256 characters)",
                  "x-ms-summary": "Display name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description of the blueprint (maximum 1024 characters)",
                  "x-ms-summary": "Description"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint",
                  "x-ms-summary": "Sign-in audience",
                  "enum": [
                    "AzureADMyOrg",
                    "AzureADMultipleOrgs",
                    "AzureADandPersonalMicrosoftAccount",
                    "PersonalMicrosoftAccount"
                  ]
                },
                "tags": {
                  "type": "array",
                  "description": "Custom categorization strings",
                  "x-ms-summary": "Tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                },
                "identifierUris": {
                  "type": "array",
                  "description": "Globally unique application ID URIs",
                  "x-ms-summary": "Identifier URIs",
                  "items": {
                    "type": "string",
                    "description": "An application ID URI"
                  }
                },
                "serviceManagementReference": {
                  "type": "string",
                  "description": "Reference to a service or asset management database entry",
                  "x-ms-summary": "Service management reference"
                },
                "groupMembershipClaims": {
                  "type": "string",
                  "description": "Which groups are emitted in the token",
                  "x-ms-summary": "Group membership claims",
                  "enum": [
                    "None",
                    "SecurityGroup",
                    "All"
                  ]
                },
                "managerApplications": {
                  "type": "array",
                  "description": "Up to 10 first-party app IDs designated as manager applications",
                  "x-ms-summary": "Manager applications",
                  "items": {
                    "type": "string",
                    "description": "An application ID"
                  }
                },
                "requiredResourceAccess": {
                  "type": "array",
                  "description": "Permissions the blueprint requests from other APIs. Blocked agent permissions are rejected with HTTP 400.",
                  "x-ms-summary": "Required resource access",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resourceAppId": {
                        "type": "string",
                        "description": "The appId of the target resource, for example 00000003-0000-0000-c000-000000000000 for Microsoft Graph",
                        "x-ms-summary": "Resource app ID"
                      },
                      "resourceAccess": {
                        "type": "array",
                        "description": "The scopes and roles requested from that resource",
                        "x-ms-summary": "Resource access",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The id of the scope or app role"
                            },
                            "type": {
                              "type": "string",
                              "description": "Scope for a delegated permission, Role for an application permission"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "sponsors@odata.bind": {
                  "type": "array",
                  "description": "Sponsor reference URLs, for example https://graph.microsoft.com/v1.0/users/{userId} or .../groups/{groupId}. At least one is required; maximum 100 with at most 5 groups.",
                  "x-ms-summary": "Sponsors",
                  "items": {
                    "type": "string",
                    "description": "A Microsoft Graph resource URL for a user or group"
                  }
                }
              },
              "required": [
                "displayName"
              ]
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/addPassword": {
      "post": {
        "summary": "Add blueprint password",
        "description": "Add a client secret to a blueprint. The generated secretText is returned once and cannot be retrieved later.",
        "operationId": "AddBlueprintPassword",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "customKeyIdentifier": {
                  "type": "string",
                  "description": "Custom key identifier"
                },
                "displayName": {
                  "type": "string",
                  "description": "Friendly name for the password"
                },
                "endDateTime": {
                  "type": "string",
                  "description": "Expiry date and time in ISO 8601 format"
                },
                "hint": {
                  "type": "string",
                  "description": "First three characters of the secret"
                },
                "keyId": {
                  "type": "string",
                  "description": "Unique identifier for the password"
                },
                "secretText": {
                  "type": "string",
                  "description": "The generated secret - returned only on creation"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "Start date and time in ISO 8601 format"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "passwordRequest",
            "in": "body",
            "required": true,
            "description": "The secret metadata",
            "schema": {
              "type": "object",
              "properties": {
                "passwordCredential": {
                  "type": "object",
                  "description": "Optional metadata for the generated secret",
                  "x-ms-summary": "Password credential",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "description": "Friendly name for the secret",
                      "x-ms-summary": "Display name"
                    },
                    "startDateTime": {
                      "type": "string",
                      "description": "When the secret becomes valid, in ISO 8601 format",
                      "x-ms-summary": "Start date and time"
                    },
                    "endDateTime": {
                      "type": "string",
                      "description": "When the secret expires, in ISO 8601 format",
                      "x-ms-summary": "End date and time"
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/removePassword": {
      "post": {
        "summary": "Remove blueprint password",
        "description": "Remove a client secret from a blueprint by its keyId.",
        "operationId": "RemoveBlueprintPassword",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Password removed"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "removeRequest",
            "in": "body",
            "required": true,
            "description": "The password to remove",
            "schema": {
              "type": "object",
              "required": [
                "keyId"
              ],
              "properties": {
                "keyId": {
                  "type": "string",
                  "description": "Identifier of the password credential to remove",
                  "x-ms-summary": "Key ID"
                }
              }
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/addKey": {
      "post": {
        "summary": "Add blueprint certificate key",
        "description": "Add a certificate credential to a blueprint. Upload the public key only, and supply a proof-of-possession JWT signed by an existing valid certificate on the blueprint.",
        "operationId": "AddBlueprintKey",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "customKeyIdentifier": {
                  "type": "string",
                  "description": "Custom key identifier"
                },
                "displayName": {
                  "type": "string",
                  "description": "Friendly name for the key"
                },
                "endDateTime": {
                  "type": "string",
                  "description": "Expiry date and time in ISO 8601 format"
                },
                "key": {
                  "type": "string",
                  "description": "Base64-encoded certificate public key"
                },
                "keyId": {
                  "type": "string",
                  "description": "Unique identifier for the key"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "Start date and time in ISO 8601 format"
                },
                "type": {
                  "type": "string",
                  "description": "The credential type, for example AsymmetricX509Cert"
                },
                "usage": {
                  "type": "string",
                  "description": "The key usage, for example Verify"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "keyRequest",
            "in": "body",
            "required": true,
            "description": "The certificate to add",
            "schema": {
              "type": "object",
              "required": [
                "keyCredential",
                "proof"
              ],
              "properties": {
                "keyCredential": {
                  "type": "object",
                  "required": [
                    "type",
                    "usage",
                    "key"
                  ],
                  "description": "The certificate to add",
                  "x-ms-summary": "Key credential",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Credential type",
                      "x-ms-summary": "Type",
                      "enum": [
                        "AsymmetricX509Cert",
                        "X509CertAndPassword"
                      ]
                    },
                    "usage": {
                      "type": "string",
                      "description": "Key usage",
                      "x-ms-summary": "Usage",
                      "enum": [
                        "Verify",
                        "Sign"
                      ]
                    },
                    "key": {
                      "type": "string",
                      "description": "Base64-encoded public certificate in DER format",
                      "x-ms-summary": "Key"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "Friendly name for the certificate",
                      "x-ms-summary": "Display name"
                    }
                  }
                },
                "proof": {
                  "type": "string",
                  "description": "Self-signed proof-of-possession JWT",
                  "x-ms-summary": "Proof"
                }
              }
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/removeKey": {
      "post": {
        "summary": "Remove blueprint certificate key",
        "description": "Remove a certificate credential from a blueprint by its keyId, with a proof-of-possession JWT.",
        "operationId": "RemoveBlueprintKey",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Key removed"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "removeRequest",
            "in": "body",
            "required": true,
            "description": "The certificate to remove",
            "schema": {
              "type": "object",
              "required": [
                "keyId",
                "proof"
              ],
              "properties": {
                "keyId": {
                  "type": "string",
                  "description": "Identifier of the key credential to remove",
                  "x-ms-summary": "Key ID"
                },
                "proof": {
                  "type": "string",
                  "description": "Self-signed proof-of-possession JWT",
                  "x-ms-summary": "Proof"
                }
              }
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/setVerifiedPublisher": {
      "post": {
        "summary": "Set blueprint verified publisher",
        "description": "Set the Microsoft Partner Network verified publisher on a blueprint.",
        "operationId": "SetBlueprintVerifiedPublisher",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Verified publisher set"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "publisher",
            "in": "body",
            "required": true,
            "description": "The verified publisher",
            "schema": {
              "type": "object",
              "required": [
                "verifiedPublisherId"
              ],
              "properties": {
                "verifiedPublisherId": {
                  "type": "string",
                  "description": "The Microsoft Partner Network id of the verified publisher",
                  "x-ms-summary": "Verified publisher ID"
                }
              }
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/unsetVerifiedPublisher": {
      "post": {
        "summary": "Unset blueprint verified publisher",
        "description": "Remove the verified publisher from a blueprint.",
        "operationId": "UnsetBlueprintVerifiedPublisher",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Verified publisher removed"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/owners": {
      "get": {
        "summary": "List blueprint owners",
        "description": "List the users and service principals that may modify this blueprint.",
        "operationId": "ListBlueprintOwners",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "type": "string",
                  "description": "URL for the next page of results"
                },
                "@odata.count": {
                  "type": "integer",
                  "description": "Total number of matching items when $count is requested"
                },
                "value": {
                  "type": "array",
                  "description": "The matching objects",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "The resource type"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique object identifier"
                      },
                      "appId": {
                        "type": "string",
                        "description": "Application (client) identifier, where applicable"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Human-readable name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Free-text description"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "When the object was created, in ISO 8601 format"
                      },
                      "createdByAppId": {
                        "type": "string",
                        "description": "The appId of the application that created the object"
                      },
                      "accountEnabled": {
                        "type": "boolean",
                        "description": "Whether the object can authenticate"
                      },
                      "servicePrincipalType": {
                        "type": "string",
                        "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                      },
                      "agentIdentityBlueprintId": {
                        "type": "string",
                        "description": "The blueprint appId an agent identity was created from"
                      },
                      "identityParentId": {
                        "type": "string",
                        "description": "Object id of the agent identity that parents an agent user"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "UPN of an agent user"
                      },
                      "mailNickname": {
                        "type": "string",
                        "description": "Mail alias of an agent user"
                      },
                      "mail": {
                        "type": "string",
                        "description": "SMTP address of an agent user"
                      },
                      "publisherDomain": {
                        "type": "string",
                        "description": "Verified publisher domain of a blueprint"
                      },
                      "signInAudience": {
                        "type": "string",
                        "description": "Who can use the blueprint"
                      },
                      "disabledByMicrosoftStatus": {
                        "type": "string",
                        "description": "Whether Microsoft has disabled the object"
                      },
                      "tags": {
                        "type": "array",
                        "description": "Categorization tags",
                        "items": {
                          "type": "string",
                          "description": "A categorization tag"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "OData filter expression",
            "x-ms-summary": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Comma-separated properties to return",
            "x-ms-summary": "Comma-separated properties to return"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Navigation properties to expand",
            "x-ms-summary": "Navigation properties to expand"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Sort expression",
            "x-ms-summary": "Sort expression"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Free-text search (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Free-text search (requires ConsistencyLevel eventual)"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Maximum items to return (page size 100)",
            "x-ms-summary": "Maximum items to return (page size 100)"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Return the total match count (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Return the total match count (requires ConsistencyLevel eventual)"
          },
          {
            "name": "ConsistencyLevel",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Set to 'eventual' when using $search, $count, or advanced $filter",
            "x-ms-summary": "Consistency level"
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/owners/$ref": {
      "post": {
        "summary": "Add blueprint owner",
        "description": "Add an owner to a blueprint. Keep at least two owners so the blueprint never becomes orphaned.",
        "operationId": "AddBlueprintOwner",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Owner added"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "owner",
            "in": "body",
            "required": true,
            "description": "The directory object to add as owner",
            "schema": {
              "type": "object",
              "required": [
                "@odata.id"
              ],
              "properties": {
                "@odata.id": {
                  "type": "string",
                  "description": "Read URL of the directory object to link, for example https://graph.microsoft.com/v1.0/directoryObjects/{objectId}",
                  "x-ms-summary": "Object reference URL"
                }
              }
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/owners/{ownerId}/$ref": {
      "delete": {
        "summary": "Remove blueprint owner",
        "description": "Remove an owner from a blueprint.",
        "operationId": "RemoveBlueprintOwner",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Owner removed"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ownerId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the owner to remove",
            "x-ms-summary": "Object id of the owner to remove",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/sponsors": {
      "get": {
        "summary": "List blueprint sponsors",
        "description": "List the users and groups accountable for this blueprint's lifecycle.",
        "operationId": "ListBlueprintSponsors",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "type": "string",
                  "description": "URL for the next page of results"
                },
                "@odata.count": {
                  "type": "integer",
                  "description": "Total number of matching items when $count is requested"
                },
                "value": {
                  "type": "array",
                  "description": "The matching objects",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "The resource type"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique object identifier"
                      },
                      "appId": {
                        "type": "string",
                        "description": "Application (client) identifier, where applicable"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Human-readable name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Free-text description"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "When the object was created, in ISO 8601 format"
                      },
                      "createdByAppId": {
                        "type": "string",
                        "description": "The appId of the application that created the object"
                      },
                      "accountEnabled": {
                        "type": "boolean",
                        "description": "Whether the object can authenticate"
                      },
                      "servicePrincipalType": {
                        "type": "string",
                        "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                      },
                      "agentIdentityBlueprintId": {
                        "type": "string",
                        "description": "The blueprint appId an agent identity was created from"
                      },
                      "identityParentId": {
                        "type": "string",
                        "description": "Object id of the agent identity that parents an agent user"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "UPN of an agent user"
                      },
                      "mailNickname": {
                        "type": "string",
                        "description": "Mail alias of an agent user"
                      },
                      "mail": {
                        "type": "string",
                        "description": "SMTP address of an agent user"
                      },
                      "publisherDomain": {
                        "type": "string",
                        "description": "Verified publisher domain of a blueprint"
                      },
                      "signInAudience": {
                        "type": "string",
                        "description": "Who can use the blueprint"
                      },
                      "disabledByMicrosoftStatus": {
                        "type": "string",
                        "description": "Whether Microsoft has disabled the object"
                      },
                      "tags": {
                        "type": "array",
                        "description": "Categorization tags",
                        "items": {
                          "type": "string",
                          "description": "A categorization tag"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "OData filter expression",
            "x-ms-summary": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Comma-separated properties to return",
            "x-ms-summary": "Comma-separated properties to return"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Navigation properties to expand",
            "x-ms-summary": "Navigation properties to expand"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Sort expression",
            "x-ms-summary": "Sort expression"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Free-text search (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Free-text search (requires ConsistencyLevel eventual)"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Maximum items to return (page size 100)",
            "x-ms-summary": "Maximum items to return (page size 100)"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Return the total match count (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Return the total match count (requires ConsistencyLevel eventual)"
          },
          {
            "name": "ConsistencyLevel",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Set to 'eventual' when using $search, $count, or advanced $filter",
            "x-ms-summary": "Consistency level"
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/sponsors/$ref": {
      "post": {
        "summary": "Add blueprint sponsor",
        "description": "Add a sponsor to a blueprint. Sponsors must be users or groups, never service principals.",
        "operationId": "AddBlueprintSponsor",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Sponsor added"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "sponsor",
            "in": "body",
            "required": true,
            "description": "The directory object to add as sponsor",
            "schema": {
              "type": "object",
              "required": [
                "@odata.id"
              ],
              "properties": {
                "@odata.id": {
                  "type": "string",
                  "description": "Read URL of the directory object to link, for example https://graph.microsoft.com/v1.0/directoryObjects/{objectId}",
                  "x-ms-summary": "Object reference URL"
                }
              }
            }
          }
        ]
      }
    },
    "/applications/{applicationId}/microsoft.graph.agentIdentityBlueprint/sponsors/{sponsorId}/$ref": {
      "delete": {
        "summary": "Remove blueprint sponsor",
        "description": "Remove a sponsor from a blueprint. At least one sponsor must remain.",
        "operationId": "RemoveBlueprintSponsor",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "204": {
            "description": "Sponsor removed"
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the blueprint application",
            "x-ms-summary": "Object id of the blueprint application",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "sponsorId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Object id of the sponsor to remove",
            "x-ms-summary": "Object id of the sponsor to remove",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/servicePrincipals/microsoft.graph.agentIdentityBlueprintPrincipal": {
      "get": {
        "summary": "List blueprint principals",
        "description": "List every agentIdentityBlueprintPrincipal in the tenant. A blueprint principal records a blueprint's addition to this tenant.",
        "operationId": "ListBlueprintPrincipals",
        "tags": [
          "Blueprint principals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "type": "string",
                  "description": "URL for the next page of results"
                },
                "@odata.count": {
                  "type": "integer",
                  "description": "Total number of matching items when $count is requested"
                },
                "value": {
                  "type": "array",
                  "description": "The matching objects",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "The resource type"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique object identifier"
                      },
                      "appId": {
                        "type": "string",
                        "description": "Application (client) identifier, where applicable"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Human-readable name"
                      },
                      "description": {
                        "type": "string",
                        "description": "Free-text description"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "When the object was created, in ISO 8601 format"
                      },
                      "createdByAppId": {
                        "type": "string",
                        "description": "The appId of the application that created the object"
                      },
                      "accountEnabled": {
                        "type": "boolean",
                        "description": "Whether the object can authenticate"
                      },
                      "servicePrincipalType": {
                        "type": "string",
                        "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                      },
                      "agentIdentityBlueprintId": {
                        "type": "string",
                        "description": "The blueprint appId an agent identity was created from"
                      },
                      "identityParentId": {
                        "type": "string",
                        "description": "Object id of the agent identity that parents an agent user"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "UPN of an agent user"
                      },
                      "mailNickname": {
                        "type": "string",
                        "description": "Mail alias of an agent user"
                      },
                      "mail": {
                        "type": "string",
                        "description": "SMTP address of an agent user"
                      },
                      "publisherDomain": {
                        "type": "string",
                        "description": "Verified publisher domain of a blueprint"
                      },
                      "signInAudience": {
                        "type": "string",
                        "description": "Who can use the blueprint"
                      },
                      "disabledByMicrosoftStatus": {
                        "type": "string",
                        "description": "Whether Microsoft has disabled the object"
                      },
                      "tags": {
                        "type": "array",
                        "description": "Categorization tags",
                        "items": {
                          "type": "string",
                          "description": "A categorization tag"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "OData filter expression",
            "x-ms-summary": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Comma-separated properties to return",
            "x-ms-summary": "Comma-separated properties to return"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Navigation properties to expand",
            "x-ms-summary": "Navigation properties to expand"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Sort expression",
            "x-ms-summary": "Sort expression"
          },
          {
            "name": "$search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Free-text search (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Free-text search (requires ConsistencyLevel eventual)"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "Maximum items to return (page size 100)",
            "x-ms-summary": "Maximum items to return (page size 100)"
          },
          {
            "name": "$count",
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Return the total match count (requires ConsistencyLevel eventual)",
            "x-ms-summary": "Return the total match count (requires ConsistencyLevel eventual)"
          },
          {
            "name": "ConsistencyLevel",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Set to 'eventual' when using $search, $count, or advanced $filter",
            "x-ms-summary": "Consistency level"
          }
        ]
      },
      "post": {
        "summary": "Create blueprint principal",
        "description": "Instantiate an existing blueprint into this tenant. Supply the blueprint's appId. This must succeed before agent identities can be created from that blueprint here.",
        "operationId": "CreateBlueprintPrincipal",
        "tags": [
          "Blueprint principals"
        ],
        "responses": {
          "201": {
            "description": "Blueprint principal created",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "The resource type"
                },
                "id": {
                  "type": "string",
                  "description": "Unique object identifier"
                },
                "appId": {
                  "type": "string",
                  "description": "Application (client) identifier, where applicable"
                },
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When the object was created, in ISO 8601 format"
                },
                "createdByAppId": {
                  "type": "string",
                  "description": "The appId of the application that created the object"
                },
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Whether the object can authenticate"
                },
                "servicePrincipalType": {
                  "type": "string",
                  "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                },
                "agentIdentityBlueprintId": {
                  "type": "string",
                  "description": "The blueprint appId an agent identity was created from"
                },
                "identityParentId": {
                  "type": "string",
                  "description": "Object id of the agent identity that parents an agent user"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "UPN of an agent user"
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail alias of an agent user"
                },
                "mail": {
                  "type": "string",
                  "description": "SMTP address of an agent user"
                },
                "publisherDomain": {
                  "type": "string",
                  "description": "Verified publisher domain of a blueprint"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint"
                },
                "disabledByMicrosoftStatus": {
                  "type": "string",
                  "description": "Whether Microsoft has disabled the object"
                },
                "tags": {
                  "type": "array",
                  "description": "Categorization tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
            "description": "Forbidden - the caller lacks the Agent ID role or Graph permission"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Throttled by Microsoft Graph"
          }
        },
        "parameters": [
          {
            "name": "blueprintPrincipal",
            "in": "body",
            "required": true,
            "description": "The blueprint principal to create",
            "schema": {
              "type": "object",
              "required": [
                "appId"
              ],
              "properties": {
                "appId": {
                  "type": "string",
                  "description": "The appId of the agent identity blueprint to instantiate",
                  "x-ms-summary": "Blueprint app ID"
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name for the blueprint principal",
                  "x-ms-summary": "Display name"
                },
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Whether the blueprint principal is enabled",
                  "x-ms-summary": "Account enabled"
                },
                "appRoleAssignmentRequired": {
                  "type": "boolean",
                  "description": "Whether an app role assignment is required to sign in",
                  "x-ms-summary": "App role assignment required"
                }
              }
            }
          }
        ]
      }
    },
    "/servicePrincipals/{servicePrincipalId}/microsoft.graph.agentIdentityBlueprintPrincipal": {
      "get": {
        "summary": "Get blueprint principal",
        "description": "Read a single blueprint principal by its object id.",
        "operationId": "GetBlueprintPrincipal",
        "tags": [
          "Blueprint principals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "The resource type"
                },
                "id": {
                  "type": "string",
                  "description": "Unique object identifier"
                },
                "appId": {
                  "type": "string",
                  "description": "Application (client) identifier, where applicable"
                },
                "displayName": {
                  "type": "string",
                  "description": "Human-readable name"
                },
                "description": {
                  "type": "string",
                  "description": "Free-text description"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "When the object was created, in ISO 8601 format"
                },
                "createdByAppId": {
                  "type": "string",
                  "description": "The appId of the application that created the object"
                },
                "accountEnabled": {
                  "type": "boolean",
                  "description": "Whether the object can authenticate"
                },
                "servicePrincipalType": {
                  "type": "string",
                  "description": "ServiceIdentity for agent identities, Application for blueprint principals"
                },
                "agentIdentityBlueprintId": {
                  "type": "string",
                  "description": "The blueprint appId an agent identity was created from"
                },
                "identityParentId": {
                  "type": "string",
                  "description": "Object id of the agent identity that parents an agent user"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "UPN of an agent user"
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Mail alias of an agent user"
                },
                "mail": {
                  "type": "string",
                  "description": "SMTP address of an agent user"
                },
                "publisherDomain": {
                  "type": "string",
                  "description": "Verified publisher domain of a blueprint"
                },
                "signInAudience": {
                  "type": "string",
                  "description": "Who can use the blueprint"
                },
                "disabledByMicrosoftStatus": {
                  "type": "string",
                  "description": "Whether Microsoft has disabled the object"
                },
                "tags": {
                  "type": "array",
                  "description": "Categorization tags",
                  "items": {
                    "type": "string",
                    "description": "A categorization tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed body, blocked permission, or unmet prerequisite"
          },
          "401": {
            "description": "Unauthorized - the connection token is missing or expired"
          },
          "403": {
[...]
