{
  "swagger": "2.0",
  "info": {
    "title": "Graph Meeting Transcripts",
    "description": "Microsoft Graph connector for Teams meeting transcripts, recordings, attendance, AI insights, and virtual events (webinars, town halls, sessions, presenters, registrations).",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Invoke Graph Meeting Transcripts MCP",
        "description": "Sends JSON-RPC requests to invoke Microsoft Graph meeting tools via MCP for Copilot Studio integration.",
        "operationId": "InvokeMCP",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": {
            "description": "MCP response"
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings": {
      "get": {
        "summary": "Get My Online Meeting by Join URL",
        "description": "Retrieve an online meeting by its join URL. Use this to find the meeting ID needed for transcript operations.",
        "operationId": "GetMyOnlineMeetingByJoinUrl",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Filter",
            "description": "OData filter expression (e.g., JoinWebUrl eq 'https://teams.microsoft.com/l/meetup-join/...')"
          }
        ],
        "responses": {
          "200": {
            "description": "Online meeting details",
            "schema": {
              "$ref": "#/definitions/onlineMeetingCollectionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create Online Meeting",
        "description": "Create an online meeting on behalf of the signed-in user. The meeting does not appear on the user's calendar.",
        "operationId": "CreateMyOnlineMeeting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onlineMeetingInput"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created online meeting",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/transcripts": {
      "get": {
        "summary": "List My Meeting Transcripts",
        "description": "Retrieve the list of transcripts associated with my online meeting.",
        "operationId": "ListMyMeetingTranscripts",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Number of transcripts to return"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcripts",
            "schema": {
              "$ref": "#/definitions/transcriptCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/transcripts/{transcriptId}": {
      "get": {
        "summary": "Get My Meeting Transcript",
        "description": "Retrieve a specific transcript associated with my online meeting.",
        "operationId": "GetMyMeetingTranscript",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Transcript ID",
            "description": "The transcript ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript details",
            "schema": {
              "$ref": "#/definitions/callTranscript"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/transcripts/{transcriptId}/content": {
      "get": {
        "summary": "Get My Transcript Content",
        "description": "Retrieve the VTT content of a specific transcript from my online meeting.",
        "operationId": "GetMyTranscriptContent",
        "x-ms-visibility": "important",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Transcript ID",
            "description": "The transcript ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$format",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Format",
            "description": "Content format (e.g., text/vtt)"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript content in VTT format",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/transcripts/{transcriptId}/metadataContent": {
      "get": {
        "summary": "Get My Transcript Metadata",
        "description": "Retrieve the time-aligned metadata of utterances in a transcript from my online meeting, including speaker names, spoken text, and language.",
        "operationId": "GetMyTranscriptMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Transcript ID",
            "description": "The transcript ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript metadata content in VTT format with JSON utterance data",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/transcripts": {
      "get": {
        "summary": "List User Meeting Transcripts",
        "description": "Retrieve the list of transcripts associated with a specific user's online meeting.",
        "operationId": "ListUserMeetingTranscripts",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Number of transcripts to return"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcripts",
            "schema": {
              "$ref": "#/definitions/transcriptCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/transcripts/{transcriptId}": {
      "get": {
        "summary": "Get User Meeting Transcript",
        "description": "Retrieve a specific transcript associated with a user's online meeting.",
        "operationId": "GetUserMeetingTranscript",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Transcript ID",
            "description": "The transcript ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript details",
            "schema": {
              "$ref": "#/definitions/callTranscript"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/transcripts/{transcriptId}/content": {
      "get": {
        "summary": "Get User Transcript Content",
        "description": "Retrieve the VTT content of a specific transcript from a user's online meeting.",
        "operationId": "GetUserTranscriptContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Transcript ID",
            "description": "The transcript ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$format",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Format",
            "description": "Content format (e.g., text/vtt)"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript content in VTT format",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/transcripts/{transcriptId}/metadataContent": {
      "get": {
        "summary": "Get User Transcript Metadata",
        "description": "Retrieve the time-aligned metadata of utterances in a transcript from a user's online meeting.",
        "operationId": "GetUserTranscriptMetadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Transcript ID",
            "description": "The transcript ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript metadata content in VTT format with JSON utterance data",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/getAllTranscripts": {
      "get": {
        "summary": "Get All Transcripts by Organizer",
        "description": "Get all transcripts from online meetings organized by the specified user. Supports filtering by organizer, start/end date.",
        "operationId": "GetAllTranscriptsByOrganizer",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID of the meeting organizer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingOrganizerUserId",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Meeting Organizer User ID",
            "description": "The user ID of the meeting organizer (required function parameter)"
          },
          {
            "name": "startDateTime",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Start Date/Time",
            "description": "Filter for transcripts created after this date (ISO 8601)"
          },
          {
            "name": "endDateTime",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "End Date/Time",
            "description": "Filter for transcripts created before this date (ISO 8601)"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Max number of transcripts per page"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression (e.g., MeetingOrganizer/User/Id eq '{userId}')"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcripts across all meetings",
            "schema": {
              "$ref": "#/definitions/transcriptCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/recordings": {
      "get": {
        "summary": "List My Meeting Recordings",
        "description": "Retrieve the list of recordings associated with my online meeting.",
        "operationId": "ListMyMeetingRecordings",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Number of recordings to return"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings",
            "schema": {
              "$ref": "#/definitions/recordingCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/recordings/{recordingId}": {
      "get": {
        "summary": "Get My Meeting Recording",
        "description": "Retrieve metadata for a specific recording associated with my online meeting.",
        "operationId": "GetMyMeetingRecording",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recording ID",
            "description": "The recording ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details",
            "schema": {
              "$ref": "#/definitions/callRecording"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/recordings/{recordingId}/content": {
      "get": {
        "summary": "Get My Recording Content",
        "description": "Retrieve the video content (MP4) of a specific recording from my online meeting.",
        "operationId": "GetMyRecordingContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recording ID",
            "description": "The recording ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording content as MP4 video stream",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/recordings": {
      "get": {
        "summary": "List User Meeting Recordings",
        "description": "Retrieve the list of recordings associated with a specific user's online meeting.",
        "operationId": "ListUserMeetingRecordings",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Number of recordings to return"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings",
            "schema": {
              "$ref": "#/definitions/recordingCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/recordings/{recordingId}": {
      "get": {
        "summary": "Get User Meeting Recording",
        "description": "Retrieve metadata for a specific recording associated with a user's online meeting.",
        "operationId": "GetUserMeetingRecording",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recording ID",
            "description": "The recording ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Select",
            "description": "Properties to include in response"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details",
            "schema": {
              "$ref": "#/definitions/callRecording"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/recordings/{recordingId}/content": {
      "get": {
        "summary": "Get User Recording Content",
        "description": "Retrieve the video content (MP4) of a specific recording from a user's online meeting.",
        "operationId": "GetUserRecordingContent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recording ID",
            "description": "The recording ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording content as MP4 video stream",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/getAllRecordings": {
      "get": {
        "summary": "Get All Recordings by Organizer",
        "description": "Get all recordings from online meetings organized by the specified user.",
        "operationId": "GetAllRecordingsByOrganizer",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID of the meeting organizer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingOrganizerUserId",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Meeting Organizer User ID",
            "description": "The user ID of the meeting organizer (required function parameter)"
          },
          {
            "name": "startDateTime",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Start Date/Time",
            "description": "Filter for recordings created after this date (ISO 8601)"
          },
          {
            "name": "endDateTime",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "End Date/Time",
            "description": "Filter for recordings created before this date (ISO 8601)"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Max number of recordings per page"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings across all meetings",
            "schema": {
              "$ref": "#/definitions/recordingCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/attendanceReports": {
      "get": {
        "summary": "List My Attendance Reports",
        "description": "Retrieve the list of attendance reports for my online meeting.",
        "operationId": "ListMyAttendanceReports",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendance reports",
            "schema": {
              "$ref": "#/definitions/meetingAttendanceReportCollection"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/attendanceReports/{reportId}": {
      "get": {
        "summary": "Get My Attendance Report",
        "description": "Retrieve a specific attendance report with attendance records for my online meeting. Use $expand=attendanceRecords to include individual records.",
        "operationId": "GetMyAttendanceReport",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Report ID",
            "description": "The attendance report ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Expand",
            "description": "Navigation properties to expand (e.g., attendanceRecords)"
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance report details",
            "schema": {
              "$ref": "#/definitions/meetingAttendanceReport"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/attendanceReports": {
      "get": {
        "summary": "List User Attendance Reports",
        "description": "Retrieve the list of attendance reports for a specific user's online meeting.",
        "operationId": "ListUserAttendanceReports",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendance reports",
            "schema": {
              "$ref": "#/definitions/meetingAttendanceReportCollection"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/attendanceReports/{reportId}": {
      "get": {
        "summary": "Get User Attendance Report",
        "description": "Retrieve a specific attendance report with attendance records for a user's online meeting. Use $expand=attendanceRecords to include individual records.",
        "operationId": "GetUserAttendanceReport",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Report ID",
            "description": "The attendance report ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Expand",
            "description": "Navigation properties to expand (e.g., attendanceRecords)"
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance report details",
            "schema": {
              "$ref": "#/definitions/meetingAttendanceReport"
            }
          }
        }
      }
    },
    "/v1.0/copilot/users/{userId}/onlineMeetings/{meetingId}/aiInsights": {
      "get": {
        "summary": "List Meeting AI Insights",
        "description": "Retrieve AI-generated insights (summaries, action items, mentions) for an online meeting. Requires Microsoft 365 Copilot license.",
        "operationId": "ListMeetingAIInsights",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID of the meeting participant (must have Copilot license)",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI insights",
            "schema": {
              "$ref": "#/definitions/callAiInsightCollection"
            }
          }
        }
      }
    },
    "/v1.0/copilot/users/{userId}/onlineMeetings/{meetingId}/aiInsights/{aiInsightId}": {
      "get": {
        "summary": "Get Meeting AI Insight",
        "description": "Retrieve a specific AI-generated insight with detailed meeting notes, action items, and participant mentions. Requires Microsoft 365 Copilot license.",
        "operationId": "GetMeetingAIInsight",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID of the meeting participant (must have Copilot license)",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "aiInsightId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "AI Insight ID",
            "description": "The AI insight ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "AI insight details with meeting notes, action items, and mentions",
            "schema": {
              "$ref": "#/definitions/callAiInsight"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}": {
      "get": {
        "summary": "Get My Online Meeting",
        "description": "Retrieve properties and relationships of an online meeting by its ID.",
        "operationId": "GetMyOnlineMeeting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Online meeting details",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      },
      "patch": {
        "summary": "Update Online Meeting",
        "description": "Update the properties of an online meeting (e.g., subject, start/end time, settings).",
        "operationId": "UpdateMyOnlineMeeting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onlineMeetingInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated online meeting",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Online Meeting",
        "description": "Delete an online meeting. The meeting is removed and can no longer be joined.",
        "operationId": "DeleteMyOnlineMeeting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting deleted successfully"
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/createOrGet": {
      "post": {
        "summary": "Create or Get Online Meeting",
        "description": "Create an online meeting with a custom external ID. If the meeting already exists, retrieve its properties instead of creating a duplicate.",
        "operationId": "CreateOrGetMyOnlineMeeting",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onlineMeetingCreateOrGetInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Existing meeting retrieved",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          },
          "201": {
            "description": "New meeting created",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      }
    },
    "/v1.0/me/onlineMeetings/{meetingId}/attendanceReports/{reportId}/attendanceRecords": {
      "get": {
        "summary": "List My Attendance Records",
        "description": "Retrieve the list of individual attendance records for a specific attendance report from my online meeting.",
        "operationId": "ListMyAttendanceRecords",
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Report ID",
            "description": "The attendance report ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Number of records to return"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendance records",
            "schema": {
              "$ref": "#/definitions/attendanceRecordCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}/attendanceReports/{reportId}/attendanceRecords": {
      "get": {
        "summary": "List User Attendance Records",
        "description": "Retrieve the list of individual attendance records for a specific attendance report from a user's online meeting.",
        "operationId": "ListUserAttendanceRecords",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID or email address",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Meeting ID",
            "description": "The online meeting ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Report ID",
            "description": "The attendance report ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Top",
            "description": "Number of records to return"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "OData filter expression"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendance records",
            "schema": {
              "$ref": "#/definitions/attendanceRecordCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/getAllTranscripts/delta": {
      "get": {
        "summary": "Get Transcripts Delta",
        "description": "Get newly created or updated transcripts without having to perform a full read of the entire collection. Use for incremental sync of meeting transcripts.",
        "operationId": "GetTranscriptsDelta",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID of the meeting organizer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$deltatoken",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Delta Token",
            "description": "Opaque delta token from a previous delta response"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Skip Token",
            "description": "Opaque skip token for pagination within delta results"
          }
        ],
        "responses": {
          "200": {
            "description": "Delta collection of transcripts",
            "schema": {
              "$ref": "#/definitions/transcriptDeltaResponse"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/getAllRecordings/delta": {
      "get": {
        "summary": "Get Recordings Delta",
        "description": "Get newly created or updated recordings without having to perform a full read of the entire collection. Use for incremental sync of meeting recordings.",
        "operationId": "GetRecordingsDelta",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "The user ID of the meeting organizer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$deltatoken",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Delta Token",
            "description": "Opaque delta token from a previous delta response"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Skip Token",
            "description": "Opaque skip token for pagination within delta results"
          }
        ],
        "responses": {
          "200": {
            "description": "Delta collection of recordings",
            "schema": {
              "$ref": "#/definitions/recordingDeltaResponse"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings": {
      "get": {
        "summary": "Get User Online Meeting by Join URL",
        "description": "Retrieve a user's online meeting by its join URL. Requires application permissions.",
        "operationId": "GetUserOnlineMeetingByJoinUrl",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Filter",
            "description": "OData filter (e.g., JoinWebUrl eq 'https://...')"
          }
        ],
        "responses": {
          "200": {
            "description": "Online meeting details",
            "schema": {
              "$ref": "#/definitions/onlineMeetingCollectionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create User Online Meeting",
        "description": "Create an online meeting on behalf of a specified user.",
        "operationId": "CreateUserOnlineMeeting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onlineMeetingInput"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created online meeting",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/{meetingId}": {
      "get": {
        "summary": "Get User Online Meeting",
        "description": "Retrieve the properties of a user's online meeting by meeting ID.",
        "operationId": "GetUserOnlineMeeting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Meeting ID",
            "description": "The ID of the online meeting.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Online meeting details",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      },
      "patch": {
        "summary": "Update User Online Meeting",
        "description": "Update the properties of a user's online meeting.",
        "operationId": "UpdateUserOnlineMeeting",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Meeting ID",
            "description": "The ID of the online meeting.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onlineMeetingInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated online meeting",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete User Online Meeting",
        "description": "Delete a user's online meeting.",
        "operationId": "DeleteUserOnlineMeeting",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "meetingId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Meeting ID",
            "description": "The ID of the online meeting.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Meeting deleted successfully."
          }
        }
      }
    },
    "/v1.0/users/{userId}/onlineMeetings/createOrGet": {
      "post": {
        "summary": "Create or Get User Online Meeting",
        "description": "Create an online meeting with a custom external ID for a user. If the external ID already exists, returns the existing meeting.",
        "operationId": "CreateOrGetUserOnlineMeeting",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/onlineMeetingCreateOrGetInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Online meeting",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          },
          "201": {
            "description": "Created online meeting",
            "schema": {
              "$ref": "#/definitions/onlineMeeting"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars": {
      "get": {
        "summary": "List Webinars",
        "description": "Get the list of all webinars created in the tenant.",
        "operationId": "ListWebinars",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of webinars",
            "schema": {
              "$ref": "#/definitions/webinarCollectionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create Webinar",
        "description": "Create a new Teams webinar. The webinar is created in draft status; use Publish Webinar to make it visible.",
        "operationId": "CreateWebinar",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventWebinarInput"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created webinar",
            "schema": {
              "$ref": "#/definitions/virtualEventWebinar"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}": {
      "get": {
        "summary": "Get Webinar",
        "description": "Read the properties and relationships of a webinar.",
        "operationId": "GetWebinar",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Webinar details",
            "schema": {
              "$ref": "#/definitions/virtualEventWebinar"
            }
          }
        }
      },
      "patch": {
        "summary": "Update Webinar",
        "description": "Update the properties of a webinar. Only the organizer and co-organizer can update.",
        "operationId": "UpdateWebinar",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventWebinarInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated webinar",
            "schema": {
              "$ref": "#/definitions/virtualEventWebinar"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/publish": {
      "post": {
        "summary": "Publish Webinar",
        "description": "Publish a draft webinar to make it visible to its audience.",
        "operationId": "PublishWebinar",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Webinar published successfully."
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/cancel": {
      "post": {
        "summary": "Cancel Webinar",
        "description": "Cancel a webinar. Sets the webinar's status to canceled permanently.",
        "operationId": "CancelWebinar",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Webinar canceled successfully."
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/getByUserRole(role='{role}')": {
      "get": {
        "summary": "List Webinars by User Role",
        "description": "Get webinars where the signed-in user has the specified role (organizer, coOrganizer, presenter, attendee).",
        "operationId": "ListWebinarsByUserRole",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Role",
            "description": "User role filter (organizer, coOrganizer, presenter, attendee).",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of webinars",
            "schema": {
              "$ref": "#/definitions/webinarCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/getByUserIdAndRole(userId='{fnUserId}',role='{role}')": {
      "get": {
        "summary": "List Webinars by User ID and Role",
        "description": "Get webinars where the specified user has the given role.",
        "operationId": "ListWebinarsByUserIdAndRole",
        "parameters": [
          {
            "name": "fnUserId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user to filter by.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "role",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Role",
            "description": "User role filter (organizer, coOrganizer, presenter, attendee).",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of webinars",
            "schema": {
              "$ref": "#/definitions/webinarCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls": {
      "get": {
        "summary": "List Town Halls",
        "description": "Get the list of all town halls created in the tenant.",
        "operationId": "ListTownhalls",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of town halls",
            "schema": {
              "$ref": "#/definitions/townhallCollectionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create Town Hall",
        "description": "Create a new Teams town hall. The town hall is created in draft status; use Publish Town Hall to make it visible.",
        "operationId": "CreateTownhall",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventTownhallInput"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created town hall",
            "schema": {
              "$ref": "#/definitions/virtualEventTownhall"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/{townhallId}": {
      "get": {
        "summary": "Get Town Hall",
        "description": "Read the properties and relationships of a town hall.",
        "operationId": "GetTownhall",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Town hall details",
            "schema": {
              "$ref": "#/definitions/virtualEventTownhall"
            }
          }
        }
      },
      "patch": {
        "summary": "Update Town Hall",
        "description": "Update the properties of a town hall. Only the organizer and co-organizer can update.",
        "operationId": "UpdateTownhall",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventTownhallInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated town hall",
            "schema": {
              "$ref": "#/definitions/virtualEventTownhall"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/{townhallId}/publish": {
      "post": {
        "summary": "Publish Town Hall",
        "description": "Publish a draft town hall to make it visible to its audience.",
        "operationId": "PublishTownhall",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Town hall published successfully."
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/{townhallId}/cancel": {
      "post": {
        "summary": "Cancel Town Hall",
        "description": "Cancel a town hall. Sets the town hall's status to canceled permanently.",
        "operationId": "CancelTownhall",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Town hall canceled successfully."
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/getByUserRole(role='{role}')": {
      "get": {
        "summary": "List Town Halls by User Role",
        "description": "Get town halls where the signed-in user has the specified role (organizer, coOrganizer, presenter, attendee).",
        "operationId": "ListTownhallsByUserRole",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Role",
            "description": "User role filter (organizer, coOrganizer, presenter, attendee).",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of town halls",
            "schema": {
              "$ref": "#/definitions/townhallCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/getByUserIdAndRole(userId='{fnUserId}',role='{role}')": {
      "get": {
        "summary": "List Town Halls by User ID and Role",
        "description": "Get town halls where the specified user has the given role.",
        "operationId": "ListTownhallsByUserIdAndRole",
        "parameters": [
          {
            "name": "fnUserId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "The ID of the user to filter by.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "role",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Role",
            "description": "User role filter (organizer, coOrganizer, presenter, attendee).",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of town halls",
            "schema": {
              "$ref": "#/definitions/townhallCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/sessions": {
      "get": {
        "summary": "List Webinar Sessions",
        "description": "Get all session summaries for a webinar.",
        "operationId": "ListWebinarSessions",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "schema": {
              "$ref": "#/definitions/sessionCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/sessions/{sessionId}": {
      "get": {
        "summary": "Get Webinar Session",
        "description": "Read the full properties of a webinar session.",
        "operationId": "GetWebinarSession",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "sessionId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Session ID",
            "description": "The ID of the session.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "schema": {
              "$ref": "#/definitions/virtualEventSession"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/{townhallId}/sessions": {
      "get": {
        "summary": "List Town Hall Sessions",
        "description": "Get all session summaries for a town hall.",
        "operationId": "ListTownhallSessions",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "schema": {
              "$ref": "#/definitions/sessionCollectionResponse"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/{townhallId}/sessions/{sessionId}": {
      "get": {
        "summary": "Get Town Hall Session",
        "description": "Read the full properties of a town hall session.",
        "operationId": "GetTownhallSession",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "sessionId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Session ID",
            "description": "The ID of the session.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Session details",
            "schema": {
              "$ref": "#/definitions/virtualEventSession"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/presenters": {
      "get": {
        "summary": "List Webinar Presenters",
        "description": "Get all presenters for a webinar.",
        "operationId": "ListWebinarPresenters",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of presenters",
            "schema": {
              "$ref": "#/definitions/presenterCollectionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create Webinar Presenter",
        "description": "Add a new presenter to a webinar.",
        "operationId": "CreateWebinarPresenter",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventPresenterInput"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created presenter",
            "schema": {
              "$ref": "#/definitions/virtualEventPresenter"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/presenters/{presenterId}": {
      "get": {
        "summary": "Get Webinar Presenter",
        "description": "Read the properties of a webinar presenter.",
        "operationId": "GetWebinarPresenter",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "presenterId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Presenter ID",
            "description": "The ID of the presenter.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Presenter details",
            "schema": {
              "$ref": "#/definitions/virtualEventPresenter"
            }
          }
        }
      },
      "patch": {
        "summary": "Update Webinar Presenter",
        "description": "Update the properties of a webinar presenter.",
        "operationId": "UpdateWebinarPresenter",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "presenterId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Presenter ID",
            "description": "The ID of the presenter.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventPresenterInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated presenter",
            "schema": {
              "$ref": "#/definitions/virtualEventPresenter"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Webinar Presenter",
        "description": "Remove a presenter from a webinar.",
        "operationId": "DeleteWebinarPresenter",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "presenterId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Presenter ID",
            "description": "The ID of the presenter.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Presenter deleted successfully."
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/{townhallId}/presenters": {
      "get": {
        "summary": "List Town Hall Presenters",
        "description": "Get all presenters for a town hall.",
        "operationId": "ListTownhallPresenters",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of presenters",
            "schema": {
              "$ref": "#/definitions/presenterCollectionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create Town Hall Presenter",
        "description": "Add a new presenter to a town hall.",
        "operationId": "CreateTownhallPresenter",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventPresenterInput"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created presenter",
            "schema": {
              "$ref": "#/definitions/virtualEventPresenter"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/townhalls/{townhallId}/presenters/{presenterId}": {
      "get": {
        "summary": "Get Town Hall Presenter",
        "description": "Read the properties of a town hall presenter.",
        "operationId": "GetTownhallPresenter",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "presenterId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Presenter ID",
            "description": "The ID of the presenter.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Presenter details",
            "schema": {
              "$ref": "#/definitions/virtualEventPresenter"
            }
          }
        }
      },
      "patch": {
        "summary": "Update Town Hall Presenter",
        "description": "Update the properties of a town hall presenter.",
        "operationId": "UpdateTownhallPresenter",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "presenterId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Presenter ID",
            "description": "The ID of the presenter.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventPresenterInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated presenter",
            "schema": {
              "$ref": "#/definitions/virtualEventPresenter"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Town Hall Presenter",
        "description": "Remove a presenter from a town hall.",
        "operationId": "DeleteTownhallPresenter",
        "parameters": [
          {
            "name": "townhallId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Town Hall ID",
            "description": "The ID of the town hall.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "presenterId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Presenter ID",
            "description": "The ID of the presenter.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Presenter deleted successfully."
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/registrations": {
      "get": {
        "summary": "List Webinar Registrations",
        "description": "Get all registration records for a webinar.",
        "operationId": "ListWebinarRegistrations",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "List of registrations",
            "schema": {
              "$ref": "#/definitions/registrationCollectionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create Webinar Registration",
        "description": "Create a registrant's registration record for a webinar.",
        "operationId": "CreateWebinarRegistration",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualEventRegistrationInput"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created registration",
            "schema": {
              "$ref": "#/definitions/virtualEventRegistration"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/registrations/{registrationId}": {
      "get": {
        "summary": "Get Webinar Registration",
        "description": "Get the properties of a webinar registration record.",
        "operationId": "GetWebinarRegistration",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "registrationId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Registration ID",
            "description": "The ID of the registration record.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Registration details",
            "schema": {
              "$ref": "#/definitions/virtualEventRegistration"
            }
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/registrations/{registrationId}/cancel": {
      "post": {
        "summary": "Cancel Webinar Registration",
        "description": "Cancel a registrant's registration for a webinar.",
        "operationId": "CancelWebinarRegistration",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "registrationId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Registration ID",
            "description": "The ID of the registration record.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Registration canceled successfully."
          }
        }
      }
    },
    "/v1.0/solutions/virtualEvents/webinars/{webinarId}/registrationConfiguration": {
      "get": {
        "summary": "Get Webinar Registration Configuration",
        "description": "Get the registration configuration for a webinar, including the registration portal URL and questions.",
        "operationId": "GetWebinarRegistrationConfig",
        "parameters": [
          {
            "name": "webinarId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Webinar ID",
            "description": "The ID of the webinar.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Registration configuration",
            "schema": {
              "$ref": "#/definitions/webinarRegistrationConfiguration"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "callTranscript": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the transcript",
          "x-ms-summary": "Transcript ID"
        },
        "meetingId": {
          "type": "string",
          "description": "Unique identifier of the online meeting",
          "x-ms-summary": "Meeting ID"
        },
        "callId": {
          "type": "string",
          "description": "Unique identifier for the call related to this transcript",
          "x-ms-summary": "Call ID"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time at which the transcript was created",
          "x-ms-summary": "Created Date/Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time at which the transcription ended",
          "x-ms-summary": "End Date/Time"
        },
        "contentCorrelationId": {
          "type": "string",
          "description": "Unique identifier that links the transcript with its corresponding recording",
          "x-ms-summary": "Content Correlation ID"
        },
        "transcriptContentUrl": {
          "type": "string",
          "description": "URL to access the transcript content",
          "x-ms-summary": "Transcript Content URL"
        },
        "meetingOrganizer": {
          "type": "object",
          "description": "Identity of the meeting organizer",
          "x-ms-summary": "Meeting Organizer",
          "properties": {
            "application": {
              "type": "object",
              "description": "Application identity",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Application ID"
                },
                "displayName": {
                  "type": "string",
                  "description": "Application display name"
                }
              }
            },
            "device": {
              "type": "object",
              "description": "Device identity",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Device ID"
                },
                "displayName": {
                  "type": "string",
                  "description": "Device display name"
                }
              }
            },
            "user": {
              "type": "object",
              "description": "User identity",
              "x-ms-summary": "User",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "User ID",
                  "x-ms-summary": "User ID"
                },
                "displayName": {
                  "type": "string",
                  "description": "User display name",
                  "x-ms-summary": "Display Name"
                },
                "userIdentityType": {
                  "type": "string",
                  "description": "Type of user identity (aadUser, onPremiseUser, etc.)",
                  "x-ms-summary": "User Identity Type"
                },
                "tenantId": {
                  "type": "string",
                  "description": "Tenant ID",
                  "x-ms-summary": "Tenant ID"
                }
              }
            }
          }
        }
      }
    },
    "transcriptCollectionResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "description": "OData context URL"
        },
        "@odata.count": {
          "type": "integer",
          "description": "Total count of transcripts"
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "URL to the next page of results"
        },
        "value": {
          "type": "array",
          "description": "List of transcripts",
          "items": {
            "$ref": "#/definitions/callTranscript"
          }
        }
      }
    },
    "onlineMeeting": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the meeting",
          "x-ms-summary": "Meeting ID"
        },
        "subject": {
          "type": "string",
          "description": "Meeting subject",
          "x-ms-summary": "Subject"
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Meeting start date/time",
          "x-ms-summary": "Start Date/Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Meeting end date/time",
          "x-ms-summary": "End Date/Time"
        },
        "joinWebUrl": {
          "type": "string",
          "description": "The meeting join URL",
          "x-ms-summary": "Join URL"
        },
        "videoTeleconferenceId": {
          "type": "string",
          "description": "Video teleconference ID",
          "x-ms-summary": "Video Teleconference ID"
        },
        "chatInfo": {
          "type": "object",
          "description": "Chat information for the meeting",
          "properties": {
            "threadId": {
              "type": "string",
              "description": "Chat thread ID"
            },
            "messageId": {
              "type": "string",
              "description": "Message ID"
            }
          }
        },
        "organizer": {
          "type": "object",
          "description": "Meeting organizer",
          "properties": {
            "identity": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Organizer user ID"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "Organizer display name"
                    }
                  }
                }
              }
            }
          }
        },
        "allowedPresenters": {
          "type": "string",
          "description": "Who can present (everyone, organization, roleIsPresenter, organizer)",
          "x-ms-summary": "Allowed Presenters"
        },
        "allowAttendeeToEnableCamera": {
          "type": "boolean",
          "description": "Whether attendees can turn on their camera",
          "x-ms-summary": "Allow Camera"
        },
        "allowAttendeeToEnableMic": {
          "type": "boolean",
          "description": "Whether attendees can turn on their microphone",
          "x-ms-summary": "Allow Microphone"
        },
        "allowMeetingChat": {
          "type": "string",
          "description": "Meeting chat policy (enabled, disabled, limited)",
          "x-ms-summary": "Meeting Chat"
        },
        "allowTeamworkReactions": {
          "type": "boolean",
          "description": "Whether reactions are enabled",
          "x-ms-summary": "Allow Reactions"
        },
        "allowTranscription": {
          "type": "boolean",
          "description": "Whether transcription is enabled",
          "x-ms-summary": "Allow Transcription"
        },
        "allowRecording": {
          "type": "boolean",
          "description": "Whether recording is enabled",
          "x-ms-summary": "Allow Recording"
        },
        "recordAutomatically": {
          "type": "boolean",
          "description": "Whether meeting records automatically",
          "x-ms-summary": "Record Automatically"
        },
        "isEntryExitAnnounced": {
          "type": "boolean",
          "description": "Whether entry/exit is announced",
          "x-ms-summary": "Entry/Exit Announced"
        },
        "lobbyBypassSettings": {
          "type": "object",
          "description": "Lobby bypass settings",
          "properties": {
            "scope": {
              "type": "string",
              "description": "Lobby bypass scope"
            },
            "isDialInBypassEnabled": {
              "type": "boolean",
              "description": "Whether dial-in can bypass"
            }
          }
        },
        "joinInformation": {
          "type": "object",
          "description": "Join information for the meeting",
          "properties": {
            "content": {
              "type": "string",
              "description": "HTML content for the join information"
            },
            "contentType": {
              "type": "string",
              "description": "Content type (html)"
            }
          }
        },
        "externalId": {
          "type": "string",
          "description": "External ID for the meeting",
          "x-ms-summary": "External ID"
        },
        "autoAdmittedUsers": {
          "type": "string",
          "description": "Who is automatically admitted (everyone, everyoneInCompany, etc.)",
          "x-ms-summary": "Auto-Admitted Users"
        },
        "participants": {
          "type": "object",
          "description": "Meeting participants",
          "properties": {
            "organizer": {
              "type": "object",
              "description": "Meeting organizer",
              "properties": {
                "upn": {
                  "type": "string",
                  "description": "User principal name"
                },
                "identity": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "User ID"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "Display name"
                        }
                      }
                    }
                  }
                }
              }
            },
            "attendees": {
              "type": "array",
              "description": "List of attendees",
              "items": {
                "type": "object",
                "properties": {
                  "upn": {
                    "type": "string",
                    "description": "User principal name"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role"
                  },
                  "identity": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "User ID"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display name"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "onlineMeetingCollectionResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "description": "OData context URL"
        },
        "value": {
          "type": "array",
          "description": "List of online meetings",
          "items": {
            "$ref": "#/definitions/onlineMeeting"
          }
        }
      }
    },
    "callRecording": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the recording",
          "x-ms-summary": "Recording ID"
        },
        "meetingId": {
          "type": "string",
          "description": "Unique identifier of the online meeting",
          "x-ms-summary": "Meeting ID"
        },
        "callId": {
          "type": "string",
          "description": "Unique identifier for the call related to this recording",
          "x-ms-summary": "Call ID"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time at which the recording was created",
          "x-ms-summary": "Created Date/Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time at which the recording ended",
          "x-ms-summary": "End Date/Time"
        },
        "contentCorrelationId": {
          "type": "string",
          "description": "Unique identifier that links the recording with its corresponding transcript",
          "x-ms-summary": "Content Correlation ID"
        },
        "recordingContentUrl": {
          "type": "string",
          "description": "URL to access the recording content",
          "x-ms-summary": "Recording Content URL"
        },
        "meetingOrganizer": {
          "type": "object",
          "description": "Identity of the meeting organizer",
          "x-ms-summary": "Meeting Organizer",
          "properties": {
            "application": {
              "type": "object",
              "description": "Application identity",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Application ID"
                },
                "displayName": {
                  "type": "string",
                  "description": "Application display name"
                }
              }
            },
            "user": {
              "type": "object",
              "description": "User identity",
              "x-ms-summary": "User",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "User ID",
                  "x-ms-summary": "User ID"
                },
                "displayName": {
                  "type": "string",
                  "description": "User display name",
                  "x-ms-summary": "Display Name"
                },
                "userIdentityType": {
                  "type": "string",
                  "description": "Type of user identity",
                  "x-ms-summary": "User Identity Type"
                },
                "tenantId": {
                  "type": "string",
                  "description": "Tenant ID",
                  "x-ms-summary": "Tenant ID"
                }
              }
            }
          }
        }
      }
    },
    "recordingCollectionResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "description": "OData context URL"
        },
        "@odata.count": {
          "type": "integer",
          "description": "Total count of recordings"
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "URL to the next page of results"
        },
        "value": {
          "type": "array",
          "description": "List of recordings",
          "items": {
            "$ref": "#/definitions/callRecording"
          }
        }
      }
    },
    "meetingAttendanceReport": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the attendance report",
          "x-ms-summary": "Report ID"
        },
        "meetingStartDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC time when the meeting started",
          "x-ms-summary": "Meeting Start Date/Time"
        },
        "meetingEndDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "UTC time when the meeting ended",
          "x-ms-summary": "Meeting End Date/Time"
        },
        "totalParticipantCount": {
          "type": "integer",
          "description": "Total number of participants",
          "x-ms-summary": "Total Participant Count"
        },
[...]
