{
  "swagger": "2.0",
  "info": {
    "title": "Canvas LMS MCP",
    "description": "MCP-enabled connector for Canvas LMS (Instructure). Exposes course management, assignments, grades, enrollments, and analytics operations as MCP tools for Copilot Studio.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com",
      "url": "https://github.com/troystaylor"
    }
  },
  "host": "canvas.instructure.com",
  "basePath": "/mcp",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/": {
      "post": {
        "summary": "Invoke Canvas LMS MCP",
        "description": "Sends JSON-RPC requests to invoke Canvas LMS tools via MCP.",
        "operationId": "InvokeMCP",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": { "description": "MCP response" }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://canvas.instructure.com/login/oauth2/auth",
      "tokenUrl": "https://canvas.instructure.com/login/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    { "propertyName": "Website", "propertyValue": "https://www.instructure.com" },
    { "propertyName": "Privacy policy", "propertyValue": "https://www.instructure.com/policies/privacy" },
    { "propertyName": "Categories", "propertyValue": "Education;Productivity" }
  ]
}
