{
    "swagger": "2.0",
    "info": {
        "title": "Copilot Cowork Skills",
        "description": "Manage Copilot Cowork custom skills stored in your OneDrive. List, read, create, update, and delete SKILL.md files in the /Documents/Cowork/Skills/ folder.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troytaylor.com",
            "url": "https://github.com/troystaylor"
        }
    },
    "host": "graph.microsoft.com",
    "basePath": "/mcp",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "post": {
                "summary": "Invoke Copilot Cowork Skills MCP",
                "description": "Sends JSON-RPC requests to manage Copilot Cowork custom skills via MCP.",
                "operationId": "InvokeMCP",
                "x-ms-agentic-protocol": "mcp-streamable-1.0",
                "responses": {
                    "200": {
                        "description": "MCP response"
                    }
                }
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
                "Files.ReadWrite": "Read and write files in your OneDrive"
            }
        }
    },
    "security": [
        {
            "oauth2_auth": [
                "Files.ReadWrite"
            ]
        }
    ],
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://learn.microsoft.com/microsoft-365/copilot/cowork/"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Productivity"
        }
    ]
}