{
    "swagger": "2.0",
    "info": {
        "title": "Power Platform Admin",
        "description": "MCP server for cross-environment Power Platform administration through natural language in Copilot Studio. Manages environment settings, capacity allocations, Copilot governance, security recommendations, connectors, apps, agent inventory, and application packages via the Power Platform Admin API.",
        "version": "1.4.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "api.powerplatform.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/mcp": {
            "post": {
                "summary": "Invoke Power Platform Admin MCP",
                "description": "Model Context Protocol endpoint for Copilot Studio integration. Provides cross-environment administration tools for Power Platform.",
                "operationId": "InvokeMCP",
                "x-ms-agentic-protocol": "mcp-streamable-1.0",
                "responses": {
                    "200": {
                        "description": "MCP response"
                    }
                }
            }
        },
        "/admin/environments": {
            "get": {
                "summary": "List Environments",
                "description": "List all Power Platform environments with capacity metrics, types, states, and Dataverse URLs.",
                "operationId": "ListEnvironments",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of environments",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "environmentCount": {
                                    "type": "integer",
                                    "description": "Total number of environments",
                                    "x-ms-summary": "Environment Count"
                                },
                                "environments": {
                                    "type": "array",
                                    "description": "Array of environments",
                                    "x-ms-summary": "Environments",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Environment ID (GUID)",
                                                "x-ms-summary": "Environment ID"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Display name of the environment",
                                                "x-ms-summary": "Name"
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "Environment type (Production, Sandbox, Developer, Trial, Default)",
                                                "x-ms-summary": "Type"
                                            },
                                            "state": {
                                                "type": "string",
                                                "description": "Management state",
                                                "x-ms-summary": "State"
                                            },
                                            "location": {
                                                "type": "string",
                                                "description": "Azure region",
                                                "x-ms-summary": "Location"
                                            },
                                            "dataverseUrl": {
                                                "type": "string",
                                                "description": "Dataverse instance URL",
                                                "x-ms-summary": "Dataverse URL"
                                            },
                                            "updateCadence": {
                                                "type": "string",
                                                "description": "Update cadence (Frequent or Moderate)",
                                                "x-ms-summary": "Update Cadence"
                                            },
                                            "capacity": {
                                                "type": "object",
                                                "description": "Capacity metrics",
                                                "x-ms-summary": "Capacity"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/environment": {
            "get": {
                "summary": "Get Environment",
                "description": "Get full details of a specific environment including properties, database settings, capacity, runtime endpoints, and protection status.",
                "operationId": "GetEnvironment",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Environment details",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Display name",
                                    "x-ms-summary": "Name"
                                },
                                "properties": {
                                    "type": "object",
                                    "description": "Full environment properties"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/settings": {
            "get": {
                "summary": "Get Settings",
                "description": "Get PPAC management settings for an environment (SAS IP rules, audit logging, etc.).",
                "operationId": "GetSettings",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Comma-separated list of setting names to return. Omit for all settings.",
                        "x-ms-summary": "Select Settings",
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Environment settings",
                        "schema": {
                            "type": "object",
                            "description": "Key-value pairs of setting names and their values"
                        }
                    }
                }
            }
        },
        "/admin/settings/update": {
            "post": {
                "summary": "Update Settings",
                "description": "Update one or more PPAC management settings on an environment.",
                "operationId": "UpdateSettings",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "settings": {
                                    "type": "object",
                                    "description": "Key-value pairs of setting names and their new values",
                                    "x-ms-summary": "Settings"
                                }
                            },
                            "required": [
                                "settings"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "Operation status",
                                    "x-ms-summary": "Status"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "updatedSettings": {
                                    "type": "object",
                                    "description": "Settings that were updated",
                                    "x-ms-summary": "Updated Settings"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Result message",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/tenantpool": {
            "get": {
                "summary": "Get Draw From Tenant Pool",
                "description": "Check whether an environment draws Copilot Studio message and session capacity (MCSMessages, MCSSessions) from the tenant pool. An environment with no allocation document draws from the pool by default. Uses the documented Allocations By Environment API.",
                "operationId": "GetTenantPoolDraw",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant pool draw state",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "True when the environment draws Copilot Studio capacity from the tenant pool",
                                    "x-ms-summary": "Draws From Tenant Pool"
                                },
                                "source": {
                                    "type": "string",
                                    "description": "Where the state came from: allocationDocument when a document exists, default when none does",
                                    "x-ms-summary": "Source"
                                },
                                "entitlements": {
                                    "type": "object",
                                    "description": "TenantPool rule state per entitlement",
                                    "x-ms-summary": "Entitlements",
                                    "properties": {
                                        "MCSMessages": {
                                            "type": "boolean",
                                            "description": "Copilot Studio messages capacity draws from the tenant pool",
                                            "x-ms-summary": "MCS Messages"
                                        },
                                        "MCSSessions": {
                                            "type": "boolean",
                                            "description": "Copilot Studio sessions capacity draws from the tenant pool",
                                            "x-ms-summary": "MCS Sessions"
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Human-readable summary of the state",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/tenantpool/update": {
            "post": {
                "summary": "Set Draw From Tenant Pool",
                "description": "Enable or disable whether an environment draws Copilot Studio message and session capacity (MCSMessages, MCSSessions) from the tenant pool. Reads the current allocation first, changes only the TenantPool enforcement rule, then reads the result back to confirm it. Uses the documented Allocations By Environment API.",
                "operationId": "SetTenantPoolDraw",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean",
                                    "description": "True to draw from the tenant pool, false to stop drawing from it",
                                    "x-ms-summary": "Draw From Tenant Pool"
                                }
                            },
                            "required": [
                                "enabled"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "Operation status",
                                    "x-ms-summary": "Status"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "The value that was applied",
                                    "x-ms-summary": "Draws From Tenant Pool"
                                },
                                "entitlements": {
                                    "type": "array",
                                    "description": "Entitlements the TenantPool rule was applied to",
                                    "x-ms-summary": "Entitlements",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "verified": {
                                    "type": "boolean",
                                    "description": "True when the allocation was read back after the write and matched the requested state. False means a concurrent edit may have overwritten it.",
                                    "x-ms-summary": "Verified"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Result message",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/allocations": {
            "get": {
                "summary": "List Environment Allocations",
                "description": "List capacity allocations for every environment in the tenant. Each entry reports the allocated and auto-allocated amount per currency along with its Alert, PayGo, TenantPool, and Deny enforcement rules.",
                "operationId": "ListEnvironmentAllocations",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Allocations for every environment",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "environmentCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of environments returned",
                                    "x-ms-summary": "Environment Count"
                                },
                                "environments": {
                                    "type": "array",
                                    "description": "Allocation summary per environment",
                                    "x-ms-summary": "Environments",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "environmentId": {
                                                "type": "string",
                                                "description": "Environment ID",
                                                "x-ms-summary": "Environment ID"
                                            },
                                            "currencyCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of currencies allocated to this environment",
                                                "x-ms-summary": "Currency Count"
                                            },
                                            "currencies": {
                                                "type": "array",
                                                "description": "Allocation and enforcement per currency",
                                                "x-ms-summary": "Currencies",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "currencyType": {
                                                            "type": "string",
                                                            "description": "Capacity currency, for example MCSMessages or AI",
                                                            "x-ms-summary": "Currency Type"
                                                        },
                                                        "allocated": {
                                                            "type": "number",
                                                            "description": "Quantity allocated to this environment",
                                                            "x-ms-summary": "Allocated"
                                                        },
                                                        "autoAllocated": {
                                                            "type": "number",
                                                            "description": "Quantity the platform allocated automatically",
                                                            "x-ms-summary": "Auto Allocated"
                                                        },
                                                        "enforcementRules": {
                                                            "type": "object",
                                                            "description": "Enforcement rule states keyed by rule type",
                                                            "x-ms-summary": "Enforcement Rules",
                                                            "properties": {
                                                                "Alert": {
                                                                    "type": "boolean",
                                                                    "description": "Notify when the allocation is approached",
                                                                    "x-ms-summary": "Alert"
                                                                },
                                                                "PayGo": {
                                                                    "type": "boolean",
                                                                    "description": "Bill overage as pay-as-you-go",
                                                                    "x-ms-summary": "Pay As You Go"
                                                                },
                                                                "TenantPool": {
                                                                    "type": "boolean",
                                                                    "description": "Draw from the shared tenant pool",
                                                                    "x-ms-summary": "Tenant Pool"
                                                                },
                                                                "Deny": {
                                                                    "type": "boolean",
                                                                    "description": "Stop consumption once the allocation is exhausted",
                                                                    "x-ms-summary": "Deny"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/allocations/environment": {
            "get": {
                "summary": "Get Environment Allocations",
                "description": "Get the capacity allocation document for one environment, including every currency and its enforcement rules. Returns hasAllocationDocument false when the environment has never been allocated, which means it inherits tenant defaults rather than that the lookup failed.",
                "operationId": "GetEnvironmentAllocations",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocation document for the environment",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "hasAllocationDocument": {
                                    "type": "boolean",
                                    "description": "False when the environment has no allocation document and inherits tenant defaults",
                                    "x-ms-summary": "Has Allocation Document"
                                },
                                "currencies": {
                                    "type": "array",
                                    "description": "Allocation and enforcement per currency",
                                    "x-ms-summary": "Currencies",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "currencyType": {
                                                "type": "string",
                                                "description": "Capacity currency, for example MCSMessages or AI",
                                                "x-ms-summary": "Currency Type"
                                            },
                                            "allocated": {
                                                "type": "number",
                                                "description": "Quantity allocated to this environment",
                                                "x-ms-summary": "Allocated"
                                            },
                                            "autoAllocated": {
                                                "type": "number",
                                                "description": "Quantity the platform allocated automatically",
                                                "x-ms-summary": "Auto Allocated"
                                            },
                                            "enforcementRules": {
                                                "type": "object",
                                                "description": "Enforcement rule states keyed by rule type",
                                                "x-ms-summary": "Enforcement Rules",
                                                "properties": {
                                                    "Alert": {
                                                        "type": "boolean",
                                                        "description": "Notify when the allocation is approached",
                                                        "x-ms-summary": "Alert"
                                                    },
                                                    "PayGo": {
                                                        "type": "boolean",
                                                        "description": "Bill overage as pay-as-you-go",
                                                        "x-ms-summary": "Pay As You Go"
                                                    },
                                                    "TenantPool": {
                                                        "type": "boolean",
                                                        "description": "Draw from the shared tenant pool",
                                                        "x-ms-summary": "Tenant Pool"
                                                    },
                                                    "Deny": {
                                                        "type": "boolean",
                                                        "description": "Stop consumption once the allocation is exhausted",
                                                        "x-ms-summary": "Deny"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "allocation": {
                                    "type": "object",
                                    "description": "The raw allocation document as returned by the service, or null when none exists",
                                    "x-ms-summary": "Allocation Document",
                                    "properties": {
                                        "environmentId": {
                                            "type": "string",
                                            "description": "Environment ID",
                                            "x-ms-summary": "Environment ID"
                                        },
                                        "currencyAllocations": {
                                            "type": "array",
                                            "description": "Raw currency allocations",
                                            "x-ms-summary": "Currency Allocations",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "currencyType": {
                                                        "type": "string",
                                                        "description": "Capacity currency",
                                                        "x-ms-summary": "Currency Type"
                                                    },
                                                    "allocated": {
                                                        "type": "number",
                                                        "description": "Allocated quantity",
                                                        "x-ms-summary": "Allocated"
                                                    },
                                                    "autoAllocated": {
                                                        "type": "number",
                                                        "description": "Auto-allocated quantity",
                                                        "x-ms-summary": "Auto Allocated"
                                                    },
                                                    "enforcementRules": {
                                                        "type": "array",
                                                        "description": "Enforcement rules on this currency",
                                                        "x-ms-summary": "Enforcement Rules",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ruleType": {
                                                                    "type": "string",
                                                                    "description": "Alert, PayGo, TenantPool, or Deny",
                                                                    "x-ms-summary": "Rule Type"
                                                                },
                                                                "enabled": {
                                                                    "type": "boolean",
                                                                    "description": "Whether the rule is enabled",
                                                                    "x-ms-summary": "Enabled"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Result message",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/allocations/environment/update": {
            "post": {
                "summary": "Update Environment Allocation",
                "description": "Set the allocated capacity and/or enforcement rules for a single currency on one environment. Reads the current allocation, changes only the named currency, writes the whole document back, then re-reads to verify. Other currencies are preserved. Enabling Deny stops consumption once the allocation is exhausted.",
                "operationId": "UpdateEnvironmentAllocation",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "currencyType"
                            ],
                            "properties": {
                                "currencyType": {
                                    "type": "string",
                                    "description": "The capacity currency to change",
                                    "x-ms-summary": "Currency Type",
                                    "enum": [
                                        "AI",
                                        "AppPass",
                                        "AppPassForTeams",
                                        "Invoice",
                                        "MCSSessions",
                                        "MCSMessages",
                                        "PAHostedRPA",
                                        "PAUnattendedRPA",
                                        "PerFlowPlan",
                                        "PortalAddOns",
                                        "PortalLogins",
                                        "PortalViews",
                                        "PowerPagesAuthenticated",
                                        "PowerPagesAnonymous",
                                        "PowerAutomatePerProcess",
                                        "ProcessMiningDataStorage",
                                        "SCMessages",
                                        "VAConversations"
                                    ]
                                },
                                "allocated": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Whole-number quantity to allocate. Omit to leave the current amount unchanged.",
                                    "x-ms-summary": "Allocated"
                                },
                                "enforcementRules": {
                                    "type": "array",
                                    "description": "Enforcement rules to set. Only the rules listed here change; any others already on the currency are preserved.",
                                    "x-ms-summary": "Enforcement Rules",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "ruleType",
                                            "enabled"
                                        ],
                                        "properties": {
                                            "ruleType": {
                                                "type": "string",
                                                "description": "Alert notifies, PayGo bills overage, TenantPool draws from the shared pool, Deny stops consumption at the limit",
                                                "x-ms-summary": "Rule Type",
                                                "enum": [
                                                    "Alert",
                                                    "PayGo",
                                                    "TenantPool",
                                                    "Deny"
                                                ]
                                            },
                                            "enabled": {
                                                "type": "boolean",
                                                "description": "True to enable the rule, false to disable it",
                                                "x-ms-summary": "Enabled"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "Operation status",
                                    "x-ms-summary": "Status"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "currencyType": {
                                    "type": "string",
                                    "description": "The currency that was changed",
                                    "x-ms-summary": "Currency Type"
                                },
                                "createdCurrencyEntry": {
                                    "type": "boolean",
                                    "description": "True when the currency had no prior entry and one was created",
                                    "x-ms-summary": "Created Currency Entry"
                                },
                                "hadExistingDocument": {
                                    "type": "boolean",
                                    "description": "True when the environment already had an allocation document",
                                    "x-ms-summary": "Had Existing Document"
                                },
                                "changes": {
                                    "type": "array",
                                    "description": "Field-level before and after values",
                                    "x-ms-summary": "Changes",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "field": {
                                                "type": "string",
                                                "description": "The field that changed",
                                                "x-ms-summary": "Field"
                                            },
                                            "from": {
                                                "type": "string",
                                                "description": "Previous value, or null when newly created",
                                                "x-ms-summary": "From"
                                            },
                                            "to": {
                                                "type": "string",
                                                "description": "Applied value",
                                                "x-ms-summary": "To"
                                            }
                                        }
                                    }
                                },
                                "verified": {
                                    "type": "boolean",
                                    "description": "True when the allocation was read back after the write and matched the requested state. False means a concurrent edit may have overwritten it.",
                                    "x-ms-summary": "Verified"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Result message",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/allocations/availability": {
            "get": {
                "summary": "Get Allocation Availability",
                "description": "Get how much of each entitlement is still available to allocate. Use this before increasing an environment allocation to check the tenant has unallocated capacity left.",
                "operationId": "GetAllocationAvailability",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Optional OData filter. The filterable fields are not published, so prefer leaving this blank and narrowing the result yourself.",
                        "x-ms-summary": "Filter",
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Available entitlement capacity",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "string",
                                    "description": "The filter that was applied, or null",
                                    "x-ms-summary": "Filter"
                                },
                                "availability": {
                                    "type": "object",
                                    "description": "Availability document as returned by the service",
                                    "x-ms-summary": "Availability",
                                    "properties": {
                                        "entitlementAllocationsAvailable": {
                                            "type": "array",
                                            "description": "Available quantity per entitlement",
                                            "x-ms-summary": "Available Allocations",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "entitlementId": {
                                                        "type": "string",
                                                        "description": "Entitlement ID",
                                                        "x-ms-summary": "Entitlement ID"
                                                    },
                                                    "availableQuantity": {
                                                        "type": "number",
                                                        "description": "Quantity still available to allocate",
                                                        "x-ms-summary": "Available Quantity"
                                                    },
                                                    "unit": {
                                                        "type": "string",
                                                        "description": "Unit of measure: NotSpecified, MB, Count, or Hour",
                                                        "x-ms-summary": "Unit"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "note": {
                                    "type": "string",
                                    "description": "Caveat about undocumented filter fields",
                                    "x-ms-summary": "Note"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/allocations/reserved": {
            "get": {
                "summary": "Get Reserved Entitlements",
                "description": "Get the reserved quantity and unit for each entitlement in the tenant. Reserved capacity is committed to a scope and is not available for new allocations. This does not report enforcement rules.",
                "operationId": "GetReservedEntitlements",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Optional OData filter. The filterable fields are not published, so prefer leaving this blank and narrowing the result yourself.",
                        "x-ms-summary": "Filter",
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Reserved entitlement capacity",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "filter": {
                                    "type": "string",
                                    "description": "The filter that was applied, or null",
                                    "x-ms-summary": "Filter"
                                },
                                "entitlementCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of entitlements returned",
                                    "x-ms-summary": "Entitlement Count"
                                },
                                "entitlements": {
                                    "type": "array",
                                    "description": "Reserved quantity per entitlement",
                                    "x-ms-summary": "Entitlements",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "entitlementId": {
                                                "type": "string",
                                                "description": "Entitlement ID",
                                                "x-ms-summary": "Entitlement ID"
                                            },
                                            "reserved": {
                                                "type": "object",
                                                "description": "Reserved quantity and unit",
                                                "x-ms-summary": "Reserved",
                                                "properties": {
                                                    "quantity": {
                                                        "type": "number",
                                                        "description": "Reserved quantity",
                                                        "x-ms-summary": "Quantity"
                                                    },
                                                    "unit": {
                                                        "type": "string",
                                                        "description": "Unit of measure: NotSpecified, MB, Count, or Hour",
                                                        "x-ms-summary": "Unit"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "note": {
                                    "type": "string",
                                    "description": "Pointer to the allocation operations for enforcement rules",
                                    "x-ms-summary": "Note"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/resourcethresholds": {
            "get": {
                "summary": "List Resource Thresholds",
                "description": "List every resource threshold configured for a licensing entitlement. A threshold caps how much of an entitlement an environment resource may consume and controls notification and stop behavior. Optionally filter to a single environment.",
                "operationId": "ListResourceThresholds",
                "parameters": [
                    {
                        "name": "entitlementId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The entitlement ID to read thresholds for, for example MCSMessages or MCSSessions",
                        "x-ms-summary": "Entitlement ID"
                    },
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Filter the result to a single environment. Leave blank to return thresholds for every environment.",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource thresholds",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "entitlementId": {
                                    "type": "string",
                                    "description": "The entitlement the thresholds belong to",
                                    "x-ms-summary": "Entitlement ID"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "The environment the result was filtered to, or null when unfiltered",
                                    "x-ms-summary": "Environment ID"
                                },
                                "thresholdCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of thresholds returned",
                                    "x-ms-summary": "Threshold Count"
                                },
                                "thresholds": {
                                    "type": "array",
                                    "description": "Array of resource thresholds",
                                    "x-ms-summary": "Thresholds",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "createdOn": {
                                                "type": "string",
                                                "format": "date-time",
                                                "description": "UTC date and time when the threshold was first created",
                                                "x-ms-summary": "Created On"
                                            },
                                            "entitlementId": {
                                                "type": "string",
                                                "description": "Entitlement ID associated with the resource",
                                                "x-ms-summary": "Entitlement ID"
                                            },
                                            "environmentId": {
                                                "type": "string",
                                                "description": "Environment associated with the resource",
                                                "x-ms-summary": "Environment ID"
                                            },
                                            "resourceId": {
                                                "type": "string",
                                                "description": "Unique identifier for the resource",
                                                "x-ms-summary": "Resource ID"
                                            },
                                            "limit": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "The limit set for resource consumption",
                                                "x-ms-summary": "Limit"
                                            },
                                            "resourceConsumption": {
                                                "type": "number",
                                                "format": "double",
                                                "description": "Current consumption of the resource",
                                                "x-ms-summary": "Resource Consumption"
                                            },
                                            "notificationThreshold": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Percentage of the limit at which consumption notifications are sent",
                                                "x-ms-summary": "Notification Threshold"
                                            },
                                            "notifyIfOverCapacity": {
                                                "type": "boolean",
                                                "description": "Whether to notify when consumption reaches the notification threshold",
                                                "x-ms-summary": "Notify If Over Capacity"
                                            },
                                            "stopIfOverCapacity": {
                                                "type": "boolean",
                                                "description": "Whether to stop consuming capacity once the resource exceeds its limit",
                                                "x-ms-summary": "Stop If Over Capacity"
                                            },
                                            "stopResource": {
                                                "type": "boolean",
                                                "description": "Whether the resource has been explicitly stopped. True means the resource is disabled.",
                                                "x-ms-summary": "Stop Resource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/resourcethresholds/upsert": {
            "post": {
                "summary": "Upsert Resource Threshold",
                "description": "Create or update the resource threshold for an environment resource on a licensing entitlement. Reads the current threshold first and changes only the fields supplied, so unspecified fields keep their existing values.",
                "operationId": "UpsertResourceThreshold",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID) that owns the resource",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "entitlementId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The entitlement ID, for example MCSMessages or MCSSessions",
                        "x-ms-summary": "Entitlement ID"
                    },
                    {
                        "name": "resourceId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The resource ID the threshold applies to",
                        "x-ms-summary": "Resource ID"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "limit": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The limit set for resource consumption",
                                    "x-ms-summary": "Limit"
                                },
                                "notificationThreshold": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Percentage of the limit (0-100) at which consumption notifications are sent",
                                    "x-ms-summary": "Notification Threshold"
                                },
                                "notifyIfOverCapacity": {
                                    "type": "boolean",
                                    "description": "True to notify when consumption reaches the notification threshold",
                                    "x-ms-summary": "Notify If Over Capacity"
                                },
                                "resourceConsumption": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "Current consumption of the resource",
                                    "x-ms-summary": "Resource Consumption"
                                },
                                "stopIfOverCapacity": {
                                    "type": "boolean",
                                    "description": "True to stop consuming capacity once the resource exceeds its limit",
                                    "x-ms-summary": "Stop If Over Capacity"
                                },
                                "stopResource": {
                                    "type": "boolean",
                                    "description": "True to explicitly stop the resource, putting it in a disabled state",
                                    "x-ms-summary": "Stop Resource"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Upsert result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "Operation status",
                                    "x-ms-summary": "Status"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "entitlementId": {
                                    "type": "string",
                                    "description": "Entitlement ID",
                                    "x-ms-summary": "Entitlement ID"
                                },
                                "resourceId": {
                                    "type": "string",
                                    "description": "Resource ID",
                                    "x-ms-summary": "Resource ID"
                                },
                                "mergedWithExisting": {
                                    "type": "boolean",
                                    "description": "True when an existing threshold was found and the supplied fields were merged into it",
                                    "x-ms-summary": "Merged With Existing"
                                },
                                "appliedFields": {
                                    "type": "array",
                                    "description": "Names of the fields that were set by this call",
                                    "x-ms-summary": "Applied Fields",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "threshold": {
                                    "type": "object",
                                    "description": "The resulting resource threshold",
                                    "x-ms-summary": "Threshold",
                                    "properties": {
                                        "createdOn": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "UTC date and time when the threshold was first created",
                                            "x-ms-summary": "Created On"
                                        },
                                        "entitlementId": {
                                            "type": "string",
                                            "description": "Entitlement ID associated with the resource",
                                            "x-ms-summary": "Entitlement ID"
                                        },
                                        "environmentId": {
                                            "type": "string",
                                            "description": "Environment associated with the resource",
                                            "x-ms-summary": "Environment ID"
                                        },
                                        "resourceId": {
                                            "type": "string",
                                            "description": "Unique identifier for the resource",
                                            "x-ms-summary": "Resource ID"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "The limit set for resource consumption",
                                            "x-ms-summary": "Limit"
                                        },
                                        "resourceConsumption": {
                                            "type": "number",
                                            "format": "double",
                                            "description": "Current consumption of the resource",
                                            "x-ms-summary": "Resource Consumption"
                                        },
                                        "notificationThreshold": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Percentage of the limit at which consumption notifications are sent",
                                            "x-ms-summary": "Notification Threshold"
                                        },
                                        "notifyIfOverCapacity": {
                                            "type": "boolean",
                                            "description": "Whether to notify when consumption reaches the notification threshold",
                                            "x-ms-summary": "Notify If Over Capacity"
                                        },
                                        "stopIfOverCapacity": {
                                            "type": "boolean",
                                            "description": "Whether to stop consuming capacity once the resource exceeds its limit",
                                            "x-ms-summary": "Stop If Over Capacity"
                                        },
                                        "stopResource": {
                                            "type": "boolean",
                                            "description": "Whether the resource has been explicitly stopped",
                                            "x-ms-summary": "Stop Resource"
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Result message",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/agents": {
            "get": {
                "summary": "List Agents",
                "description": "Inventory Copilot Studio and Agent Builder agents, enriched with environment, environment group, sharing, identity, and provenance detail. Each agent carries a computed risk level derived from creation provenance, sharing scope, and environment posture. Leave the environment blank to inventory the whole tenant. Uses the resource query endpoint, which returns undocumented resource properties that may change without notice.",
                "operationId": "ListAgents",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Restrict the inventory to a single environment. Leave blank to inventory every environment in the tenant.",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent inventory",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "agentCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of agents returned",
                                    "x-ms-summary": "Agent Count"
                                },
                                "truncated": {
                                    "type": "boolean",
                                    "description": "True when the page limit was reached before the tenant was fully enumerated. Narrow the scope with an environment to get a complete result.",
                                    "x-ms-summary": "Truncated"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "The environment the inventory was scoped to, or null for the whole tenant",
                                    "x-ms-summary": "Environment ID"
                                },
                                "agents": {
                                    "type": "array",
                                    "description": "Array of agents",
                                    "x-ms-summary": "Agents",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "displayName": {
                                                "type": "string",
                                                "description": "Display name of the agent",
                                                "x-ms-summary": "Display Name"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Resource name of the agent",
                                                "x-ms-summary": "Name"
                                            },
                                            "schemaName": {
                                                "type": "string",
                                                "description": "Unique system name used to reference the agent",
                                                "x-ms-summary": "Schema Name"
                                            },
                                            "entraAgentId": {
                                                "type": "string",
                                                "description": "Microsoft Entra Agent ID",
                                                "x-ms-summary": "Entra Agent ID"
                                            },
                                            "entraAgentBlueprintId": {
                                                "type": "string",
                                                "description": "Entra agent identity blueprint the agent identity descends from",
                                                "x-ms-summary": "Entra Agent Blueprint ID"
                                            },
                                            "entraAppId": {
                                                "type": "string",
                                                "description": "Entra application ID associated with the agent",
                                                "x-ms-summary": "Entra App ID"
                                            },
                                            "environmentId": {
                                                "type": "string",
                                                "description": "Environment the agent lives in",
                                                "x-ms-summary": "Environment ID"
                                            },
                                            "environmentName": {
                                                "type": "string",
                                                "description": "Environment display name",
                                                "x-ms-summary": "Environment Name"
                                            },
                                            "environmentRegion": {
                                                "type": "string",
                                                "description": "Azure region of the environment",
                                                "x-ms-summary": "Environment Region"
                                            },
                                            "environmentType": {
                                                "type": "string",
                                                "description": "Environment type (Production, Sandbox, Developer, Trial, Default)",
                                                "x-ms-summary": "Environment Type"
                                            },
                                            "environmentIsManaged": {
                                                "type": "boolean",
                                                "description": "Whether the environment is a Managed Environment",
                                                "x-ms-summary": "Environment Is Managed"
                                            },
                                            "environmentGroupId": {
                                                "type": "string",
                                                "description": "Environment group the environment belongs to",
                                                "x-ms-summary": "Environment Group ID"
                                            },
                                            "environmentGroupName": {
                                                "type": "string",
                                                "description": "Environment group display name",
                                                "x-ms-summary": "Environment Group Name"
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "description": "When the agent was created",
                                                "x-ms-summary": "Created At"
                                            },
                                            "createdBy": {
                                                "type": "string",
                                                "description": "Object ID of the user who created the agent",
                                                "x-ms-summary": "Created By"
                                            },
                                            "createdIn": {
                                                "type": "string",
                                                "description": "Surface the agent was created in (for example, Copilot Studio)",
                                                "x-ms-summary": "Created In"
                                            },
                                            "lastPublishedAt": {
                                                "type": "string",
                                                "description": "When the agent was last published. Blank means never published.",
                                                "x-ms-summary": "Last Published At"
                                            },
                                            "ownerId": {
                                                "type": "string",
                                                "description": "Object ID of the current owner",
                                                "x-ms-summary": "Owner ID"
                                            },
                                            "authentication": {
                                                "type": "string",
                                                "description": "Authentication mode configured for the agent",
                                                "x-ms-summary": "Authentication"
                                            },
                                            "orchestration": {
                                                "type": "string",
                                                "description": "Orchestration mode (for example, Generative)",
                                                "x-ms-summary": "Orchestration"
                                            },
                                            "model": {
                                                "type": "string",
                                                "description": "Primary AI model backing the agent",
                                                "x-ms-summary": "Model"
                                            },
                                            "isManaged": {
                                                "type": "boolean",
                                                "description": "Whether the agent is in a managed solution",
                                                "x-ms-summary": "Is Managed"
                                            },
                                            "isQuarantined": {
                                                "type": "boolean",
                                                "description": "Whether the agent is quarantined",
                                                "x-ms-summary": "Is Quarantined"
                                            },
                                            "isCLIAgent": {
                                                "type": "string",
                                                "description": "Whether the agent was authored through a CLI or code-first path: true, false, or unknown. Unknown means the platform did not report the field and must not be read as false. This is an undocumented property that may change without notice.",
                                                "x-ms-summary": "Is CLI Agent"
                                            },
                                            "sharedWithViewersUserCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of users the agent is shared with as viewers",
                                                "x-ms-summary": "Shared With Viewers User Count"
                                            },
                                            "sharedWithViewersGroupCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of groups the agent is shared with as viewers",
                                                "x-ms-summary": "Shared With Viewers Group Count"
                                            },
                                            "sharedWithViewersEntireTenant": {
                                                "type": "boolean",
                                                "description": "Whether the agent is shared with everyone in the tenant",
                                                "x-ms-summary": "Shared With Entire Tenant"
                                            },
                                            "sharedWithEditorsUserCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of users the agent is shared with as editors",
                                                "x-ms-summary": "Shared With Editors User Count"
                                            },
                                            "sharedWithEditorsGroupCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of groups the agent is shared with as editors",
                                                "x-ms-summary": "Shared With Editors Group Count"
                                            },
                                            "channels": {
                                                "type": "array",
                                                "description": "Channels the agent is published to",
                                                "x-ms-summary": "Channels",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "riskLevel": {
                                                "type": "string",
                                                "description": "Computed governance risk: None, Low, Medium, or High",
                                                "x-ms-summary": "Risk Level"
                                            },
                                            "riskScore": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Additive score behind the risk level",
                                                "x-ms-summary": "Risk Score"
                                            },
                                            "riskSignals": {
                                                "type": "array",
                                                "description": "Named signals that produced the risk score",
                                                "x-ms-summary": "Risk Signals",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/environments": {
            "get": {
                "summary": "Get Environment List",
                "description": "Internal operation for dynamic dropdowns. Returns environment IDs and names.",
                "operationId": "GetEnvironmentDropdown",
                "x-ms-visibility": "internal",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Environment list for dropdown",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "Environment ID"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Environment display name"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {}
        }
    },
    "security": [
        {
            "oauth2_auth": []
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://learn.microsoft.com/power-platform/admin/programmability-and-extensibility/powerplatform-api-reference"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://privacy.microsoft.com/privacystatement"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "IT Operations"
        }
    ]
}
