{
    "swagger": "2.0",
    "info": {
        "title": "Power Platform Admin",
        "description": "MCP server for cross-environment Power Platform administration through natural language in Copilot Studio. Manages environment settings, Copilot governance, security recommendations, connectors, apps, agent inventory, and application packages via the Power Platform Admin API.",
        "version": "1.2.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "api.powerplatform.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/mcp": {
            "post": {
                "summary": "Invoke Power Platform Admin MCP",
                "description": "Model Context Protocol endpoint for Copilot Studio integration. Provides cross-environment administration tools for Power Platform.",
                "operationId": "InvokeMCP",
                "x-ms-agentic-protocol": "mcp-streamable-1.0",
                "responses": {
                    "200": {
                        "description": "MCP response"
                    }
                }
            }
        },
        "/admin/environments": {
            "get": {
                "summary": "List Environments",
                "description": "List all Power Platform environments with capacity metrics, types, states, and Dataverse URLs.",
                "operationId": "ListEnvironments",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "List of environments",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "environmentCount": {
                                    "type": "integer",
                                    "description": "Total number of environments",
                                    "x-ms-summary": "Environment Count"
                                },
                                "environments": {
                                    "type": "array",
                                    "description": "Array of environments",
                                    "x-ms-summary": "Environments",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Environment ID (GUID)",
                                                "x-ms-summary": "Environment ID"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Display name of the environment",
                                                "x-ms-summary": "Name"
                                            },
                                            "type": {
                                                "type": "string",
                                                "description": "Environment type (Production, Sandbox, Developer, Trial, Default)",
                                                "x-ms-summary": "Type"
                                            },
                                            "state": {
                                                "type": "string",
                                                "description": "Management state",
                                                "x-ms-summary": "State"
                                            },
                                            "location": {
                                                "type": "string",
                                                "description": "Azure region",
                                                "x-ms-summary": "Location"
                                            },
                                            "dataverseUrl": {
                                                "type": "string",
                                                "description": "Dataverse instance URL",
                                                "x-ms-summary": "Dataverse URL"
                                            },
                                            "updateCadence": {
                                                "type": "string",
                                                "description": "Update cadence (Frequent or Moderate)",
                                                "x-ms-summary": "Update Cadence"
                                            },
                                            "capacity": {
                                                "type": "object",
                                                "description": "Capacity metrics",
                                                "x-ms-summary": "Capacity"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/environment": {
            "get": {
                "summary": "Get Environment",
                "description": "Get full details of a specific environment including properties, database settings, capacity, runtime endpoints, and protection status.",
                "operationId": "GetEnvironment",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Environment details",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Display name",
                                    "x-ms-summary": "Name"
                                },
                                "properties": {
                                    "type": "object",
                                    "description": "Full environment properties"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/settings": {
            "get": {
                "summary": "Get Settings",
                "description": "Get PPAC management settings for an environment (SAS IP rules, audit logging, etc.).",
                "operationId": "GetSettings",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Comma-separated list of setting names to return. Omit for all settings.",
                        "x-ms-summary": "Select Settings",
                        "x-ms-visibility": "advanced"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Environment settings",
                        "schema": {
                            "type": "object",
                            "description": "Key-value pairs of setting names and their values"
                        }
                    }
                }
            }
        },
        "/admin/settings/update": {
            "post": {
                "summary": "Update Settings",
                "description": "Update one or more PPAC management settings on an environment.",
                "operationId": "UpdateSettings",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "settings": {
                                    "type": "object",
                                    "description": "Key-value pairs of setting names and their new values",
                                    "x-ms-summary": "Settings"
                                }
                            },
                            "required": [
                                "settings"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "Operation status",
                                    "x-ms-summary": "Status"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "updatedSettings": {
                                    "type": "object",
                                    "description": "Settings that were updated",
                                    "x-ms-summary": "Updated Settings"
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Result message",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/tenantpool": {
            "get": {
                "summary": "Get Draw From Tenant Pool",
                "description": "Check whether an environment draws Copilot Studio message and session capacity (MCSMessages, MCSSessions) from the tenant pool. An environment with no allocation document draws from the pool by default. Uses an unsupported licensing allocations endpoint that may change without notice.",
                "operationId": "GetTenantPoolDraw",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant pool draw state",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "True when the environment draws Copilot Studio capacity from the tenant pool",
                                    "x-ms-summary": "Draws From Tenant Pool"
                                },
                                "source": {
                                    "type": "string",
                                    "description": "Where the state came from: allocationDocument when a document exists, default when none does",
                                    "x-ms-summary": "Source"
                                },
                                "entitlements": {
                                    "type": "object",
                                    "description": "TenantPool rule state per entitlement",
                                    "x-ms-summary": "Entitlements",
                                    "properties": {
                                        "MCSMessages": {
                                            "type": "boolean",
                                            "description": "Copilot Studio messages capacity draws from the tenant pool",
                                            "x-ms-summary": "MCS Messages"
                                        },
                                        "MCSSessions": {
                                            "type": "boolean",
                                            "description": "Copilot Studio sessions capacity draws from the tenant pool",
                                            "x-ms-summary": "MCS Sessions"
                                        }
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Human-readable summary of the state",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/tenantpool/update": {
            "post": {
                "summary": "Set Draw From Tenant Pool",
                "description": "Enable or disable whether an environment draws Copilot Studio message and session capacity (MCSMessages, MCSSessions) from the tenant pool. Reads the current allocation document first and changes only the TenantPool enforcement rule, preserving other allocation and enforcement data. Uses an unsupported licensing allocations endpoint that may change without notice.",
                "operationId": "SetTenantPoolDraw",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "The environment ID (GUID)",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean",
                                    "description": "True to draw from the tenant pool, false to stop drawing from it",
                                    "x-ms-summary": "Draw From Tenant Pool"
                                }
                            },
                            "required": [
                                "enabled"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "Operation status",
                                    "x-ms-summary": "Status"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "Environment ID",
                                    "x-ms-summary": "Environment ID"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "The value that was applied",
                                    "x-ms-summary": "Draws From Tenant Pool"
                                },
                                "entitlements": {
                                    "type": "array",
                                    "description": "Entitlements the TenantPool rule was applied to",
                                    "x-ms-summary": "Entitlements",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "Result message",
                                    "x-ms-summary": "Message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/agents": {
            "get": {
                "summary": "List Agents",
                "description": "Inventory Copilot Studio and Agent Builder agents, enriched with environment, environment group, sharing, identity, and provenance detail. Each agent carries a computed risk level derived from creation provenance, sharing scope, and environment posture. Leave the environment blank to inventory the whole tenant. Uses the resource query endpoint, which returns undocumented resource properties that may change without notice.",
                "operationId": "ListAgents",
                "parameters": [
                    {
                        "name": "environmentId",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "Restrict the inventory to a single environment. Leave blank to inventory every environment in the tenant.",
                        "x-ms-summary": "Environment ID",
                        "x-ms-dynamic-values": {
                            "operationId": "GetEnvironmentDropdown",
                            "value-path": "id",
                            "value-title": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent inventory",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "agentCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of agents returned",
                                    "x-ms-summary": "Agent Count"
                                },
                                "truncated": {
                                    "type": "boolean",
                                    "description": "True when the page limit was reached before the tenant was fully enumerated. Narrow the scope with an environment to get a complete result.",
                                    "x-ms-summary": "Truncated"
                                },
                                "environmentId": {
                                    "type": "string",
                                    "description": "The environment the inventory was scoped to, or null for the whole tenant",
                                    "x-ms-summary": "Environment ID"
                                },
                                "agents": {
                                    "type": "array",
                                    "description": "Array of agents",
                                    "x-ms-summary": "Agents",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "displayName": {
                                                "type": "string",
                                                "description": "Display name of the agent",
                                                "x-ms-summary": "Display Name"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Resource name of the agent",
                                                "x-ms-summary": "Name"
                                            },
                                            "schemaName": {
                                                "type": "string",
                                                "description": "Unique system name used to reference the agent",
                                                "x-ms-summary": "Schema Name"
                                            },
                                            "entraAgentId": {
                                                "type": "string",
                                                "description": "Microsoft Entra Agent ID",
                                                "x-ms-summary": "Entra Agent ID"
                                            },
                                            "entraAgentBlueprintId": {
                                                "type": "string",
                                                "description": "Entra agent identity blueprint the agent identity descends from",
                                                "x-ms-summary": "Entra Agent Blueprint ID"
                                            },
                                            "entraAppId": {
                                                "type": "string",
                                                "description": "Entra application ID associated with the agent",
                                                "x-ms-summary": "Entra App ID"
                                            },
                                            "environmentId": {
                                                "type": "string",
                                                "description": "Environment the agent lives in",
                                                "x-ms-summary": "Environment ID"
                                            },
                                            "environmentName": {
                                                "type": "string",
                                                "description": "Environment display name",
                                                "x-ms-summary": "Environment Name"
                                            },
                                            "environmentRegion": {
                                                "type": "string",
                                                "description": "Azure region of the environment",
                                                "x-ms-summary": "Environment Region"
                                            },
                                            "environmentType": {
                                                "type": "string",
                                                "description": "Environment type (Production, Sandbox, Developer, Trial, Default)",
                                                "x-ms-summary": "Environment Type"
                                            },
                                            "environmentIsManaged": {
                                                "type": "boolean",
                                                "description": "Whether the environment is a Managed Environment",
                                                "x-ms-summary": "Environment Is Managed"
                                            },
                                            "environmentGroupId": {
                                                "type": "string",
                                                "description": "Environment group the environment belongs to",
                                                "x-ms-summary": "Environment Group ID"
                                            },
                                            "environmentGroupName": {
                                                "type": "string",
                                                "description": "Environment group display name",
                                                "x-ms-summary": "Environment Group Name"
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "description": "When the agent was created",
                                                "x-ms-summary": "Created At"
                                            },
                                            "createdBy": {
                                                "type": "string",
                                                "description": "Object ID of the user who created the agent",
                                                "x-ms-summary": "Created By"
                                            },
                                            "createdIn": {
                                                "type": "string",
                                                "description": "Surface the agent was created in (for example, Copilot Studio)",
                                                "x-ms-summary": "Created In"
                                            },
                                            "lastPublishedAt": {
                                                "type": "string",
                                                "description": "When the agent was last published. Blank means never published.",
                                                "x-ms-summary": "Last Published At"
                                            },
                                            "ownerId": {
                                                "type": "string",
                                                "description": "Object ID of the current owner",
                                                "x-ms-summary": "Owner ID"
                                            },
                                            "authentication": {
                                                "type": "string",
                                                "description": "Authentication mode configured for the agent",
                                                "x-ms-summary": "Authentication"
                                            },
                                            "orchestration": {
                                                "type": "string",
                                                "description": "Orchestration mode (for example, Generative)",
                                                "x-ms-summary": "Orchestration"
                                            },
                                            "model": {
                                                "type": "string",
                                                "description": "Primary AI model backing the agent",
                                                "x-ms-summary": "Model"
                                            },
                                            "isManaged": {
                                                "type": "boolean",
                                                "description": "Whether the agent is in a managed solution",
                                                "x-ms-summary": "Is Managed"
                                            },
                                            "isQuarantined": {
                                                "type": "boolean",
                                                "description": "Whether the agent is quarantined",
                                                "x-ms-summary": "Is Quarantined"
                                            },
                                            "isCLIAgent": {
                                                "type": "string",
                                                "description": "Whether the agent was authored through a CLI or code-first path: true, false, or unknown. Unknown means the platform did not report the field and must not be read as false. This is an undocumented property that may change without notice.",
                                                "x-ms-summary": "Is CLI Agent"
                                            },
                                            "sharedWithViewersUserCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of users the agent is shared with as viewers",
                                                "x-ms-summary": "Shared With Viewers User Count"
                                            },
                                            "sharedWithViewersGroupCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of groups the agent is shared with as viewers",
                                                "x-ms-summary": "Shared With Viewers Group Count"
                                            },
                                            "sharedWithViewersEntireTenant": {
                                                "type": "boolean",
                                                "description": "Whether the agent is shared with everyone in the tenant",
                                                "x-ms-summary": "Shared With Entire Tenant"
                                            },
                                            "sharedWithEditorsUserCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of users the agent is shared with as editors",
                                                "x-ms-summary": "Shared With Editors User Count"
                                            },
                                            "sharedWithEditorsGroupCount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Number of groups the agent is shared with as editors",
                                                "x-ms-summary": "Shared With Editors Group Count"
                                            },
                                            "channels": {
                                                "type": "array",
                                                "description": "Channels the agent is published to",
                                                "x-ms-summary": "Channels",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "riskLevel": {
                                                "type": "string",
                                                "description": "Computed governance risk: None, Low, Medium, or High",
                                                "x-ms-summary": "Risk Level"
                                            },
                                            "riskScore": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "Additive score behind the risk level",
                                                "x-ms-summary": "Risk Score"
                                            },
                                            "riskSignals": {
                                                "type": "array",
                                                "description": "Named signals that produced the risk score",
                                                "x-ms-summary": "Risk Signals",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/environments": {
            "get": {
                "summary": "Get Environment List",
                "description": "Internal operation for dynamic dropdowns. Returns environment IDs and names.",
                "operationId": "GetEnvironmentDropdown",
                "x-ms-visibility": "internal",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Environment list for dropdown",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "Environment ID"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Environment display name"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {}
        }
    },
    "security": [
        {
            "oauth2_auth": []
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://learn.microsoft.com/power-platform/admin/programmability-and-extensibility/powerplatform-api-reference"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://privacy.microsoft.com/privacystatement"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "IT Operations"
        }
    ]
}
