{"swagger": "2.0", "info": {"title": "SharePoint Embedded", "description": "Connect to Microsoft SharePoint Embedded to manage file storage containers, files, and collaborate on documents. Works with both v1.0 stable and beta APIs.", "version": "1.0.0", "contact": {"name": "Troy Taylor", "email": "troy@troystaylor.com"}}, "host": "graph.microsoft.com", "basePath": "/", "schemes": ["https"], "consumes": ["application/json"], "produces": ["application/json"], "x-ms-connector-metadata": [{"propertyName": "Website", "propertyValue": "https://learn.microsoft.com/sharepoint/dev/embedded/overview"}, {"propertyName": "Privacy Policy", "propertyValue": "https://privacy.microsoft.com/privacystatement"}, {"propertyName": "Categories", "propertyValue": "Collaboration;Content and Files"}], "paths": {"/storage/fileStorage/containers": {"get": {"summary": "List file storage containers", "description": "Retrieve all file storage containers in the tenant", "operationId": "GetContainers", "x-ms-summary": "List Containers", "x-ms-visibility": "important", "parameters": [{"name": "$top", "in": "query", "type": "integer", "x-ms-summary": "Number of items to return", "description": "Maximum number of items to return (max 100)"}, {"name": "$skip", "in": "query", "type": "integer", "x-ms-summary": "Number of items to skip", "description": "Number of items to skip for pagination"}], "responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/FileStorageContainerList"}}}}, "post": {"summary": "Create a file storage container", "description": "Create a new file storage container for storing files and documents", "operationId": "CreateContainer", "x-ms-summary": "Create Container", "x-ms-visibility": "important", "parameters": [{"name": "body", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateFileStorageContainerRequest"}, "description": "Request body"}], "responses": {"201": {"description": "Container created successfully", "schema": {"$ref": "#/definitions/FileStorageContainer"}}}}}, "/storage/fileStorage/containers/{containerId}": {"get": {"summary": "Get file storage container details", "description": "Retrieve details of a specific file storage container", "operationId": "GetContainer", "x-ms-summary": "Get Container", "parameters": [{"name": "containerId", "in": "path", "required": true, "type": "string", "x-ms-summary": "Container ID", "description": "The unique identifier of the file storage container", "x-ms-url-encoding": "single"}], "responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/FileStorageContainer"}}}}, "patch": {"summary": "Update file storage container", "description": "Update properties of a file storage container", "operationId": "UpdateContainer", "x-ms-summary": "Update Container", "parameters": [{"name": "containerId", "in": "path", "required": true, "type": "string", "x-ms-summary": "Container ID", "description": "The unique identifier of the file storage container", "x-ms-url-encoding": "single"}, {"name": "body", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateFileStorageContainerRequest"}, "description": "Request body"}], "responses": {"200": {"description": "Container updated successfully", "schema": {"$ref": "#/definitions/FileStorageContainer"}}}}, "delete": {"summary": "Delete file storage container", "description": "Soft delete a file storage container (recoverable)", "operationId": "DeleteContainer", "x-ms-summary": "Delete Container", "parameters": [{"name": "containerId", "in": "path", "required": true, "type": "string", "x-ms-summary": "Container ID", "description": "The unique identifier of the file storage container", "x-ms-url-encoding": "single"}], "responses": {"204": {"description": "Container deleted successfully"}}}}, "/storage/fileStorage/containers/{containerId}/drive": {"get": {"summary": "Get container drive", "description": "Get the drive resource associated with a file storage container", "operationId": "GetContainerDrive", "x-ms-summary": "Get Container Drive", "parameters": [{"name": "containerId", "in": "path", "required": true, "type": "string", "x-ms-summary": "Container ID", "description": "The unique identifier of the file storage container", "x-ms-url-encoding": "single"}], "responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/Drive"}}}}}, "/drives/{driveId}/items/{itemId}/children": {"get": {"summary": "List container items", "description": "List all files and folders in a container or folder", "operationId": "ListContainerItems", "x-ms-summary": "List Items", "parameters": [{"name": "driveId", "in": "path", "required": true, "type": "string", "x-ms-summary": "Drive ID", "description": "The unique identifier of the drive", "x-ms-url-encoding": "single"}, {"name": "itemId", "in": "path", "required": true, "type": "string", "x-ms-summary": "Item ID", "description": "The unique identifier of the folder (use 'root' for container root)", "x-ms-url-encoding": "single"}, {"name": "$top", "in": "query", "type": "integer", "x-ms-summary": "Number of items to return", "description": "Maximum number of items to return"}], "responses": {"200": {"description": "Success", "schema": {"$ref": "#/definitions/DriveItemList"}}}}}, "/storage/fileStorage/containers/{containerId}/restore": {"post": {"summary": "Restore deleted container", "description": "Restore a previously deleted file storage container", "operationId": "RestoreContainer", "x-ms-summary": "Restore Container", "parameters": [{"name": "containerId", "in": "path", "required": true, "type": "string", "x-ms-summary": "Container ID", "description": "The unique identifier of the file storage container", "x-ms-url-encoding": "single"}], "responses": {"200": {"description": "Container restored successfully", "schema": {"$ref": "#/definitions/FileStorageContainer"}}}}} }, "definitions": {"FileStorageContainer": {"type": "object", "properties": {"id": {"type": "string"}, "displayName": {"type": "string"}, "description": {"type": "string"}, "containerTypeId": {"type": "string"}, "createdDateTime": {"type": "string", "format": "date-time"}, "storageUsedInBytes": {"type": "integer", "format": "int64"}}}, "FileStorageContainerList": {"type": "object", "properties": {"value": {"type": "array", "items": {"$ref": "#/definitions/FileStorageContainer"}}}}, "CreateFileStorageContainerRequest": {"type": "object", "required": ["displayName", "containerTypeId"], "properties": {"displayName": {"type": "string", "x-ms-summary": "Display Name", "description": "Display name for the container"}, "containerTypeId": {"type": "string", "x-ms-summary": "Container Type ID", "description": "The container type ID"}, "description": {"type": "string", "x-ms-summary": "Description", "description": "Optional description"}}}, "UpdateFileStorageContainerRequest": {"type": "object", "properties": {"displayName": {"type": "string", "x-ms-summary": "Display Name", "description": "New display name"}, "description": {"type": "string", "x-ms-summary": "Description", "description": "New description"}}}, "Drive": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "webUrl": {"type": "string"}}}, "DriveItem": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "size": {"type": "integer"}, "createdDateTime": {"type": "string", "format": "date-time"}, "lastModifiedDateTime": {"type": "string", "format": "date-time"}, "webUrl": {"type": "string"}}}, "DriveItemList": {"type": "object", "properties": {"value": {"type": "array", "items": {"$ref": "#/definitions/DriveItem"}}}}}}