{
  "swagger": "2.0",
  "info": {
    "title": "Excel Online MCP",
    "description": "MCP-enabled connector for Excel Online (Microsoft Graph). Exposes workbook, worksheet, range, and table operations as MCP tools.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troytaylor.com",
      "url": "https://github.com/troytaylor"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/mcp",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/": {
      "post": {
        "summary": "Invoke Excel Online MCP",
        "description": "Sends JSON-RPC requests to invoke Excel Online (Microsoft Graph) tools via MCP.",
        "operationId": "InvokeMCP",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": { "description": "MCP response" }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
      "scopes": {
        "Files.ReadWrite Sites.ReadWrite.All": "Read and write files and sites"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": ["Files.ReadWrite Sites.ReadWrite.All"]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    { "propertyName": "Categories", "propertyValue": "Productivity" },
    { "propertyName": "Website", "propertyValue": "https://graph.microsoft.com" },
    { "propertyName": "Privacy policy", "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement" }
  ]
}
