{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Precisely",
    "description": "Precisely allows you to achieve data integrity by ensuring the accuracy, consistency and context of your data. This means you can make better, faster, more confident decisions based on a deeper understanding of data you can trust."
  },
  "host": "api.precisely.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/property/v2/attributes/byaddress": {
      "get": {
        "summary": "PropertyV2",
        "description": "GetPropertyAttributesbyAddress Endpoint will take address as an input and will return key property attributes in response. Optionally user will have the option to filter the attributes and will pay for only returned attributes.",
        "operationId": "PropertyV2",
        "parameters": [
          {
            "name": "API_Key",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "Secret",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "address",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "attributes",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "objectId": {
                  "type": "string",
                  "description": "objectId"
                },
                "propertyAttributes": {
                  "type": "object",
                  "properties": {
                    "pbKey": {
                      "type": "string",
                      "description": "pbKey"
                    },
                    "propApn": {
                      "type": "string",
                      "description": "propApn"
                    },
                    "propType": {
                      "type": "string",
                      "description": "propType"
                    },
                    "propSqFt": {
                      "type": "string",
                      "description": "propSqFt"
                    },
                    "buildgSqFt": {
                      "type": "string",
                      "description": "buildgSqFt"
                    },
                    "buildgSqFtSource": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgSqFtSource"
                    },
                    "landUse": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "landUse"
                    },
                    "construction": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "construction"
                    },
                    "roofCoverType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "roofCoverType"
                    },
                    "subdivision": {
                      "type": "string",
                      "description": "subdivision"
                    },
                    "geometry": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "coordinates": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "coordinates"
                        }
                      },
                      "description": "geometry"
                    },
                    "builtYear": {
                      "type": "string",
                      "description": "builtYear"
                    },
                    "bedrooms": {
                      "type": "string",
                      "description": "bedrooms"
                    },
                    "baths": {
                      "type": "string",
                      "description": "baths"
                    },
                    "partialBaths": {
                      "type": "string",
                      "description": "partialBaths"
                    },
                    "bathFixtures": {
                      "type": "string",
                      "description": "bathFixtures"
                    },
                    "pool": {
                      "type": "string",
                      "description": "pool"
                    },
                    "poolType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "poolType"
                    },
                    "fireplace": {
                      "type": "string",
                      "description": "fireplace"
                    },
                    "fireplaceType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "fireplaceType"
                    },
                    "mobileHome": {
                      "type": "string",
                      "description": "mobileHome"
                    },
                    "heatingType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "heatingType"
                    },
                    "coolingType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "coolingType"
                    },
                    "assessedValue": {
                      "type": "string",
                      "description": "assessedValue"
                    },
                    "marketValue": {
                      "type": "string",
                      "description": "marketValue"
                    },
                    "appraisedValue": {
                      "type": "string",
                      "description": "appraisedValue"
                    },
                    "taxAmount": {
                      "type": "string",
                      "description": "taxAmount"
                    },
                    "taxExemptions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        }
                      },
                      "description": "taxExemptions"
                    },
                    "caExemptions": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "caExemptions"
                    },
                    "salesDate": {
                      "type": "string",
                      "description": "salesDate"
                    },
                    "priorSaleDate": {
                      "type": "string",
                      "description": "priorSaleDate"
                    },
                    "priorSalesPrice": {
                      "type": "string",
                      "description": "priorSalesPrice"
                    },
                    "priorSaleDocType": {
                      "type": "string",
                      "description": "priorSaleDocType"
                    },
                    "priorSaleCode": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "priorSaleCode"
                    },
                    "priorSaleFolioNumber": {
                      "type": "string",
                      "description": "priorSaleFolioNumber"
                    },
                    "priorSalePageNumber": {
                      "type": "string",
                      "description": "priorSalePageNumber"
                    },
                    "priorSaleDocNumber": {
                      "type": "string",
                      "description": "priorSaleDocNumber"
                    },
                    "stories": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "value"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "stories"
                    },
                    "livingSqFt": {
                      "type": "string",
                      "description": "livingSqFt"
                    },
                    "roofFrameType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "roofFrameType"
                    },
                    "foundation": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "foundation"
                    },
                    "buildgCondition": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgCondition"
                    },
                    "buildgCount": {
                      "type": "string",
                      "description": "buildgCount"
                    },
                    "buildgUnitNo": {
                      "type": "string",
                      "description": "buildgUnitNo"
                    },
                    "buildgFeaturesSqFt": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "featureAreaSqFt": {
                            "type": "string",
                            "description": "featureAreaSqFt"
                          },
                          "areaIndicator": {
                            "type": "string",
                            "description": "areaIndicator"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        }
                      },
                      "description": "buildgFeaturesSqFt"
                    },
                    "taxAddress": {
                      "type": "string",
                      "description": "taxAddress"
                    },
                    "formattedTaxAddress": {
                      "type": "object",
                      "properties": {
                        "mainAddressLine": {
                          "type": "string",
                          "description": "mainAddressLine"
                        },
                        "addressNumber": {
                          "type": "string",
                          "description": "addressNumber"
                        },
                        "streetPreDirection": {
                          "type": "string",
                          "description": "streetPreDirection"
                        },
                        "streetName": {
                          "type": "string",
                          "description": "streetName"
                        },
                        "streetType": {
                          "type": "string",
                          "description": "streetType"
                        },
                        "streetPostDirection": {
                          "type": "string",
                          "description": "streetPostDirection"
                        },
                        "unitType": {
                          "type": "string",
                          "description": "unitType"
                        },
                        "unitValue": {
                          "type": "string",
                          "description": "unitValue"
                        },
                        "city": {
                          "type": "string",
                          "description": "city"
                        },
                        "state": {
                          "type": "string",
                          "description": "state"
                        },
                        "postCode1": {
                          "type": "string",
                          "description": "postCode1"
                        },
                        "postCode2": {
                          "type": "string",
                          "description": "postCode2"
                        }
                      },
                      "description": "formattedTaxAddress"
                    },
                    "situsAddress": {
                      "type": "object",
                      "properties": {
                        "mainAddressLine": {
                          "type": "string",
                          "description": "mainAddressLine"
                        },
                        "addressNumber": {
                          "type": "string",
                          "description": "addressNumber"
                        },
                        "streetPreDirection": {
                          "type": "string",
                          "description": "streetPreDirection"
                        },
                        "streetName": {
                          "type": "string",
                          "description": "streetName"
                        },
                        "streetType": {
                          "type": "string",
                          "description": "streetType"
                        },
                        "streetPostDirection": {
                          "type": "string",
                          "description": "streetPostDirection"
                        },
                        "unitType": {
                          "type": "string",
                          "description": "unitType"
                        },
                        "unitValue": {
                          "type": "string",
                          "description": "unitValue"
                        },
                        "city": {
                          "type": "string",
                          "description": "city"
                        },
                        "state": {
                          "type": "string",
                          "description": "state"
                        },
                        "postCode1": {
                          "type": "string",
                          "description": "postCode1"
                        },
                        "postCode2": {
                          "type": "string",
                          "description": "postCode2"
                        }
                      },
                      "description": "situsAddress"
                    },
                    "vacancy": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "vacancy"
                    },
                    "owners": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ownerId": {
                            "type": "string",
                            "description": "ownerId"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "middleName"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "ownerName": {
                            "type": "string",
                            "description": "ownerName"
                          }
                        }
                      },
                      "description": "owners"
                    },
                    "appraisedValueImp": {
                      "type": "string",
                      "description": "appraisedValueImp"
                    },
                    "assessedValueImp": {
                      "type": "string",
                      "description": "assessedValueImp"
                    },
                    "buildgType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgType"
                    },
                    "basementType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "basementType"
                    },
                    "effectiveBuiltYear": {
                      "type": "string",
                      "description": "effectiveBuiltYear"
                    },
                    "exteriorWalls": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "exteriorWalls"
                    },
                    "garageType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "garageType"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    },
                    "marketValueImp": {
                      "type": "string",
                      "description": "marketValueImp"
                    },
                    "absenteeOwner": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "absenteeOwner"
                    },
                    "parkingSqFt": {
                      "type": "string",
                      "description": "parkingSqFt"
                    },
                    "replacementCost": {
                      "type": "string",
                      "description": "replacementCost"
                    },
                    "roofShapeType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "roofShapeType"
                    },
                    "buildgStyle": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgStyle"
                    },
                    "basementSqFt": {
                      "type": "string",
                      "description": "basementSqFt"
                    },
                    "ownerType": {
                      "type": "string",
                      "description": "ownerType"
                    },
                    "ownerVestType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "ownerVestType"
                    },
                    "elevator": {
                      "type": "string",
                      "description": "elevator"
                    },
                    "propApnSequence": {
                      "type": "string",
                      "description": "propApnSequence"
                    },
                    "fipsCode": {
                      "type": "string",
                      "description": "fipsCode"
                    },
                    "propZoning": {
                      "type": "string",
                      "description": "propZoning"
                    },
                    "locCode": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "locCode"
                    },
                    "legalMapRef": {
                      "type": "string",
                      "description": "legalMapRef"
                    },
                    "legalAssessorDesc": {
                      "type": "string",
                      "description": "legalAssessorDesc"
                    },
                    "legalFullDesc": {
                      "type": "string",
                      "description": "legalFullDesc"
                    },
                    "legalLotCode": {
                      "type": "string",
                      "description": "legalLotCode"
                    },
                    "legalLotNumber": {
                      "type": "string",
                      "description": "legalLotNumber"
                    },
                    "legalLandLot": {
                      "type": "string",
                      "description": "legalLandLot"
                    },
                    "legalTractNumber": {
                      "type": "string",
                      "description": "legalTractNumber"
                    },
                    "legalBlock": {
                      "type": "string",
                      "description": "legalBlock"
                    },
                    "legalSection": {
                      "type": "string",
                      "description": "legalSection"
                    },
                    "legalDistrict": {
                      "type": "string",
                      "description": "legalDistrict"
                    },
                    "legalUnitNumber": {
                      "type": "string",
                      "description": "legalUnitNumber"
                    },
                    "legalPhaseNumber": {
                      "type": "string",
                      "description": "legalPhaseNumber"
                    },
                    "legalSubName": {
                      "type": "string",
                      "description": "legalSubName"
                    },
                    "legalTownMuniName": {
                      "type": "string",
                      "description": "legalTownMuniName"
                    },
                    "legalSectionTownshipRange": {
                      "type": "string",
                      "description": "legalSectionTownshipRange"
                    },
                    "propAcres": {
                      "type": "string",
                      "description": "propAcres"
                    },
                    "propFrontFootage": {
                      "type": "string",
                      "description": "propFrontFootage"
                    },
                    "propDepthFootage": {
                      "type": "string",
                      "description": "propDepthFootage"
                    },
                    "buildgView": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgView"
                    },
                    "propSiteInfluene": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "propSiteInfluene"
                    },
                    "buildgName": {
                      "type": "string",
                      "description": "buildgName"
                    },
                    "buildgQuality": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgQuality"
                    },
                    "buildgImproveType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgImproveType"
                    },
                    "grossSqft": {
                      "type": "string",
                      "description": "grossSqft"
                    },
                    "adjGrossSqft": {
                      "type": "string",
                      "description": "adjGrossSqft"
                    },
                    "buildgClass": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "buildgClass"
                    },
                    "interiorWall": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "interiorWall"
                    },
                    "floorType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "floorType"
                    },
                    "rooms": {
                      "type": "string",
                      "description": "rooms"
                    },
                    "otherRooms": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "otherRooms"
                    },
                    "plumbingFixtures": {
                      "type": "string",
                      "description": "plumbingFixtures"
                    },
                    "parkingCapacity": {
                      "type": "string",
                      "description": "parkingCapacity"
                    },
                    "energyType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "energyType"
                    },
                    "fuelType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "fuelType"
                    },
                    "sewerType": {
                      "type": "string",
                      "description": "sewerType"
                    },
                    "waterType": {
                      "type": "string",
                      "description": "waterType"
                    },
                    "amenities": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "amenities"
                    },
                    "extraFeatureSqft": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "featureAreaSqFt": {
                            "type": "string",
                            "description": "featureAreaSqFt"
                          },
                          "areaIndicator": {
                            "type": "string",
                            "description": "areaIndicator"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        }
                      },
                      "description": "extraFeatureSqft"
                    },
                    "buildgImproveArea": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "improveArea": {
                            "type": "string",
                            "description": "improveArea"
                          },
                          "areaIndicator": {
                            "type": "string",
                            "description": "areaIndicator"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        }
                      },
                      "description": "buildgImproveArea"
                    },
                    "taxAccountNumber": {
                      "type": "string",
                      "description": "taxAccountNumber"
                    },
                    "taxTapeCutDate": {
                      "type": "string",
                      "description": "taxTapeCutDate"
                    },
                    "taxDocType": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "taxDocType"
                    },
                    "taxSalesPrice": {
                      "type": "string",
                      "description": "taxSalesPrice"
                    },
                    "taxSalesPriceCode": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "taxSalesPriceCode"
                    },
                    "recBookNumber": {
                      "type": "string",
                      "description": "recBookNumber"
                    },
                    "recPageNumber": {
                      "type": "string",
                      "description": "recPageNumber"
                    },
                    "recDocNumber": {
                      "type": "string",
                      "description": "recDocNumber"
                    },
                    "taxYear": {
                      "type": "string",
                      "description": "taxYear"
                    },
                    "taxDelYear": {
                      "type": "string",
                      "description": "taxDelYear"
                    },
                    "assessedYear": {
                      "type": "string",
                      "description": "assessedYear"
                    },
                    "assessedLandValue": {
                      "type": "string",
                      "description": "assessedLandValue"
                    },
                    "marketValueYear": {
                      "type": "string",
                      "description": "marketValueYear"
                    },
                    "marketValueLand": {
                      "type": "string",
                      "description": "marketValueLand"
                    },
                    "appraisedValueLand": {
                      "type": "string",
                      "description": "appraisedValueLand"
                    },
                    "taxRateCode": {
                      "type": "string",
                      "description": "taxRateCode"
                    },
                    "propLinkId": {
                      "type": "string",
                      "description": "propLinkId"
                    },
                    "geoId": {
                      "type": "string",
                      "description": "geoId"
                    }
                  },
                  "description": "propertyAttributes"
                },
                "matchedAddress": {
                  "type": "object",
                  "properties": {
                    "objectId": {
                      "type": "string",
                      "description": "objectId"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "displayName"
                    },
                    "streetSide": {
                      "type": "string",
                      "description": "streetSide"
                    },
                    "businessName": {
                      "type": "string",
                      "description": "businessName"
                    },
                    "addressLine1": {
                      "type": "string",
                      "description": "addressLine1"
                    },
                    "addressLine2": {
                      "type": "string",
                      "description": "addressLine2"
                    },
                    "addressLine3": {
                      "type": "string",
                      "description": "addressLine3"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "stateProvince": {
                      "type": "string",
                      "description": "stateProvince"
                    },
                    "county": {
                      "type": "string",
                      "description": "county"
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "postalCode"
                    },
                    "latitude": {
                      "type": "string",
                      "description": "latitude"
                    },
                    "longitude": {
                      "type": "string",
                      "description": "longitude"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "urbanizationName": {
                      "type": "string",
                      "description": "urbanizationName"
                    },
                    "formattedAddress": {
                      "type": "string",
                      "description": "formattedAddress"
                    },
                    "mainAddressLine": {
                      "type": "string",
                      "description": "mainAddressLine"
                    },
                    "addressLastLine": {
                      "type": "string",
                      "description": "addressLastLine"
                    },
                    "placeName": {
                      "type": "string",
                      "description": "placeName"
                    },
                    "areaName1": {
                      "type": "string",
                      "description": "areaName1"
                    },
                    "areaName2": {
                      "type": "string",
                      "description": "areaName2"
                    },
                    "areaName3": {
                      "type": "string",
                      "description": "areaName3"
                    },
                    "areaName4": {
                      "type": "string",
                      "description": "areaName4"
                    },
                    "postCode": {
                      "type": "string",
                      "description": "postCode"
                    },
                    "postCodeExt": {
                      "type": "string",
                      "description": "postCodeExt"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "addressNumber": {
                      "type": "string",
                      "description": "addressNumber"
                    },
                    "streetName": {
                      "type": "string",
                      "description": "streetName"
                    },
                    "unitType": {
                      "type": "string",
                      "description": "unitType"
                    },
                    "unitValue": {
                      "type": "string",
                      "description": "unitValue"
                    }
                  },
                  "description": "matchedAddress"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string",
                        "description": "errorCode"
                      },
                      "errorDescription": {
                        "type": "string",
                        "description": "errorDescription"
                      }
                    }
                  },
                  "description": "errors"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}