{
    "swagger": "2.0",
    "info": {
        "title": "Agent 365 MCP Server",
        "description": "Exposes Agent 365 MCP server tools via MCP protocol for Copilot Studio.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "agent365.svc.cloud.microsoft",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "post": {
                "summary": "MCP Protocol proxy to Agent 365 MCP server",
                "description": "Bridges MCP requests to the Agent 365 MCP server and returns responses.",
                "operationId": "InvokeMCP",
                "x-ms-agentic-protocol": "mcp-streamable-1.0",
                "responses": {
                    "200": {
                        "description": "MCP response"
                    }
                }
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
                "https://agent365.svc.cloud.microsoft/.default": "Access MCP server APIs"
            }
        }
    },
    "security": [
        {
            "oauth2_auth": [
                "https://agent365.svc.cloud.microsoft/.default"
            ]
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Categories",
            "propertyValue": "Administration"
        }
    ]
}
