{
    "swagger": "2.0",
    "info": {
        "title": "Agent 365 MCP Server",
        "description": "Exposes the Agent 365 management and Work IQ MCP servers via MCP protocol for Copilot Studio. Provides access to blueprint management, governed Work IQ tools (Mail, Calendar, Teams, SharePoint, Word), admin governance, and MCP server lifecycle operations.",
        "version": "1.1.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "agent365.svc.cloud.microsoft",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "post": {
                "summary": "Invoke Agent 365 MCP",
                "description": "Bridges MCP requests to Agent 365 MCP servers including MCPManagement, Work IQ tools (Mail, Calendar, Teams, SharePoint, Word), AdminTools, SearchTools, and Dataverse.",
                "operationId": "InvokeMCP",
                "x-ms-agentic-protocol": "mcp-streamable-1.0",
                "responses": {
                    "200": {
                        "description": "MCP response"
                    }
                }
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
                "https://agent365.svc.cloud.microsoft/.default": "Access MCP server APIs"
            }
        }
    },
    "security": [
        {
            "oauth2_auth": [
                "https://agent365.svc.cloud.microsoft/.default"
            ]
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Categories",
            "propertyValue": "Administration"
        }
    ]
}
