{
    "swagger": "2.0",
    "info": {
        "title": "ServiceNow MCP",
        "version": "1.0.0",
        "description": "Comprehensive ServiceNow connector based on the Zurich release REST APIs. Includes Table, Attachment, Aggregate, Import Set, CMDB Instance, Service Catalog, Batch, Knowledge Management, Email, Performance Analytics, Change Management, User Administration, and Event Management APIs. MCP-enabled for Copilot Studio integration.",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "instance.service-now.com",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://instance.service-now.com/oauth_auth.do",
            "tokenUrl": "https://instance.service-now.com/oauth_token.do",
            "scopes": {}
        }
    },
    "security": [
        {
            "oauth2_auth": []
        }
    ],
    "paths": {
        "/now/table/{tableName}": {
            "get": {
                "operationId": "ListRecords",
                "summary": "List Records",
                "description": "Retrieves multiple records from the specified table. Use query parameters to filter, sort, and paginate results.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table (e.g., incident, sys_user, change_request, problem, sc_request)",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_query",
                        "in": "query",
                        "type": "string",
                        "description": "Encoded query string (e.g., active=true^priority=1)",
                        "x-ms-summary": "Query Filter"
                    },
                    {
                        "name": "sysparm_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated list of fields to return",
                        "x-ms-summary": "Fields"
                    },
                    {
                        "name": "sysparm_limit",
                        "in": "query",
                        "type": "integer",
                        "default": 100,
                        "description": "Maximum number of records to return",
                        "x-ms-summary": "Limit"
                    },
                    {
                        "name": "sysparm_offset",
                        "in": "query",
                        "type": "integer",
                        "default": 0,
                        "description": "Starting record index for pagination",
                        "x-ms-summary": "Offset"
                    },
                    {
                        "name": "sysparm_display_value",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ],
                        "description": "Return display values (true), actual values (false), or both (all)",
                        "x-ms-summary": "Display Value"
                    },
                    {
                        "name": "sysparm_exclude_reference_link",
                        "in": "query",
                        "type": "boolean",
                        "description": "Exclude Table API links for reference fields",
                        "x-ms-summary": "Exclude Reference Links"
                    },
                    {
                        "name": "sysparm_suppress_pagination_header",
                        "in": "query",
                        "type": "boolean",
                        "description": "Remove Link header from response",
                        "x-ms-summary": "Suppress Pagination Header"
                    },
                    {
                        "name": "sysparm_view",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "desktop",
                            "mobile",
                            "both"
                        ],
                        "description": "UI view for rendering data",
                        "x-ms-summary": "View"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/RecordListResponse"
                        },
                        "headers": {
                            "X-Total-Count": {
                                "type": "integer",
                                "description": "Total count of records"
                            },
                            "Link": {
                                "type": "string",
                                "description": "Pagination links"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "operationId": "CreateRecord",
                "summary": "Create Record",
                "description": "Creates a new record in the specified table.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_display_value",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ],
                        "description": "Return display values, actual values, or both",
                        "x-ms-summary": "Display Value"
                    },
                    {
                        "name": "sysparm_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated list of fields to return",
                        "x-ms-summary": "Fields"
                    },
                    {
                        "name": "sysparm_input_display_value",
                        "in": "query",
                        "type": "boolean",
                        "description": "Set field values using display values",
                        "x-ms-summary": "Input Display Value"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetTableSchema",
                                "parameters": {
                                    "tableName": {
                                        "parameter": "tableName"
                                    }
                                },
                                "value-path": "schema"
                            }
                        },
                        "description": "Record data as field name-value pairs"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/RecordResponse"
                        },
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "URL of the created resource"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/now/table/{tableName}/schema": {
            "get": {
                "operationId": "GetTableSchema",
                "summary": "Get Table Schema",
                "description": "Retrieves the field schema for a table. Used internally for dynamic schemas.",
                "x-ms-visibility": "internal",
                "tags": [
                    "Table"
                ],
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "schema": {
                                    "type": "object",
                                    "description": "JSON Schema for the table"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Table not found"
                    }
                }
            }
        },
        "/now/table/{tableName}/{sys_id}": {
            "get": {
                "operationId": "GetRecord",
                "summary": "Get Record",
                "description": "Retrieves a single record by sys_id from the specified table.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the record to retrieve",
                        "x-ms-summary": "Record Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_display_value",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ],
                        "description": "Return display values, actual values, or both",
                        "x-ms-summary": "Display Value"
                    },
                    {
                        "name": "sysparm_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated list of fields to return",
                        "x-ms-summary": "Fields"
                    },
                    {
                        "name": "sysparm_exclude_reference_link",
                        "in": "query",
                        "type": "boolean",
                        "description": "Exclude Table API links for reference fields",
                        "x-ms-summary": "Exclude Reference Links"
                    },
                    {
                        "name": "sysparm_view",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "desktop",
                            "mobile",
                            "both"
                        ],
                        "description": "UI view for rendering data",
                        "x-ms-summary": "View"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/RecordResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "operationId": "UpdateRecord",
                "summary": "Update Record (Partial)",
                "description": "Updates specified fields of an existing record. Only fields included in the request body are updated.",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the record to update",
                        "x-ms-summary": "Record Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_display_value",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ],
                        "description": "Return display values, actual values, or both",
                        "x-ms-summary": "Display Value"
                    },
                    {
                        "name": "sysparm_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated list of fields to return",
                        "x-ms-summary": "Fields"
                    },
                    {
                        "name": "sysparm_input_display_value",
                        "in": "query",
                        "type": "boolean",
                        "description": "Set field values using display values",
                        "x-ms-summary": "Input Display Value"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetTableSchema",
                                "parameters": {
                                    "tableName": {
                                        "parameter": "tableName"
                                    }
                                },
                                "value-path": "schema"
                            }
                        },
                        "description": "Fields to update as name-value pairs"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/RecordResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "operationId": "ReplaceRecord",
                "summary": "Replace Record (Full)",
                "description": "Replaces an entire record with the provided data. Fields not included are set to null.",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the record to replace",
                        "x-ms-summary": "Record Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_display_value",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ],
                        "description": "Return display values, actual values, or both",
                        "x-ms-summary": "Display Value"
                    },
                    {
                        "name": "sysparm_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated list of fields to return",
                        "x-ms-summary": "Fields"
                    },
                    {
                        "name": "sysparm_input_display_value",
                        "in": "query",
                        "type": "boolean",
                        "description": "Set field values using display values",
                        "x-ms-summary": "Input Display Value"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetTableSchema",
                                "parameters": {
                                    "tableName": {
                                        "parameter": "tableName"
                                    }
                                },
                                "value-path": "schema"
                            }
                        },
                        "description": "Complete record data"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/RecordResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "operationId": "DeleteRecord",
                "summary": "Delete Record",
                "description": "Deletes the specified record from the table.",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the record to delete",
                        "x-ms-summary": "Record Sys ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content - Successfully deleted"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/now/stats/{tableName}": {
            "get": {
                "operationId": "GetTableStatistics",
                "summary": "Get Table Statistics",
                "description": "Retrieves aggregate statistics (count, sum, avg, min, max) for records in the specified table.",
                "parameters": [
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table",
                        "x-ms-summary": "Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_query",
                        "in": "query",
                        "type": "string",
                        "description": "Encoded query to filter records",
                        "x-ms-summary": "Query Filter"
                    },
                    {
                        "name": "sysparm_count",
                        "in": "query",
                        "type": "boolean",
                        "description": "Return count of records",
                        "x-ms-summary": "Include Count"
                    },
                    {
                        "name": "sysparm_avg_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated fields for average calculation",
                        "x-ms-summary": "Average Fields"
                    },
                    {
                        "name": "sysparm_sum_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated fields for sum calculation",
                        "x-ms-summary": "Sum Fields"
                    },
                    {
                        "name": "sysparm_min_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated fields for minimum calculation",
                        "x-ms-summary": "Min Fields"
                    },
                    {
                        "name": "sysparm_max_fields",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated fields for maximum calculation",
                        "x-ms-summary": "Max Fields"
                    },
                    {
                        "name": "sysparm_group_by",
                        "in": "query",
                        "type": "string",
                        "description": "Comma-separated fields to group results",
                        "x-ms-summary": "Group By"
                    },
                    {
                        "name": "sysparm_having",
                        "in": "query",
                        "type": "string",
                        "description": "Filter based on aggregate (e.g., count^priority^>^3)",
                        "x-ms-summary": "Having Clause"
                    },
                    {
                        "name": "sysparm_display_value",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "true",
                            "false",
                            "all"
                        ],
                        "description": "Return display values or actual values",
                        "x-ms-summary": "Display Value"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AggregateResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - ACL restriction"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/attachment": {
            "get": {
                "operationId": "ListAttachments",
                "summary": "List Attachments",
                "description": "Returns metadata for multiple attachments based on query parameters.",
                "parameters": [
                    {
                        "name": "sysparm_query",
                        "in": "query",
                        "type": "string",
                        "description": "Encoded query for filtering (e.g., file_name=document.pdf)",
                        "x-ms-summary": "Query Filter"
                    },
                    {
                        "name": "sysparm_limit",
                        "in": "query",
                        "type": "integer",
                        "default": 100,
                        "description": "Maximum number of attachments to return",
                        "x-ms-summary": "Limit"
                    },
                    {
                        "name": "sysparm_offset",
                        "in": "query",
                        "type": "integer",
                        "default": 0,
                        "description": "Starting index for pagination",
                        "x-ms-summary": "Offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttachmentListResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/attachment/{sys_id}": {
            "get": {
                "operationId": "GetAttachmentMetadata",
                "summary": "Get Attachment Metadata",
                "description": "Returns metadata for a specific attachment.",
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the attachment",
                        "x-ms-summary": "Attachment Sys ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttachmentResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "operationId": "DeleteAttachment",
                "summary": "Delete Attachment",
                "description": "Deletes the specified attachment.",
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the attachment to delete",
                        "x-ms-summary": "Attachment Sys ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content - Successfully deleted"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/attachment/{sys_id}/file": {
            "get": {
                "operationId": "DownloadAttachment",
                "summary": "Download Attachment",
                "description": "Downloads the binary file content of an attachment.",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the attachment to download",
                        "x-ms-summary": "Attachment Sys ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success - Binary file content",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "X-Attachment-Metadata": {
                                "type": "string",
                                "description": "Metadata about the file"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/attachment/file": {
            "post": {
                "operationId": "UploadAttachment",
                "summary": "Upload Attachment",
                "description": "Uploads a binary file as an attachment to a specified record.",
                "consumes": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "name": "table_name",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Name of the table to attach the file to",
                        "x-ms-summary": "Table Name"
                    },
                    {
                        "name": "table_sys_id",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the record to attach the file to",
                        "x-ms-summary": "Record Sys ID"
                    },
                    {
                        "name": "file_name",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Name for the attachment file",
                        "x-ms-summary": "File Name"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "MIME type of the file (e.g., image/jpeg, application/pdf)",
                        "x-ms-summary": "Content Type"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        },
                        "description": "Binary file content"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AttachmentResponse"
                        },
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "URL of the new attachment"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Missing required parameters"
                    },
                    "404": {
                        "description": "Not Found - Target record does not exist"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/import/{stagingTableName}": {
            "post": {
                "operationId": "ImportRecord",
                "summary": "Import Record",
                "description": "Inserts data into a staging table and triggers transformation based on predefined transform maps.",
                "parameters": [
                    {
                        "name": "stagingTableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the import staging table",
                        "x-ms-summary": "Staging Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object"
                        },
                        "description": "Name-value pairs of data to import"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ImportSetResponse"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/ImportSetResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/import/{stagingTableName}/{sys_id}": {
            "get": {
                "operationId": "GetImportResult",
                "summary": "Get Import Result",
                "description": "Retrieves the import staging record and transformation result.",
                "parameters": [
                    {
                        "name": "stagingTableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the import staging table",
                        "x-ms-summary": "Staging Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the import record",
                        "x-ms-summary": "Import Record Sys ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ImportSetResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found - Import record may have been cleaned up"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/import/{stagingTableName}/insertMultiple": {
            "post": {
                "operationId": "ImportMultipleRecords",
                "summary": "Import Multiple Records",
                "description": "Inserts multiple records into a staging table and triggers transformation. Transformation is asynchronous by default.",
                "parameters": [
                    {
                        "name": "stagingTableName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Name of the import staging table",
                        "x-ms-summary": "Staging Table Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImportMultipleRequest"
                        },
                        "description": "Array of records to import"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ImportMultipleResponse"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/ImportMultipleResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/now/cmdb/instance/{className}": {
            "get": {
                "operationId": "CMDB_ListCIs",
                "summary": "List Configuration Items",
                "description": "Returns available CIs for a specified CMDB class (table).",
                "tags": [
                    "CMDB"
                ],
                "parameters": [
                    {
                        "name": "className",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "CMDB class name (e.g., cmdb_ci_linux_server, cmdb_ci_computer)",
                        "x-ms-summary": "CMDB Class Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_query",
                        "in": "query",
                        "type": "string",
                        "description": "Encoded query filter",
                        "x-ms-summary": "Query Filter"
                    },
                    {
                        "name": "sysparm_limit",
                        "in": "query",
                        "type": "integer",
                        "description": "Maximum records to return",
                        "x-ms-summary": "Limit"
                    },
                    {
                        "name": "sysparm_offset",
                        "in": "query",
                        "type": "integer",
                        "description": "Starting record index",
                        "x-ms-summary": "Offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Requires ITIL role"
                    }
                }
            },
            "post": {
                "operationId": "CMDB_CreateCI",
                "summary": "Create Configuration Item",
                "description": "Creates a single CI with optional relations in the specified CMDB class.",
                "tags": [
                    "CMDB"
                ],
                "parameters": [
                    {
                        "name": "className",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "CMDB class name",
                        "x-ms-summary": "CMDB Class Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "source",
                                "attributes"
                            ],
                            "properties": {
                                "source": {
                                    "type": "string",
                                    "description": "Discovery source (e.g., ServiceNow)"
                                },
                                "attributes": {
                                    "type": "object",
                                    "description": "CI attribute values (name, ip_address, etc.)"
                                },
                                "outbound_relations": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "description": "Relation type sys_id"
                                            },
                                            "target": {
                                                "type": "string",
                                                "description": "Target CI sys_id"
                                            }
                                        }
                                    }
                                },
                                "inbound_relations": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "target": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Requires ITIL role"
                    }
                }
            }
        },
        "/now/cmdb/instance/{className}/{sys_id}": {
            "get": {
                "operationId": "CMDB_GetCI",
                "summary": "Get Configuration Item",
                "description": "Returns attributes and relationship information for a specified CI.",
                "tags": [
                    "CMDB"
                ],
                "parameters": [
                    {
                        "name": "className",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CMDB Class Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the CI",
                        "x-ms-summary": "CI Sys ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "outbound_relations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "sys_id": {
                                                        "type": "string",
                                                        "description": "Relation sys_id"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": "Relation type sys_id"
                                                    },
                                                    "target": {
                                                        "type": "string",
                                                        "description": "Target CI sys_id"
                                                    }
                                                }
                                            }
                                        },
                                        "inbound_relations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "sys_id": {
                                                        "type": "string",
                                                        "description": "Relation sys_id"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "description": "Relation type sys_id"
                                                    },
                                                    "source": {
                                                        "type": "string",
                                                        "description": "Source CI sys_id"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "operationId": "CMDB_UpdateCI",
                "summary": "Update Configuration Item (Full)",
                "description": "Updates the specified CI with attribute name-value pairs. Does not modify relations.",
                "tags": [
                    "CMDB"
                ],
                "parameters": [
                    {
                        "name": "className",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CMDB Class Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CI Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "source"
                            ],
                            "properties": {
                                "source": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "operationId": "CMDB_PatchCI",
                "summary": "Update Configuration Item (Partial)",
                "description": "Replaces only the specified attributes. Does not modify relations.",
                "tags": [
                    "CMDB"
                ],
                "parameters": [
                    {
                        "name": "className",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CMDB Class Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CI Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "source"
                            ],
                            "properties": {
                                "source": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/now/cmdb/instance/{className}/{sys_id}/relation": {
            "post": {
                "operationId": "CMDB_AddRelations",
                "summary": "Add CI Relations",
                "description": "Adds inbound and/or outbound relations to the specified CI.",
                "tags": [
                    "CMDB"
                ],
                "parameters": [
                    {
                        "name": "className",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CMDB Class Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CI Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "source"
                            ],
                            "properties": {
                                "source": {
                                    "type": "string"
                                },
                                "outbound_relations": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "target": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "inbound_relations": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string"
                                            },
                                            "target": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/now/cmdb/instance/{className}/{sys_id}/relation/{rel_sys_id}": {
            "delete": {
                "operationId": "CMDB_DeleteRelation",
                "summary": "Delete CI Relation",
                "description": "Deletes the specified relation from the CI.",
                "tags": [
                    "CMDB"
                ],
                "parameters": [
                    {
                        "name": "className",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CMDB Class Name",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "CI Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "rel_sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Sys_id of the relation to delete",
                        "x-ms-summary": "Relation Sys ID",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/now/batch": {
            "post": {
                "operationId": "Batch_SendRequests",
                "summary": "Send Batch Requests",
                "description": "Sends multiple REST API requests in a single call and returns a stream of responses. Max input 5MB, output 10MB, 30s timeout.",
                "tags": [
                    "Batch"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "batch_request_id": {
                                    "type": "string",
                                    "description": "ID to identify this batch of requests"
                                },
                                "rest_requests": {
                                    "type": "array",
                                    "description": "List of request objects",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "id",
                                            "method",
                                            "url"
                                        ],
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Unique ID for this batch item"
                                            },
                                            "method": {
                                                "type": "string",
                                                "description": "HTTP method (GET, POST, PUT, PATCH, DELETE)"
                                            },
                                            "url": {
                                                "type": "string",
                                                "description": "Relative path of the endpoint"
                                            },
                                            "headers": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "body": {
                                                "type": "string",
                                                "description": "Base64-encoded request body"
                                            },
                                            "exclude_response_headers": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "batch_request_id": {
                                    "type": "string"
                                },
                                "serviced_requests": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "status_code": {
                                                "type": "integer"
                                            },
                                            "status_text": {
                                                "type": "string"
                                            },
                                            "body": {
                                                "type": "string"
                                            },
                                            "execution_time": {
                                                "type": "integer"
                                            },
                                            "headers": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string",
                                                            "description": "Header name"
                                                        },
                                                        "value": {
                                                            "type": "string",
                                                            "description": "Header value"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "unserviced_requests": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/catalogs": {
            "get": {
                "operationId": "ServiceCatalog_ListCatalogs",
                "summary": "List Service Catalogs",
                "description": "Retrieves a list of catalogs to which the user has access.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sysparm_limit",
                        "in": "query",
                        "type": "integer",
                        "description": "Maximum records to return",
                        "x-ms-summary": "Limit"
                    },
                    {
                        "name": "sysparm_text",
                        "in": "query",
                        "type": "string",
                        "description": "Keyword to search in catalog titles",
                        "x-ms-summary": "Search Text"
                    },
                    {
                        "name": "sysparm_view",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "desktop",
                            "mobile",
                            "both"
                        ],
                        "description": "Device view filter",
                        "x-ms-summary": "View"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "sys_id": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "has_categories": {
                                                "type": "boolean"
                                            },
                                            "has_items": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/catalogs/{sys_id}": {
            "get": {
                "operationId": "ServiceCatalog_GetCatalog",
                "summary": "Get Service Catalog",
                "description": "Retrieves available information for a specified catalog.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Catalog sys_id",
                        "x-ms-summary": "Catalog Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_view",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "desktop",
                            "mobile",
                            "both"
                        ],
                        "x-ms-summary": "View"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/catalogs/{sys_id}/categories": {
            "get": {
                "operationId": "ServiceCatalog_GetCatalogCategories",
                "summary": "Get Catalog Categories",
                "description": "Retrieves the list of available categories for a specified catalog.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Catalog sys_id",
                        "x-ms-summary": "Catalog Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_limit",
                        "in": "query",
                        "type": "integer",
                        "x-ms-summary": "Limit"
                    },
                    {
                        "name": "sysparm_offset",
                        "in": "query",
                        "type": "integer",
                        "x-ms-summary": "Offset"
                    },
                    {
                        "name": "sysparm_top_level_only",
                        "in": "query",
                        "type": "boolean",
                        "description": "Only return top-level categories",
                        "x-ms-summary": "Top Level Only"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/categories/{sys_id}": {
            "get": {
                "operationId": "ServiceCatalog_GetCategory",
                "summary": "Get Category Details",
                "description": "Retrieves available information for a specified category.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Category sys_id",
                        "x-ms-summary": "Category Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_view",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "desktop",
                            "mobile",
                            "both"
                        ],
                        "x-ms-summary": "View"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/items": {
            "get": {
                "operationId": "ServiceCatalog_ListItems",
                "summary": "List Catalog Items",
                "description": "Retrieves a list of catalog items based on the specified parameters.",
                "tags": [
                    "Service Catalog"
                ],
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "sysparm_catalog",
                        "in": "query",
                        "type": "string",
                        "description": "Catalog sys_id to filter by",
                        "x-ms-summary": "Catalog"
                    },
                    {
                        "name": "sysparm_category",
                        "in": "query",
                        "type": "string",
                        "description": "Category sys_id to filter by",
                        "x-ms-summary": "Category"
                    },
                    {
                        "name": "sysparm_text",
                        "in": "query",
                        "type": "string",
                        "description": "Search text",
                        "x-ms-summary": "Search Text"
                    },
                    {
                        "name": "sysparm_type",
                        "in": "query",
                        "type": "string",
                        "description": "Item type (Record Producer, Order Guide)",
                        "x-ms-summary": "Item Type"
                    },
                    {
                        "name": "sysparm_limit",
                        "in": "query",
                        "type": "integer",
                        "x-ms-summary": "Limit"
                    },
                    {
                        "name": "sysparm_offset",
                        "in": "query",
                        "type": "integer",
                        "x-ms-summary": "Offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/items/{sys_id}": {
            "get": {
                "operationId": "ServiceCatalog_GetItem",
                "summary": "Get Catalog Item",
                "description": "Retrieves a specified catalog item with full details including variables.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Catalog item sys_id",
                        "x-ms-summary": "Item Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "sysparm_view",
                        "in": "query",
                        "type": "string",
                        "enum": [
                            "desktop",
                            "mobile",
                            "both"
                        ],
                        "x-ms-summary": "View"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/items/{sys_id}/order_now": {
            "post": {
                "operationId": "ServiceCatalog_OrderItem",
                "summary": "Order Catalog Item",
                "description": "Orders the specified catalog item immediately.",
                "tags": [
                    "Service Catalog"
                ],
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Catalog item sys_id",
                        "x-ms-summary": "Item Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "sysparm_quantity"
                            ],
                            "properties": {
                                "sysparm_quantity": {
                                    "type": "integer",
                                    "description": "Quantity to order"
                                },
                                "sysparm_requested_for": {
                                    "type": "string",
                                    "description": "User sys_id to order for"
                                },
                                "variables": {
                                    "type": "object",
                                    "description": "Item variable values"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "sys_id": {
                                            "type": "string"
                                        },
                                        "number": {
                                            "type": "string"
                                        },
                                        "request_number": {
                                            "type": "string"
                                        },
                                        "request_id": {
                                            "type": "string"
                                        },
                                        "table": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/items/{sys_id}/add_to_cart": {
            "post": {
                "operationId": "ServiceCatalog_AddToCart",
                "summary": "Add Item to Cart",
                "description": "Adds the specified item to the current user's cart.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Catalog item sys_id",
                        "x-ms-summary": "Item Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "sysparm_quantity"
                            ],
                            "properties": {
                                "sysparm_quantity": {
                                    "type": "integer",
                                    "description": "Quantity to add"
                                },
                                "sysparm_requested_for": {
                                    "type": "string",
                                    "description": "User sys_id to request for"
                                },
                                "variables": {
                                    "type": "object",
                                    "description": "Item variable values"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "cart_id": {
                                            "type": "string"
                                        },
                                        "subtotal": {
                                            "type": "string"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "cart_item_id": {
                                                        "type": "string",
                                                        "description": "Cart item sys_id"
                                                    },
                                                    "catalog_item_id": {
                                                        "type": "string",
                                                        "description": "Catalog item sys_id"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "Item name"
                                                    },
                                                    "quantity": {
                                                        "type": "integer",
                                                        "description": "Quantity"
                                                    },
                                                    "price": {
                                                        "type": "string",
                                                        "description": "Price"
                                                    },
                                                    "recurring_price": {
                                                        "type": "string",
                                                        "description": "Recurring price"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/items/{sys_id}/submit_producer": {
            "post": {
                "operationId": "ServiceCatalog_SubmitRecordProducer",
                "summary": "Submit Record Producer",
                "description": "Creates a record via record producer and returns the Table API path.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Record producer sys_id",
                        "x-ms-summary": "Record Producer Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "sysparm_view": {
                                    "type": "string"
                                },
                                "variables": {
                                    "type": "object",
                                    "description": "Record producer variable values"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "sys_id": {
                                            "type": "string"
                                        },
                                        "number": {
                                            "type": "string"
                                        },
                                        "record": {
                                            "type": "string"
                                        },
                                        "table": {
                                            "type": "string"
                                        },
                                        "redirect_url": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/sn_sc/servicecatalog/items/{sys_id}/add_to_wishlist": {
            "post": {
                "operationId": "ServiceCatalog_AddToWishlist",
                "summary": "Add Item to Wishlist",
                "description": "Adds the specified item to the wishlist cart.",
                "tags": [
                    "Service Catalog"
                ],
                "parameters": [
                    {
                        "name": "sys_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Catalog item sys_id",
                        "x-ms-summary": "Item Sys ID",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "sysparm_quantity": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
[...]
