{
  "swagger": "2.0",
  "info": {
    "title": "Azure Cost Management",
    "description": "Azure Cost Management API connector for managing costs, budgets, forecasts, and dimensions across Azure subscriptions, resource groups, and billing accounts.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "management.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Invoke Azure Cost Management MCP",
        "description": "Model Context Protocol (MCP) server endpoint for Copilot Studio integration. Accepts JSON-RPC 2.0 requests.",
        "operationId": "McpServer",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": {
            "description": "MCP response"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "List Subscriptions",
        "description": "List all Azure subscriptions accessible to the authenticated user.",
        "operationId": "ListSubscriptions",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2022-12-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/query": {
      "post": {
        "summary": "Query Subscription Costs",
        "description": "Query cost data for a subscription. Returns cost analysis data based on the query definition provided.",
        "operationId": "QuerySubscriptionCosts",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/query": {
      "post": {
        "summary": "Query Resource Group Costs",
        "description": "Query cost data for a specific resource group.",
        "operationId": "QueryResourceGroupCosts",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/forecast": {
      "post": {
        "summary": "Get Subscription Forecast",
        "description": "Get cost forecast for a subscription. Returns forecasted cost data based on the forecast definition provided.",
        "operationId": "GetSubscriptionForecast",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by usageDate, chargeType, or grain",
            "x-ms-summary": "Filter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForecastDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast results",
            "schema": {
              "$ref": "#/definitions/ForecastResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/forecast": {
      "post": {
        "summary": "Get Resource Group Forecast",
        "description": "Get cost forecast for a specific resource group.",
        "operationId": "GetResourceGroupForecast",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by usageDate, chargeType, or grain",
            "x-ms-summary": "Filter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForecastDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast results",
            "schema": {
              "$ref": "#/definitions/ForecastResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/budgets": {
      "get": {
        "summary": "List Subscription Budgets",
        "description": "List all budgets for a subscription.",
        "operationId": "ListSubscriptionBudgets",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of budgets",
            "schema": {
              "$ref": "#/definitions/BudgetListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/budgets/{budgetName}": {
      "get": {
        "summary": "Get Subscription Budget",
        "description": "Get a specific budget by name for a subscription.",
        "operationId": "GetSubscriptionBudget",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "budgetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The budget name",
            "x-ms-summary": "Budget Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Budget details",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        }
      },
      "put": {
        "summary": "Create or Update Subscription Budget",
        "description": "Create a new budget or update an existing budget for a subscription.",
        "operationId": "CreateOrUpdateSubscriptionBudget",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "budgetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The budget name",
            "x-ms-summary": "Budget Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budget updated",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "201": {
            "description": "Budget created",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Subscription Budget",
        "description": "Delete a budget for a subscription.",
        "operationId": "DeleteSubscriptionBudget",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "budgetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The budget name",
            "x-ms-summary": "Budget Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Budget deleted"
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/budgets": {
      "get": {
        "summary": "List Resource Group Budgets",
        "description": "List all budgets for a resource group.",
        "operationId": "ListResourceGroupBudgets",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of budgets",
            "schema": {
              "$ref": "#/definitions/BudgetListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/budgets/{budgetName}": {
      "get": {
        "summary": "Get Resource Group Budget",
        "description": "Get a specific budget by name for a resource group.",
        "operationId": "GetResourceGroupBudget",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "budgetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The budget name",
            "x-ms-summary": "Budget Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Budget details",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        }
      },
      "put": {
        "summary": "Create or Update Resource Group Budget",
        "description": "Create a new budget or update an existing budget for a resource group.",
        "operationId": "CreateOrUpdateResourceGroupBudget",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "budgetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The budget name",
            "x-ms-summary": "Budget Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Budget updated",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "201": {
            "description": "Budget created",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Resource Group Budget",
        "description": "Delete a budget for a resource group.",
        "operationId": "DeleteResourceGroupBudget",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "budgetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The budget name",
            "x-ms-summary": "Budget Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Budget deleted"
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "summary": "List Subscription Dimensions",
        "description": "List available dimensions for cost analysis at the subscription scope.",
        "operationId": "ListSubscriptionDimensions",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by category, usageStart, or usageEnd",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand properties/data to include dimension values",
            "x-ms-summary": "Expand"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "Limit number of results",
            "x-ms-summary": "Top"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "type": "string",
            "description": "Skip token for pagination",
            "x-ms-summary": "Skip Token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dimensions",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "summary": "List Resource Group Dimensions",
        "description": "List available dimensions for cost analysis at the resource group scope.",
        "operationId": "ListResourceGroupDimensions",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-path": "subscriptionId",
              "value-title": "displayName",
              "value-collection": "value"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by category, usageStart, or usageEnd",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand properties/data to include dimension values",
            "x-ms-summary": "Expand"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "Limit number of results",
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dimensions",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/query": {
      "post": {
        "summary": "Query Management Group Costs",
        "description": "Query cost data for a management group.",
        "operationId": "QueryManagementGroupCosts",
        "parameters": [
          {
            "name": "managementGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The management group ID",
            "x-ms-summary": "Management Group ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/forecast": {
      "post": {
        "summary": "Get Management Group Forecast",
        "description": "Get cost forecast for a management group.",
        "operationId": "GetManagementGroupForecast",
        "parameters": [
          {
            "name": "managementGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The management group ID",
            "x-ms-summary": "Management Group ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by usageDate, chargeType, or grain",
            "x-ms-summary": "Filter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForecastDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast results",
            "schema": {
              "$ref": "#/definitions/ForecastResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "summary": "List Management Group Dimensions",
        "description": "List available dimensions for cost analysis at the management group scope.",
        "operationId": "ListManagementGroupDimensions",
        "parameters": [
          {
            "name": "managementGroupId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The management group ID",
            "x-ms-summary": "Management Group ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by category, usageStart, or usageEnd",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand properties/data to include dimension values",
            "x-ms-summary": "Expand"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "Limit number of results",
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dimensions",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/query": {
      "post": {
        "summary": "Query Billing Account Costs",
        "description": "Query cost data for a billing account.",
        "operationId": "QueryBillingAccountCosts",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/forecast": {
      "post": {
        "summary": "Get Billing Account Forecast",
        "description": "Get cost forecast for a billing account.",
        "operationId": "GetBillingAccountForecast",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by usageDate, chargeType, or grain",
            "x-ms-summary": "Filter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForecastDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast results",
            "schema": {
              "$ref": "#/definitions/ForecastResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "summary": "List Billing Account Dimensions",
        "description": "List available dimensions for cost analysis at the billing account scope.",
        "operationId": "ListBillingAccountDimensions",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by category, usageStart, or usageEnd",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand properties/data to include dimension values",
            "x-ms-summary": "Expand"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "Limit number of results",
            "x-ms-summary": "Top"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dimensions",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/alerts": {
      "get": {
        "summary": "List Subscription Alerts",
        "description": "List all cost alerts for a subscription.",
        "operationId": "ListSubscriptionAlerts",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of alerts",
            "schema": {
              "$ref": "#/definitions/AlertListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/alerts/{alertId}": {
      "get": {
        "summary": "Get Subscription Alert",
        "description": "Get a specific cost alert by ID.",
        "operationId": "GetSubscriptionAlert",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The alert ID",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert details",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        }
      },
      "patch": {
        "summary": "Dismiss Subscription Alert",
        "description": "Dismiss or reactivate a cost alert.",
        "operationId": "DismissSubscriptionAlert",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The alert ID",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DismissAlertPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert updated",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/alerts": {
      "get": {
        "summary": "List Resource Group Alerts",
        "description": "List all cost alerts for a resource group.",
        "operationId": "ListResourceGroupAlerts",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of alerts",
            "schema": {
              "$ref": "#/definitions/AlertListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports": {
      "get": {
        "summary": "List Subscription Exports",
        "description": "List all exports for a subscription.",
        "operationId": "ListSubscriptionExports",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand runHistory to see export execution history",
            "x-ms-summary": "Expand"
          }
        ],
        "responses": {
          "200": {
            "description": "List of exports",
            "schema": {
              "$ref": "#/definitions/ExportListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports/{exportName}": {
      "get": {
        "summary": "Get Subscription Export",
        "description": "Get a specific export by name.",
        "operationId": "GetSubscriptionExport",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "exportName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The export name",
            "x-ms-summary": "Export Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand runHistory to see export execution history",
            "x-ms-summary": "Expand"
          }
        ],
        "responses": {
          "200": {
            "description": "Export details",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          }
        }
      },
      "put": {
        "summary": "Create or Update Subscription Export",
        "description": "Create a new export or update an existing export.",
        "operationId": "CreateOrUpdateSubscriptionExport",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "exportName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The export name",
            "x-ms-summary": "Export Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Export"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export updated",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "201": {
            "description": "Export created",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Subscription Export",
        "description": "Delete an export.",
        "operationId": "DeleteSubscriptionExport",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "exportName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The export name",
            "x-ms-summary": "Export Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Export deleted"
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports/{exportName}/run": {
      "post": {
        "summary": "Execute Subscription Export",
        "description": "Execute an export immediately.",
        "operationId": "ExecuteSubscriptionExport",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "exportName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The export name",
            "x-ms-summary": "Export Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Export execution started"
          },
          "202": {
            "description": "Export execution accepted"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory": {
      "get": {
        "summary": "Get Export Run History",
        "description": "Get the run history of an export.",
        "operationId": "GetSubscriptionExportRunHistory",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "exportName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The export name",
            "x-ms-summary": "Export Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Export run history",
            "schema": {
              "$ref": "#/definitions/ExportExecutionListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/views": {
      "get": {
        "summary": "List Subscription Views",
        "description": "List all cost views for a subscription.",
        "operationId": "ListSubscriptionViews",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of views",
            "schema": {
              "$ref": "#/definitions/ViewListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/views/{viewName}": {
      "get": {
        "summary": "Get Subscription View",
        "description": "Get a specific cost view by name.",
        "operationId": "GetSubscriptionView",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "viewName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The view name",
            "x-ms-summary": "View Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "View details",
            "schema": {
              "$ref": "#/definitions/View"
            }
          }
        }
      },
      "put": {
        "summary": "Create or Update Subscription View",
        "description": "Create a new view or update an existing view.",
        "operationId": "CreateOrUpdateSubscriptionView",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "viewName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The view name",
            "x-ms-summary": "View Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/View"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "View updated",
            "schema": {
              "$ref": "#/definitions/View"
            }
          },
          "201": {
            "description": "View created",
            "schema": {
              "$ref": "#/definitions/View"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Subscription View",
        "description": "Delete a view.",
        "operationId": "DeleteSubscriptionView",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "viewName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The view name",
            "x-ms-summary": "View Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "View deleted"
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/scheduledActions": {
      "get": {
        "summary": "List Subscription Scheduled Actions",
        "description": "List all scheduled actions for a subscription.",
        "operationId": "ListSubscriptionScheduledActions",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by properties like status",
            "x-ms-summary": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of scheduled actions",
            "schema": {
              "$ref": "#/definitions/ScheduledActionListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/scheduledActions/{name}": {
      "get": {
        "summary": "Get Subscription Scheduled Action",
        "description": "Get a specific scheduled action by name.",
        "operationId": "GetSubscriptionScheduledAction",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scheduled action name",
            "x-ms-summary": "Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled action details",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          }
        }
      },
      "put": {
        "summary": "Create or Update Subscription Scheduled Action",
        "description": "Create a new scheduled action or update an existing one.",
        "operationId": "CreateOrUpdateSubscriptionScheduledAction",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scheduled action name",
            "x-ms-summary": "Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "If-Match",
            "in": "header",
            "type": "string",
            "description": "ETag for optimistic concurrency control",
            "x-ms-summary": "If-Match"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled action updated",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          },
          "201": {
            "description": "Scheduled action created",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Subscription Scheduled Action",
        "description": "Delete a scheduled action.",
        "operationId": "DeleteSubscriptionScheduledAction",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scheduled action name",
            "x-ms-summary": "Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled action deleted"
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/scheduledActions/{name}/execute": {
      "post": {
        "summary": "Execute Subscription Scheduled Action",
        "description": "Execute a scheduled action immediately.",
        "operationId": "ExecuteSubscriptionScheduledAction",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scheduled action name",
            "x-ms-summary": "Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled action executed"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules": {
      "get": {
        "summary": "List Cost Allocation Rules",
        "description": "List all cost allocation rules for a billing account.",
        "operationId": "ListCostAllocationRules",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cost allocation rules",
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleListResult"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/{ruleName}": {
      "get": {
        "summary": "Get Cost Allocation Rule",
        "description": "Get a specific cost allocation rule by name.",
        "operationId": "GetCostAllocationRule",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ruleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The cost allocation rule name",
            "x-ms-summary": "Rule Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Cost allocation rule details",
            "schema": {
              "$ref": "#/definitions/CostAllocationRule"
            }
          }
        }
      },
      "put": {
        "summary": "Create or Update Cost Allocation Rule",
        "description": "Create a new cost allocation rule or update an existing one.",
        "operationId": "CreateOrUpdateCostAllocationRule",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ruleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The cost allocation rule name",
            "x-ms-summary": "Rule Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CostAllocationRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cost allocation rule updated",
            "schema": {
              "$ref": "#/definitions/CostAllocationRule"
            }
          },
          "201": {
            "description": "Cost allocation rule created",
            "schema": {
              "$ref": "#/definitions/CostAllocationRule"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Cost Allocation Rule",
        "description": "Delete a cost allocation rule.",
        "operationId": "DeleteCostAllocationRule",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ruleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The cost allocation rule name",
            "x-ms-summary": "Rule Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Cost allocation rule deleted"
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/checkNameAvailability": {
      "post": {
        "summary": "Check Cost Allocation Rule Name",
        "description": "Check if a cost allocation rule name is available.",
        "operationId": "CheckCostAllocationRuleName",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleCheckNameRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Name availability result",
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleCheckNameResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/generateCostDetailsReport": {
      "post": {
        "summary": "Generate Cost Details Report",
        "description": "Generate and download a detailed cost report for a subscription. Returns a blob SAS URL to download the report.",
        "operationId": "GenerateCostDetailsReport",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateCostDetailsReportRequestDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report generation result with download URL",
            "schema": {
              "$ref": "#/definitions/CostDetailsOperationResults"
            }
          },
          "202": {
            "description": "Report generation accepted. Use the Location header to poll for results.",
            "headers": {
              "Location": {
                "description": "URL to poll for report status",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested retry interval in seconds",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/generateCostDetailsReport": {
      "post": {
        "summary": "Generate Resource Group Cost Details Report",
        "description": "Generate and download a detailed cost report for a resource group.",
        "operationId": "GenerateResourceGroupCostDetailsReport",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource group name",
            "x-ms-summary": "Resource Group Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateCostDetailsReportRequestDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report generation result with download URL",
            "schema": {
              "$ref": "#/definitions/CostDetailsOperationResults"
            }
          },
          "202": {
            "description": "Report generation accepted",
            "headers": {
              "Location": {
                "description": "URL to poll for report status",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested retry interval in seconds",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateDetailedCostReport": {
      "post": {
        "summary": "Generate Billing Account Detailed Cost Report",
        "description": "Generate and download a detailed cost report for a billing account.",
        "operationId": "GenerateBillingAccountDetailedCostReport",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateDetailedCostReportRequestDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report generation result",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Report generation accepted",
            "headers": {
              "Location": {
                "description": "URL to poll for report status",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested retry interval in seconds",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateReservationDetailsReport": {
      "post": {
        "summary": "Generate Reservation Details Report",
        "description": "Generate and download a reservation details report for a billing account.",
        "operationId": "GenerateReservationDetailsReport",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start date for the report (YYYY-MM-DD)",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End date for the report (YYYY-MM-DD)",
            "x-ms-summary": "End Date"
          }
        ],
        "responses": {
          "200": {
            "description": "Report generation result",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Report generation accepted",
            "headers": {
              "Location": {
                "description": "URL to poll for report status",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested retry interval in seconds",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/benefitRecommendations": {
      "get": {
        "summary": "List Benefit Recommendations",
        "description": "List benefit recommendations for reservations and savings plans.",
        "operationId": "ListBenefitRecommendations",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter recommendations by properties like lookBackPeriod, grain, and term",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand properties like usage",
            "x-ms-summary": "Expand"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "Order results by a property",
            "x-ms-summary": "Order By"
          }
        ],
        "responses": {
          "200": {
            "description": "List of benefit recommendations",
            "schema": {
              "$ref": "#/definitions/BenefitRecommendationListResult"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/benefitRecommendations": {
      "get": {
        "summary": "List Billing Account Benefit Recommendations",
        "description": "List benefit recommendations for a billing account.",
        "operationId": "ListBillingAccountBenefitRecommendations",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter recommendations by properties",
            "x-ms-summary": "Filter"
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Expand properties",
            "x-ms-summary": "Expand"
          }
        ],
        "responses": {
          "200": {
            "description": "List of benefit recommendations",
            "schema": {
              "$ref": "#/definitions/BenefitRecommendationListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries": {
      "get": {
        "summary": "List Benefit Utilization Summaries",
        "description": "List benefit utilization summaries for reservations and savings plans.",
        "operationId": "ListBenefitUtilizationSummaries",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "grainParameter",
            "in": "query",
            "type": "string",
            "enum": [
              "Daily",
              "Monthly"
            ],
            "description": "The grain of utilization data",
            "x-ms-summary": "Grain"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by benefitType, benefitId, usageDate",
            "x-ms-summary": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of benefit utilization summaries",
            "schema": {
              "$ref": "#/definitions/BenefitUtilizationSummariesListResult"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries": {
      "get": {
        "summary": "List Billing Account Benefit Utilization Summaries",
        "description": "List benefit utilization summaries for a billing account.",
        "operationId": "ListBillingAccountBenefitUtilizationSummaries",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "grainParameter",
            "in": "query",
            "type": "string",
            "enum": [
              "Daily",
              "Monthly"
            ],
            "description": "The grain of utilization data",
            "x-ms-summary": "Grain"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Filter by benefitType, benefitId, usageDate",
            "x-ms-summary": "Filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of benefit utilization summaries",
            "schema": {
              "$ref": "#/definitions/BenefitUtilizationSummariesListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/settings": {
      "get": {
        "summary": "List Settings",
        "description": "List all Cost Management settings for a subscription.",
        "operationId": "ListSettings",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of settings",
            "schema": {
              "$ref": "#/definitions/SettingsListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/settings/{type}": {
      "get": {
        "summary": "Get Setting",
        "description": "Get a specific Cost Management setting by type.",
        "operationId": "GetSetting",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "taginheritance",
              "myscope"
            ],
            "description": "The setting type",
            "x-ms-summary": "Setting Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Setting details",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          }
        }
      },
      "put": {
        "summary": "Create or Update Setting",
        "description": "Create or update a Cost Management setting.",
        "operationId": "CreateOrUpdateSetting",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "taginheritance",
              "myscope"
            ],
            "description": "The setting type",
            "x-ms-summary": "Setting Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setting updated",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          },
          "201": {
            "description": "Setting created",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Setting",
        "description": "Delete a Cost Management setting.",
        "operationId": "DeleteSetting",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription ID",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListSubscriptions",
              "value-collection": "value",
              "value-path": "subscriptionId",
              "value-title": "displayName"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "taginheritance",
              "myscope"
            ],
            "description": "The setting type",
            "x-ms-summary": "Setting Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Setting deleted"
          },
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingPeriods/{billingPeriodName}/providers/Microsoft.CostManagement/pricesheets/default/download": {
      "post": {
        "summary": "Download Price Sheet",
        "description": "Download the price sheet for a billing period.",
        "operationId": "DownloadPriceSheet",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billingPeriodName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing period name (e.g., 202401)",
            "x-ms-summary": "Billing Period Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Price sheet download URL",
            "schema": {
              "$ref": "#/definitions/PriceSheetDownloadResult"
            }
          },
          "202": {
            "description": "Price sheet generation accepted",
            "headers": {
              "Location": {
                "description": "URL to poll for status",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested retry interval in seconds",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoices/{invoiceName}/providers/Microsoft.CostManagement/pricesheets/default/download": {
      "post": {
        "summary": "Download Invoice Price Sheet",
        "description": "Download the price sheet for a specific invoice.",
        "operationId": "DownloadInvoicePriceSheet",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billingProfileId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing profile ID",
            "x-ms-summary": "Billing Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "invoiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The invoice name",
            "x-ms-summary": "Invoice Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-03-01",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Price sheet download URL",
            "schema": {
              "$ref": "#/definitions/PriceSheetDownloadResult"
            }
          },
          "202": {
            "description": "Price sheet generation accepted",
            "headers": {
              "Location": {
                "description": "URL to poll for status",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested retry interval in seconds",
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/operationStatus/{operationId}": {
      "get": {
        "summary": "Get Operation Status",
        "description": "Get the status of an async cost report generation operation.",
        "operationId": "GetOperationStatus",
        "parameters": [
          {
            "name": "billingAccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The billing account ID",
            "x-ms-summary": "Billing Account ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The operation ID from the async request",
            "x-ms-summary": "Operation ID",
[...]
