{
  "swagger": "2.0",
  "info": {
    "title": "Tomorrow.io",
    "description": "Improve operational efficiency with the world's leading enterprise-grade weather service. Use our hyper-accurate weather data for endless use cases across all industries.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.tomorrow.io",
  "basePath": "/v4/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/weather/forecast": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timelines": {
                  "type": "object",
                  "properties": {
                    "minutely": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "cloudCover": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover.",
                                "title": "Cloud Cover"
                              },
                              "dewPoint": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point.",
                                "title": "Dew Point"
                              },
                              "freezingRainIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The frezzing rain intensity.",
                                "title": "Freezing Rain Intensity"
                              },
                              "humidity": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity.",
                                "title": "Humidity"
                              },
                              "precipitationProbability": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability.",
                                "title": "Precipitation Probability"
                              },
                              "pressureSurfaceLevel": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level.",
                                "title": "Pressure Surface Level"
                              },
                              "rainIntensity": {
                                "type": "number",
                                "format": "float",
                                "description": "The rain intensity.",
                                "title": "Rain Intensity"
                              },
                              "sleetIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity.",
                                "title": "Sleet Intensity"
                              },
                              "snowIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity.",
                                "title": "Snow Intensity"
                              },
                              "temperature": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature.",
                                "title": "Temperature"
                              },
                              "temperatureApparent": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature apparent.",
                                "title": "Temperature Apparent"
                              },
                              "uvHealthConcern": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern.",
                                "title": "UV Health Concern"
                              },
                              "uvIndex": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index.",
                                "title": "UV Index"
                              },
                              "visibility": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility.",
                                "title": "Visibility"
                              },
                              "weatherCode": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code.",
                                "title": "Weather Code"
                              },
                              "windDirection": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind direction.",
                                "title": "Wind Direction"
                              },
                              "windGust": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust.",
                                "title": "Wind Gust"
                              },
                              "windSpeed": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed.",
                                "title": "Wind Speed"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Minutely"
                    },
                    "hourly": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "cloudCover": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover.",
                                "title": "Cloud Cover"
                              },
                              "dewPoint": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point.",
                                "title": "Dew Point"
                              },
                              "evapotranspiration": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotransiration.",
                                "title": "Evapotranspiration"
                              },
                              "freezingRainIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The frezzing rain intensity.",
                                "title": "Freezing Rain Intensity"
                              },
                              "humidity": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity.",
                                "title": "Humidity"
                              },
                              "iceAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation.",
                                "title": "Ice Accumulation"
                              },
                              "iceAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE.",
                                "title": "Ice Accumulation LWE"
                              },
                              "precipitationProbability": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability.",
                                "title": "Precipitation Probability"
                              },
                              "pressureSurfaceLevel": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level.",
                                "title": "Pressure Surface Level"
                              },
                              "rainAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation.",
                                "title": "Rain Accumulation"
                              },
                              "rainAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE.",
                                "title": "Rain Accumulation LWE"
                              },
                              "rainIntensity": {
                                "type": "number",
                                "format": "float",
                                "description": "The rain intensity.",
                                "title": "Rain Intensity"
                              },
                              "sleetAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation.",
                                "title": "Sleet Accumulation"
                              },
                              "sleetAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE.",
                                "title": "Sleet Accumulation LWE"
                              },
                              "sleetIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity.",
                                "title": "Sleet Intensity"
                              },
                              "snowAccumulation": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation.",
                                "title": "Snow Accumulation"
                              },
                              "snowAccumulationLwe": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE.",
                                "title": "Snow Accumulation LWE"
                              },
                              "snowIntensity": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity.",
                                "title": "Snow Intensity"
                              },
                              "temperature": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature.",
                                "title": "Temperature"
                              },
                              "temperatureApparent": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature apparent.",
                                "title": "Temperature Apparent"
                              },
                              "uvHealthConcern": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern.",
                                "title": "UV Health Concern"
                              },
                              "uvIndex": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index.",
                                "title": "UV Index"
                              },
                              "visibility": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility.",
                                "title": "Visibility"
                              },
                              "weatherCode": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code.",
                                "title": "Weather Code"
                              },
                              "windDirection": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind direction.",
                                "title": "Wind Direction"
                              },
                              "windGust": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust.",
                                "title": "Wind Gust"
                              },
                              "windSpeed": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed.",
                                "title": "Wind Speed"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Hourly"
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "cloudBaseAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud base average.",
                                "title": "Cloud Base Avg"
                              },
                              "cloudBaseMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud base maximum.",
                                "title": "Cloud Base Max"
                              },
                              "cloudBaseMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud base minimum.",
                                "title": "Cloud Base Min"
                              },
                              "cloudCeilingAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud ceiling average.",
                                "title": "Cloud Ceiling Avg"
                              },
                              "cloudCeilingMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud ceiling max.",
                                "title": "Cloud Ceiling Max"
                              },
                              "cloudCeilingMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud ceiling minimum.",
                                "title": "Cloud Ceiling Min"
                              },
                              "cloudCoverAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover average.",
                                "title": "Cloud Cover Avg"
                              },
                              "cloudCoverMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover maximum.",
                                "title": "Cloud Cover Max"
                              },
                              "cloudCoverMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover minimum.",
                                "title": "Cloud Cover Min"
                              },
                              "dewPointAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point average.",
                                "title": "Dew Point Avg"
                              },
                              "dewPointMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point maximum.",
                                "title": "Dew Point Max"
                              },
                              "dewPointMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point minimum.",
                                "title": "Dew Point Min"
                              },
                              "evapotranspirationAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration average.",
                                "title": "Evapotranspiration Avg"
                              },
                              "evapotranspirationMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration maximum.",
                                "title": "Evapotranspiration Max"
                              },
                              "evapotranspirationMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration minimum.",
                                "title": "Evapotranspiration Min"
                              },
                              "evapotranspirationSum": {
                                "type": "number",
                                "format": "float",
                                "description": "The evapotranspiration summary.",
                                "title": "Evapotranspiration Sum"
                              },
                              "freezingRainIntensityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The freezing rain intensity average.",
                                "title": "Freezing Rain Intensity Avg"
                              },
                              "freezingRainIntensityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The freezing rain intensity maximum.",
                                "title": "Freezing Rain Intensity Max"
                              },
                              "freezingRainIntensityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The freezing rain intensity minimum.",
                                "title": "Freezing Rain Intensity Min"
                              },
                              "humidityAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity average.",
                                "title": "Humidity Avg"
                              },
                              "humidityMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity maximum.",
                                "title": "Humidity Max"
                              },
                              "humidityMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity minimum.",
                                "title": "Humidity Min"
                              },
                              "iceAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation average.",
                                "title": "Ice Accumulation Avg"
                              },
                              "iceAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE average.",
                                "title": "Ice Accumulation LWE Avg"
                              },
                              "iceAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE maximum.",
                                "title": "Ice Accumulation LWE Max"
                              },
                              "iceAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE minimum.",
                                "title": "Ice Accumulation LWE Min"
                              },
                              "iceAccumulationLweSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation LWE summary.",
                                "title": "Ice Accumulation LWE Sum"
                              },
                              "iceAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation maximum.",
                                "title": "Ice Accumulation Max"
                              },
                              "iceAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation minimum.",
                                "title": "Ice Accumulation Min"
                              },
                              "iceAccumulationSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ice accumulation summary.",
                                "title": "Ice Accumulation Sum"
                              },
                              "moonriseTime": {
                                "type": "string",
                                "description": "The moonrise time.",
                                "title": "Moonrise Time"
                              },
                              "moonsetTime": {
                                "type": "string",
                                "description": "The moonset time.",
                                "title": "Moonset Time"
                              },
                              "precipitationProbabilityAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The precipitation probability.",
                                "title": "Precipitation Probability Avg"
                              },
                              "precipitationProbabilityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability maximum.",
                                "title": "Precipitation Probability Max"
                              },
                              "precipitationProbabilityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The precipitation probability minimum.",
                                "title": "Precipitation Probability Min"
                              },
                              "pressureSurfaceLevelAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level average.",
                                "title": "Pressure Surface Level Avg"
                              },
                              "pressureSurfaceLevelMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level maximum.",
                                "title": "Pressure Surface Level Max"
                              },
                              "pressureSurfaceLevelMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level minimum.",
                                "title": "Pressure Surface Level Min"
                              },
                              "rainAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation average.",
                                "title": "Rain Accumulation Avg"
                              },
                              "rainAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE average.",
                                "title": "Rain Accumulation LWE Avg"
                              },
                              "rainAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE maximum.",
                                "title": "Rain Accumulation LWE Max"
                              },
                              "rainAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation LWE minimum.",
                                "title": "Rain Accumulation LWE Min"
                              },
                              "rainAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation maximum.",
                                "title": "Rain Accumulation Max"
                              },
                              "rainAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation minimum.",
                                "title": "Rain Accumulation Min"
                              },
                              "rainAccumulationSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The rain accumulation summary.",
                                "title": "Rain Accumulation Sum"
                              },
                              "rainIntensityAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The rain intesity average.",
                                "title": "Rain Intensity Avg"
                              },
                              "rainIntensityMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The rain intensity maximum.",
                                "title": "Rain Intensity Max"
                              },
                              "rainIntensityMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The rain intensity minimum.",
                                "title": "Rain Intensity Min"
                              },
                              "sleetAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation average.",
                                "title": "Sleet Accumulation Avg"
                              },
                              "sleetAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE average.",
                                "title": "Sleet Accumulation LWE Avg"
                              },
                              "sleetAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE maximum.",
                                "title": "Sleet Accumulation LWE Max"
                              },
                              "sleetAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE minimum.",
                                "title": "Sleet Accumulation LWE Min"
                              },
                              "sleetAccumulationLweSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation LWE summary.",
                                "title": "Sleet Accumulation LWE Sum"
                              },
                              "sleetAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation maximum.",
                                "title": "Sleet Accumulation Max"
                              },
                              "sleetAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet accumulation minimum.",
                                "title": "Sleet Accumulation Min"
                              },
                              "sleetIntensityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity average.",
                                "title": "Sleet Intensity Avg"
                              },
                              "sleetIntensityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity maximum.",
                                "title": "Sleet Intensity Max"
                              },
                              "sleetIntensityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sleet intensity minimum.",
                                "title": "Sleet Intensity Min"
                              },
                              "snowAccumulationAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation average.",
                                "title": "Snow Accumulation Avg"
                              },
                              "snowAccumulationLweAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE average.",
                                "title": "Snow Accumulation LWE Avg"
                              },
                              "snowAccumulationLweMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumultation LWE maximum.",
                                "title": "Snow Accumulation LWE Max"
                              },
                              "snowAccumulationLweMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE minimum.",
                                "title": "Snow Accumulation LWE Min"
                              },
                              "snowAccumulationLweSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation LWE summary.",
                                "title": "Snow Accumulation LWE Sum"
                              },
                              "snowAccumulationMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation maximum.",
                                "title": "Snow Accumulation Max"
                              },
                              "snowAccumulationMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation minimum.",
                                "title": "Snow Accumulation Min"
                              },
                              "snowAccumulationSum": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow accumulation summary.",
                                "title": "Snow Accumulation Sum"
                              },
                              "snowIntensityAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The sun intensity average.",
                                "title": "Snow Intensity Avg"
                              },
                              "snowIntensityMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity maximum.",
                                "title": "Snow Intensity Max"
                              },
                              "snowIntensityMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The snow intensity minimum.",
                                "title": "Snow Intensity Min"
                              },
                              "sunriseTime": {
                                "type": "string",
                                "description": "The sunrise time.",
                                "title": "Sunrise Time"
                              },
                              "sunsetTime": {
                                "type": "string",
                                "description": "The sunset time.",
                                "title": "Sunset Time"
                              },
                              "temperatureApparentAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The termperature apparernt average.",
                                "title": "Temperature Apparent Avg"
                              },
                              "temperatureApparentMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The termperature apparent maximum.",
                                "title": "Temperature Apparent Max"
                              },
                              "temperatureApparentMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The termperature apparent minimum.",
                                "title": "Temperature Apparent Min"
                              },
                              "temperatureAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature average.",
                                "title": "Temperature Avg"
                              },
                              "temperatureMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature maximum.",
                                "title": "Temperature Max"
                              },
                              "temperatureMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature minimum.",
                                "title": "Temperature Min"
                              },
                              "uvHealthConcernAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern average.",
                                "title": "UV Health Concern Avg"
                              },
                              "uvHealthConcernMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern maximum.",
                                "title": "UV Health Concern Max"
                              },
                              "uvHealthConcernMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV health concern minimum.",
                                "title": "UV Health Concern Min"
                              },
                              "uvIndexAvg": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index average.",
                                "title": "UV Index Avg"
                              },
                              "uvIndexMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index maximum.",
                                "title": "UV Index Max"
                              },
                              "uvIndexMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index minimum.",
                                "title": "UV Index Min"
                              },
                              "visibilityAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility average.",
                                "title": "Visibility Avg"
                              },
                              "visibilityMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility maximum.",
                                "title": "Visibility Max"
                              },
                              "visibilityMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility minimum.",
                                "title": "Visibility Min"
                              },
                              "weatherCodeMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code maximum.",
                                "title": "Weather Code Max"
                              },
                              "weatherCodeMin": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code minimum.",
                                "title": "Weather Code Min"
                              },
                              "windDirectionAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind direction average.",
                                "title": "Wind Direction Avg"
                              },
                              "windGustAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust average.",
                                "title": "Wind Gust Avg"
                              },
                              "windGustMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust maximum.",
                                "title": "Wind Gust Max"
                              },
                              "windGustMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust minimum.",
                                "title": "Wind Gust Min"
                              },
                              "windSpeedAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed average.",
                                "title": "Wind Speed Avg"
                              },
                              "windSpeedMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed maximum.",
                                "title": "Wind Speed Max"
                              },
                              "windSpeedMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind seed minimum.",
                                "title": "Wind Speed Min"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Daily"
                    }
                  },
                  "title": "Timelines"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Lat"
                    },
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Lon"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    }
                  },
                  "title": "Location"
                }
              }
            }
          }
        },
        "summary": "Get weather forecast",
        "description": "Retrieve comprehensive weather information for any location worldwide. Returns all core weather data automatically - no field selection needed. Premium: minutely forecasts (1m, 5m, 15m, 30m). Standard: hourly (120 hours) and daily (5 days) forecasts.",
        "operationId": "ForecastGet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "The location for weather forecast. Supports coordinates (lat,lon), city names, US zip codes, UK postcodes.",
            "required": true,
            "type": "string"
          },
          {
            "name": "timesteps",
            "in": "query",
            "x-ms-summary": "Timesteps",
            "description": "Time intervals for forecasts. Premium: 1m, 5m, 15m, 30m (minute-level). Standard: 1h (hourly), 1d (daily). Multiple values supported.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m", 
                "30m",
                "1h", 
                "1d"
              ]
            }
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "Unit system for response values (metric or imperial). Default is metric.",
            "required": false,
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          }
        ]
      }
    },
    "/weather/realtime": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string",
                      "description": "The time.",
                      "title": "Time"
                    },
                    "values": {
                      "type": "object",
                      "properties": {
                        "cloudCover": {
                          "type": "number",
                          "format": "float",
                          "description": "The cloud cover.",
                          "title": "Cloud Cover"
                        },
                        "dewPoint": {
                          "type": "number",
                          "format": "float",
                          "description": "The dew point.",
                          "title": "Dew Point"
                        },
                        "freezingRainIntensity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The freezing rain intensity.",
                          "title": "Freezing Rain Intensity"
                        },
                        "humidity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The humidity.",
                          "title": "Humidity"
                        },
                        "precipitationProbability": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The precipitation probability.",
                          "title": "Precipitation Probability"
                        },
                        "pressureSurfaceLevel": {
                          "type": "number",
                          "format": "float",
                          "description": "The pressure surface level.",
                          "title": "Pressure Surface Level"
                        },
                        "rainIntensity": {
                          "type": "number",
                          "format": "float",
                          "description": "The rain intensity.",
                          "title": "Rain Intensity"
                        },
                        "sleetIntensity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The sleet intensity.",
                          "title": "Sleet Intensity"
                        },
                        "snowIntensity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The snow intensity.",
                          "title": "Snow Intensity"
                        },
                        "temperature": {
                          "type": "number",
                          "format": "float",
                          "description": "The temperature.",
                          "title": "Temperature"
                        },
                        "temperatureApparent": {
                          "type": "number",
                          "format": "float",
                          "description": "The termperature apparent.",
                          "title": "Temperature Apparent"
                        },
                        "uvHealthConcern": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The UV health concern.",
                          "title": "UV Health Concern"
                        },
                        "uvIndex": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The UV index.",
                          "title": "UV Index"
                        },
                        "visibility": {
                          "type": "number",
                          "format": "float",
                          "description": "The visibility.",
                          "title": "Visibility"
                        },
                        "weatherCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The weather code.",
                          "title": "Weather Code"
                        },
                        "windDirection": {
                          "type": "number",
                          "format": "float",
                          "description": "The wind direction.",
                          "title": "Wind Direction"
                        },
                        "windGust": {
                          "type": "number",
                          "format": "float",
                          "description": "The wind gust.",
                          "title": "Wind Gust"
                        },
                        "windSpeed": {
                          "type": "number",
                          "format": "float",
                          "description": "The wind speed.",
                          "title": "Wind Speed"
                        }
                      },
                      "title": "Values"
                    }
                  },
                  "title": "Data"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Lat"
                    },
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Lon"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    }
                  },
                  "title": "Location"
                }
              }
            }
          }
        },
        "summary": "Get realtime weather",
        "description": "Retrieve current weather information for a location in minute-by-minute temporal resolution.",
        "operationId": "RealtimeGet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "The location for current weather. Supports coordinates (lat,lon), city names, US zip codes, UK postcodes.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "x-ms-summary": "Weather Fields",
            "description": "Comma-separated list of weather fields to include. If not specified, returns all available fields.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timezone",
            "in": "query",
            "x-ms-summary": "Timezone",
            "description": "Timezone for displaying response datetime (e.g., 'America/New_York', 'UTC').",
            "required": false,
            "type": "string"
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "Unit system for response values. Default is metric.",
            "required": false,
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          }
        ]
      }
    },
    "/weather/history/recent": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timelines": {
                  "type": "object",
                  "properties": {
                    "hourly": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "cloudCover": {
                                "type": "number",
                                "format": "float",
                                "description": "The cloud cover.",
                                "title": "Cloud Cover"
                              },
                              "dewPoint": {
                                "type": "number",
                                "format": "float",
                                "description": "The dew point.",
                                "title": "Dew Point"
                              },
                              "humidity": {
                                "type": "number",
                                "format": "float",
                                "description": "The humidity.",
                                "title": "Humidity"
                              },
                              "precipitationIntensity": {
                                "type": "number",
                                "format": "float",
                                "description": "The precipitation intensity.",
                                "title": "Precipitation Intensity"
                              },
                              "pressureSurfaceLevel": {
                                "type": "number",
                                "format": "float",
                                "description": "The pressure surface level.",
                                "title": "Pressure Surface Level"
                              },
                              "temperature": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature.",
                                "title": "Temperature"
                              },
                              "temperatureApparent": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature apparent.",
                                "title": "Temperature Apparent"
                              },
                              "uvIndex": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The UV index.",
                                "title": "UV Index"
                              },
                              "visibility": {
                                "type": "number",
                                "format": "float",
                                "description": "The visibility.",
                                "title": "Visibility"
                              },
                              "weatherCode": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code.",
                                "title": "Weather Code"
                              },
                              "windDirection": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind direction.",
                                "title": "Wind Direction"
                              },
                              "windGust": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind gust.",
                                "title": "Wind Gust"
                              },
                              "windSpeed": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed.",
                                "title": "Wind Speed"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Hourly"
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "values": {
                            "type": "object",
                            "properties": {
                              "temperatureMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature maximum.",
                                "title": "Temperature Max"
                              },
                              "temperatureMin": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature minimum.",
                                "title": "Temperature Min"
                              },
                              "temperatureAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The temperature average.",
                                "title": "Temperature Avg"
                              },
                              "precipitationIntensityMax": {
                                "type": "number",
                                "format": "float",
                                "description": "The precipitation intensity maximum.",
                                "title": "Precipitation Intensity Max"
                              },
                              "windSpeedAvg": {
                                "type": "number",
                                "format": "float",
                                "description": "The wind speed average.",
                                "title": "Wind Speed Avg"
                              },
                              "weatherCodeMax": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The weather code maximum.",
                                "title": "Weather Code Max"
                              },
                              "sunriseTime": {
                                "type": "string",
                                "description": "The sunrise time.",
                                "title": "Sunrise Time"
                              },
                              "sunsetTime": {
                                "type": "string",
                                "description": "The sunset time.",
                                "title": "Sunset Time"
                              }
                            },
                            "title": "Values"
                          }
                        }
                      },
                      "title": "Daily"
                    }
                  },
                  "title": "Timelines"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Lat"
                    },
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Lon"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    }
                  },
                  "title": "Location"
                }
              }
            }
          }
        },
        "summary": "Get recent weather history",
        "description": "Retrieve historical weather forecasts for your location, including hourly history for the last 24 hours, and daily history for the last day.",
        "operationId": "RecentHistoryGet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "The location for historical weather. Supports coordinates (lat,lon), city names, US zip codes, UK postcodes.",
            "required": true,
            "type": "string"
          },
          {
            "name": "timesteps",
            "in": "query",
            "x-ms-summary": "Timesteps",
            "description": "Time intervals for historical data. Available: 1h (hourly), 1d (daily). Multiple values supported.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "1h",
                "1d"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "x-ms-summary": "Weather Fields",
            "description": "Comma-separated list of weather fields to include. If not specified, returns all available fields.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timezone",
            "in": "query",
            "x-ms-summary": "Timezone",
            "description": "Timezone for displaying response datetime (e.g., 'America/New_York', 'UTC').",
            "required": false,
            "type": "string"
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "Unit system for response values. Default is metric.",
            "required": false,
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          }
        ]
      }
    },
    "/timelines": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "timelines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestep": {
                            "type": "string",
                            "description": "The timestep.",
                            "title": "Timestep"
                          },
                          "endTime": {
                            "type": "string",
                            "description": "The end time.",
                            "title": "End Time"
                          },
                          "startTime": {
                            "type": "string",
                            "description": "The start time.",
                            "title": "Start Time"
                          },
                          "intervals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "startTime": {
                                  "type": "string",
                                  "description": "The start time.",
                                  "title": "Start Time"
                                },
                                "values": {
                                  "type": "object",
                                  "properties": {},
                                  "title": "Values",
                                  "additionalProperties": true
                                }
                              }
                            },
                            "title": "Intervals"
                          }
                        }
                      },
                      "title": "Timelines"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get weather timeline (basic)",
        "description": "Query weather conditions by specifying the location, fields, timesteps, and the start time and end time (basic version using query parameters for lat/long locations only).",
        "operationId": "TimelineBasicGet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "The location (latitude,longitude format).",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "x-ms-summary": "Fields",
            "description": "The weather data fields to retrieve.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "x-ms-summary": "Units",
            "description": "The units system.",
            "required": false,
            "type": "string",
            "enum": [
              "metric",
              "imperial"
            ]
          },
          {
            "name": "timesteps",
            "in": "query",
            "x-ms-summary": "Timesteps",
            "description": "The timesteps (e.g., 1m, 1h, 1d).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "x-ms-summary": "Start Time",
            "description": "The start time (ISO 8601 format).",
            "required": false,
            "type": "string"
          },
          {
            "name": "endTime",
            "in": "query",
            "x-ms-summary": "End Time",
            "description": "The end time (ISO 8601 format).",
            "required": false,
            "type": "string"
          },
          {
            "name": "timezone",
            "in": "query",
            "x-ms-summary": "Timezone",
            "description": "The timezone.",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "timelines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestep": {
                            "type": "string",
                            "description": "The timestep.",
                            "title": "Timestep"
                          },
                          "endTime": {
                            "type": "string",
                            "description": "The end time.",
                            "title": "End Time"
                          },
                          "startTime": {
                            "type": "string",
                            "description": "The start time.",
                            "title": "Start Time"
                          },
                          "intervals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "startTime": {
                                  "type": "string",
                                  "description": "The start time.",
                                  "title": "Start Time"
                                },
                                "values": {
                                  "type": "object",
                                  "properties": {},
                                  "title": "Values",
                                  "additionalProperties": true
                                }
                              }
                            },
                            "title": "Intervals"
                          }
                        }
                      },
                      "title": "Timelines"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get weather timeline (advanced)",
        "description": "Query weather conditions by specifying the location, fields, timesteps, and the start time and end time (advanced version supporting GeoJSON locations including polygons and polylines).",
        "operationId": "TimelineAdvancedPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string",
                  "description": "The location (can be lat,long string or GeoJSON).",
                  "title": "Location"
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The weather data fields to retrieve.",
                  "title": "Fields"
                },
                "units": {
                  "type": "string",
                  "description": "The units system.",
                  "title": "Units",
                  "enum": [
                    "metric",
                    "imperial"
                  ]
                },
                "timesteps": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The timesteps (e.g., 1m, 1h, 1d).",
                  "title": "Timesteps"
                },
                "startTime": {
                  "type": "string",
                  "description": "The start time (ISO 8601 format).",
                  "title": "Start Time"
                },
                "endTime": {
                  "type": "string",
                  "description": "The end time (ISO 8601 format).",
                  "title": "End Time"
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                }
              },
              "required": [
                "location",
                "fields"
              ]
            }
          }
        ]
      }
    },
    "/alerts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The alert ID.",
                        "title": "Alert ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The alert name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The alert description.",
                        "title": "Description"
                      },
                      "isActive": {
                        "type": "boolean",
                        "description": "Whether the alert is active.",
                        "title": "Is Active"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When the alert was created.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When the alert was last updated.",
                        "title": "Updated At"
                      }
                    }
                  },
                  "description": "List of weather alerts."
                }
              },
              "description": "Weather alerts list response."
            }
          }
        },
        "summary": "List Weather Alerts",
        "description": "Retrieve a list of all configured weather alerts for proactive monitoring and notifications.",
        "operationId": "ListAlerts",
        "parameters": [
          {
            "name": "isActive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Filter alerts by active status.",
            "x-ms-summary": "Is Active"
          }
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The created alert ID.",
                      "title": "Alert ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The alert name.",
                      "title": "Name"
                    },
                    "isActive": {
                      "type": "boolean",
                      "description": "Whether the alert is active.",
                      "title": "Is Active"
                    }
                  },
                  "description": "Created alert details."
                }
              },
              "description": "Create alert response."
            }
          }
        },
        "summary": "Create Weather Alert",
        "description": "Create a new custom weather alert for proactive monitoring with configurable conditions and notifications.",
        "operationId": "CreateAlert",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name for the alert.",
                  "title": "Alert Name"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the alert.",
                  "title": "Description"
                },
                "insight": {
                  "type": "object",
                  "properties": {
                    "conditions": {
                      "type": "object",
                      "description": "Weather conditions that trigger the alert.",
                      "title": "Conditions"
                    }
                  },
                  "description": "Insight configuration for the alert.",
                  "title": "Insight"
                },
                "notifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["PRIOR", "START", "END", "PUBLISH"],
                        "description": "Notification type.",
                        "title": "Type"
                      },
                      "value": {
                        "type": "integer",
                        "description": "Minutes before/after event for notification.",
                        "title": "Value"
                      },
                      "title": {
                        "type": "string",
                        "description": "Notification title.",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Notification description.",
                        "title": "Description"
                      }
                    }
                  },
                  "description": "Notification configuration.",
                  "title": "Notifications"
                }
              },
              "required": ["name", "insight", "notifications"]
            },
            "x-ms-summary": "Alert Configuration"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/alerts/{alertId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The alert ID.",
                      "title": "Alert ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The alert name.",
                      "title": "Name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The alert description.",
                      "title": "Description"
                    },
                    "isActive": {
                      "type": "boolean",
                      "description": "Whether the alert is active.",
                      "title": "Is Active"
                    },
                    "insight": {
                      "type": "object",
                      "description": "Alert insight configuration.",
                      "title": "Insight"
                    },
                    "notifications": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Notification configuration.",
                      "title": "Notifications"
                    }
                  },
                  "description": "Alert details."
                }
              },
              "description": "Get alert response."
            }
          }
        },
        "summary": "Get Weather Alert",
        "description": "Retrieve detailed configuration and status of a specific weather alert.",
        "operationId": "GetAlert",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The alert ID to retrieve.",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "important"
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The alert ID.",
                      "title": "Alert ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The alert name.",
                      "title": "Name"
                    },
                    "isActive": {
                      "type": "boolean",
                      "description": "Whether the alert is active.",
                      "title": "Is Active"
                    }
                  },
                  "description": "Updated alert details."
                }
              },
              "description": "Update alert response."
            }
          }
        },
        "summary": "Update Weather Alert",
        "description": "Update the configuration, conditions, or notification settings of an existing weather alert.",
        "operationId": "UpdateAlert",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The alert ID to update.",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Updated name for the alert.",
                  "title": "Alert Name"
                },
                "description": {
                  "type": "string",
                  "description": "Updated description of the alert.",
                  "title": "Description"
                },
                "insight": {
                  "type": "object",
                  "description": "Updated insight configuration.",
                  "title": "Insight"
                },
                "notifications": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Updated notification configuration.",
                  "title": "Notifications"
                }
              }
            },
            "x-ms-summary": "Updated Alert Configuration"
          }
        ],
        "x-ms-visibility": "advanced"
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Alert deleted successfully."
          }
        },
        "summary": "Delete Weather Alert",
        "description": "Remove a weather alert and stop all associated monitoring and notifications.",
        "operationId": "DeleteAlert",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The alert ID to delete.",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/alerts/{alertId}/activate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The alert ID.",
                      "title": "Alert ID"
                    },
                    "isActive": {
                      "type": "boolean",
                      "description": "Alert activation status (true).",
                      "title": "Is Active"
                    }
                  },
                  "description": "Alert activation result."
                }
              },
              "description": "Activate alert response."
            }
          }
        },
        "summary": "Activate Weather Alert",
        "description": "Activate a weather alert to begin monitoring conditions and sending notifications.",
        "operationId": "ActivateAlert",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The alert ID to activate.",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/alerts/{alertId}/deactivate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The alert ID.",
                      "title": "Alert ID"
                    },
                    "isActive": {
                      "type": "boolean",
                      "description": "Alert activation status (false).",
                      "title": "Is Active"
                    }
                  },
                  "description": "Alert deactivation result."
                }
              },
              "description": "Deactivate alert response."
            }
          }
        },
        "summary": "Deactivate Weather Alert",
        "description": "Deactivate a weather alert to stop monitoring conditions and notifications temporarily.",
        "operationId": "DeactivateAlert",
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The alert ID to deactivate.",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/locations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The location ID.",
                        "title": "Location ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The location name.",
                        "title": "Name"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The location type (Point, Polygon, LineString).",
                            "title": "Type"
                          },
                          "coordinates": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "The location coordinates.",
                            "title": "Coordinates"
                          }
                        },
                        "description": "Location geometry.",
                        "title": "Location"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When the location was created.",
                        "title": "Created At"
                      }
                    }
                  },
                  "description": "List of managed locations."
                }
              },
              "description": "Locations list response."
            }
          }
        },
        "summary": "List Managed Locations",
        "description": "Retrieve a list of all managed locations for weather monitoring and alerts.",
        "operationId": "ListLocations",
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The created location ID.",
                      "title": "Location ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The location name.",
                      "title": "Name"
                    }
                  },
                  "description": "Created location details."
                }
              },
              "description": "Create location response."
            }
          }
        },
        "summary": "Create Managed Location",
        "description": "Create a new managed location for weather monitoring, alerts, and asset tracking.",
        "operationId": "CreateLocation",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name for the location.",
                  "title": "Location Name"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the location.",
                  "title": "Description"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["Point", "Polygon", "LineString"],
                      "description": "The location geometry type.",
                      "title": "Type"
                    },
                    "coordinates": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      },
                      "description": "The location coordinates in GeoJSON format.",
                      "title": "Coordinates"
                    }
[...]
