{
    "swagger": "2.0",
    "info": {
        "title": "Dataverse Power Agent",
        "description": "AI agent orchestrator for Microsoft Dataverse using Model Context Protocol. Routes natural language requests to 45 Dataverse tools and returns grounded results.",
        "version": "1.0.0",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "org.crm.dynamics.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/mcp": {
            "post": {
                "summary": "Invoke Dataverse agent",
                "description": "Natural language query routed to AI agent for intelligent tool selection.",
                "operationId": "InvokeMCP",
                "parameters": [
                    {
                        "name": "input",
                        "in": "body",
                        "description": "Plain text question or command.",
                        "x-ms-summary": "Query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent response with execution metadata.",
                        "schema": {
                            "$ref": "#/definitions/AgentResponse"
                        }
                    }
                }
            }
        },
        "/query/list": {
            "get": {
                "summary": "List records",
                "description": "Retrieve records from a Dataverse table with filtering.",
                "operationId": "ListRecords",
                "parameters": [
                    {
                        "name": "table",
                        "in": "query",
                        "description": "Table name (plural, e.g., accounts, contacts).",
                        "x-ms-summary": "Table",
                        "required": true,
                        "type": "string",
                        "x-ms-dynamic-values": {
                            "operationId": "GetTables",
                            "value-path": "name",
                            "value-title": "displayName"
                        }
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated columns.",
                        "x-ms-summary": "Columns",
                        "type": "string"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "OData $filter expression.",
                        "x-ms-summary": "Filter",
                        "type": "string"
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Max records (default 10, max 50).",
                        "x-ms-summary": "Top",
                        "type": "integer",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of records.",
                        "schema": {
                            "x-ms-dynamic-schema": {
                                "operationId": "GetTableSchema",
                                "parameters": {
                                    "table": {
                                        "parameter": "table"
                                    }
                                },
                                "value-path": "schema"
                            }
                        }
                    }
                }
            }
        },
        "/query/get": {
            "get": {
                "summary": "Get record",
                "description": "Retrieve a single record by ID.",
                "operationId": "GetRecord",
                "parameters": [
                    {
                        "name": "table",
                        "in": "query",
                        "description": "Table name (plural).",
                        "x-ms-summary": "Table",
                        "required": true,
                        "type": "string",
                        "x-ms-dynamic-values": {
                            "operationId": "GetTables",
                            "value-path": "name",
                            "value-title": "displayName"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Record GUID.",
                        "x-ms-summary": "ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "select",
                        "in": "query",
                        "description": "Comma-separated columns.",
                        "x-ms-summary": "Columns",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Single record.",
                        "schema": {
                            "x-ms-dynamic-schema": {
                                "operationId": "GetTableSchema",
                                "parameters": {
                                    "table": {
                                        "parameter": "table"
                                    }
                                },
                                "value-path": "schema"
                            }
                        }
                    }
                }
            }
        },
        "/metadata/tables": {
            "get": {
                "summary": "Get tables (internal)",
                "description": "List Dataverse tables for dynamic dropdowns.",
                "operationId": "GetTables",
                "x-ms-visibility": "internal",
                "responses": {
                    "200": {
                        "description": "List of tables.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "displayName": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata/schema": {
            "get": {
                "summary": "Get table schema (internal)",
                "description": "Retrieve JSON schema for dynamic schema resolution.",
                "operationId": "GetTableSchema",
                "x-ms-visibility": "internal",
                "parameters": [
                    {
                        "name": "table",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Table schema.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AgentResponse": {
            "type": "object",
            "description": "Complete response from AI agent execution.",
            "properties": {
                "response": {
                    "type": "string",
                    "description": "Natural language response from the AI agent.",
                    "x-ms-summary": "Response"
                },
                "execution": {
                    "$ref": "#/definitions/ExecutionDetails"
                },
                "metadata": {
                    "$ref": "#/definitions/ExecutionMetadata"
                },
                "error": {
                    "type": "string",
                    "description": "Error message if execution failed.",
                    "x-ms-summary": "Error"
                },
                "suggestedQuery": {
                    "type": "object",
                    "description": "Structured query parameters extracted from natural language processing.",
                    "x-ms-summary": "Suggested Query",
                    "properties": {
                        "table": {
                            "type": "string",
                            "description": "Primary table name identified from query (plural).",
                            "x-ms-summary": "Table"
                        },
                        "entityName": {
                            "type": "string",
                            "description": "Singular logical entity name.",
                            "x-ms-summary": "Entity Name"
                        },
                        "select": {
                            "type": "string",
                            "description": "Comma-separated columns referenced in query.",
                            "x-ms-summary": "Select"
                        },
                        "filter": {
                            "type": "string",
                            "description": "OData filter expression derived from query.",
                            "x-ms-summary": "Filter"
                        },
                        "orderby": {
                            "type": "string",
                            "description": "OData orderby expression (e.g., 'createdon desc').",
                            "x-ms-summary": "Order By"
                        },
                        "expand": {
                            "type": "string",
                            "description": "Related entities to include (e.g., 'primarycontactid($select=fullname)').",
                            "x-ms-summary": "Expand"
                        },
                        "top": {
                            "type": "integer",
                            "description": "Maximum records to return.",
                            "x-ms-summary": "Top"
                        },
                        "skip": {
                            "type": "integer",
                            "description": "Number of records to skip for pagination.",
                            "x-ms-summary": "Skip"
                        },
                        "count": {
                            "type": "boolean",
                            "description": "Whether to include total record count.",
                            "x-ms-summary": "Include Count"
                        },
                        "apply": {
                            "type": "string",
                            "description": "OData apply expression for aggregation.",
                            "x-ms-summary": "Apply"
                        },
                        "recordId": {
                            "type": "string",
                            "description": "Specific record GUID if single record was targeted.",
                            "x-ms-summary": "Record ID"
                        },
                        "relationships": {
                            "type": "array",
                            "description": "Relationship names referenced in query.",
                            "x-ms-summary": "Relationships",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "tablesAccessed": {
                    "type": "array",
                    "description": "List of Dataverse tables accessed during execution.",
                    "x-ms-summary": "Tables Accessed",
                    "items": {
                        "type": "string"
                    }
                },
                "columnsUsed": {
                    "type": "array",
                    "description": "List of columns referenced across all table operations.",
                    "x-ms-summary": "Columns Used",
                    "items": {
                        "type": "string"
                    }
                },
                "recordsAffected": {
                    "type": "integer",
                    "description": "Total count of records created, updated, or deleted.",
                    "x-ms-summary": "Records Affected"
                }
            }
        },
        "ExecutionDetails": {
            "type": "object",
            "description": "Details about tool execution during agent processing.",
            "x-ms-summary": "Execution",
            "properties": {
                "toolCalls": {
                    "type": "array",
                    "description": "Ordered list of tool calls made by the agent.",
                    "x-ms-summary": "Tool Calls",
                    "items": {
                        "$ref": "#/definitions/ToolCall"
                    }
                },
                "toolsExecuted": {
                    "type": "integer",
                    "description": "Total number of tools executed.",
                    "x-ms-summary": "Tools Executed"
                }
            }
        },
        "ToolCall": {
            "type": "object",
            "description": "Individual tool execution record with inputs and outputs.",
            "properties": {
                "tool": {
                    "type": "string",
                    "description": "Name of the tool executed (e.g., dataverse_list_rows, dataverse_whoami).",
                    "x-ms-summary": "Tool Name"
                },
                "arguments": {
                    "type": "object",
                    "description": "Parameters passed to the tool.",
                    "x-ms-summary": "Arguments",
                    "additionalProperties": true
                },
                "result": {
                    "type": "object",
                    "description": "Tool execution result - structure varies by tool. May contain Dataverse OData response, error details, or metadata.",
                    "x-ms-summary": "Result",
                    "additionalProperties": true
                },
                "success": {
                    "type": "boolean",
                    "description": "Indicates whether the tool executed without errors.",
                    "x-ms-summary": "Success"
                },
                "error": {
                    "type": "string",
                    "description": "Error message if tool failed, otherwise null.",
                    "x-ms-summary": "Error"
                }
            }
        },
        "ExecutionMetadata": {
            "type": "object",
            "description": "Telemetry and usage information from agent execution.",
            "x-ms-summary": "Metadata",
            "properties": {
                "tokensUsed": {
                    "type": "integer",
                    "description": "Total tokens consumed by AI model (input + output).",
                    "x-ms-summary": "Tokens Used"
                },
                "model": {
                    "type": "string",
                    "description": "AI model identifier used for execution (e.g., gpt-4o-mini, gpt-5.2-chat).",
                    "x-ms-summary": "Model"
                }
            }
        }
    },
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token",
            "scopes": {
                "https://service.crm.dynamics.com/.default": "Access Dataverse Web API"
            }
        }
    },
    "security": [
        {
            "oauth2_auth": [
                "https://service.crm.dynamics.com/.default"
            ]
        }
    ],
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://learn.microsoft.com/power-apps/developer/data-platform/webapi/overview"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://privacy.microsoft.com/privacystatement"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Data"
        }
    ]
}
