{"swagger":"2.0","info":{"title":"HubSpot Custom MCP","description":"Custom MCP server for HubSpot CRM operations including companies, sales reps, emails, sequences, reminders, and contract lifecycles via Copilot Studio.","version":"1.0.0","contact":{"name":"Troy Taylor","email":"troy@troystaylor.com"}},"host":"api.hubapi.com","basePath":"/mcp","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/":{"post":{"summary":"Invoke HubSpot Custom MCP","description":"Model Context Protocol endpoint for Copilot Studio integration. Provides CRUD tools for HubSpot companies, owners, emails, sequences, tasks, and deals.","operationId":"InvokeMCP","x-ms-agentic-protocol":"mcp-streamable-1.0","responses":{"200":{"description":"MCP response"}}}}},"definitions":{},"securityDefinitions":{"oauth2":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://app.hubspot.com/oauth/authorize","tokenUrl":"https://api.hubapi.com/oauth/v3/token","scopes":{"crm.objects.companies.read":"Read companies","crm.objects.companies.write":"Write companies","crm.objects.owners.read":"Read owners","crm.objects.deals.read":"Read deals","crm.objects.deals.write":"Write deals","sales-email-read":"Read sales emails","crm.objects.contacts.read":"Read contacts","automation":"Sequences automation","crm.schemas.custom.read":"Read custom object schemas","crm.objects.custom.read":"Read custom objects","crm.objects.custom.write":"Write custom objects"}}},"security":[{"oauth2":["crm.objects.companies.read","crm.objects.companies.write","crm.objects.owners.read","crm.objects.deals.read","crm.objects.deals.write","sales-email-read","crm.objects.contacts.read","automation","crm.schemas.custom.read","crm.objects.custom.read","crm.objects.custom.write"]}],"x-ms-connector-metadata":[{"propertyName":"Categories","propertyValue":"Sales and CRM"}]}